﻿@model KeoghsClientSite.Models.SingleClaim.AdditionalInfo

    <div class="additional_information_container left incident_container">
    <!--additional_information_container div starts here-->

        <div class="additional_information_heading border_bottom_solid-1 left">
            <div class="left">
                <h2>Additional Information</h2>
            </div>

                @if (Model.HomeTelephone != null || Model.WorkTelephone != null || Model.MobileNumber != null || Model.EmailAddress != null || Model.Occupation != null || Model.SelectedNationality != null || Model.PassportNumber != null || Model.NINumber != null || Model.DrivingLicenseNumber != null)
                {
                    <div class="up_arrow">
                        <i id="claim_accordion-14" class="icon-small accordion_uparrow right" onclick="divShowHide('claim_accordion-14','additionalinformation-1','accordion_uparrow','accordion_downarrow');"> </i>
                    </div>
                }
                else
                {
                    <div class="up_arrow">
                        <i id="claim_accordion-14" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-14','additionalinformation-1','accordion_uparrow','accordion_downarrow');"> </i>
                    </div>
                }


        </div>
    </div>

               <!--additional_information_container div ends here-->
               @if (Model.HomeTelephone != null || Model.WorkTelephone != null || Model.MobileNumber != null || Model.EmailAddress != null || Model.Occupation != null || Model.SelectedNationality != null || Model.PassportNumber != null || Model.NINumber != null || Model.DrivingLicenseNumber != null)
               {
                   <div id="additionalinformation-1" class="policy_holder_container left">
                       <!--policy_holder_container div starts here-->

                       <div class="rows left">
                           <div class="cols-1">
                               <!--col-1 div starts here-->

                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.HomeTelephone) </b></p>
                                   </div>
                                   <div class="col-2">
                                       @Html.TextBoxFor(model => model.HomeTelephone,new {@class = "TextBox179px", maxlength = 50 })

                                   </div>
                               </div>
                               <!--row div ends here-->
                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.WorkTelephone)</b></p>
                                   </div>
                                   <div class="col-2">

                                       @Html.TextBoxFor(model => model.WorkTelephone,new {@class = "TextBox179px", maxlength = 50 })
                                   </div>
                               </div>
                               <!--row div ends here-->
                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.MobileNumber)</b></p>
                                   </div>
                                   <div class="col-2">
                                       @Html.TextBoxFor(model => model.MobileNumber,new { @class = "TextBox179px",maxlength = 50 })
                                   </div>
                               </div>
                               <!--row div ends here-->

                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.EmailAddress)</b></p>
                                   </div>
                                   <div class="col-2">
                                       @Html.TextBoxFor(model => model.EmailAddress,new { @class = "TextBox179px",maxlength = 50 })
                                   </div>
                               </div>
                               <!--row div ends here-->

                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.Occupation)</b></p>
                                   </div>
                                   <div class="col-2">
                                       @Html.TextBoxFor(model => model.Occupation,new {@class = "TextBox179px", maxlength = 50 })
                                   </div>
                               </div>
                               <!--row div ends here-->

                           </div>
                           <!--col-1 div ends here-->

                           <div class="cols-2">
                               <!--cols-1 div starts here-->
                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.Nationality)</b></p>
                                   </div>
                                   <div class="col-2">

                                       @Html.DropDownListFor(model => model.SelectedNationality, new SelectList(Model.Nationality, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                   </div>
                               </div>
                               <!--row div ends here-->

                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.PassportNumber)</b></p>
                                   </div>
                                   <div class="col-2">
                                       @Html.TextBoxFor(model => model.PassportNumber,new {@class = "TextBox179px", maxlength = 50 })
                                   </div>
                               </div>
                               <!--row div ends here-->

                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.NINumber)</b></p>
                                   </div>
                                   <div class="col-2">
                                       @Html.TextBoxFor(model => model.NINumber,new { @class = "TextBox179px",maxlength = 50 })
                                   </div>
                               </div>
                               <!--row div ends here-->

                               <div class="row">
                                   <!--row div starts here-->
                                   <div class="col-1">
                                       <p><b>@Html.LabelFor(model => model.DrivingLicenseNumber)</b></p>
                                   </div>
                                   <div class="col-2">
                                       @Html.TextBoxFor(model => model.DrivingLicenseNumber,new {@class = "TextBox179px", maxlength = 50 })
                                   </div>
                               </div>
                               <!--row div ends here-->
                           </div>
                           <!--cols-2 div ends here-->

                       </div>
                       <!--rows div ends here-->

                   </div>
               }
               else
               {
                <div id="additionalinformation-1" class="policy_holder_container left display_none">
                    <!--policy_holder_container div starts here-->

                    <div class="rows left">
                        <div class="cols-1">
                            <!--col-1 div starts here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.HomeTelephone) </b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.HomeTelephone, new { @class = "TextBox179px", maxlength = 50 })

                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.WorkTelephone)</b></p>
                                </div>
                                <div class="col-2">

                                    @Html.TextBoxFor(model => model.WorkTelephone, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.MobileNumber)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.MobileNumber, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.EmailAddress)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Occupation)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.Occupation, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                        </div>
                        <!--col-1 div ends here-->

                        <div class="cols-2">
                            <!--cols-1 div starts here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Nationality)</b></p>
                                </div>
                                <div class="col-2">

                                    @Html.DropDownListFor(model => model.SelectedNationality, new SelectList(Model.Nationality, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.PassportNumber)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.PassportNumber, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.NINumber)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.NINumber, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.DrivingLicenseNumber)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.DrivingLicenseNumber, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->
                        </div>
                        <!--cols-2 div ends here-->

                    </div>
                    <!--rows div ends here-->

                </div>
               }
               <!--policy_holder_container div ends here--> 