﻿@model KeoghsClientSite.Models.SingleClaim.Address
@using KeoghsClientSite.Models.SingleClaim;


<script type="text/javascript">

    $(function () {
        $('#SameAddressAsPolicyHolderYes').change(function () {
            if ($(this).is(':checked')) {
                $("#AddressField1").prop("disabled", true);
                $("#AddressField2").prop("disabled", true);
                $("#AddressField3").prop("disabled", true);
                $("#AddressField4").prop("disabled", true);
                $("#AddressField5").prop("disabled", true);
                $("#AddressField6").prop("disabled", true);
                $("#AddressField7").prop("disabled", true);
                $("#AddressField8").prop("disabled", true);

                addressField1 = $('#PolicyHolderAddressField1').val();
                addressField2 = $('#PolicyHolderAddressField2').val();
                addressField3 = $('#PolicyHolderAddressField3').val();
                addressField4 = $('#PolicyHolderAddressField4').val();
                addressField5 = $('#PolicyHolderAddressField5').val();
                addressField6 = $('#PolicyHolderAddressField6').val();
                addressField7 = $('#PolicyHolderAddressField7').val();
                addressField8 = $('#PolicyHolderAddressField8').val();

                $('#AddressField1').val(addressField1);
                $('#AddressField2').val(addressField2);
                $('#AddressField3').val(addressField3);
                $('#AddressField4').val(addressField4);
                $('#AddressField5').val(addressField5);
                $('#AddressField6').val(addressField6);
                $('#AddressField7').val(addressField7);
                $('#AddressField8').val(addressField8);

            }
        })

        $('#SameAddressAsPolicyHolderNo').change(function () {
            if ($(this).is(':checked')) {
                $("#AddressField1").prop("disabled", false);
                $("#AddressField2").prop("disabled", false);
                $("#AddressField3").prop("disabled", false);
                $("#AddressField4").prop("disabled", false);
                $("#AddressField5").prop("disabled", false);
                $("#AddressField6").prop("disabled", false);
                $("#AddressField7").prop("disabled", false);
                $("#AddressField8").prop("disabled", false);

                $("#AddressField1").val("");
                $("#AddressField2").val("");;
                $("#AddressField3").val("");
                $("#AddressField4").val("");
                $("#AddressField5").val("");
                $("#AddressField6").val("");
                $("#AddressField7").val("");
                $("#AddressField8").val("");
            }
        })

        @if (Model.SameAddressAsPolicyHolder == true && Model.PolicyHolderAddressPopulated) {
            @: $("#AddressField1").prop("disabled", true);
                    @: $("#AddressField2").prop("disabled", true);
                    @: $("#AddressField3").prop("disabled", true);
                    @: $("#AddressField4").prop("disabled", true);
                    @: $("#AddressField5").prop("disabled", true);
                    @: $("#AddressField6").prop("disabled", true);
                    @: $("#AddressField7").prop("disabled", true);
                    @: $("#AddressField8").prop("disabled", true);

        }

    });

</script>


 <div class="additional_information_container left incident_container"> 
            <!--additional_information_container div starts here-->
            
            <div class=" additional_information_heading border_bottom_solid-1 left">
              <div class="left">
                <h2>Address</h2>
              </div>
                @if (Model.BuildingName != null || Model.BuildingNumber != null || Model.County != null || Model.EndOfResidency != null || Model.Locality != null || Model.Postcode != null || Model.SameAddressAsPolicyHolder != null || Model.StartOfResidency != null || Model.Street != null || Model.SubBuilding != null || Model.Town != null)
                {
                   <div class="up_arrow"> <i id="claim_accordion-11" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-11','address-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
                else
                { 
                   <div class="up_arrow"> <i id="claim_accordion-11" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-11','address-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
             </div>
          </div>
               <!--additional_information_container div ends here-->
               
                @if (Model.BuildingName != null || Model.BuildingNumber != null || Model.County != null || Model.EndOfResidency != null || Model.Locality != null || Model.Postcode != null || Model.StartOfResidency != null || Model.Street != null || Model.SubBuilding != null || Model.Town != null)
                {
                   <div id="address-1" class="policy_holder_container left"> 
                <!--policy_holder_container div starts here-->
            
                <div class="rows left">
                       <div class="cols-1"> <!--col-1 div starts here-->


                     @if (Model.View == CurrentView.InsuredDriver && Model.PolicyHolderAddressPopulated == true)
                     {                      
                      <div class="row"> <!--row div starts here-->
                           <div class="col-1 w215">
                                <p><b>Same address as the policy holder?</b></p>
                           </div>
                           <div class="col-2 w120  paddingtop_3">
                                <p class="left">
                                     @Html.RadioButtonFor(model => model.SameAddressAsPolicyHolder, true, new { @class = "PolicyHolderDetailsKnown", id = "SameAddressAsPolicyHolderYes" })
                                </p>
                                <p class="left paddingtop_3">Yes </p>
                                <p class="left marginleft_17">
                                     @Html.RadioButtonFor(model => model.SameAddressAsPolicyHolder, false ,new { @class = "PolicyHolderDetailsKnown", id="SameAddressAsPolicyHolderNo" })
                                </p>
                                <p class="left paddingtop_3">No </p>
                          </div>
                    </div>
                     }
                           else
                           {
                         @Html.Hidden("SameAddressAsPolicyHolder", false);
                     }
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.SubBuilding)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.SubBuilding, new { @class = "TextBox179px", id = "AddressField1" })
                            </div>
                         </div>
                    <!--row div ends here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.BuildingName)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.BuildingName, new { @class = "TextBox179px", id = "AddressField2" })
                            </div>
                         </div>
                    <!--row div ends here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.BuildingNumber)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.BuildingNumber, new { @class = "TextBox179px", id = "AddressField3" })
                            </div>
                         </div>
                    <!--row div ends here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Street)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.Street, new { @class = "TextBox179px", id = "AddressField4" })
                            </div>
                         </div>
                    <!--row div ends here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Locality)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.Locality, new { @class = "TextBox179px", id = "AddressField5" })
                            </div>
                         </div>
                    <!--row div ends here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Town)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.Town, new { @class = "TextBox179px", id = "AddressField6" })
                            </div>
                         </div>
                    <!--row div ends here--> 
                
                  </div>
                       <!--col-1 div ends here-->
                   
                       <div class="cols-2 @(Model.View == CurrentView.InsuredDriver ?"margintop_31":"")"> <!--cols-1 div starts here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.County)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.County, new { @class = "TextBox179px", id = "AddressField7" })
                            </div>
                         </div>
                    <!--row div ends here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Postcode)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.Postcode, new { @class = "TextBox179px", id = "AddressField8" })
                      </div>
                         </div>
                    <!--row div ends here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.AddressStatus)</b></p>
                      </div>
                           <div class="col-2">
                            
                                @Html.DropDownListFor(model => model.SelectedAddressStatus, new SelectList(Model.AddressStatus, "Value", "Text"), 
                                "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                      </div>
                         </div>
                    <!--row div ends here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.StartOfResidency) </b></p>
                      </div>
                           <div class="col-2">
                        <p class="left">
                              @* <input type="text" name="textfield" value="DD/MM/YYYY" id="textfields" class="date">*@

                             @*@Html.TextBox("StartOfResidency", (Addressmodel.StartOfResidency.HasValue ? Addressmodel.StartOfResidency.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})*@
                        
                             @Html.TextBoxFor(model => model.StartOfResidency, (Model.StartOfResidency.HasValue ? Model.StartOfResidency.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox", id="StartOfResidency"})     
                        
                             </p>
                            <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a> </div>
                         </div>
                    <!--row div ends here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.EndOfResidency) </b></p>
                      </div>
                           <div class="col-2">
                        <p class="left">
                            @*    @Html.TextBox("EndOfResidency", (Addressmodel.EndOfResidency.HasValue ? Addressmodel.EndOfResidency.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})*@
                             @Html.TextBoxFor(model => model.EndOfResidency, (Model.EndOfResidency.HasValue ? Model.EndOfResidency.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox", id="EndOfResidency"})     
                             </p>
                        <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a> </div>
                         </div>
                    <!--row div ends here--> 
                
                  </div>
                       <!--cols-2 div ends here--> 
                   
                     </div>
                <!--rows div ends here--> 
            
              </div>
                }
                else
                {
                    <div id="address-1" class="policy_holder_container display_none left">
                        <!--policy_holder_container div starts here-->

                        <div class="rows left">
                            <div class="cols-1">
                                <!--col-1 div starts here-->
                               @if (Model.View == CurrentView.InsuredDriver && Model.PolicyHolderAddressPopulated == true)
                               {
                                    <div class="row">
                                        <!--row div starts here-->
                                        <div class="col-1 w215">
                                            <p><b>Same address as the policy holder?</b></p>
                                        </div>
                                        <div class="col-2 w120  paddingtop_3">
                                            <p class="left">
                                                @Html.RadioButtonFor(model => model.SameAddressAsPolicyHolder, true, new { @class = "PolicyHolderDetailsKnown", id = "SameAddressAsPolicyHolderYes" })
                                            </p>
                                            <p class="left paddingtop_3">Yes </p>
                                            <p class="left marginleft_17">
                                                @Html.RadioButtonFor(model => model.SameAddressAsPolicyHolder, false, new { @class = "PolicyHolderDetailsKnown", id = "SameAddressAsPolicyHolderNo" })
                                            </p>
                                            <p class="left paddingtop_3">No </p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.Hidden("SameAddressAsPolicyHolder", false);
                                }

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.SubBuilding)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.SubBuilding, new { @class = "TextBox179px", id = "AddressField1" })
                                    </div>
                                </div>
                                <!--row div ends here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.BuildingName)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.BuildingName, new { @class = "TextBox179px", id = "AddressField2" })
                                    </div>
                                </div>
                                <!--row div ends here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.BuildingNumber)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.BuildingNumber, new { @class = "TextBox179px", id = "AddressField3" })
                                    </div>
                                </div>
                                <!--row div ends here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Street)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.Street, new { @class = "TextBox179px", id = "AddressField4" })
                                    </div>
                                </div>
                                <!--row div ends here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Locality)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.Locality, new { @class = "TextBox179px", id = "AddressField5" })
                                    </div>
                                </div>
                                <!--row div ends here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Town)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.Town, new { @class = "TextBox179px", id = "AddressField6" })
                                    </div>
                                </div>
                                <!--row div ends here-->

                            </div>
                            <!--col-1 div ends here-->

                            <div class="cols-2 @(Model.View == CurrentView.InsuredDriver ?"margintop_31":"")">
                                <!--cols-1 div starts here-->

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.County)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.County, new { @class = "TextBox179px", id = "AddressField7" })
                                    </div>
                                </div>
                                <!--row div ends here-->

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Postcode)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.Postcode, new { @class = "TextBox179px", id = "AddressField8" })
                                    </div>
                                </div>
                                <!--row div ends here-->

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.AddressStatus)</b></p>
                                    </div>
                                    <div class="col-2">

                                        @Html.DropDownListFor(model => model.SelectedAddressStatus, new SelectList(Model.AddressStatus, "Value", "Text"),
                                "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                    </div>
                                </div>
                                <!--row div ends here-->

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.StartOfResidency) </b></p>
                                    </div>
                                    <div class="col-2">
                                        <p class="left">
                                            @* <input type="text" name="textfield" value="DD/MM/YYYY" id="textfields" class="date">*@

                                            @*@Html.TextBox("StartOfResidency", (Addressmodel.StartOfResidency.HasValue ? Addressmodel.StartOfResidency.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})*@

                                            @Html.TextBoxFor(model => model.StartOfResidency, (Model.StartOfResidency.HasValue ? Model.StartOfResidency.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox", id = "StartOfResidency" })

                                        </p>
                                        <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a>
                                    </div>
                                </div>
                                <!--row div ends here-->

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.EndOfResidency) </b></p>
                                    </div>
                                    <div class="col-2">
                                        <p class="left">
                                            @*    @Html.TextBox("EndOfResidency", (Addressmodel.EndOfResidency.HasValue ? Addressmodel.EndOfResidency.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})*@
                                            @Html.TextBoxFor(model => model.EndOfResidency, (Model.EndOfResidency.HasValue ? Model.EndOfResidency.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox", id = "EndOfResidency" })
                                        </p>
                                        <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a>
                                    </div>
                                </div>
                                <!--row div ends here-->

                            </div>
                            <!--cols-2 div ends here-->

                        </div>
                        <!--rows div ends here-->

                    </div>
                }
                
                <div id="policyHolderAddress" style="display: none;">
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.PolicyHolderSubBuilding, new { @class = "TextBox179px", id = "PolicyHolderAddressField1" })
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.PolicyHolderBuildingName, new { @class = "TextBox179px", id = "PolicyHolderAddressField2" })
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.PolicyHolderBuildingNumber, new { @class = "TextBox179px", id = "PolicyHolderAddressField3" })
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.PolicyHolderStreet, new { @class = "TextBox179px", id = "PolicyHolderAddressField4" })
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.PolicyHolderLocality, new { @class = "TextBox179px", id = "PolicyHolderAddressField5" })
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.PolicyHolderTown, new { @class = "TextBox179px", id = "PolicyHolderAddressField6" })
                    </div>
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.PolicyHolderCounty, new { @class = "TextBox179px", id = "PolicyHolderAddressField7" })
                    </div>
                    <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.PolicyHolderPostcode)</b></p>
                    </div>
                </div>



