﻿@model KeoghsClientSite.Models.SingleClaim.BankAccount
               <div class="additional_information_container left incident_container"> 
            <!--additional_information_container div starts here-->
            
            <div class="additional_information_heading border_bottom_solid-1 left">
                   <div class="left">
                <h2>Bank Account</h2>
              </div>
                    @if (!string.IsNullOrEmpty(Model.AccountNumber) || !string.IsNullOrEmpty(Model.BankName) || !string.IsNullOrEmpty(Model.SortCode) || Model.DateDetailsTaken != null)
                    {
                        <div class="up_arrow"> <i id="claim_accordion-12" class="icon-small accordion_uparrow right" onclick="divShowHide('claim_accordion-12','bank-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                    }
                    else
                    {
                        <div class="up_arrow"> <i id="claim_accordion-12" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-12','bank-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                    }
                 </div>
          </div>
               <!--additional_information_container div ends here-->
               @if (!string.IsNullOrEmpty(Model.AccountNumber) || !string.IsNullOrEmpty(Model.BankName) || !string.IsNullOrEmpty(Model.SortCode) || Model.DateDetailsTaken != null)
               {
               <div id="bank-1" class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->
            
            <div class="rows left">
                   <div class="cols-1"> <!--col-1 div starts here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.AccountNumber) </b></p>
                  </div>
                       <div class="col-2">
                         @Html.TextBoxFor(model => model.AccountNumber,new { @class = "TextBox179px" })
                  </div>
                     </div>
                <!--row div ends here-->
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.SortCode)</b></p>
                  </div>
                       <div class="col-2">
                            @Html.TextBoxFor(model => model.SortCode,new { @class = "TextBox179px" })
                       </div>
                     </div>
                <!--row div ends here-->
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.BankName)</b></p>
                  </div>
                       <div class="col-2">
                            @Html.TextBoxFor(model => model.BankName,new { @class = "TextBox179px" })
                        </div>
                     </div>
                <!--row div ends here--> 
                
              </div>
                   <!--col-1 div ends here-->
                   
                   <div class="cols-2"> <!--cols-1 div starts here-->
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.DateDetailsTaken)</b></p>
                  </div>
                       <div class="col-2">
                    <p class="left">
                            @*@Html.TextBox("DateDetailsTaken", (Model.BankAccount.DateDetailsTaken.HasValue ? Model.BankAccount.DateDetailsTaken.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})*@
                         @Html.TextBoxFor(model => model.DateDetailsTaken, (Model.DateDetailsTaken.HasValue ? Model.DateDetailsTaken.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})     
                    </p>
                    <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a> </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.AccountUsedFor) </b></p>
                  </div>
                       <div class="col-2">
                          
                             @Html.DropDownListFor(model => model.SelectedAccountUsedFor, new SelectList(Model.AccountUsedFor, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                       </div>
                     </div>
                <!--row div ends here--> 
              </div>
                   <!--cols-2 div ends here--> 
                   
                 </div>
            <!--rows div ends here--> 
            
          </div>
               }
               else
               {
                <div id="bank-1" class="policy_holder_container left display_none">
                    <!--policy_holder_container div starts here-->

                    <div class="rows left">
                        <div class="cols-1">
                            <!--col-1 div starts here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.AccountNumber) </b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.AccountNumber, new { @class = "TextBox179px" })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.SortCode)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.SortCode, new { @class = "TextBox179px" })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.BankName)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.BankName, new { @class = "TextBox179px" })
                                </div>
                            </div>
                            <!--row div ends here-->

                        </div>
                        <!--col-1 div ends here-->

                        <div class="cols-2">
                            <!--cols-1 div starts here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.DateDetailsTaken)</b></p>
                                </div>
                                <div class="col-2">
                                    <p class="left">
                                        @*@Html.TextBox("DateDetailsTaken", (Model.BankAccount.DateDetailsTaken.HasValue ? Model.BankAccount.DateDetailsTaken.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})*@
                                        @Html.TextBoxFor(model => model.DateDetailsTaken, (Model.DateDetailsTaken.HasValue ? Model.DateDetailsTaken.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox" })
                                    </p>
                                    <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a>
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.AccountUsedFor) </b></p>
                                </div>
                                <div class="col-2">

                                    @Html.DropDownListFor(model => model.SelectedAccountUsedFor, new SelectList(Model.AccountUsedFor, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->
                        </div>
                        <!--cols-2 div ends here-->

                    </div>
                    <!--rows div ends here-->

                </div>
               }
                   <!--policy_holder_container div ends here-->