﻿@model KeoghsClientSite.Models.CUE.CUE_Databases

@{
    Layout = null;
}
<br /><br />
        <label class="checkbox" for="nap107_29i0">
            @(Model.ReadOnly ? Html.CheckBoxFor(x => x.IsChecked, new { @disabled = "disabled" }) : Html.CheckBoxFor(x => x.IsChecked))
            @Html.HiddenFor(x => x.Database)
            @Model.Database
        </label>
      

