﻿@model KeoghsClientSite.Models.CUE.CUEClaimDataPolicyHolder


<tr>
    <th class="ColumnHeader" width="131" scope="col">Policyholder</th>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.FullName, new { @class = "ColumnRow", id = "Policyholder" })</td>
    <th class="ColumnHeader" width="131" scope="col">Address</th>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Address, new { @class = "ColumnRow", id = "Address" })</td>
</tr>

