﻿@model KeoghsClientSite.Models.CUE.CUEIncidentDetails



<span class="Title2">Incident Details</span>
<table width="790" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Injury Description</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.InjuryDescription, new { @class = "ColumnRow", id = "InjuryDescription" })</td>
            <th class="ColumnHeader" width="131" scope="col">Hospital attended?</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.HospitalAttended, new { @class = "ColumnRow", id = "HospitalAttended" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Illness/Disease Description</th>
            <td class="ColumnRow" colspan="3">@Html.DisplayFor(modelItem => modelItem.IllnessDiseaseDescription, new { @class = "ColumnRow", id = "IllnessDiseaseDescription" })</td>
        </tr>
    </tbody>
</table>

