﻿@{
    ViewBag.Title = "CUEIncidentInvolvementVehicleDetails";
}

@model KeoghsClientSite.Models.CUE.CUEIncidentInvolvementVehicleDetails

<span class="Title2">@Html.DisplayFor(modelItem => modelItem.Type, new { @class = "ColumnRow", id = "Type" })</span>
<table width="790" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Status</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Status, new { @class = "ColumnRow", id = "Status" })</td>
            <th class="ColumnHeader" width="131" scope="col">Sex</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Sex, new { @class = "ColumnRow", id = "Sex" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Title</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Title, new { @class = "ColumnRow", id = "Title" })</td>
            <th class="ColumnHeader" width="131" scope="col">Date of Birth</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Dob, new { @class = "ColumnRow", id = "Dob" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Forename</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Forename, new { @class = "ColumnRow", id = "Forename" })</td>
            <th class="ColumnHeader" width="131" scope="col">VAT</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.VAT, new { @class = "ColumnRow", id = "VAT" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Second Forename</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.MiddleName, new { @class = "ColumnRow", id = "MiddleName" })</td>
            <th class="ColumnHeader" width="131" scope="col">Payment Amount</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.PaymentAmount, new { @class = "ColumnRow", id = "PaymentAmount" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Surname</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.LastName, new { @class = "ColumnRow", id = "LastName" })</td>
            <th class="ColumnHeader" width="131" scope="col">Telephone</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Telephone, new { @class = "ColumnRow", id = "Telephone" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">NI Number</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.NI_Number, new { @class = "ColumnRow", id = "NI_Number" })</td>
            <th class="ColumnHeader" width="131" scope="col">Occupation</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Occupation, new { @class = "ColumnRow", id = "Occupation" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Address</th>
            <td class="ColumnRow" colspan="3">
                @Html.DisplayFor(modelItem => modelItem.AddressHouseName, new { @class = "ColumnRow", id = "AddressHouseName" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressNumber, new { @class = "ColumnRow", id = "AddressNumber" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressStreet, new { @class = "ColumnRow", id = "AddressStreet" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressTown, new { @class = "ColumnRow", id = "AddressTown" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressCity, new { @class = "ColumnRow", id = "AddressCity" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressPostCode, new { @class = "ColumnRow", id = "AddressPostCode" })
            </td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Address Indicator</th>
            <td class="ColumnRow" colspan="3">
                @Html.DisplayFor(modelItem => modelItem.AddressIndicator, new { @class = "ColumnRow", id = "AddressIndicator" })<br />
            </td>
        </tr>
    </tbody>
</table>

@if (Model.VehicleRegistration != null) { 
    <span class="Title2">Vehicle Details</span>
    <table width="790" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th class="ColumnHeader" width="131" scope="col">Vehicle Registration Number</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.VehicleRegistration, new { @class = "ColumnRow", id = "VehicleRegistration" })</td>
                <th class="ColumnHeader" width="131" scope="col">Vehicle Identification Number</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.VehicleIdentificationNumber, new { @class = "ColumnRow", id = "VehicleIdentificationNumber" })</td>
            </tr>
            <tr>
                <th class="ColumnHeader" width="131" scope="col">Make</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Make, new { @class = "ColumnRow", id = "Make" })</td>
                <th class="ColumnHeader" width="131" scope="col">Damage Status</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.DamageStatus, new { @class = "ColumnRow", id = "DamageStatus" })</td>
            </tr>
            <tr>
                <th class="ColumnHeader" width="131" scope="col">Model</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Model, new { @class = "ColumnRow", id = "Model" })</td>
                <th class="ColumnHeader" width="131" scope="col">Recovered Status</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.RecoveredStatus, new { @class = "ColumnRow", id = "RecoveredStatus" })</td>
            </tr>
            <tr>
                <th class="ColumnHeader" width="131" scope="col">Colour</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Colour, new { @class = "ColumnRow", id = "Colour" })</td>
                <th class="ColumnHeader" width="131" scope="col">Registration  Status</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.RegistrationStatus, new { @class = "ColumnRow", id = "RegistrationStatus" })</td>
            </tr>
            <tr>
                <th class="ColumnHeader" width="131" scope="col">Cover Type</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.CoverType, new { @class = "ColumnRow", id = "CoverType" })</td>
                <th class="ColumnHeader" width="131" scope="col">New for Old Indicator</th>
                <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.NewForOldIndicator, new { @class = "ColumnRow", id = "NewForOldIndicator" })</td>
            </tr>
        </tbody>
    </table>
}


