﻿@model KeoghsClientSite.Models.CUE.CueInvolvement

@{
    Layout = null;
}
    @Html.HiddenFor(modelItem => modelItem.PersonId)
 
    <div class="napkeeRelativeComponent napkeeCanvas" id="napBorder">
    <div class="napkeeRelativeComponent napkeeCanvas" id="napHeaderPersonalDetails">
        <span class="napkeeRelativeComponent napkeeLabel " id="napPersonalDetails">Personal Details</span>
        @Html.LabelFor(modelItem => modelItem.FirstName, new { @class = "napkeeRelativeComponent napkeeLabel ", id = "napFirstName" })
        @Html.TextBoxFor(modelItem => modelItem.FirstName, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputFirstName", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napLastName">Last Name</span>
        @Html.TextBoxFor(modelItem => modelItem.LastName, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputLastName", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napNINumber">NI Number</span>
        @Html.TextBoxFor(modelItem => modelItem.NI_Number, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputNINumber", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napDrivingLicenceNo">Driving License No.</span>
        @Html.TextBoxFor(modelItem => modelItem.DrivingLicenceNumber, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputDrivingLicenceNo", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napInvolvement">Involvement</span>
        <span class="napkeeRelativeComponent napkeeLabel " id="napInputInvolvement">@Html.DisplayFor(modelItem => modelItem.Involvement)</span>
        <span class="napkeeRelativeComponent napkeeLabel " id="napDob">Date of Birth</span>
        @Html.TextBoxFor(modelItem => modelItem.Dob, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputDob", @readonly = true, @Value = Model.Dob.ToShortDateString() })
    </div>

    <div class="napkeeRelativeComponent napkeeCanvas" id="napHeaderAddress">
        <span class="napkeeRelativeComponent napkeeLabel " id="napAddressDetails">Address Details</span>
        <span class="napkeeRelativeComponent napkeeLabel " id="napHouseName">House Name</span>
        @Html.TextBoxFor(modelItem => modelItem.HouseName, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputHouseName", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napHouseNo">Number</span>
        @Html.TextBoxFor(modelItem => modelItem.Number, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputHouseNo", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napStreet">Street</span>
        @Html.TextBoxFor(modelItem => modelItem.Street, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputStreet", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napLocality">Locality</span>
        @Html.TextBoxFor(modelItem => modelItem.Locality, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputLocality", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napTown">Town</span>
        @Html.TextBoxFor(modelItem => modelItem.Town, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputTown", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napPostcode">Post Code</span>
        @Html.TextBoxFor(modelItem => modelItem.PostCode, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputPostcode", @readonly = true })
    </div>

    <div class="napkeeRelativeComponent napkeeCanvas" id="napHeaderVehicle">
        <span class="napkeeRelativeComponent napkeeLabel " id="napVehicleDetails">Vehicle Details</span>
        <span class="napkeeRelativeComponent napkeeLabel " id="napVehicleReg">Vehicle Reg.</span>
        @Html.TextBoxFor(modelItem => modelItem.VehicleReg, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputVehicleReg", @readonly = true })
        <span class="napkeeRelativeComponent napkeeLabel " id="napVehilceVIN">VIN</span>
        @Html.TextBoxFor(modelItem => modelItem.VIN, new { @class = "napkeeRelativeComponent napkeeTextinput", id = "napInputVehicleVin", @readonly = true })
    </div>

    <div class="napkeeRelativeComponent napkeeCanvas" id="napHeaderDatabase">
        <span class="napkeeRelativeComponent napkeeLabel " id="napDatabaseSelection">Database Selection</span>
        <div class="napkeeRelativeComponent napkeeParagraph" id="napDatabaseSelectText">Select the CUE databases to search against<br></div>
        <div class="napkeeRelativeComponent napkeeCheckboxGroup" id="napDatabaseCheckboGroup">
            @Html.EditorFor(x => x.CUE_Databases)
        </div>
    </div>
</div>



