﻿@model KeoghsClientSite.Models.CUE.CUEIncident

<div id="page" style="page-break-after:always">
    <div style="float:left">
        <img src="@Url.Content("~/images/client_logo.png")" width="144" height="50" alt="Advanced data analytics logo">
    </div>
    <div style="float:right">
        <img src="@Url.Content("~/images/keoghs_logo.png")" alt="Keoghs logo">
    </div>
    <br />
    <div class="restricted">RESTRICTED</div>

    <div style="padding-top:10px">
        <br />

        @if (@Model.IncidentType == "HH")
        {
            <img src="@Url.Content("~/images/Home.png")" alt="HH logo">
        }
        else if (@Model.IncidentType == "M")
        {
            <img src="@Url.Content("~/images/MO.png")" alt="MO logo">
        }
        else if (@Model.IncidentType == "PI")
        {
            <img src="@Url.Content("~/images/PI.png")" alt="PI logo">
        }

        <br />
        <h1 class="Title">Incident @Html.DisplayFor(modelItem => modelItem.IncidentId, new { @class = "ColumnRow", id = "IncidentId" })</h1>
        <span class="Title2">Claim Data</span>
        <table width="790" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Insurer</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.ClaimData.Insurer, new { @class = "ColumnRow", id = "Insurer" })</td>
                    <th class="ColumnHeader" width="131" scope="col">Claim Number</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.ClaimData.ClaimNumber, new { @class = "ColumnRow", id = "ClaimNumber" })</td>
                    @(Html.EditorFor(model => model.ClaimData.PolicyHolders))
                </tr>
            </tbody>
        </table>

        <span class="Title2">General Data</span>
        <table width="790" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Claim Status</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.ClaimStatus, new { @class = "ColumnRow", id = "ClaimStatus" })</td>
                    <th class="ColumnHeader" width="131" scope="col">Incident Date</th>
                    <td class="ColumnRow">@String.Format("{0:dd/MM/yyyy}", Model.GeneralData.IncidentDate)
                </tr>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Incident Description</th>
                    <td class="ColumnRow" colspan="3">@Html.DisplayFor(modelItem => modelItem.GeneralData.IncidentDescription, new { @class = "ColumnRow", id = "IncidentDescription" })</td>
                </tr>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Policy Type</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.PolicyType, new { @class = "ColumnRow", id = "PolicyType" })</td>
                    <th class="ColumnHeader" width="131" scope="col">Policy Inception Date</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.PolicyInceptionDate, new { @class = "ColumnRow", id = "PolicyInceptionDate" })</td>
                </tr>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Policy Number</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.PolicyNumber, new { @class = "ColumnRow", id = "PolicyNumber" })</td>
                    <th class="ColumnHeader" width="131" scope="col">Policy Period End Date</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.PolicyPeriodEndDate, new { @class = "ColumnRow", id = "PolicyPeriodEndDate" })</td>
                </tr>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Policy Number ID</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.PolicyNumberID, new { @class = "ColumnRow", id = "PolicyNumberID" })</td>
                    <th class="ColumnHeader" width="131" scope="col">Cause of Loss</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.CauseOfLoss, new { @class = "ColumnRow", id = "CauseofLoss" })</td>
                </tr>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Collective Policy Indicator</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.CollectivePolicyIndicator, new { @class = "ColumnRow", id = "CollectivePolicyIndicator" })</td>
                    <th class="ColumnHeader" width="131" scope="col">Closed Date</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.ClosedDate, new { @class = "ColumnRow", id = "ClosedDate" })</td>
                </tr>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Loss Set Up Date</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.LossSetupDate, new { @class = "ColumnRow", id = "LossSetUpDate" })</td>
                    <th class="ColumnHeader" width="131" scope="col">Catastrophe Related</th>
                    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.GeneralData.CatastropheRelated, new { @class = "ColumnRow", id = "CatastropheRelated" })</td>
                </tr>
                <tr>
                    <th class="ColumnHeader" width="131" scope="col">Insurer Contact Details</th>
                    <td class="ColumnRow">
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.InsurerContactName, new { @class = "ColumnRow", id = "InsurerContactName" })<br />
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.InsurerContactTel, new { @class = "ColumnRow", id = "InsurerContactTel" })
                    </td>
                    <th class="ColumnHeader" width="131" scope="col">Risk Address</th>
                    <td class="ColumnRow">
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.RiskAddressHouseName, new { @class = "ColumnRow", id = "RiskAddressHouseName" })<br />
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.RiskAddressNumber, new { @class = "ColumnRow", id = "RiskAddressNumber" })<br />
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.RiskAddressStreet, new { @class = "ColumnRow", id = "RiskAddressStreet" })<br />
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.RiskAddressTown, new { @class = "ColumnRow", id = "RiskAddressTown" })<br />
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.RiskAddressCity, new { @class = "ColumnRow", id = "RiskAddressCity" })<br />
                        @Html.DisplayFor(modelItem => modelItem.GeneralData.RiskAddressPostCode, new { @class = "ColumnRow", id = "RiskAddressPostCode" })
                    </td>
                </tr>
            </tbody>
        </table>
        <br />

        @(Html.EditorFor(model => model.GeneralData.CUEPayments))

        @(Html.EditorFor(model => model.CUEIncidentInvolvements))

        @(Html.EditorFor(model => model.Suppliers))

        @if (@Model.IncidentDetails != null)
        {
            @(Html.EditorFor(model => model.IncidentDetails))
        }

        </div>
    
    <br />
    <hr>
    <div style="float: left">
        <div class="footerText">© Copyright Keoghs LLP</div>
    </div>
    <br />
</div>
<br />








