﻿@model KeoghsClientSite.Models.CUE.CUEIncidentSummary


<tr>
    <td class="ColumnHeader2">@Html.DisplayFor(modelItem => modelItem.IncidentId, new { @class = "ColumnRow", id = "Household" })</td>
    <td class="ColumnHeader2">@String.Format("{0:dd/MM/yyyy}", Model.From)
    <td class="ColumnHeader2">@String.Format("{0:dd/MM/yyyy}", Model.To)
    <td class="ColumnHeader2">@Html.DisplayFor(modelItem => modelItem.PI_Claims, new { @class = "ColumnRow", id = "Motor" })</td>
    <td class="ColumnHeader2">@Html.DisplayFor(modelItem => modelItem.MO_Claims, new { @class = "ColumnRow", id = "PI" })</td>
    <td class="ColumnHeader2" colspan="3">@Html.DisplayFor(modelItem => modelItem.HH_Claims, new { @class = "ColumnRow", id = "Household" })</td>
</tr>

@*<table width="790" cellpadding="0" cellspacing="0">
    <tbody>*@
        <tr>
            <th class="ColumnHeader3" width="90" scope="col"></th>
            <th class="ColumnHeader3" width="140" scope="col">Subject</th>
            <th class="ColumnHeader3" width="140" scope="col">ID</th>
            <th class="ColumnHeader3" width="140" scope="col">Incident Date</th>
            <th class="ColumnHeader3" width="140" scope="col">Claim Status</th>
            <th class="ColumnHeader3" width="140" scope="col">Insurer</th>
            <th class="ColumnHeader3" width="140" scope="col">Description</th>
            <th class="ColumnHeader3" width="140" scope="col">Match Code</th>
        </tr>
        @(Html.EditorFor(model => model.CUE_Incidents))
    @*</tbody>
</table>*@

