﻿@model KeoghsClientSite.Models.CUE.CUEPayment


<table width="790" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th class="ColumnHeader" width="50" scope="col">Payment</th>
            <td class="ColumnRow" width="100" >@Html.DisplayFor(modelItem => modelItem.PaymentType, new { @class = "ColumnRow", id = "PaymentType" })</td>
            @*<th class="ColumnHeader" width="100" scope="col">Amount</th>*@
            <td class="ColumnRow" width="100">@Html.DisplayFor(modelItem => modelItem.PaymentAmount, new { @class = "ColumnRow", id = "PaymentAmount" })</td>
        </tr>
    </tbody>
</table>

