﻿
@model KeoghsClientSite.Models.CUE.CUEResultsSummary

<tr>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Incidents, new { @class = "ColumnRow ", id = "Incidents" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Involved_PI_Claims, new { @class = "ColumnRow", id = "Involved_PI_Claims" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Involved_Motor_Claims, new { @class = "ColumnRow", id = "Involved_Motor_Claims" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Involved_Household_Claims, new { @class = "ColumnRow", id = "Involved_Household_Claims" })</td>
</tr>
