﻿@model KeoghsClientSite.Models.CUE.CUESupplier

<span class="Title2">Supplier</span>
<table width="790" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Company Name</th>
            <td class="ColumnRow" colspan="3">@Html.DisplayFor(modelItem => modelItem.CompanyName, new { @class = "ColumnRow", id = "CompanyName" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Status</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.SupplierStatus, new { @class = "ColumnRow", id = "SupplierStatus" })</td>
            <th class="ColumnHeader" width="131" scope="col">VAT</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.VAT, new { @class = "ColumnRow", id = "VAT" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Telephone</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Telephone, new { @class = "ColumnRow", id = "Telephone" })</td>
            <th class="ColumnHeader" width="131" scope="col">Payment Amount</th>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.PaymentAmount, new { @class = "ColumnRow", id = "PaymentAmount" })</td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Address</th>
            <td class="ColumnRow" colspan="3">
                @Html.DisplayFor(modelItem => modelItem.AddressHouseName, new { @class = "ColumnRow", id = "AddressHouseName" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressNumber, new { @class = "ColumnRow", id = "AddressNumber" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressStreet, new { @class = "ColumnRow", id = "AddressStreet" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressTown, new { @class = "ColumnRow", id = "AddressTown" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressCity, new { @class = "ColumnRow", id = "AddressCity" })<br />
                @Html.DisplayFor(modelItem => modelItem.AddressPostCode, new { @class = "ColumnRow", id = "AddressPostCode" })
            </td>
        </tr>
        <tr>
            <th class="ColumnHeader" width="131" scope="col">Address Indicator</th>
            <td class="ColumnRow" colspan="3">
                @Html.DisplayFor(modelItem => modelItem.AddressIndicator, new { @class = "ColumnRow", id = "AddressIndicator" })<br />
            </td>
        </tr>
    </tbody>
</table>
