﻿
@model KeoghsClientSite.Models.CUE.CUESearchSummary

<tr>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Subject, new { @class = "ColumnRow ", id = "Subject" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Involvement, new { @class = "ColumnRow", id = "Involvement" })</td>
    
    @if (@Model.Motor == true)
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/tick.png")" alt="HH logo" height="22" width="22"></td>
    }
    else
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/cross.png")" alt="MO logo" height="22" width="22"></td>
    }

    @if (@Model.PI == true)
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/tick.png")" alt="HH logo" height="22" width="22"></td>
    }
    else
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/cross.png")" alt="MO logo" height="22" width="22"></td>
    }

    @if (@Model.Household == true)
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/tick.png")" alt="HH logo" height="22" width="22"></td>
    }
    else
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/cross.png")" alt="MO logo" height="22" width="22"></td>
    }

    @if (@Model.Cross_Enquiry == true)
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/tick.png")" alt="HH logo" height="22" width="22"></td>
    }
    else
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/cross.png")" alt="MO logo" height="22" width="22"></td>
    }
    
    <td class="ColumnRow">@String.Format("{0:dd/MM/yyyy}",Model.SearchDate)
</tr>
