﻿@model KeoghsClientSite.Models.CUE.CueSearchCriteria

<tr>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Name, new { @class = "ColumnRow ", id = "Name" })</td>
    <td class="ColumnRow">@String.Format("{0:dd/MM/yyyy}", Model.Dob)
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.NI_Number, new { @class = "ColumnRow", id = "NI_Number" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.DrivingLicenceNum, new { @class = "ColumnRow", id = "DrivingLicenceNum" })</td>
    <table width="790" cellpadding="0" cellspacing="0" height="0">
        <tr>
            <th class="ColumnHeader" width="790" scope="col">Address</th>
        </tr>
    </table>
    <table width="790" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th class="ColumnHeader2" width="140" scope="col">Building Number</th>
                <th class="ColumnHeader2" width="140" scope="col">Building Name</th>
                <th class="ColumnHeader2" width="140" scope="col">Street</th>
                <th class="ColumnHeader2" width="140" scope="col">Town</th>
                <th class="ColumnHeader2" width="140" scope="col">Locality</th>
                <th class="ColumnHeader2" width="140" scope="col">City</th>
                <th class="ColumnHeader2" width="140" scope="col">Postcode</th>
            </tr>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.AddressNumber, new { @class = "ColumnRow ", id = "AddressNumber" })</td>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.AddressHouseName, new { @class = "ColumnRow", id = "AddressHouseName" })</td>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.AddressStreet, new { @class = "ColumnRow", id = "AddressStreet" })</td>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.AddressTown, new { @class = "ColumnRow ", id = "AddressTown" })</td>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.AddressLocality, new { @class = "ColumnRow", id = "AddressLocality" })</td>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.AddressCity, new { @class = "ColumnRow", id = "AddressCity" })</td>
            <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.AddressPostCode, new { @class = "ColumnRow ", id = "AddressPostCode" })</td>
        </tbody>
    </table> 
    <table width="790" cellpadding="0" cellspacing="0" height="0">
        <tr>
            <th class="ColumnHeader" width="790" scope="col">Vehicle Details</th>
        </tr>
    </table>
    <table width="790" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th class="ColumnHeader2" width="395" scope="col">Vehicle Registration Number</th>
                <th class="ColumnHeader2" width="395" scope="col">Vehicle Identification Number</th>
            </tr>
        <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.VehicleReg, new { @class = "ColumnRow ", id = "VehicleReg" })</td>
        <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.VIN, new { @class = "ColumnRow", id = "VIN" })</td>
        </tbody>
    </table> 
     
    
</tr>
