﻿@model KeoghsClientSite.Models.CUE.CUESummaryIncident


<tr>
    @if (@Model.IncidentType == "HH")
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/Home.png")" alt="HH logo"></td>
    }
    else if (@Model.IncidentType == "M")
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/MO.png")" alt="MO logo"></td>
    }
    else if (@Model.IncidentType == "PI")
    {
        <td class="ColumnRow2"><img src="@Url.Content("~/images/PI.png")" alt="PI logo"></td>
    }
    
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Subject, new { @class = "ColumnRow", id = "Subject" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.InvolvementType, new { @class = "ColumnRow", id = "InvolvementType" })</td>
    <td class="ColumnRow">@String.Format("{0:dd/MM/yyyy}", Model.IncidentDate)
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.ClaimStatus, new { @class = "ColumnRow", id = "ClaimStatus" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Insurer, new { @class = "ColumnRow", id = "Insurer" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.Description, new { @class = "ColumnRow", id = "Description" })</td>
    <td class="ColumnRow">@Html.DisplayFor(modelItem => modelItem.MatchCode, new { @class = "ColumnRow", id = "MatchCode" })</td>
</tr>
