﻿@model DataFeeds

@using KeoghsClientSite.Models.SingleClaim



<div class="row left"> 
        <!--row div starts here-->

    <div class="col-1">
    <p> <b>@Model.DataFeed </b></p>
    </div>
    <div class="col-2">
   
        @Html.HiddenFor(x => x.DataFeed) 
        @(Model.ReadOnly ? Html.CheckBoxFor(x => x.IsChecked, new {@disabled = "disabled"}) : Html.CheckBoxFor(x => x.IsChecked))   
               
            <p> 
                <b>@Model.Included</b>
                 @Html.HiddenFor(x => x.Included)         
            @*@{if(Model.DataFeed=="CUE")
              {
           
                   <b class="marginleft_60"> Note: </b> <span>CUE feed only available on high risk claims </span>
                }
            }*@
            </p>
    </div>
</div>

<!--row div ends here--> 