﻿@*@model IEnumerable<KeoghsClientSite.Models.FilterRiskRatingViewModel>*@
@model FilterRiskRatingViewModel

@using KeoghsClientSite.Models



<p>
@Html.HiddenFor(x => x.Rating)           
@Html.CheckBoxFor(x => x.IsChecked)
@Model.Rating
</p>