﻿@model KeoghsClientSite.Models.SingleClaim.HireVehicleAddInfo

   <div class="additional_information_container left incident_container"> 
            <!--additional_information_container div starts here-->

         <div class="additional_information_heading border_bottom_solid-1 left ">
                   <div class="left">
                <h2>Hire Vehicle Additional Information</h2>
              </div>

                @if (Model.EngineCapacity == null && (Model.SelectedFuel == null || Model.SelectedFuel == 0) && (Model.SelectedColour == null || Model.SelectedColour == 0) && (Model.SelectedTransmission == null || Model.SelectedTransmission == 0) && Model.VIN == null)
                {
                    <div class="up_arrow"> <i id="claim_accordion-13" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-13','payment-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
                else
                {
                    <div class="up_arrow"> <i id="claim_accordion-13" class="icon-small accordion_uparrow right" onclick="divShowHide('claim_accordion-13','payment-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                    
                }
                 </div>
          </div>
               <!--additional_information_container div ends here-->
               @if (Model.EngineCapacity == null && (Model.SelectedFuel == null || Model.SelectedFuel == 0) && (Model.SelectedColour == null || Model.SelectedColour == 0) && (Model.SelectedTransmission == null || Model.SelectedTransmission == 0) && Model.VIN == null)
               {
                <div id="payment-1" class="policy_holder_container left display_none">
                    <!--policy_holder_container div starts here-->

                    <div class="rows left">
                        <div class="cols-1">
                            <!--col-1 div starts here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.VIN)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.VIN, new { @class = "TextBox179px" })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Colours)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedColour, new SelectList(Model.Colours, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns  DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Transmission)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedTransmission, new SelectList(Model.Transmission, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->



                        </div>
                        <!--col-1 div ends here-->

                        <div class="cols-2">
                            <!--cols-1 div starts here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Fuel)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedFuel, new SelectList(Model.Fuel, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.EngineCapacity)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.EngineCapacity, new { @class = "TextBox179px" })
                                </div>
                            </div>
                            <!--row div ends here-->



                            @*<div class="row">
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.TotalLossCapacity)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedTotalLossCapacity, new SelectList(Model.TotalLossCapacity, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>*@
                            <!--row div ends here-->

                        </div>
                        <!--cols-2 div ends here-->

                    </div>
                    <!--rows div ends here-->

                </div>
               }
               else
               {
                <div id="payment-1" class="policy_holder_container left">
                    <!--policy_holder_container div starts here-->

                    <div class="rows left">
                        <div class="cols-1">
                            <!--col-1 div starts here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.VIN)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.VIN, new { @class = "TextBox179px" })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Colours)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedColour, new SelectList(Model.Colours, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns  DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Transmission)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedTransmission, new SelectList(Model.Transmission, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->



                        </div>
                        <!--col-1 div ends here-->

                        <div class="cols-2">
                            <!--cols-1 div starts here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Fuel)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedFuel, new SelectList(Model.Fuel, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.EngineCapacity)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.EngineCapacity, new { @class = "TextBox179px" })
                                </div>
                            </div>
                            <!--row div ends here-->



                            @*<div class="row">
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.TotalLossCapacity)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.DropDownListFor(model => model.SelectedTotalLossCapacity, new SelectList(Model.TotalLossCapacity, "Value", "Text"),
                                    "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                                </div>
                            </div>*@
                            <!--row div ends here-->

                        </div>
                        <!--cols-2 div ends here-->

                    </div>
                    <!--rows div ends here-->

                </div>
               }
               <!--policy_holder_container div ends here-->