﻿@model KeoghsClientSite.Models.SingleClaim.HireVehicle

  <div class="additional_information_container left incident_container"> 
            <!--additional_information_container div starts here-->
            @Html.HiddenFor(model => model.WasPolicyHolderTheDriver, new { id = "wasPolicyHolderTheDriver" })
            <div class="additional_information_heading border_bottom_solid-1 left">
                   <div class="left">
                <h2>Hire Vehicle</h2>
              </div>
                @if (Model.HireEndDate != null || Model.HireStartDate != null || Model.Make != null || Model.Model != null || Model.RegistrationNumber != null)
                {
                   <div class="up_arrow"> <i id="claim_accordion-12" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-12','bank-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
                else
                {
                    <div class="up_arrow"> <i id="claim_accordion-12" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-12','bank-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
                 </div>
          </div>
               <!--additional_information_container div ends here-->
                @if (Model.HireEndDate != null || Model.HireStartDate != null || Model.Make != null || Model.Model != null || Model.RegistrationNumber != null)
                {
                      <div id="bank-1" class="policy_holder_container left"> 
                                <!--policy_holder_container div starts here-->
            
                                <div class="rows left">
                                       <div class="cols-1"> <!--col-1 div starts here-->
                
                                    <div class="row"> <!--row div starts here-->
                                           <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.VehicleTypes)</b></p>
                                      </div>
                                           <div class="col-2">
                                         @Html.DropDownListFor(model => model.SelectedVehicletype, new SelectList(Model.VehicleTypes, "Value", "Text"), 
                                                "--- Please select ---", new { @class = "FilterDropdowns salutation" })
                                      </div>
                                         </div>
                                    <!--row div ends here-->
                                    <div class="row"> <!--row div starts here-->
                                           <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.RegistrationNumber)</b></p>
                                      </div>
                                           <div class="col-2">
                                        @Html.TextBoxFor(model => model.RegistrationNumber,new { @class = "TextBox179px" })
                                      </div>
                                         </div>
                                    <!--row div ends here-->
                                    <div class="row"> <!--row div starts here-->
                                           <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Make)</b></p>
                                      </div>
                                           <div class="col-2">
                                         @Html.TextBoxFor(model => model.Make,new { @class = "TextBox179px" })
                                      </div>
                                         </div>
                                    <!--row div ends here--> 
                
                
                
                                    <div class="row"> <!--row div starts here-->
                                           <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Model)</b></p>
                                      </div>
                                           <div class="col-2">
                                        @Html.TextBoxFor(model => model.Model,new { @class = "TextBox179px" })
                                      </div>
                                         </div>
                                    <!--row div ends here--> 
                
                
                
                
                                  </div>
                                       <!--col-1 div ends here-->
                   
                                       <div class="cols-2"> <!--cols-1 div starts here-->
                                    <div class="row"> <!--row div starts here-->
                                           <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.HireStartDate)</b></p>
                                      </div>
                                           <div class="col-2">
                                        <p class="left">
                                               @Html.TextBoxFor(model => model.HireStartDate, (Model.HireStartDate.HasValue ? Model.HireStartDate.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})     
                                             </p>
                                        <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a> </div>
                                         </div>
                                    <!--row div ends here-->
                
                                    <div class="row"> <!--row div starts here-->
                                           <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.HireEndDate)</b></p>
                                      </div>
                                           <div class="col-2">
                   
                                           <p class="left">
                                                @Html.TextBoxFor(model => model.HireEndDate, (Model.HireEndDate.HasValue ? Model.HireEndDate.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})     
                                             </p>
                                        <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a>
                                      </div>
                                         </div>
                                    <!--row div ends here--> 
                                  </div>
                                       <!--cols-2 div ends here--> 
                   
                                     </div>
                                <!--rows div ends here--> 
            
                              </div>
                }
                else
                {
                    <div id="bank-1" class="policy_holder_container left display_none">
                        <!--policy_holder_container div starts here-->

                        <div class="rows left">
                            <div class="cols-1">
                                <!--col-1 div starts here-->

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.VehicleTypes)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.DropDownListFor(model => model.SelectedVehicletype, new SelectList(Model.VehicleTypes, "Value", "Text"),
                                                "--- Please select ---", new { @class = "FilterDropdowns salutation" })
                                    </div>
                                </div>
                                <!--row div ends here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.RegistrationNumber)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.RegistrationNumber, new { @class = "TextBox179px" })
                                    </div>
                                </div>
                                <!--row div ends here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Make)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.Make, new { @class = "TextBox179px" })
                                    </div>
                                </div>
                                <!--row div ends here-->



                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.Model)</b></p>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(model => model.Model, new { @class = "TextBox179px" })
                                    </div>
                                </div>
                                <!--row div ends here-->




                            </div>
                            <!--col-1 div ends here-->

                            <div class="cols-2">
                                <!--cols-1 div starts here-->
                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.HireStartDate)</b></p>
                                    </div>
                                    <div class="col-2">
                                        <p class="left">
                                            @Html.TextBoxFor(model => model.HireStartDate, (Model.HireStartDate.HasValue ? Model.HireStartDate.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox" })
                                        </p>
                                        <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a>
                                    </div>
                                </div>
                                <!--row div ends here-->

                                <div class="row">
                                    <!--row div starts here-->
                                    <div class="col-1">
                                        <p><b>@Html.LabelFor(model => model.HireEndDate)</b></p>
                                    </div>
                                    <div class="col-2">

                                        <p class="left">
                                            @Html.TextBoxFor(model => model.HireEndDate, (Model.HireEndDate.HasValue ? Model.HireEndDate.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox" })
                                        </p>
                                        <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a>
                                    </div>
                                </div>
                                <!--row div ends here-->
                            </div>
                            <!--cols-2 div ends here-->

                        </div>
                        <!--rows div ends here-->

                    </div>
                }
               <!--policy_holder_container div ends here-->



