﻿@model KeoghsClientSite.Models.SingleClaim.OrganisationAdditionalInfo


 <div class="additional_information_container left incident_container"> 
            <!--additional_information_container div starts here-->
            
            <div class="additional_information_heading border_bottom_solid-1 left">
                   <div class="left">
                <h2>Additional Information</h2>
              </div>
                @if (Model.EmailAddress != null || Model.MoJClaimsRegNumber != null || Model.Telephone1 != null || Model.Telephone2 != null || Model.Telephone3 != null || Model.VATNumber != null || Model.WebsiteAddress != null)
                {
                   <div class="up_arrow"> <i id="claim_accordion-14" class="icon-small accordion_uparrow right" onclick="divShowHide('claim_accordion-14','additionalinformation-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
                else
                {
                    <div class="up_arrow"> <i id="claim_accordion-14" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-14','additionalinformation-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
              </div>
          </div>
               <!--additional_information_container div ends here-->
               
            @if (Model.EmailAddress != null || Model.MoJClaimsRegNumber != null || Model.Telephone1 != null || Model.Telephone2 != null || Model.Telephone3 != null || Model.VATNumber != null || Model.WebsiteAddress != null)
            {
                <div id="additionalinformation-1" class="policy_holder_container left"> 
                <!--policy_holder_container div starts here-->
            
                <div class="rows left">
                       <div class="cols-1"> <!--col-1 div starts here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Telephone1) </b></p>
                      </div>
                           <div class="col-2">
                                 @Html.TextBoxFor(model => model.Telephone1,new {@class = "TextBox179px", maxlength = 50 })

                           </div>
                         </div>
                    <!--row div ends here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Telephone2)</b></p>
                      </div>
                           <div class="col-2">
                           
                                @Html.TextBoxFor(model => model.Telephone2,new {@class = "TextBox179px", maxlength = 50 })
                           </div>
                         </div>
                    <!--row div ends here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Telephone3)</b></p>
                      </div>
                           <div class="col-2">
                                 @Html.TextBoxFor(model => model.Telephone3,new { @class = "TextBox179px",maxlength = 50 })
                           </div>
                         </div>
                    <!--row div ends here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.EmailAddress)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.EmailAddress,new { @class = "TextBox179px",maxlength = 50 })
                           </div>
                         </div>
                    <!--row div ends here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.WebsiteAddress)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.WebsiteAddress,new {@class = "TextBox179px", maxlength = 50 })
                            </div>
                         </div>
                    <!--row div ends here--> 
                
                  </div>
                       <!--col-1 div ends here-->
                   
                       <div class="cols-2"> <!--cols-1 div starts here-->
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.VATNumber)</b></p>
                      </div>
                           <div class="col-2">
                       
                              @Html.TextBoxFor(model => model.VATNumber,new {@class = "TextBox179px", maxlength = 50 })
                            </div>
                         </div>
                    <!--row div ends here-->
                
                    <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.MoJClaimsRegNumber)</b></p>
                      </div>
                           <div class="col-2">
                                @Html.TextBoxFor(model => model.MoJClaimsRegNumber,new {@class = "TextBox179px", maxlength = 50 })
                            </div>
                         </div>
                    <!--row div ends here-->
                
              
                    <!--row div ends here--> 
                  </div>
                       <!--cols-2 div ends here--> 
                   
                     </div>
                <!--rows div ends here--> 
            
              </div>
            }
            else
            {
                <div id="additionalinformation-1" class="policy_holder_container left display_none">
                    <!--policy_holder_container div starts here-->

                    <div class="rows left">
                        <div class="cols-1">
                            <!--col-1 div starts here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Telephone1) </b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.Telephone1, new { @class = "TextBox179px", maxlength = 50 })

                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Telephone2)</b></p>
                                </div>
                                <div class="col-2">

                                    @Html.TextBoxFor(model => model.Telephone2, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.Telephone3)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.Telephone3, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.EmailAddress)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.WebsiteAddress)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.WebsiteAddress, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                        </div>
                        <!--col-1 div ends here-->

                        <div class="cols-2">
                            <!--cols-1 div starts here-->
                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.VATNumber)</b></p>
                                </div>
                                <div class="col-2">

                                    @Html.TextBoxFor(model => model.VATNumber, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->

                            <div class="row">
                                <!--row div starts here-->
                                <div class="col-1">
                                    <p><b>@Html.LabelFor(model => model.MoJClaimsRegNumber)</b></p>
                                </div>
                                <div class="col-2">
                                    @Html.TextBoxFor(model => model.MoJClaimsRegNumber, new { @class = "TextBox179px", maxlength = 50 })
                                </div>
                            </div>
                            <!--row div ends here-->
                            <!--row div ends here-->
                        </div>
                        <!--cols-2 div ends here-->

                    </div>
                    <!--rows div ends here-->

                </div>
            }  
             