﻿@model KeoghsClientSite.Models.SingleClaim.OrganisationInvolvement

  <div class="rows left">
        <div class="cols-1 w396"> <!--col-1 div starts here-->
                
                <div class="row"> <!--row div starts here-->
                       
                  <div class="col-1 w183">
                    <p><b>Organisation Involvement</b></p>
                  </div>
                  <div class="col-2">
                     @Html.DropDownListFor(model => model.SelectedOrganisationInvolvement, new SelectList(Model.OrganisationInvolvements, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                  </div>
                </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1 w183">
                    <p><b>Organisation Name</b></p>
                  </div>
                       <div class="col-2">
                   @Html.TextBoxFor(model => model.OrganisationName,new { @class = "TextBox179px" })
                  </div>
                </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1 w183">
                    <p><b>Registered Number</b></p>
                  </div>
                       <div class="col-2">
                    @Html.TextBoxFor(model => model.RegisteredNumber,new { @class = "TextBox179px" })
                  </div>
               </div>
                <!--row div ends here-->
   
         </div>
         <!--col-1 div ends here-->
 
    </div>
    <!--rows div ends here--> 