﻿@model KeoghsClientSite.Models.SingleClaim.PaymentCard

               <div class="additional_information_container left incident_container"> 
            <!--additional_information_container div starts here-->
            
            <div class="additional_information_heading border_bottom_solid-1 left">
                   <div class="left">
                <h2>Payment Card</h2>
              </div>
                   <div class="up_arrow"> <i id="claim_accordion-13" class="icon-small accordion_downarrow right"  
              onclick="divShowHide('claim_accordion-13','payment-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                 </div>
          </div>
               <!--additional_information_container div ends here-->
               
               <div id="payment-1" class="policy_holder_container left display_none"> 
            <!--policy_holder_container div starts here-->
            
            <div class="rows left">
                   <div class="cols-1"> <!--col-1 div starts here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.PaymentCardNumber) </b></p>
                  </div>
                       <div class="col-2">
                            @Html.TextBoxFor(model => model.PaymentCardNumber,new { @class = "TextBox179px" })
                        </div>
                     </div>
                <!--row div ends here-->
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.ExpiryDate)</b></p>
                  </div>
                       <div class="col-2">
                             @Html.TextBoxFor(model => model.ExpiryDate,new { @class = "TextBox179px" })
                        </div>
                     </div>
                <!--row div ends here-->
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.CardProvider)</b></p>
                  </div>
                       <div class="col-2">
                        @Html.TextBoxFor(model => model.CardProvider,new { maxlength = 50 })
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.CardTypes)</b></p>
                  </div>
                       <div class="col-2">
                         @Html.DropDownListFor(model => model.SelectedCardType, new SelectList(Model.CardTypes, "Value", "Text"), 
                                "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                        </div>
                     </div>
                <!--row div ends here--> 
                
              </div>
                   <!--col-1 div ends here-->
                   
                   <div class="cols-2"> <!--cols-1 div starts here-->
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.DateDetailsTaken)</b></p>
                  </div>
                       <div class="col-2">
                    <p class="left">
                       @*     @Html.TextBox("DateDetailsTaken", (Model.PaymentCard.DateDetailsTaken.HasValue ? Model.PaymentCard.DateDetailsTaken.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})*@
                         @Html.TextBoxFor(model => model.DateDetailsTaken, (Model.DateDetailsTaken.HasValue ? Model.DateDetailsTaken.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox"})     
                         </p>
                    <a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a> </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.CardUsedFor)</b></p>
                  </div>
                       <div class="col-2">
                            
                            @Html.DropDownListFor(model => model.SelectedCardUsedFor, new SelectList(Model.CardUsedFor, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                  </div>
                     </div>
                <!--row div ends here--> 
              </div>
                   <!--cols-2 div ends here--> 
                   
                 </div>
            <!--rows div ends here--> 
            
          </div>
               <!--policy_holder_container div ends here-->


