﻿@model KeoghsClientSite.Models.SingleClaim.PersonInformation
@using KeoghsClientSite.Models.SingleClaim;

@*<script>
     $("#DateOfBirth").each(function () {
            $(this).datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
</script>*@

<div class="rows left">
                   <div class="cols-1"> <!--col-1 div starts here-->

                        @*@if (Model.View == CurrentView.Witness)
                        {
                        <div class="row"> <!--row div starts here-->
                       
                           <div class="col-1">
                                    <p><b>Witness<br>
                Involvement Type </b></p>
                           </div>

                               <div class="col-2 margintop_12">
                                @Html.DropDownListFor(model => model.SelectedWitnessInvolvementType, new SelectList(Model.WitnessInvolvementType, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns salutation" })
                              </div>

                         </div>
                    <!--row div ends here-->
                        }*@
                
                <div class="row"> <!--row div starts here-->
                       
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.Salutations) </b></p>
                  </div>
                       <div class="col-2">

                         @Html.DropDownListFor(model => model.SelectedSalutation, new SelectList(Model.Salutations, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns salutation" })

                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.Firstname) </b></p>
                  </div>
                       <div class="col-2">
                           @* <input name="" type="text">*@
                            @Html.TextBoxFor(model => model.Firstname,new { @class = "TextBox179px" })
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.Middlename)</b></p>
                  </div>
                       <div class="col-2">
                   
                           @Html.TextBoxFor(model => model.Middlename,new { @class = "TextBox179px" })
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.Surname)</b></p>
                  </div>
                       <div class="col-2">
                   
                            @Html.TextBoxFor(model => model.Surname,new { @class = "TextBox179px" })
                  </div>
                     </div>
                <!--row div ends here--> 
                
              </div>
                   <!--col-1 div ends here-->
                   
                @*<div class="cols-2 @(Model.View == CurrentView.Witness ? "margintop_45":"")">*@
                <div class="cols-2">
                        <!--cols-1 div starts here-->

                            <div class=" row">
                    <!--row div starts here-->

                    <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.DateOfBirth) </b></p>
                    </div>
                    <div class="col-2">
                        <p class="left">

                            @* @Html.TextBox("DateOfBirth", (Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox", id="DateOfBirth"})*@
                            @Html.TextBoxFor(model => model.DateOfBirth, (Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox", id = "DateOfBirth" })
                        </p><a href="#" class="calendarIcon"> <i class="icon-small calendar left marginleft_5 margintop_5"></i> </a>
                    </div>
                </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       
                      <div class="col-1">
                        <p><b>@Html.LabelFor(model => model.Gender) </b></p>
                      </div>
                       <div class="col-2">
                          @Html.DropDownListFor(model => model.SelectedGender, new SelectList(Model.Gender, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                        </div>
                     </div>
                    @{
                        if (Model.View == CurrentView.InsuredDriver || Model.View == CurrentView.Passenger || Model.View == CurrentView.ThirdPartyDriver)
                        {
                        <div class="row"> <!--row div starts here-->
                           <div class="col-1">
                               <p><b>@Html.LabelFor(model => model.NumberOfSupportingInvolvements) </b></p>
                            </div>
                            <div class="col-2">
                                  <p class="left">
                                 @Html.TextBoxFor(model => model.NumberOfSupportingInvolvements,new {  @class = "spinner", id = "spinnerNumberOfSupportingInvolvements" })
                                      </p>
                            </div>

                            </div>
                        }
                      }
                  
               
                <!--row div ends here--> 
                
              </div>
                   <!--cols-2 div ends here--> 
                   
                 </div>
            <!--rows div ends here--> 