﻿    @model KeoghsClientSite.Models.SingleClaim.VehicleAdditionalInfo        

   <!--review_container div ends here-->
               

        <div class="additional_information_container left insured_vehicle_container"> 
            <!--claimsummary_container div starts here-->
            
            <div class=" additional_information_heading border_bottom_solid-1 left">
              <div class=" left">
                <h2>Additional Information</h2>
              </div>
                @if (Model.EngineCapacity == null && (Model.SelectedFuel == null || Model.SelectedFuel == 0) && (Model.SelectedColour == null || Model.SelectedColour == 0) && (Model.SelectedTotalLossCapacity == null || Model.SelectedTotalLossCapacity == 0) && (Model.SelectedTransmission == null || Model.SelectedTransmission == 0) && Model.VIN == null)
                {
                    <div class="up_arrow"> <i id="additionalinformation" class="icon-small accordion_downarrow right" onclick="divShowHide('additionalinformation','additionalinformation-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
                else
                {
                    <div class="up_arrow"> <i id="additionalinformation" class="icon-small accordion_uparrow right" onclick="divShowHide('additionalinformation','additionalinformation-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
            
            </div>

            @if (Model.EngineCapacity == null && (Model.SelectedFuel == null || Model.SelectedFuel == 0) && (Model.SelectedColour == null || Model.SelectedColour == 0) && (Model.SelectedTotalLossCapacity == null || Model.SelectedTotalLossCapacity == 0) && (Model.SelectedTransmission == null || Model.SelectedTransmission == 0) && Model.VIN == null)
            {
                <div id="additionalinformation-1" class="additional_information_container display_none border_none paddingtop_25 left">
                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.VIN)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.VIN, new { @class = "TextBox179px" })

                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.Colours)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedColour, new SelectList(Model.Colours, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns  DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.Transmission)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedTransmission, new SelectList(Model.Transmission, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.Fuel)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedFuel, new SelectList(Model.Fuel, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.EngineCapacity)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.EngineCapacity, new { @class = "TextBox179px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.TotalLossCapacity)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedTotalLossCapacity, new SelectList(Model.TotalLossCapacity, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                </div>
            }
            else
            {
            <div id="additionalinformation-1" class="additional_information_container border_none paddingtop_25 left">
                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.VIN)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.VIN, new { @class = "TextBox179px" })

                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.Colours)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedColour, new SelectList(Model.Colours, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns  DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.Transmission)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedTransmission, new SelectList(Model.Transmission, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.Fuel)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedFuel, new SelectList(Model.Fuel, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.EngineCapacity)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.EngineCapacity, new { @class = "TextBox179px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.TotalLossCapacity)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.SelectedTotalLossCapacity, new SelectList(Model.TotalLossCapacity, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                </div>
            }
          </div>
               <!--claimsummary_container div ends here--> 