﻿    @model KeoghsClientSite.Models.SingleClaim.Vehicle  

<script>
    $(document).ready(function () {
        var policyDetailsKnown = $('#policyDetailsKnown').val();
        if (policyDetailsKnown == 'False') {
            $("#WasPolicyHolderTheDriver").hide();
        }
    });
</script>

    
@using KeoghsClientSite.Models.SingleClaim;

@Html.HiddenFor(model=>model.PolicyDetailsKnown,new { id= "policyDetailsKnown" })
@*<div class="insured_vehicle_container left">*@ 
            <!--review_container div starts here-->
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p><b>@Html.LabelFor(model => model.VehicleTypes)</b></p>
              </div>
                   <div class="col-2">

                         @Html.DropDownListFor(model => model.SelectedVehicletype, new SelectList(Model.VehicleTypes, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })

              </div>
                 </div>
            <!--row div ends here-->
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p> <b>@Html.LabelFor(model => model.RegistrationNumber) </b></p>
              </div>
                   <div class="col-2">
                         @Html.TextBoxFor(model => model.RegistrationNumber,new { @class = "TextBox179px" })
              </div>
                 </div>
            <!--row div ends here-->
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p><b>@Html.LabelFor(model => model.Make)</b></p>
              </div>
                   <div class="col-2">
                        @Html.TextBoxFor(model => model.Make,new { @class = "TextBox179px" })

              </div>
                 </div>
            <!--row div ends here-->
            
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p><b>@Html.LabelFor(model => model.Model)</b></p>
              </div>
                   <div class="col-2">
                        @Html.TextBoxFor(model => model.Model,new { @class = "TextBox179px" })
              </div>
                 </div>
            <!--row div ends here-->
            

         @{
            if (Model.View == CurrentView.InsuredVehicle && Model.PolicyCommercial == false && Model.PolicyDetailsKnown == true)
            {
              
            <div class="row left" id="WasPolicyHolderTheDriver"> 
                   <!--row div starts here-->
                   <div class="col-3">
                       
                           <p><b>@Html.LabelFor(model => model.WasPolicyHolderTheDriver)</b></p>

                   </div>
                   <div class="col-4">

                    <p class="left">
                            @Html.RadioButtonFor(model => model.WasPolicyHolderTheDriver, true, new { @class = "PolicyHolderDetailsKnown", id = "PolicyHolderDetailsKnownYes" })
                    </p>
                    <p class="left paddingtop_3">Yes </p>
                    <p class="left marginleft_17">
                            @Html.RadioButtonFor(model => model.WasPolicyHolderTheDriver, false, new { @class = "PolicyHolderDetailsKnown", id = "PolicyHolderDetailsKnownYes" })
                    </p>
                    <p class="left paddingtop_3">No </p>


              </div>
                 </div>
            <!--row div ends here-->
         }
            else
            {
                @Html.HiddenFor(model => model.WasPolicyHolderTheDriver, new { id = "wasPolicyHolderTheDriver" })
            }
        }
            
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-3">
                <p><b>@Html.LabelFor(model => model.NumberOfPassengers)</b></p>
              </div>
                   <div class="col-4">

                         @Html.TextBoxFor(model => model.NumberOfPassengers,new { @class = "spinner", id = "spinnerNumberOfPassengers" })       
             
              </div>
                 </div>
            <!--row div ends here--> 
            
          @*</div>*@