﻿@model KeoghsClientSite.Models.SingleClaim.ClaimViewModel

@{ 
    Layout = null; 
} 

   @using (Ajax.BeginForm("GetIncidentView", "SingleClaim", null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "Ajaxtarget",
                    OnSuccess = "AjaxSuccessHandler",
                    OnFailure="AjaxFailureHandler"
                },new { id = "ClaimForm" }))
                {
    
<div class="review_container aligncenter left">
          <!--review_container div starts here-->
            
            <div class="toast"></div>

             @Html.ValidationSummary()
             @Html.HiddenFor(model => model.SingleClaimId)
                    
            <div class="row left">
              <!--row div starts here-->
              <div class="col-1">
                <p><b>Type of Claim </b></p>
              </div>
              <div class="col-2">
               @* <select name="">
                  <option> Motor </option>
                  <option> </option>
                </select>*@

                    @Html.DropDownListFor(model => model.SelectedClaimTypeID, new SelectList(Model.ClaimTypes, "Value", "Text"), 
                            "--- Please select type of claim ---", new { @class = "FilterDropdowns" })
                  @* @Html.ValidationMessageFor(model => model.SelectedClaimTypeID)*@
              </div>
            </div>
            <!--row div ends here-->
            <div class="row left">
              <!--row div starts here-->
              <div class="col-1">
                <p> <span class="mandatory"> </span> <b>Claim Number</b></p>
              </div>
              <div class="col-2">
                @Html.TextBoxFor(model => model.ClaimNumber)
                 @* @Html.ValidationMessageFor(model => model.ClaimNumber)*@
              </div>
            </div>
            <!--row div ends here-->
            <div class="row left">
              <!--row div starts here-->
              <div class="col-1">
                <p><b>Claim Status</b></p>
              </div>
              <div class="col-2">

             @*   <select name="">
                  <option> Open</option>
                  <option> </option>
                </select>*@

                   @Html.DropDownListFor(model => model.SelectedClaimStatusID, new SelectList(Model.ClaimStatuses, "Value", "Text"), 
                            "--- Please select claim status ---", new { @class = "FilterDropdowns" })

              </div>
            </div>
            <!--row div ends here-->

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

          </div>
          <!--review_container div ends here-->
       
         <div class="headings border_radius_none  upload_page_navigation  w740 left">
            <!--heading div starts here-->
           @* <div class="col-1 "> <a href="@Url.Content("~/SingleClaim/SingleClaimInput")"><i class="icon-small prev_arrow left"></i>
                <p class="left">Previous</p></a>
            </div>*@
            <div class="col-2 w540"> &nbsp; </div>
            <div class="col-1 margintop_5"><a href="#" class="ClaimNextButton next" id="ClaimNextButton"><i class="icon-small next_arrow right"></i>
                <p class="right">Next&nbsp; </p></a>
            </div>
        </div>
        <!--heading div ends here-->

              }

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}