﻿@model KeoghsClientSite.Models.SingleClaim.IncidentViewModel
@{ 
    Layout = null; 
} 

 @using (Ajax.BeginForm("SubmitIncidentView", "SingleClaim",null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    },new { id = "IncidentForm" }))
    {
         
        <div class="incident_container left"> 
            <!--review_container div starts here-->

             @Html.ValidationSummary()

           @* @Html.HiddenFor(model => model.IncidentFormPosted)*@

            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p><b>@Html.LabelFor(model => model.IncidentDate)</b></p>
              </div>
                   <div class="col-2">

                     @Html.TextBox("IncidentDate", (Model.IncidentDate.HasValue ? Model.IncidentDate.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox", id="IncidentDate"})

                <a href="#" class="calendarIcon"><i class="icon-small calendar"></i></a> </div>
                 </div>
            <!--row div ends here-->
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p> <b>Time of Incident </b></p>
              </div>
                   <div class="col-2">

                      @*  <input name="time"  type="time" value="00:00">*@
                        @Html.DropDownListFor(model => model.SelectedIncidentTimeHours, new SelectList(Model.IncidentTimeHours, "Value", "Text")
                            , new { @class = "FilterDropdowns" }) &nbsp;

                        @Html.DropDownListFor(model => model.SelectedIncidentTimeMinutes, new SelectList(Model.IncidentTimeMinutes, "Value", "Text")
                           ,new { @class = "FilterDropdowns" })

                   </div>
                 </div>
            <!--row div ends here-->
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p><b>@Html.LabelFor(model => model.Location)</b></p>
              </div>
                   <div class="col-2">
                        
                     
                        @Html.TextBoxFor(model => model.Location)
              </div>
                 </div>
            <!--row div ends here-->
            
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-3">
                <p><b>@Html.LabelFor(model => model.NumberOfVehicles)</b></p>
              </div>
                   <div class="col-4">

                   @* <input id="spinner" name="value" />*@
                       
                      @Html.TextBoxFor(model => model.SelectedNumberOfVehicles,new { @Id = "spinnerNumberOfVehicles" })
                
                @* @Html.DropDownListFor(model => model.SelectedNumberOfVehicles, new SelectList(Model.NumberOfVehicles, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns" })*@

              </div>
                 </div>
            <!--row div ends here-->
            
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-3">
                <p><b>@Html.LabelFor(model => model.NumberOfWitnesses)</b></p>
              </div>
                   <div class="col-4">

                      @* @Html.DropDownListFor(model => model.SelectedNumberOfWitnesses, new SelectList(Model.NumberOfWitnesses, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns" })*@

                         @Html.TextBoxFor(model => model.SelectedNumberOfWitnesses,new { @Id = "spinnerNumberOfWitnesses" })

              </div>
                 </div>
            <!--row div ends here-->
            
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-3">
                <p><b>@Html.LabelFor(model => model.Circumstances)</b></p>
                <p>&nbsp;</p>
                <p>

                      @* <textarea name="independent" id="textarea"></textarea>*@

                         @Html.TextAreaFor(model => model.Circumstances, new { @class = "resizer" }) 

                     </p>
              </div>
                   <!--row div ends here--> 
                   
                 </div>
            <!--review_container div ends here-->
            
            <div class="additional_information_container left"> 
                   <!--claimsummary_container div starts here-->
                   
                   <div class=" additional_information_heading border_bottom_solid-1 left">
                <div class=" left">
                       <h2>Additional Information</h2>
                     </div>
                <div class="up_arrow"> <i id="additionalinformation" class="icon-small accordion_downarrow right"  
              onclick="divShowHide('additionalinformation','additionalinformation-1','accordion_uparrow','accordion_downarrow');"> </i> </div>
              </div>
                   <div id="additionalinformation-1" class="additional_information_container border_none paddingtop_25 left display_none">
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.NotificationDate)</b></p>
                  </div>
                       <div class="col-2">
                     @Html.TextBox("NotificationDate", (Model.NotificationDate.HasValue ? Model.NotificationDate.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox", id="NotificationDate"})
                     <a href="#" class="calendarIcon"><i class="icon-small calendar"></i></a> </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.ClaimCode)</b></p>
                  </div>
                       <div class="col-2">
                   @* <select name="claimcode">
                           <option> Motor </option>
                           <option> </option>
                         </select>*@

                            @Html.DropDownListFor(model => model.SelectedClaimCode, new SelectList(Model.ClaimCode, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })


                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.TotalValue)</b></p>
                  </div>
                       <div class="col-2">
                            @Html.TextBoxFor(model => model.TotalValue)

                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.TotalPayments)</b></p>
                  </div>
                       <div class="col-2">
                             @Html.TextBoxFor(model => model.TotalPayments)

                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.Liability)</b></p>
                  </div>
                       <div class="col-2 w183">
                   @* <select name="claimcode">
                           <option> </option>
                           <option> </option>
                         </select>*@
                            @Html.DropDownListFor(model => model.SelectedLiability, new SelectList(Model.Liability, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                  </div>
                       <div class="col-1 w140">
                    <p><b>@Html.LabelFor(model => model.LiabilityDecision)</b></p>
                  </div>
                       <div class="col-4  w140">

                        @Html.DropDownListFor(model => model.SelectedLiabilityDecision, new SelectList(Model.LiabilityDecision, "Value", "Text")
                              , "--- Please select ---" , new { @class = "FilterDropdowns DropDown120px" })
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.MojProcessStage)</b></p>
                  </div>
                       <div class="col-2">
                         @Html.DropDownListFor(model => model.SelectedMojProcessStage, new SelectList(Model.MojProcessStage, "Value", "Text")
                                 , "--- Please select ---" , new { @class = "FilterDropdowns DropDown120px" })
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.AmbulanceAttend)</b></p>
                  </div>
                       <div class="col-2">
                     @Html.DropDownListFor(model => model.SelectedAmbulanceAttend, new SelectList(Model.AmbulanceAttend, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.PoliceAttend)</b></p>
                  </div>
                       <div class="col-2">
                     @Html.DropDownListFor(model => model.SelectedPoliceAttend, new SelectList(Model.PoliceAttend, "Value", "Text"), 
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px" })
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.PoliceForce)</b></p>
                  </div>
                       <div class="col-2">
                             @Html.TextBoxFor(model => model.PoliceForce)
                  </div>
                     </div>
                <!--row div ends here-->
                
                <div class="row"> 
                       <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.PoliceReference)</b></p>
                  </div>
                       <div class="col-2">
                                @Html.TextBoxFor(model => model.PoliceReference)
                  </div>
                     </div>
                <!--row div ends here--> 
                
              </div>
                 </div>
            <!--claimsummary_container div ends here--> 
            
        </div>
             
        <div class="headings border_radius_none  upload_page_navigation  w740 left">
            <!--heading div starts here-->
             <div class="col-1 "> <a id="IncidentPrevButton" href="#" class="IncidentPrevButton Cancel"><i class="icon-small prev_arrow left"></i>
                <p class="left">Previous</p></a>
            </div>
            <div class="col-2 w540"> &nbsp; </div>
            <div class="col-1 margintop_5"><a href="#" class="IncidentNextButton next" id="IncidentNextButton"><i class="icon-small next_arrow right"></i>
                <p class="right">Next&nbsp; </p></a>
            </div>
        </div>
        <!--heading div ends here-->
    
    }

<div id="NavigationData">
    <div id="Data">@Model.NavigationData.Data</div>
    <div id="CurrentForm">@Model.NavigationData.CurrentForm</div>
    <div id="Previous">@Model.NavigationData.Previous</div>
</div>


@*@{Html.RenderPartial("_NavigationData",Model.NavigationData);}*@