﻿@model KeoghsClientSite.Models.SingleClaim.OutstandingClaimsListViewModel
@using KeoghsClientSite.StaticClasses
@using MDA.WCF.WebServices.Messages;


<style type="text/css">
    .ui-widget, .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 0.8em;
    }
    .ui-dialog .ui-dialog-buttonpane {
     text-align: center; /* left/center/right */
}

    </style>


<div class="content_wrapper">
        <!--content_wrapper  div starts here-->
        <div class="row">
            <!--row div starts here-->
            <div class="span18 white_bg webpart border-radius">
                <!--span18 div starts here-->
                <div class="result_container row">
                    <div class="headings blue_bg w1214 border_bottom left">
                        <!--heading div starts here-->
                        <div class="col-1 w1024">
                            <h1><b>UNSUBMITTED SAVED CLAIMS</b></h1>
                        </div>
                        <div style="float: right; padding-right: 20px; padding-top: 5px;">
                            @Html.HiddenFor(model => model.PagingInfo.ItemsPerPage)
                            @Html.HiddenFor(model => model.SortColumn)
                            @Html.HiddenFor(model => model.SortAscending)
                            @Html.HiddenFor(model => model.PagingInfo.CurrentPage)
                            @Html.HiddenFor(model => model.PagingInfo.TotalPages)
                           
                        </div>
                    </div>
                    @* [DataMember]
            public int RiskClaim_Id { get; set; }
            [DataMember]
            public string ClaimType { get; set; }
            [DataMember]
            public string ClaimNumber { get; set; }
            [DataMember]
            public DateTime IncidentDate { get; set; }
            [DataMember]
            public string SavedBy { get; set; }
            [DataMember]
            public DateTime DateSaved { get; set; }*@

                    <!--heading div ends here-->
                    <div class="result_container headers">
                        <div class="row-1 left">
                            <!--row div starts here-->
                            <div class="col-1 w232">
                                <h4><a href="javascript:void(0)" class="SortCol" id="CLAIMNUMBER" title="Claim Number">Claim Number<i class="icon-small up-arrow"></i></a> </h4>
                            </div>
                            <div class="col-2 w210">
                                <h4><a href="javascript:void(0)" class="SortCol" id="CLAIMTYPE" title="Claim Number">Claim Type<i class="icon-small up-arrow"></i></a> </h4>
                            </div>
                            <div class="col-2 w210">
                                <h4><a href="javascript:void(0)" class="SortCol" id="INCIDENTDATE" title="Claim Number">Incident Date<i class="icon-small up-arrow"></i></a> </h4>
                            </div>
                            <div class="col-3 w210">
                                <h4><a href="javascript:void(0)" class="SortCol" id="SAVEDBY" title="Claim Number">Saved By<i class="icon-small up-arrow"></i></a> </h4>
                            </div>
                            <div class="col-3 w210">
                                <h4><a href="javascript:void(0)" class="SortCol" id="DATESAVED" title="Claim Number">Date Saved<i class="icon-small up-arrow"></i></a> </h4>
                            </div>
                            <div class="col-7">
                                <h4><i class="icon-small up-arrow"></i>Actions</h4>
                            </div>
                        </div>
                        <!--row div ends here-->
                        @* Dropdown div starts here*@

                        @{
                            int RowNum = 0;

                        }
                        @foreach (ExWebsiteSingleClaim singleClaim in Model.OutstandingClaimsList)
                        {
                            RowNum += 1;

                            <div class="row-2 border_bottom_solid-1  red left">
                                @*row-2 div starts here*@
                                <div class="col-1 w232 paddingleft_24">
                                    <h4>@singleClaim.ClaimNumber</h4>
                                </div>
                                <div class="col-2 w210">
                                    <h4>@singleClaim.ClaimType</h4>
                                </div>
                                <div class="col-3 w210">
                                    <h4>@Html.Label(singleClaim.IncidentDate.ToShortDateString())</h4>
                                </div>
                                <div class="col-4 w210">
                                    <h4>@singleClaim.SavedBy</h4>
                                </div>
                                <div class="col-5 w210">
                                    <h4>@singleClaim.DateSaved</h4>
                                </div>
                                <div class="col-7">
                                    <i data-field="action_event-@RowNum" class="icon-small action-arrow marginleft_80">
                                    </i></div>
                                

                                <div id="action_event-@RowNum" class="dropdownlist action_event_right action_dropdowncontainer border-radius white_bg w186 right display_none">
                                    <div class="action_event_strip"></div>
                                    <div class="left"> <a href="#"><i class="icon-large edit left"></i> <strong class="alignleft paddingleft_8 margintop_5 EditSavedClaim" id="@singleClaim.RiskClaim_Id">Edit Saved Claim</strong> </a></div>
                                    <div class="left"><a href="#"><i class="icon-large delete left"></i><strong class="alignleft paddingleft_8 margintop_5 DeleteSavedClaim" id="@singleClaim.RiskClaim_Id">Delete Saved Claim</strong></a></div>
                                </div>
                            </div>

                        }

                    </div>
                    <div id="PagingLinks" class="page_navigation marginleft_570 left"> 
                        <!--proceedings_navigation div starts here-->
                        <div class="left"> <a href="#" class="pageprev"><i class="icon-small prev_arrow"></i></a> </div>
                            
                        <div class="text left">
                            <p> @Html.PageLinks(Model.PagingInfo, x => Url.Action("OutstandingClaims", new {page = x})) </p>
                        </div>

                        <div class="left"> <a href="#" class="pagenext"><i class="icon-small next_arrow"></i></a> </div>
                    </div>
                    @* proceedings_navigation div ends here*@
                </div>
            </div>
            @* span18 div ends here*@
        </div>
        
        
    </div>
<div id="dialog-confirm_del" title="Delete Saved Claim?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This claim will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>