﻿@model KeoghsClientSite.Models.SingleClaim.PolicyHolderCommercialViewModel
@{ 
    Layout = null; 
} 

@using (Ajax.BeginForm("PolicyHolderCommercialView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "PolicyHolderCommercialForm" }))
{


     <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->

           @Html.ValidationSummary()
            
            <div class="rows left">
                   <div class="cols-1"> <!--col-1 div starts here-->
                
                <div class="row"> <!--row div starts here-->
                       
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.Organisation.Name) </b></p>
                  </div>
                       <div class="col-2">

                            @Html.TextBoxFor(model => model.Organisation.Name,new { @class = "TextBox179px" })

                  </div>
               </div>
                <!--row div ends here-->
                
                <div class="row"> <!--row div starts here-->
                       <div class="col-1">
                    <p><b>@Html.LabelFor(model => model.Organisation.RegisteredNumber) </b></p>
                  </div>
                       <div class="col-2">
                           @* <input name="" type="text">*@
                            @Html.TextBoxFor(model => model.Organisation.RegisteredNumber,new { @class = "TextBox179px" })
                  </div>
               </div>
                <!--row div ends here-->
               
                
                
              </div>
                   <!--cols-2 div ends here--> 
                   
                 </div>
            <!--rows div ends here--> 
            
          </div>
    
    
    @Html.EditorFor(model => model.Address);
    @Html.EditorFor(model => model.BankAccount);
    @Html.EditorFor(model => model.PaymentCard);
    @Html.EditorFor(model => model.OrganisationAdditionalInfo);
    
           
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="PolicyHolderPrevButton" href="#" class="PolicyHolderPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a id="PolicyHolderNextButton" href="#" class="PolicyHolderNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
       </div>
        <!--heading div ends here--> 
    
}

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}