﻿
@{ 
    Layout = null; 
} 

@using (Ajax.BeginForm("SubmitResultsView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "ResultsForm" }))
{
         
        <!--heading div ends here-->
            <div class="resultsexpanded_container left"> 
            <!--resultsexpanded_container div starts here-->
            
            <div class="rows left">
                   <!--rows div starts here--> 
                
                 <div class="cols-1">  <!--cols-1 div starts here--> 
             
                       <div class="row left"> <!--row div starts here-->
                             <div class="col-1">
                                <i class="icon-x-large errorsmall"></i>
                             </div>
           
                              <div class="col-2"> <p><b>Claim Number </b></p>
                              </div>
                              <div class="col-3"> <p>MOT0019974/AB </p> 
                              </div>
                     
                               <div class="col-2"> <p><b>Policy Number</b> </p>
                               </div>
                               <div class="col-3"> <p>POL556697 </p> 
                                 </div>
               
                                <div class="col-2"> <p> <b>Incident Date</b> </p></div>
                               <div class="col-3"> <p> MOT0019974/AB </p> </div>
                                <div class="col-2"> <p> <b>Key Attractor Count </b> </p></div>
                               <div class="col-3 margintop_3"> <p> 14</p> </div>
               
                     </div><!--row div starts here-->
             

                 </div> <!--cols-1 div ends here--> 
             
             
                 <div class="cols-2">  <!--cols-2 div starts here--> 
             
                   <div class="row left"> <!--row div starts here-->
           
           
                  <div class="col-2"> <p><b>Reserve</b></p>
                  </div>
                   <div class="col-3"> <p>£5600.00</p> 
                     </div>
                     
                          <div class="col-2"> <p><b>Payment</b> </p>
                          </div>
                   <div class="col-3"> <p>£647.50 </p> 
                     </div>
               
                    <div class="col-2"> <p> <b>Upload Date/Time</b> </p></div>
                   <div class="col-3"> <p>01/12/2013</p> </div>
             
               
                 </div><!--row div starts here-->
             
                 </div> <!--cols-1 div ends here--> 
             
            </div>
            <!--rows div ends here--> 
            
            
            
            <div class="resultsinvolvement_container left">  <!-- resultsinvolvement_container div starts here-->
            
            <div class="row  border_bottom_solid-1 left">  <!--rows div starts here-->
            <div class="col-1"><b>Involvement </b></div>
            <div class="col-2"><b>Details </b></div>
            </div> <!--rows div ends here--> 
            
             <div class="row border_bottom_dashed left">  <!--rows div starts here-->
            <div class="col-1"><p>Person</p></div>
            <div class="col-2"><p>A message relating to the person and why they are flagged as a risk</p>
              <p> Another message relating to the same person and why they are flagged as a risk </p>
            </div>
            </div> <!--rows div ends here--> 
            
            
            <div class="row border_bottom_dashed left">  <!--rows div starts here-->
            <div class="col-1"><p>Vehicle</p></div>
            <div class="col-2"><p>A message relating to the person and why they are flagged as a risk</p>
              <p> Another message relating to the same person and why they are flagged as a risk </p>
            </div>
            </div> <!--rows div ends here--> 
            
            
            <div class="row border_bottom_dashed left">  <!--rows div starts here-->
            <div class="col-1">
              <p>Third Party <br>
                Vehicle 1</p></div>
            <div class="col-2"><p>A message relating to the person and why they are flagged as a risk</p>
              <p> Another message relating to the same person and why they are flagged as a risk </p>
            </div>
            </div> <!--rows div ends here--> 
            
            
            <div class="row border_none left">  <!--rows div starts here-->
            <div class="col-1">
              <p>Third Party<br>
Vehicle Driver</p></div>
            <div class="col-2"><p>A message relating to the person and why they are flagged as a risk</p>
              <p> Another message relating to the same person and why they are flagged as a risk </p>
            </div>
            </div> <!--rows div ends here--> 
            
            
            
            
            <div class="row margintop_50 left">
            
      
            <div class="request left"> <a href="#" class="ResultsPreviousButton"><i class="icon-medium-large resultlevel-1 left"><strong class="left">1</strong></i> 
            <b class="left"> Request Level 1 <br>
Report </b> </a>
             
               </div>
            <div class="request left"><a href="#"> <i class="icon-medium-large resultlevel-2 left"><strong class="left">2</strong></i><b class="left">Request Level 1 <br>
              Report </b> </a> </div>
              
              <div class="request left"> <a href="#"><i class="icon-medium-large results_callback left"></i> <b class="left">Request 
                Callback <br>
                from Keoghs </b> </a> </div>
              
              
                 <div class="edit left"><a href="#"><i class="icon-small summaryedit left"></i> <b class="left"><b>Edit </b>  </a></div>
              
            
            </div>
            
            </div><!-- resultsinvolvement_container div ends here-->
            
          </div>
               <!--resultsexpanded_container div ends here-->
               
             
    
     
}