﻿@model KeoghsClientSite.Models.SingleClaim.SupportingInvolvementsViewModel
@{ 
    Layout = null; 
} 

@using (Ajax.BeginForm("SupportingInvolvements", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "SupportingInvolvementsForm" }))
{

      <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->

            @Html.ValidationSummary()


           @Html.EditorFor(model => model.OrganisationInvolvement)

     </div>
    
    @Html.EditorFor(model => model.Address);
    @Html.EditorFor(model => model.Vehicle);
    @Html.EditorFor(model => model.VehicleAdditionalInfo);
    @Html.EditorFor(model => model.AdditionalInfo);
    @Html.HiddenFor(model => model.NumberSupportingInvolvements);
    @Html.HiddenFor(model => model.CurrentSupportingInvolvement);
    @Html.HiddenFor(model => model.SupportingInvolvementsType);
    @Html.HiddenFor(model => model.ParentID);
    @Html.HiddenFor(model => model.VehicleID);
    
     <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="SupportingInvolvementsPrevButton" href="#" class="SupportingInvolvementsPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a id="SupportingInvolvementsNextButton" href="#" class="SupportingInvolvementsNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
       </div>
        <!--heading div ends here--> 
}

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}