﻿@model KeoghsClientSite.Models.SingleClaim.ThirdPartyDriverViewModel
@{ 
    Layout = null; 
} 

 @using (Ajax.BeginForm("SubmitThirdPartyDriverView", "SingleClaim",null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    },new { id = "ThirdPartyDriverForm" }))
    {


   <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->
            
         @Html.ValidationSummary()

         @Html.EditorFor(model => model.PersonInformation)
            
          </div>
     
        @Html.EditorFor(model => model.Address);
               
        @Html.EditorFor(model => model.BankAccount);
        @Html.EditorFor(model => model.PaymentCard);
        @Html.EditorFor(model => model.AdditionalInfo);
     
        @Html.HiddenFor(model => model.PreviousPage)
        @Html.HiddenFor(model => model.NumberOfVehicles)
        @Html.HiddenFor(model => model.CurrentVehicle)
             @Html.HiddenFor(model => model.VehicleID)
         
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="ThirdPartyDriverPrevButton" href="#" class="ThirdPartyDriverPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a id="ThirdPartyDriverNextButton" href="#" class="ThirdPartyDriverNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
             </div>
        <!--heading div ends here--> 
     
 }

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}