﻿
@{ 
    Layout = null; 
} 

 @using (Ajax.BeginForm("SubmitUploadProgressView", "SingleClaim",null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    },new { id = "UploadProgressForm" }))
    {


   <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->
            
         <div class="aligncenter paddingtop_12 paddingbottom_10"> <h2> UPLOAD IN PROGRESS </h2>
         <p>&nbsp;</p>
       </div>
       
       <div class="aligncenter paddingtop_12 paddingbottom_30"> <i class="icon-x-large loading"> </i> <h2> LOADING</h2>
      
        
       </div>
       
       <div class="aligncenter paddingbottom_15"> <h2> Please do not navigate away from this page </h2> </div>
            
          </div>
     
       
         
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a href="#" class="UploadProgressPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a href="#" class="UploadProgressNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
             </div>
        <!--heading div ends here--> 
     
 }