﻿@model KeoghsClientSite.Models.SingleClaim.WitnessViewModel
@{ 
    Layout = null; 
} 

@using (Ajax.BeginForm("GetWitnessView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "WitnessForm" }))
{

      <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->

           @Html.ValidationSummary()
            
     @Html.EditorFor(model => model.PersonInformation)
            
          </div>
    

    @Html.EditorFor(model => model.Address);
    @Html.EditorFor(model => model.AdditionalInfo);

    @Html.HiddenFor(model => model.CurrentWitness);
    @Html.HiddenFor(model => model.NumberOfWitnesses);
   
    @Html.HiddenFor(model => model.PreviousPage);
               
            
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="WitnessPrevButton" href="#" class="WitnessPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a id="WitnessNextButton" href="#" class="WitnessNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
       </div>
        <!--heading div ends here--> 
}

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}