﻿
@model KeoghsClientSite.Models.SingleClaim.OutstandingClaimsListViewModel
@{
    ViewBag.Title = "OutstandingClaims";
}

@{
    Html.RenderPartial("_UploadMenuSingleClaim");
}

@section scripts{

    <script src="js/html5.js" type="text/javascript"></script>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/niceforms.js"></script>
    <script src="~/Scripts/outstandingClaims.js"></script>
}


<script type="text/javascript">
    $(document).ready(function () {
        if (window.PIE) {
            $('.border-radius,.styled-button,.action_border,.blue_bg, .welcome, .action-arrow, .menu_navigation li a').each(function () {
                PIE.attach(this);
            });
        }

        $('.col-7').each(function () {
         
            $(this).find('i').click(function () {
                var clickedDivId = $(this).attr('data-field')
                $('.dropdownlist').each(function () {
                    if ($(this).css('display') == 'block')
                        var divVisibleId = $(this).attr('id');
                    if (clickedDivId != divVisibleId) {
                        $(this).css('display', 'none');
                        $('i[data-field*="' + divVisibleId + '"]').removeClass('action_border').removeClass('downarrowblue');
                    }
                })
                if ($('#' + $(this).attr('data-field')).css('display') == 'none') {
                    $('#' + $(this).attr('data-field')).css('display', 'block');
                    $(this).addClass('action_border').addClass('downarrowblue');
                }
                else {
                    $('#' + $(this).attr('data-field')).css('display', 'none');
                    $(this).removeClass('action_border').removeClass('downarrowblue');
                }
            });
        });

    });

    function divShowHide(ListId, divId, ArrowUp, ArrowDown) {
        if ($('#' + divId).css('display') == 'block') {
            $('#' + divId).css('display', 'none');
            $('#' + ListId).addClass(ArrowDown);
            $('#' + ListId).removeClass(ArrowUp);
        }
        else {
            $('#' + divId).css('display', 'block');
            $('#' + ListId).addClass(ArrowUp);
            $('#' + ListId).removeClass(ArrowDown);
        }
        return false;
    }

</script>

@using (Html.BeginForm("OutstandingClaims", "SingleClaim", FormMethod.Post, new {id = "OutstandingClaimsForm"}))
    {
    Html.RenderPartial("_OutstandingClaims",Model);
    }


                        
                    
