/*@font-face {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	src: url(../fonts/montserrat-regular-webfont.woff) format('woff');
	src: url(../fonts/montserrat-bold-webfont.woff) format('woff');
}*/

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
}
body {
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
    overflow-y: scroll;
    overflow-x: hidden;
}

.home_page {
	background: url(../images/full_bg.jpg) no-repeat 50% 65px;
}
body, html {
	height: 100%;
}
a, img {
	border: 0;
	text-decoration: none;
	cursor: pointer;
	background: none;
}
.left, .alignleft {
	float: left;
	display: inline;
}
.right, .alignright {
	float: right;
	display: inline;
}
.aligncenter {
	text-align: center !important;
}
article, aside, details, footer, header, menu, nav, section {
	display: block;
}
p, h1, h2, h3, h5, h6 {
	font-size: 12px;
}
h1, h2 {
	font-size: 14px;
}
h4 {
	font-size: 13px;
}
ul li {
	list-style-type: none;
	font-weight: 600;
}
i {
	font-style: normal;
}
input[type="text"] {
	color: #000000;
	outline: none;
	font-size: 12px;
}
.browse {
	background: none;
}
/*Grid System-Start*/
/*
Columns: 18
Column Width: 58px;
Guttering: 10px;
Body padding (left/right of grid system) : 10px;
Total layout width: 1234px; 
*/

.span1 {
	width: 58px;
}
.span2 {
	width: 126px;
}
.span3 {
	width: 194px;
}
.span4 {
	width: 262px;
}
.span5 {
	width: 326px;
}
.span6 {
	width: 398px;
}
.span7 {
	width: 466px;
}
.span8 {
	width: 534px;
}
.span9 {
	width: 602px;
}
.span10 {
	width: 670px;
}
.span11 {
	width: 738px;
}
.span12 {
	width: 806px;
}
.span13 {
	width: 874px;
}
.span14 {
	width: 942px;
}
.span15 {
	width: 1010px;
}
.span16 {
	width: 1078px;
}
.span17 {
	width: 1146px;
}
.span18 {
	width: 1214px;
}
[class*="span"] {
	float:left;
	margin-left: 10px;
}
.container_18 {
	width: 1255px;
	position: relative;
	z-index: 5;
	margin: 0 auto;
	padding-left: 40px;
}
.container_18 .prefix_5 {
	margin-left: 10px !important;
}
.container_18 .suffix_4 {
	margin-left: -10px !important;
}
.container_18 .prefix_4 {
	margin-left: 10px !important;
}
.container_18 .prefix_6 {
	margin-left: 10px !important;
}
.container_18 .suffix_6 {
	margin-left: -5px !important;
}
.row {
	margin-top: 5px;
}
.row:before, .row:after {
	display: table;
	content: ""
}
.row:after {
	clear: both;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.login_page > .container_18 > .content_wrapper, .home_page > .container_18 > .content_wrapper {
	background: none !important;
}

.errorText{
    padding-top:20px;
    color:red;
    }


.errorNormalText{
    padding-top:10px;
    padding-bottom:20px;
	font-size: 12px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
	float: left;
	display: table-cell;
	word-wrap: break-word !important;
}
.cols-1, .cols-2 {
	float: left;
	display: table-cell;
	word-wrap: break-word !important;
}
/*** footer  Starts ***/
footer {
	width: 1080px;
	margin: 630px 0px 0px 0px;
}
.border-radius {
	border-radius: 10px;
	border: solid 1px #ccc;
	background-clip: padding-box;


}
.border-bottom-left-radius {
	border: solid 1px #ccc;
	background-clip: padding-box;
	border-radius: 0px 0px 10px 10px;
}
.border-bottom-right-radius {
	border-radius: 0px 0px 10px 10px;
	border: solid 1px #ccc;
	background-clip: padding-box;
}
.styled-button {
	background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
    margin: 10px 13px 0px 0px;
	color: #fff;
    font-family:Montserrat;
	font-size: 13px;
	padding: 1px 24px 1px 24px;
}



.styled-button:disabled {
	background-color: ghostwhite;
	cursor: not-allowed;
	border-radius: 3px;
	border: 1px solid #005c9f;
	color: black;
	margin: 10px 13px 0px 0px;
	font-size: 13px;
	padding: 1px 25px 1px 25px; 
}

.styled-button-submit {
	background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
	color: #fff;
	margin: 10px 13px 0px 0px;
    font-family:Montserrat;
	font-size: 13px;
    font-weight: bold;
	padding: 0px 21px 0px 19px;
}

.styled-button-browse {
    font-family: Montserrat;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #808080;
    color: #000;
    margin: 10px 13px 0px 0px;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
}
.styled-button-filter {
    background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
	color: #fff;
	margin: 10px 13px 0px 0px;
    font-family:Montserrat;
	font-size: 13px;
    font-weight: bold;
	padding: 0px 20px 0px 19px;
}

.styled-button-search {
    background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
	color: #fff;
	margin: 10px 13px 0px 0px;
    font-family:Montserrat;
	font-size: 13px;
    font-weight: bold;
	padding: 0px 15px 0px 15px;
}

.styled-button-reset {
	font-family:Montserrat;
	background-color: #ffffff;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
	color: #000;
	margin: 10px 10px 0px 0px;
	font-size: 13px;
    font-weight: bold;
	padding: 1px 20px 1px 19px;
}

.styled-button-clear {
    font-family:Montserrat;
	background-color: #ffffff;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
	color: #000;
	margin: 10px 13px 0px 0px;
	font-size: 13px;
    font-weight: bold;
	padding: 0px 25px 0px 25px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}

.styled-button-filter {
    background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #005c9f;
	color: #fff;
	margin: 10px 13px 0px 0px;
	font-size: 13px;
    font-weight: bold;
	padding: 1px 20px 1px 20px;
}





/*.styled-button-filter {
	background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #005c9f;
	color: #fff;
	margin: 10px 13px 0px 0px;
	font-size: 13px;
	padding: 1px 16px 1px 16px;
}*/
.blue {
	color: #005c9f;
}
.green_color {
	color: #99cc33;
}
.red_color {
	color: #cc3333;
}
.blue_bg {
	background-color: rgb(239, 248, 252);
	border-radius: 10px 10px 0px 0px;
	border: solid 0px #EFF8FC;
	opacity: 0.8;
	filter: alpha(opacity=80) /* IE8 Fix */
}
.grey_bg {
	background-color: #e6e6e6 !important;
}
.darkblue_bg {
	background-color: #005c9f;
}
.border_radius_none {
	border-radius: 0px 0px 0px 0px;
}
.drop-shadow {
	box-shadow: 0 0 18px #ccc !important;
}
.red {
	color: #cc3333 !important;
}
.orange {
	color: #ff9933 !important;
}
.green {
	color: #99cc33 !important;
}
.keoghs {
    color: #008BB5 !important;
}

.error {
    color: black !important;
}

.notLatest {
    color: grey !important;
}

.border_bottom {
	border-bottom: dashed 1px #ccc;
}
.border_bottom_blue {
	border-bottom: dashed 1px #005c9f;
}
.border_top_dashed {
	border-top: dashed 1px #ccc;
}
.border_bottom_dashed {
	border-bottom: dashed 1px #ccc;
}
.border_right_solid {
	border-right: solid 1px #ccc;
}
.border_bottom_solid-1 {
	border-bottom: solid 1px #ccc;
}
.border_bottom_solid-2 {
	border-bottom: solid 2px #ccc;
}
.border_bottom_solid-3 {
	border-bottom: solid 3px #ccc;
}
.border_top_solid-3 {
	border-top: solid 3px #ccc;
}
.white_bg {
	background-color: #ffffff;
}
.border_none {
	border: none !important;
}
.display_none {
	display: none;
}
.display_block {
	display: block;
}
.white_color {
	color: #FFFFFF;
}
.background_none {
	background: none !important;
}
.row > .span5 {
	margin: 0px 0px 0px 0px;
}
.span6 > .span6 {
	margin: 0px 0px 0px 0px;
}
.span7 > .span7 {
	margin: 0px 0px 0px 0px;
}
.webpart {
	border: 2px solid rgba(0, 0, 0, 0.1);
}
.content_wrapper {
	position: absolute;
	z-index: 1;
	height: auto;
	background: url(../images/full_bg.jpg) no-repeat 0 0 #fff;
	width: 1239px;
	padding: 0px 0px 40px 0px;
	margin-left: -11px;
	margin-top: -10px;
}
.margintop_3 {
	margin-top: 3px;
}
.margintop_5 {
	margin-top: 5px;
}
.margintop_10 {
	margin-top: 10px;
}
.margintop_7 {
	margin-top: 7px !important;
}
.margintop_15 {
	margin-top: 15px;
}
.margintop_31 {
	margin-top: 31px !important;
}
.margintop_45 {
	margin-top: 45px !important;
}
.margintop_32 {
	margin-top: 32px !important;
}
.margintop_12 {
	margin-top: 12px !important;
}
.margintop_50 {
	margin-top: 50px !important;
}
.marginbottom_20 {
	margin-bottom: 20px;
}
.margintop_210 {
	margin-top: 210px !important;
}
.marginleft_50 {
	margin-left: 50px !important;
}
.marginleft_60 {
	margin-left: 60px !important;
}
.marginleft_20 {
	margin-left: 20px !important;
}
.marginleft_12 {
	margin-left: 12px !important;
}
.marginleft_17 {
	margin-left: 17px !important;
}

.marginleft_3 {
	margin-left: 3px !important;
}
.marginleft_5 {
	margin-left: 5px !important;
}
.marginleft_570 {
	margin-left: 570px !important;
}
.marginleft_33 {
	margin-left: 33px !important;
}
.marginbottom_10 {
	margin-bottom: 10px !important;
}
.marginleft_798 {
	margin-left: 798px !important;
}
.marginleft_867 {
	margin-left: 867px !important;
}
.margintop_96 {
	margin-top: 96px !important;
}
.margintop_155 {
	margin-top: 155px !important;
}
.margintop_35 {
	margin-top: 35px !important;
}
.margintop_268 {
	margin-top: 268px !important;
}
.margintop_328 {
	margin-top: 328px !important;
}
.margintop_388 {
	margin-top: 388px !important;
}
.margintop_442 {
	margin-top: 442px !important;
}
.margintop_502 {
	margin-top: 502px !important;
}
.marginleft_801 {
	margin-left: 801px !important;
}
.marginleft_950 {
	margin-left: 950px !important;
}
.marginleft_80 {
	margin-left: 80px !important;
}
.paddingtop_3 {
	padding-top: 3px !important;
}
.paddingtop_5 {
	padding-top: 5px !important;
}
.paddingtop_10 {
	padding-top: 10px !important;
}
.paddingbottom_10 {
	padding-bottom: 10px !important;
}
.paddingleft_24 {
	padding-left: 24px !important;
}
.paddingbottom_15 {
	padding-bottom: 15px !important;
}
.paddingbottom_30 {
	padding-bottom: 30px !important;
}
.paddingtop_12 {
	padding-top: 12px !important;
}
.paddingtop_25 {
	padding-top: 25px !important;
}
.paddingleft_10 {
	padding-left: 10px !important;
}
.paddingleft_6 {
	padding-left: 6px !important;
}
.paddingleft_8 {
	padding-left: 8px !important;
}
.paddingright_150 {
	padding-right: 150px;
}
.paddingleft_75 {
	padding-left: 75px !important;
}
.paddingright_75 {
	padding-right: 73px;
}

.paddingright_48 {
	padding-right: 48px;
}

.w252 {
	width: 252px !important;
}
.w215 {
	width: 215px !important;
}
.w183 {
	width: 183px !important;
}
.w550 {
	width: 550px !important;
}
.w540 {
	width: 540px !important;
}
.w575 {
	width: 575px !important;
}
.w740 {
	width: 740px !important;
}
.w227 {
	width: 227px !important;
}
.w110 {
	width: 110px !important;
}
.w70 {
	width: 70px !important;
}
.w1010 {
	width: 1010px;
}
.w985 {
	width: 985px;
}
.w806 {
	width: 806px;
}
.w186 {
	width: 186px !important;
}
.w190 {
	width: 190px !important;
}
.w468 {
	width: 468px !important;
}
.h970 {
	height: 970px;
}
.h674 {
	height: 674px;
}
.h765 {
	height: 765px;
}
.w655 {
	width: 655px !important;
}
.w186 {
	width: 186px !important;
}
.w386 {
	width: 386px !important;
}
.w738 {
	width: 738px !important;
}
.w388 {
	width: 388px !important;
}
.w396 {
	width: 396px !important;
}
.w366 {
	width: 366px !important;
}
.w346 {
	width: 346px !important;
}
.w326 {
	width: 326px !important;
}
.w350 {
	width: 350px !important;
}
.w370 {
	width: 370px !important;
}
.w783 {
	width: 783px !important;
}
.w120 {
	width: 120px !important;
}
.w318 {
	width: 318px !important;
}
.w1214 {
	width: 1214px !important
}
.w232 {
	width: 232px !important;
}
.w210 {
	width: 210px !important;
}
.w262 {
	width: 262px !important;
}
.w36 {
	width: 36px !important;
}
.w35 {
	width: 35px !important;
}
.w140 {
	width: 140px !important;
}

.ui-widget, .ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center; /* left/center/right */
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

