
    .ui-widget, .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 0.8em;
    }
    .ui-dialog .ui-dialog-buttonpane {
     text-align: center; /* left/center/right */
    }


#r{
    /*-moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;*/
    /*border-radius: 80px/80px;
    border:solid 21px #f00;*/ 
    width:100px;
    height:100px;
    -webkit-animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -ms-animation: rotation 2s linear infinite;
    
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
        

 #napkeeCanvas {
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .napkeeComponent {
            position: absolute;
            white-space: nowrap;
        }

        .napkeeRelativeComponent {
            position: absolute;
            white-space: nowrap;
        }
        #napClaimNumber {
            left: 25px;
            top: 20px;
            width: 205.70000000000002px;
            height: 25px;
            z-index: 13;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napIncidentDate {
            left: 247px;
            top: 20px;
            width: 232.10000000000002px;
            height: 25px;
            z-index: 12;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napUploadedDate {
            left: 473px;
            top: 20px;
            width: 228.8px;
            height: 25px;
            z-index: 15;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        
        #napRule{
	left:17px;
	top:36px;
	width:1009px;
	height:1px;
	z-index:17;
	background-color:#000000;
	opacity:1.0;
	filter:alpha(opacity=100);
}

        #napBorder {
            left: 0px;
            margin-top: 20px;
            width: 1009px;
            height: 286px;
            z-index: 0;
            background-color: #FFFFFF;
            opacity: 1.0;
            filter: alpha(opacity=100);
            border: 1px solid #000;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            position: relative;
        }

        #napFirstName {
            left: 10px;
            top: 30px;
            width: 81.4px;
            height: 25px;
            z-index: 1;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napLastName {
            left: 10px;
            top: 60px;
            width: 78.10000000000001px;
            height: 25px;
            z-index: 2;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napDob {
            left: 309px;
            top: 30px;
            width: 99.00000000000001px;
            height: 25px;
            z-index: 3;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napNINumber {
            left: 309px;
            top: 60px;
            width: 85.80000000000001px;
            height: 25px;
            z-index: 4;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napDrivingLicenceNo {
            left: 309px;
            top: 90px;
            width: 138.60000000000002px;
            height: 25px;
            z-index: 5;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napHouseName {
            left: 10px;
            top: 30px;
            width: 90.2px;
            height: 25px;
            z-index: 6;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napHouseNo {
            left: 10px;
            top: 60px;
            width: 88px;
            height: 25px;
            z-index: 7;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napStreet {
            left: 309px;
            top: 30px;
            width: 51.7px;
            height: 25px;
            z-index: 8;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napLocality {
            left: 309px;
            top: 60px;
            width: 58.300000000000004px;
            height: 25px;
            z-index: 9;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napTown {
            left: 309px;
            top: 90px;
            width: 40.7px;
            height: 25px;
            z-index: 10;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napPostcode {
            left: 309px;
            top: 120px;
            width: 73.7px;
            height: 25px;
            z-index: 11;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napInputHouseName {
            left: 136px;
            top: 25px;
            width: 144px;
            z-index: 12;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputHouseNo {
            left: 136px;
            top: 55px;
            width: 144px;
            z-index: 13;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputStreet {
            left: 440px;
            top: 25px;
            width: 190px;
            z-index: 14;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputLocality {
            left: 440px;
            top: 55px;
            width: 190px;
            z-index: 15;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputTown {
            left: 440px;
            top: 85px;
            width: 190px;
            z-index: 16;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputPostcode {
            left: 440px;
            top: 115px;
            width: 190px;
            z-index: 17;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputFirstName {
            left: 136px;
            top: 25px;
            width: 144px;
            z-index: 18;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputLastName {
            left: 136px;
            top: 55px;
            width: 144px;
            z-index: 19;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napVehicleReg {
            left: 10px;
            top: 30px;
            width: 91.30000000000001px;
            height: 25px;
            z-index: 20;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napVehilceVIN {
            left: 10px;
            top: 60px;
            width: 34.1px;
            height: 25px;
            z-index: 21;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napInputDob {
            left: 440px;
            top: 25px;
            width: 144px;
            z-index: 22;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputNINumber {
            left: 440px;
            top: 55px;
            width: 144px;
            z-index: 23;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputDrivingLicenceNo {
            left: 440px;
            top: 85px;
            width: 144px;
            z-index: 24;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputVehicleReg {
            left: 200px;
            top: 25px;
            width: 144px;
            z-index: 25;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInputVehicleVin {
            left: 200px;
            top: 55px;
            width: 144px;
            z-index: 26;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
        }

        #napInvolvement {
            left: 10px;
            top: 90px;
            width: 86.9px;
            height: 25px;
            z-index: 27;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napInputInvolvement {
            left: 135px;
            top: 90px;
            width: 158.4px;
            height: 25px;
            z-index: 28;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            color: #000000;
        }

        #napDatabaseCheckboGroup {
            left: 200px;
            top: 3px;
            z-index: 29;
            width: 113px;
            height: 25px;
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
        }

        #napDatabaseSelectText {
            left: 10px;
            top: 30px;
            width: 186px;
            height: 100px;
            z-index: 30;
            font-size: 12px;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            text-align: left;
            color: #000000;
            white-space: normal;
        }

        #napHeaderAddress {
            left: 5px;
            top: 130px;
            width: 638px;
            height: 16px;
            z-index: 0;
            background-color: #6fa8dc;
            opacity: 1.0;
            filter: alpha(opacity=100);
            border: 0px solid #000;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
        }

        #napAddressDetails {
            left: 5px;
            top: 1px;
            width: 91.30000000000001px;
            height: 20px;
            z-index: 1;
            font-size: 10px;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            text-align: left;
            color: #fff;
        }

        #napHeaderPersonalDetails {
            left: 5px;
            top: 10px;
            width: 639px;
            height: 16px;
            z-index: 0;
            background-color: #6fa8dc;
            opacity: 1.0;
            filter: alpha(opacity=100);
            border: 0px solid #000;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            position: relative;
        }

        #napPersonalDetails {
            left: 5px;
            top: -1px;
            width: 92.4px;
            height: 20px;
            z-index: 1;
            font-size: 10px;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            text-align: left;
            color: #FFFFFF;
            position: relative;
        }

        #napHeaderVehicle {
            left: 651px;
            top: 10px;
            width: 352px;
            height: 16px;
            z-index: 0;
            background-color: #6fa8dc;
            opacity: 1.0;
            filter: alpha(opacity=100);
            border: 0px solid #000;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
        }

        #napVehicleDetails {
            left: 5px;
            top: 2px;
            width: 92.4px;
            height: 20px;
            z-index: 1;
            font-size: 10px;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            text-align: left;
            color: #FFFFFF;
        }

        #napHeaderDatabase {
            left: 651px;
            top: 130px;
            width: 352px;
            height: 16px;
            z-index: 0;
            background-color: #6fa8dc;
            opacity: 1.0;
            filter: alpha(opacity=100);
            border: 0px solid #000;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
        }

        #napDatabaseSelection {
            left: 5px;
            top: 2px;
            width: 108.9px;
            height: 20px;
            z-index: 1;
            font-size: 10px;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            text-align: left;
            color: #FFFFFF;
        }
        .cue-button-submit {
	    background-color: #005c9f;
	    cursor: pointer;
	    border-radius: 3px;
	    border: 1px solid #005c9f;
	    color: #fff;
	    margin: 10px 13px 0px 0px;
        font-size:8px;
	    padding: 1px 16px 1px 16px;
        }

        .cue-report-submit{
        background-color: #005c9f;
	    cursor: pointer;
	    border-radius: 3px;
	    border: 1px solid #005c9f;
	    color: #fff;
	    margin: 10px 13px 0px 0px;
        font-size:8px;
	    padding: 1px 16px 1px 16px;
        }

        #submitCUE{
             margin-left: 860px;
        }