
.Title {
    line-height: 107%;
    font-size: 16pt;
    font-family: Calibri Light, sans-serif;
    color: #2e74b5;
}

.Title2 {
        line-height: 107%;
        font-size: 13pt;
        font-family: Calibri Light, sans-serif;
        color: #2e74b5;
    }

.Header1 {
    font-size: 36pt;
    font-family: Calibri Light, sans-serif;
    color: #2e74b5;
    text-decoration: underline;
    position: absolute; 
    top: 220px; 
    left: 0; 
    width: 100%; 
}

.HeaderText {
    font-size: 16pt;
    font-family: Calibri Light, sans-serif;
    color: #2e74b5;
    position: absolute; 
    top: 280px; 
    left: 0; 
    width: 100%; 
}

.image { 
   position: relative; 
   padding-top: 200px;
    
}

.imageText { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

.ColumnHeader {
    border: 0px solid #2e74b5;
    font-size: 10pt;
    font-family: Calibri Light, sans-serif;
    color: #FFFFFF;
    background-color: #2e74b5;
    table-layout: inherit;
    border-spacing: inherit;
    border:1px solid black;
    text-align: left;
}

.ColumnHeader2 {
    border: 0px solid #6eade6;
    font-size: 10pt;
    font-family: Calibri Light, sans-serif;
    color: black;
    background-color: #6eade6;
    table-layout: inherit;
    border-spacing: inherit;
    border:1px solid black;
    text-align: left;
}

.ColumnHeader3 {
    border: 0px solid #83c3fe;
    font-size: 8pt;
    font-family: Calibri Light, sans-serif;
    color: black;
    background-color: #83c3fe;
    table-layout: inherit;
    border-spacing: inherit;
    border:1px solid black;
    text-align: left;
}

.ColumnRow {
    border: 0px solid #5b9bd5;
    font-size: 10pt;
    font-family: Calibri Light, sans-serif;
    color: black;
    background-color: #FFFFFF;
    table-layout: inherit;
    border-spacing: inherit;
    text-align: left;
    border:1px solid black;
}

.ColumnRow2 {
    border: 0px solid #5b9bd5;
    font-size: 10pt;
    font-family: Calibri Light, sans-serif;
    color: black;
    background-color: #FFFFFF;
    table-layout: inherit;
    border-spacing: inherit;
    text-align: center;
    border:1px solid black;
}

/*.page {
	border: 1px solid #000000;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	outline: black solid;
    box-shadow: 5px 5px 5px #888888;
    background-image: url(../Images/login_bg.jpg); 
    background-repeat:no-repeat;
    background-size:contain;
}*/

.keoghsImage {
    float: left;
    padding-left: 10px;
    padding-top:10px;
}

.adaImage {
    float: right;
    padding-right: 10px;
    padding-top:10px;
    width: 144px;
    height: 50px;
}

.button {
    background-image: url(../Images/Printer.png);
    background-repeat:no-repeat;
    width: 52px;
    height: 52px;   
    border: 1px outset white;
    /*outline: white groove;*/
    box-shadow: 5px 5px 5px #5b5b5b;
    /*padding:10px;*/


}

.fixed{
        position:fixed;
        top: 20px;
        left:20px;
}

.restricted{
        
        color:red;
        text-align:center;
        font-family:Calibri;
}

.footerText {
        color:grey;
        text-align:left;
        font-family:Calibri;
        font-size:small;
}

body {
   background-color: #c3c3c3;
}

#cover {
    background-image: url(../Images/login_bg.jpg);
                    
    background-repeat:no-repeat;
    /*border: 1px outset white;*/
    width: 800px;
    height:1170px;
    margin-left: auto;
    margin-right: auto;
    /*outline: white ridge;*/
    /*box-shadow: 5px 5px 5px #5b5b5b;*/
    padding:10px;
}
                
#fixedPage {
    background-color: white;
    /*border: 1px outset white;*/
    width: 800px;
    height:1170px;
    margin-left: auto;
    margin-right: auto;
    /*outline: white ridge;*/
    /*box-shadow: 5px 5px 5px #5b5b5b;*/
    padding:10px;
}

#page {
    background-color: white;
    /*border: 1px outset white;*/
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /*outline: white ridge;*/
    /*box-shadow: 5px 5px 5px #5b5b5b;*/
    padding:10px;
    /*page-break-after:always;*/
}

#Header { 
    display: none !important; 
}




 


