﻿/*Styles added Keoghs*/
.PageLinks {
 /*margin-left:auto;
 margin-right:auto;*/
 width:65%;
 /*border:solid 1px #a7a7a7;*/
 padding:2px 0px 2px 20px;
 float:left;
}
.pager a {
    text-decoration: underline;
    color: #333333;
    padding:2px 5px 2px 0px;
}
a.pageselected
{
    text-decoration: none;
}
/*Set colour of anchor links in results header*/
.result_container .headers .row-1 a{
	color: #333333;
}
/*.FilterDropdowns {
    width:100px;
    font-size:12px;
}*/
/*.dropdowncol-1, .dropdowncol-2 {
display: table-cell;
    float: left;
    word-wrap: break-word !important;
}
.dropdowncol-1 {
    margin: 0;
    padding: 3px 0 10px;
    width: 45px;
    border:solid 1px #a7a7a7;
}
.dropdowncol-2 {
    margin: 0;
    padding: 3px 0 10px;
    width: 120px;
    border:solid 1px #a7a7a7;
}*/
#uploadedby {
    clear:both;
}
#uploadedby td {
font-size:12px;
}
#FilterUsers {
float:left;
 /*margin-left: -10px;*/
}
#FilterUsers select {
    font-size:12px;
    width: 120px !important;
}
#riskrating {
    /*border:solid 1px #a7a7a7;*/
    clear:both;
}

#filterStatus {
    /*border:solid 1px #a7a7a7;*/
    clear:both;
}

#reportStatus {
    /*border:solid 1px #a7a7a7;*/
    clear:both;
}

#reportsrequested {
    /*border:solid 1px #a7a7a7;*/
}
.DatePickerTextBox {
    position: relative;
    z-index:5; 
}
/*.UploadMessage {
    height: 78px;
    width: 80px;
    display:block;
    padding:20px 0px 17px 0px;
}*/
.transparent {
   /* opacity:0.6;*/
  /* filter:alpha(opacity=60);*/ /* For IE8 and earlier */
}
/* For Action menus */
.action_dropdowncontainer {
	position:relative;
}
/*Wider action menu used on batch upload page*/
.wide_dropdowncontainer {
		position:relative;
	font-size: 13px;
	border: 4px solid #337db2;
	padding: 0px 0px 15px 0px;
	margin: 0px 10px 0px 0px;
	width: 220px!important;
	height: auto;
	z-index:10;
	min-height: 50px
}
.wide_dropdowncontainer a {
	color: #333333;
}
.action_event {
    /*margin: -13px 1px 0 755px;*/
    margin: -8px 32px 0 755px;
}
.action_event_right {
    /*margin: -13px 1px 0 755px;*/
    margin: -8px 41px 0 755px;
}
.action_event_wide {
    /*margin: -13px 1px 0 755px;*/
    margin: -8px 17px 0 755px;
}
#action_event-1 {
    /*border:solid 3px #a7a7a7;*/
}
/*For file upload text box*/
#filetext {
    color: #000000;
    width: 258px;
}
#filehometext {
    color: #000000;
    width: 205px;
}
.bar {
    height: 18px;
    background-color: green;
}
/*For file upload progress, taken from Bootstrap.css */
.progress-striped .bar{background-color:#62c462;background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));background-image:-webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);-webkit-background-size:40px 40px;-moz-background-size:40px 40px;-o-background-size:40px 40px;background-size:40px 40px;}
.progress.active .bar{-webkit-animation:progress-bar-stripes 2s linear infinite;-moz-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite;}
.progress-success .bar{background-color:#5eb95e;background-image:-moz-linear-gradient(top, #62c462, #57a957);background-image:-ms-linear-gradient(top, #62c462, #57a957);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));background-image:-webkit-linear-gradient(top, #62c462, #57a957);background-image:-o-linear-gradient(top, #62c462, #57a957);background-image:linear-gradient(top, #62c462, #57a957);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);}
.progress-success.progress-striped .bar{background-color:#62c462;background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));background-image:-webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);}

.UploadProgress {
    margin-left: auto ;
  margin-right: auto ;

}
/*Overide style css setting to allow claim message div's to grow depending on number of messages to display*/
.plus_container {
height:auto;
}
/*.progress-hide {
margin:0px;
padding:0px;
}
.progress-hide h2 , .progress-hide 
.icon-x-large.loading{
visibility: hidden;
}*/
.loadingicon {
     height: 78px;
    width: 80px;
    /*background-position: 0 0;*/
    /*background-repeat: no-repeat;*/
    display: inline-block;
    vertical-align: middle;
    /*border:solid 2px #a7a7a7;*/
}
#UploadIcon {
/*border:solid 2px #a7a7a7;*/
}
/* Styles for login password text box*/
.login_container input[type="password"] {
    border: 1px solid #A7A7A7;
    padding: 2px 0;
    width: 243px;
}
/*.new_claim_container .forms, select, input[type="password"] {
    color: #000000;
    font-size: 11px;
    margin: 6px 0 0 !important;
    width: 300px;
}*/
input[type="password"] {
    color: #000000;
    font-size: 11px;
     margin: 6px 0 0 !important;
    outline: medium none;
}
/*Login page button style*/
.login_container input[type="submit"] {
    margin: 0;
    position: absolute;
    z-index: 1;
}
/* Icon for setting claim read/unread status */
.icon-large.read-status-read{ 
     width: 47px;
     height:41px;
    background-image: url("../images/Read.jpg"); background-position:10px 0px; 

}
.icon-large.read-status-unread{ 
     width: 49px;
     height:41px;
    background-image: url("../images/Unread.jpg"); background-position:10px 0px; 
    /*border: 1px solid #A7A7A7;*/

}
.action_dropdowncontainer a:link{
    border: none;
    outline: none;
}
.action_dropdowncontainer a:visited{
    border: none;
    outline: none;
}
.action_dropdowncontainer a:hover{
    border: none;
    outline: none;
}
.action_dropdowncontainer a:active{
    border: none;
    outline: none;
}
/*footer on login page */
#LoginFooter {
    width: 840px;
    margin: 20px 0px 0px 0px;
    /*/*border:solid 1px black;*/*/
    float:left;
    clear:both;
    display:inline;
    position:absolute;
    top:325px;
    left:240px;
}

#ErrorFooter {
    width: 840px;
    margin: 20px 0px 0px 0px;
    /*/*border:solid 1px black;*/*/
    float:left;
    clear:both;
    display:inline;
    position:absolute;
    top:225px;
    left:240px;
}
.LoginWarningMessage {
    color:red;
    margin-top:50px;
    font-size:large;
    margin-left:auto;
    margin-right:auto;
    width:780px;
    display:block;
    /*border:solid 1px black;*/
    position:absolute;
    top:50px;
    left:270px;
}
.LoginWarningMessage a {
    color:red;
}
.SiteError {
    width:500px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.SiteError h1 {
    font-size:large;
    }
.sessiontimout {
    text-decoration:underline !important;
    color:blue !important;
}
/*.ui-widget-content a .sessiontimout{
    text-decoration:underline;
    color:blue;
}*/
/*To position dialog box above other layout items*/
.ui-dialog{
z-index:103;
}
.ui-widget-overlay{
z-index:102;
}
/*.ui-dialog-buttonpane { text-align: center; }*/

/*.ui-dialog .ui-dialog-buttonpane { 
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
margin-left:auto;
margin-right:auto;
float:none !important;
width:280px;
}

.ui-dialog .ui-dialog-buttonpane { text-align: center !important; }

.ui-dialog .ui-dialog-buttonpane button { float: none !important; }*/

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none !important;
}
.GeneralError {
color:red;
font-size:large;
}
#SelectedIncidentTimeHours, #SelectedIncidentTimeMinutes {
width:50px;
height:22px;
}