[class^="icon-"],
[class*=" icon-"]
{
   display: inline-block;
   background-repeat: no-repeat;
   vertical-align: middle;
}
.icon-small
{
   width: 21px;
   height: 20px;
}
.icon-large
{
   width: 47px;
   height:33px;
}


.icon-medium-large
{
   width: 51px;
   height:50px;
}
.icon-x-large
{
   width: 80px;
   height: 78px;
}
.icon-xx-large
{
   width: 140px;
   height:110px;
}
.icon-xxx-large
{
   width: 150px;
   height:130px;
}
.icon-small.tabnavigation_arrow{ background-image: url("../images/tab_navigation_arrow.png");}
.icon-large.level-1{ background-image: url("../images/level-1.png"); background-position:12px 0px; }
.icon-large.level-2{ background-image: url("../images/level-2.png"); background-position:12px 0px; }
.icon-x-large.ribbion-redflag { background-image:url("../images/Ribbon-Redflag.png"); background-position:22px 18px;}
.icon-x-large.ribbion-orangeflag { background-image:url("../images/Ribbon-OrangeFlag.png"); background-position:22px 18px;}
.icon-x-large.ribbion-greenflag { background-image:url("../images/Ribon-Greenflag.png"); background-position:22px 18px;}
.icon-large.callback{ background-image: url("../images/Callbackicon.png"); background-position:12px 0px; }
.icon-x-large.under-construction { background-image: url("../images/under_constructionicon.png");}
.icon-xx-large.claiminput { background-image: url("../images/SingleClaimInputIcon.png");}
.icon-small.next_arrow { background-image: url("../images/pagination_1_next.png");}
.icon-small.prev_arrow { background-image:url("../images/pagination_1_previous.png");}
.icon-small.first_arrow { background-image:url("../images/pagination_1_first.png");}
.icon-small.last_arrow { background-image:url("../images/pagination_1_last.png");}
.icon-small.add {background-image:url("../images/add.png");}
.icon-small.minus {background-image:url("../images/minus.png");background-position:0px 2px;}
/*.icon-small.red-flag {background-image:url("../images/Resultspanel-redflag.png"); background-position:6px 0px;}*/
.icon-small.red-flag {background-image:url("../images/High_risk.gif"); background-position:6px 0px;}
.icon-small.highgrey-flag {background-image:url("../images/HighGrey.png"); background-position:6px 0px;}
.icon-small.mediumgrey-flag {background-image:url("../images/MediumGrey.png"); background-position:6px 0px;}
.icon-small.lowgrey-flag {background-image:url("../images/LowGrey.png"); background-position:6px 0px;}
.icon-small.keoghsgrey-flag {background-image:url("../images/keoghsprevious.png"); background-position:6px 0px;}
.icon-small.errorgrey-flag {background-image:url("../images/errorprevious.png"); background-position:3px 0px;}
.icon-small.Unread-status {background-image:url("../images/Unread_Small.png"); background-position:0px -1px;}
.icon-small.Read-status {background-image:url("../images/Read_Small.png"); background-position:0px -1px;}
.icon-small.UnreadIncrease-status {background-image:url("../images/Unread_Increase_Small.png"); background-position:0px -1px;}
.icon-small.UnreadDecrease-status {background-image:url("../images/Unread_Decrease_Small.png"); background-position:0px -1px;}
.icon-large.RequestLevel1-status {background-image:url("../images/RequestLevel1.png");background-position: 5px -2px }
.icon-large.PendingLevel1-status {background-image:url("../images/PendingLevel1.png");background-position: 5px -2px }
.icon-large.ViewLevel1-status {background-image:url("../images/ViewLevel1.png");background-position: 5px 0px }
/*.icon-small.orange-flag {background-image:url("../images/Resultspanel-orangeflag.png"); background-position:6px 0px;}*/
.icon-small.orange-flag {background-image:url("../images/Medium_risk.gif"); background-position:6px 0px;}
/*.icon-small.green-flag {background-image:url("../images/Resultspanel-greenflag.png"); background-position:6px 0px;}*/
.icon-small.green-flag {background-image:url("../images/Low_risk.gif"); background-position:6px 0px;}
.icon-small.keoghs-flag {background-image:url("../images/Keoghs.png"); background-position:6px 0px;}
.icon-small.error-flag {background-image:url("../images/black-error.gif"); background-position:6px 0px;}
.icon-small.notLatest-flag {background-image:url("../images/oldClaim_gray.png"); background-position:6px 0px;}
.icon-small.action-arrow {background-image:url("../images/Actionarrowdown.png"); background-position:6px 0px;}
.icon-small.up-arrow {background-image:url("../images/grid-sortable.png"); background-position:0px 2px;}
.icon-small.sortup-arrow {background-image:url("../images/grid-sortableUp.png"); background-position:0px 2px;}
.icon-small.sortdown-arrow {background-image:url("../images/grid-sortableDown.png"); background-position:0px 2px;}
.icon-small.accordion_uparrow  {background-image:url("../images/up_arrow.png"); background-position:0px 0px;}
.icon-small.accordion_downarrow {background-image:url("../images/down_arrow.png"); background-position:0px 0px;}
.icon-small.calendar{background-image:url("../images/schedule_calendar.png"); background-position:0px 0px;}
.icon-small.calendar_arrow {background-image:url("../images/schedule_calendar_arrow.png"); background-position:3px 0px;} 
.icon-xx-large.batchupload { background-image: url("../images/batchupload.png");}
.icon-small.edit {background-image:url("../images/edit.png");}
.icon-small.edit_tiny {background-image:url("../images/small_edit.png");}
.icon-small.edit_tinywhite {background-image:url("../images/edit_white.png");}
.icon-medium-large.editclaim {background-image:url("../images/editclaim.png");}
.icon-large.exit {background-image:url(../images/exit.png); background-position:0px 0px;}
.icon-large.newsearch {background-image:url(../images/new_search.png); background-position:0px 0px;}
.icon-large.continue {background-image:url(../images/continue.png); background-position:0px 0px;}
.icon-large.vehicle {background-image:url("../images/vehicle.png");}
.icon-large.vehicleorange {background-image:url("../images/vehicle_orange.png");}
.icon-large.vehicleblue {background-image:url("../images/vehicle_blue.png"); background-position:0px 0px;}
.icon-large.vehicleperson {background-image:url("../images/personicon.png");}
.icon-large.vehiclepersonwhite {background-image:url("../images/white_person.png");}
.icon-medium-large.organisation {background-image:url("../images/Organisationicon.png");}
.icon-medium-large.policy {background-image:url("../images/policyicon.png");}
.icon-small.policyadd {background-image:url("../images/vehicleaddicon.png"); background-position:0px 0px;}
.icon-small.policyaddwhite {background-image:url("../images/white_plus.png"); background-position:0px 0px;}
.icon-x-large.errorsmall {background-image:url("../images/error_small.png"); background-position:0px 0px;}
.icon-small.dropdown {background-image: url("../images/Vehicledownarrow.png"); background-position:0px 0px;}
.icon-small.smallplus {background-image: url("../images/small_plus.png");}

.icon-large.level-1Request{ background-image: url("../images/level-1Request.png"); background-position:12px 0px; }
.icon-large.level-1{ background-image: url("../images/level-1.png"); background-position:12px 0px; }
.icon-large.level-1Processing{ background-image: url("../images/level-1Processing.png"); background-position:12px 0px; }
.icon-large.level-1Unavailable{ background-image: url("../images/level-1Unavailable.png"); background-position:12px 0px; }

.icon-small.search{ background-image: url("../images/search.png"); background-position:4px -2px; }
.icon-small.add-note{ background-image: url("../images/note-taking_icon.png"); background-position:4px -2px; }
.icon-large.add-note{ background-image: url("../images/note-taking_icon_large.png"); background-position:12px -2px; }
.icon-large.decision{ background-image: url("../images/download.png"); background-position:11px 0px; }
.icon-small.decision{ background-image: url("../images/download.png"); background-position:4px -2px; }
.icon-small.decision2{ background-image: url("../images/decision.png"); background-position:4px -2px; }
.icon-small.lock{ background-image: url("../images/glyphicons_204_lock.png"); background-position:4px 2px; }
.icon-small.paperclip{ background-image: url("../images/paperclip-icon.png"); background-position:4px 2px; }


.icon-small.reserveup{ background-image: url("../images/reserve_up_arrow.png"); background-position:4px -2px; }
.icon-small.reservedown{ background-image: url("../images/reserve_down_arrow.png"); background-position:4px -2px; }


.icon-large.level-2{ background-image: url("../images/level-2.png"); background-position:12px 0px; }
.icon-large.validate{background-image: url("../images/Validateicon.png"); background-position:12px 0px;}
.icon-large.edit {background-image:url("../images/edit.png"); background-position:12px 0px;}
.icon-small.delete {background-image:url("../images/DeleteIconSmall.png"); background-position:4px -2px;}
.icon-large.delete {background-image:url("../images/DeleteIcon.png"); background-position:12px 0px;}
.icon-small.downarrowblue {background-image:url("../images/Downarrowblue.png"); background-position:22px 10px;}
.icon-large.desktopsearches{background-image: url("../images/Desktopsearchicon.png"); background-position:12px 0px;}
.icon-xxx-large.uploadsuccess{background-image: url("../images/upload_success.png"); background-position:0px 0px;}
.icon-x-large.loading{background-image: url("../images/loading.png"); background-position:0px 0px;}
.icon-xx-large.error{background-image: url("../images/error.png"); background-position:0px 0px;}
.icon-large.viewbatch{ background-image: url("../images/Viewbatched-Icon.png"); background-position:12px 0px; }
.icon-small.summaryedit{background-image: url("../images/Key_facts_edit.png"); background-position:0px 0px; }
.icon-small.trash {background-image: url("../images/trash.gif"); background-position:0px 0px; }
.icon-medium-large.driver {background-image: url("../images/driver.png"); background-position:0px 0px; }
.icon-medium-large.incident {background-image: url("../images/incident.png"); background-position:0px 0px; }
.icon-medium-large.eye {background-image: url("../images/eye_witnesses.png"); background-position:0px 0px; }
.icon-medium-large.policy_holder {background-image: url("../images/policy_holder.png"); background-position:0px 0px; }
.icon-medium-large.passenger {background-image: url("../images/passenger.png"); background-position:0px 0px; }

.icon-medium-large.resultlevel-1 { background-image: url("../images/results_level1.png"); background-position:0px 0px;}
.icon-medium-large.resultlevel-2 { background-image:url("../images/results_level2.png"); background-position:0px 0px;}
.icon-medium-large.results_callback { background-image:url("../images/results_callback.png"); background-position:0px 0px;}