﻿   
.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
    width: 100%; 
} 

.datagrid {
	font-family:Montserrat;
    font-size: 13px;
	background: #fff; 
	overflow: auto; 
	border: 1px solid #006699; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
    height: 250px;
}

.datagrid table td, .datagrid table th { 
	padding: 3px 10px; 
}

.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699; 
	color:#FFFFFF; 
    font-size: 13px; 
	font-weight: bold; 
	border-left: 1px solid #0070A8; 
    text-align: left;
    /*position: fixed;*/
    
} 

.datagrid table thead th:first-child { 
	border: none; 
    text-align: left;
    /*position: fixed;*/
}

.datagrid table tbody td { 
	color: #00496B; 
	/*border-left: 1px solid #E1EEF4;*/
	font-size: 13px;
	font-weight: normal; 
}

.datagrid table tbody .alt td { 
	background: #E1EEF4; 
	color: #00496B; 
}

.datagrid table tbody td:first-child { 
	border-left: none; 
}

.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}

.styled-button-cancel {
	font-family:Montserrat;
	background-color: #ffffff;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
	color: #000;
	margin: 10px 5px 0px 0px;
	font-size: 0.8em;
    font-weight: bold;
	padding: 1px 20px 1px 19px;
    width: 90px;  
    height: 20px;
}

.styled-button-cancel-edit {
	font-family:Verdana,Arial,sans-serif;
    font-size: 0.8em;
	background-color: #ffffff;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
	color: #000;
	margin: 10px 5px 0px 0px;
    font-weight: bold;
	padding: 3px 20px 3px 20px;
    width: 90px;  
}

.styled-button-submit-note {
    font-family:Montserrat;
    background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #005c9f;
	color: #fff;
	margin: 10px 0px 0px 0px;
	font-size: 0.8em;
    font-weight: bold;
	padding: 1px 20px 1px 20px;
    width: 90px; 
    height: 20px;
}

.styled-button-submit-note:disabled {
	background-color: ghostwhite;
	cursor: not-allowed;
    color: #808080;
}

.footer {
    float: right;
}

.alt-row-class { 
    background-color: #e8e8e8; 

}

.textarea {
  width: 100%;
  height: 100%;
  margin: 0; /* don't want to add to container size */
  border: 0; /* don't want to add to container size */
  border: 1px solid #005c9f;
  color: #fff;
  font-family:Montserrat;
  font-size: 12px;
  font-weight: normal;
  color: #00496B;
}

.edittextarea {
  width: 100%;
  height: 100%;
  margin: 0; /* don't want to add to container size */
  border: 0; /* don't want to add to container size */
  border: 1px solid #005c9f;
  color: #fff;
  font-family:Montserrat;
  font-size: 12px;
  font-weight: normal;
  color: #00496B;
  background-color: #e8e8e8;
}

.alert {
    font-family:Montserrat;
    font-size: 13px;
    font-weight: bold;
    color:  #ff0000;
}

.decisionDropDown-control {
  display: block;
  width: 307px;
  height: 24px;
  /*padding: 6px 12px;*/
  margin-bottom: 10px;
  font-size: 0.8em;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.visibilityDropDown-control {
  display: block;
  width: 207px;
  height: 24px;
  align-self:flex-end;
  /*padding: 6px 12px;*/
  margin-bottom: 10px;
  font-size: 0.8em;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.notescol-1 {
	width: auto;
    margin-top: 11px;
    padding: 0px 10px 0px 0px;

}
 .notescol-2 {
	width: auto%;
}

 .notescol-3 {
	width: 60px;
    margin-top: 11px;
    padding: 0px 10px 0px 0px;
}

 .notescol-4 {
	width: auto%;
    float:right;
}

.decision {
    font-family:Montserrat;
    font-size: 15px;
    font-weight: bold;
    color:  purple;

}

 .decisionRed {
    font-family:Montserrat;
    font-size: 15px;
    font-weight: bold;
    color:  #ff0000;

}

 .updateText {
    font-family:Montserrat;
    font-size: 12px;
    font-style:italic;
    font-weight: lighter;
    color:  #808080;

}

 .intelText {
    font-family:Montserrat;
    font-size: 13px;
    font-weight: lighter;
    color:  #0026ff;

}

 .detailsText {
    font-family:Montserrat;
    font-size: 12px;
    color:  #00496B;

}

 a.openRiskNoteFile {
     color:#40afe6;
     text-decoration: underline;
 }

 .upload-control {
  display: block;
  width: 407px;
  height: 24px;
  /*padding: 6px 12px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}





