﻿/*Incident form adjustments*/
/*.incident_container .col-2 input[name='Location'] {
	font-size: 12px;
	padding: 1px 0px 1px 0px;
	color: #494949;
	margin: 0 !important;
	width: 90px;
}*/
/*.incident_container .col-2 input[name='Location'] {
	width: 161px;
}*/

/*.incident_container textarea[name="Circumstances"] {
    height: 102px;
    width: 690px;
}*/
.additional_information_container input[name="PoliceForce"], .premium {
  width: 240px !important;
}
.additional_information_container input[name="PoliceReference"], .premium {
  width: 240px !important;
}
.additional_information_container input[name="PoliceReference"], .premium {
  width: 240px !important;
}

.additional_information_container select, input[name="TotalValue"],input[name='TotalPayments'] {
    width: 120px;
}
.incident_container input[name="SelectedNumberOfVehicles"] {
    width: 40px;
}
.incident_container input[name="SelectedNumberOfWitnesses"] {
    width: 40px;
}
.incident_container .col-2 select[name='SelectedPolicyType'] {
	width: 183px !important;
}
.insured_vehicle_container select {
	width: 120px !important;
}
.spinner {
     width: 40px !important;
     height:15px;
      margin:0px !important;
    padding:0px !important;
}
input[type="text"].spinner , .spinner{
     margin:0px;
    padding:0px;
}
input[name="PersonInformation.NumberOfSupportingInvolvements"] {
     margin:0px !important;
    padding:0px !important;
}

#spinnerNumberOfSupportingInvolvements {
     margin:0px !important;
    padding:0px !important;
}


/*.incident_container .col-2 */
.DatePickerTextBox{
	/*font-size: 12px;
	padding: 1px 0px 1px 0px;
	color: #494949;
	margin: 0 !important;*/
	width: 90px !important;
}

.DropDown240px {
     width: 240px !important;
}
.incident_container select {
    padding:0px;
}

.insured_vehicle_container .DropDown240px{
    width: 240px !important;
      padding:0px;
}

/*.policy_holder_container select {
     color: #000000;
    font-size: 12px;
    height: 24px;
    margin: 0 !important;
    overflow: scroll;

    padding:0px;
}*/
/*.incident_container .DropDown240px {
     color: #000000;
    font-size: 12px;
    height: 24px;
    margin: 0 !important;
    overflow: scroll;

    padding:0px;
}*/
.DropDown120px {
     width: 120px !important;
    
}
/*.incident_container .DropDown120px {
     color: #000000;
    font-size: 12px;
    height: 24px;
    margin: 0 !important;
    overflow: scroll;

    padding:0px;
}*/
.TextBox120px {
    width: 120px !important;
}
.TextBox179px {
    padding: 2px 0;
    width: 179px;
}
.TextBox240px {
    width: 240px !important;
}

/*Validation error messages*/
.validation-summary-errors {
    width:695px;
    background-color: #EECCCC;
    border-radius: 5px 5px 5px 5px;
    color: #993333;
    padding: 5px 10px 5px 13px;
}
.validation-summary-errors li {
    border-radius: 5px 5px 5px 5px;
    font-size: 13px;
    text-align:left;
    font-weight:normal;
    /*margin-top: 5px;
    padding: 5px 0 5px 13px;*/
}
.input-validation-error {
    background-color: #EECCCC;
    /*border:1px solid #EECCCC;*/
/*outline: 1px solid #EECCCC;*/
}
.login_container .validation-summary-errors {
    width:365px;
}
#divPolicyHolderDetails {
    width:183px;
    height:20px;
    /*display:inline;*/
    display: table-cell;
    float: left;
    word-wrap: break-word !important;
    /*border:1px solid #EECCCC;*/
}
#NavigationData {
    display:none;
}



