/* header starts */
header {
	height: 59px;
	padding: 10px 0px 0px 0px;
}
.logo {
	height: 50px;
}
.logo a, a {
	color: #333333;
	text-decoration: none !important;
	background: none;
}
.logo h2 {
	margin: 10px 0px 0px 37px;
}
/*Menu Navigation Starts*/



.menu_navigationSearch  
{
	position: absolute;
	left:594px;
	z-index: 10;
	width: 628px;
	font-size: 15px;
	right: 26px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigationSearch li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigationSearch li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}


.menu_navigationSearchNoAdmin  
{
	position: absolute;
	left:717px;
	z-index: 10;
	width: 512px;
	font-size: 15px;
	right: 26px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigationSearchNoAdmin li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigationSearchNoAdmin li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}

.menu_navigationNoAdmin  
{
	position: absolute;
	left:830px;
	z-index: 10;
	width: 395px;
	font-size: 15px;
	right: 26px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigationNoAdmin li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigationNoAdmin li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}

.menu_navigationNoAdminClients  
{
	position: absolute;
	left:690px;
	z-index: 10;
	width: 534px;
	font-size: 15px;
	right: 26px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigationNoAdminClients li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigationNoAdminClients li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}

.menu_navigationNoSearch  
{
	position: absolute;
	left:730px;
	z-index: 10;
	width: 495px;
	font-size: 15px;
	right: 26px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigationNoSearch li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigationNoSearch li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}

.menu_navigation {
	position: absolute;
	left:620px;
	z-index: 15;
	width: 605px;
	font-size: 13px;
	right: 0px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigation li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigation li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}


.menu_navigationAll {
	position: absolute;
	left:530px;
	z-index: 15;
	width: 700px;
	font-size: 13px;
	right: 0px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigationAll li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigationAll li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}

.menu_navigationAllNoClients {
	position: absolute;
	left:640px;
	z-index: 15;
	width: 580px;
	font-size: 13px;
	right: 0px;
	height: 60px;
	padding: 5px 0px 5px 28px;
}

.menu_navigationAllNoClients li a {
	padding: 10px 20px 10px 20px;
	color: #494949;
	text-transform: uppercase;
	float: left;
	border-radius: 10px;
	margin-right: 6px;
	border: solid 1px #cccccc;
}
.menu_navigationAllNoClients li a.active {
	background-color: #366797;
	border: solid 1px #366797;
	color: #ffffff !important; /** hover color for link **/
}
.welcome {
	font-size: 12px;
	font-weight: bold;
    width: 150px;
	padding: 5px 5px 5px 5px !important;
	border-radius: 10px;
	border: solid 1px #cccccc;
   
}
.welcome a {
	color: #333333;
}
.dashboard-view {
	height: 180px;
	margin-bottom: 20px;
	background-color: rgb(255, 255, 255, 0.1) !important;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}
.dashboard-view .headings .col-1 {
	width: 290px;
	padding: 3px 0px 5px 10px;
}
/*** Tab Navigation Starts ***/
.tab_navigation {
	height: 180px;
	margin-bottom: 20px;
	cursor: pointer;
}
.tab_navigation a {
	color: #333333;
}
.tab_navigation .headings .col-1 {
	width: 290px;
	padding: 3px 0px 5px 10px;
}
.tab_navigation .headings .col-2 {
	width: 25px;
}
.tab_navigation:hover, .tab_active {
	background-color: #F2E4D7;
	border: 1px solid #f0f2f7;
	height: 200px;
	margin-bottom: -20px;
}
/***File upload Control Starts ***/
.niceform input[type="text"] {
	color: #000000;
	height: 15px;
	width: 205px;
}
.NFFileButton {
	color: #000 !important;
	cursor: pointer;
	float: left;
	width: 90px;
	height: 21px;
	margin: -18px 0 0 215px;
	background: url(../images/browse-button.gif) no-repeat 0 0;
    
}

.UploadResetButton {
	color: #000 !important;
	cursor: pointer;
	float: left;
	width: 96px;
	height: 25px;
	margin: 7px 110px 0 185px;
	background: url(../images/browse-button.gif) no-repeat 0 0;
}

.UploadSubmitButton {
	color: #000 !important;
	cursor: pointer;
	float: left;
	width: 96px;
	height: 25px;
	margin: 1px 0px 10px 105px;
	background: url(../images/browse-button.gif) no-repeat 0 0;
}

label.opt {
	font-weight: normal;
}
.NFFile {
	position: relative;
	margin-bottom: 3px;
	margin-top: 0px;
}
.NFFile input.NFhidden {
	position: relative;
	filter: alpha(opacity=0);
	background: none !important;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	text-align: left;
}
.NFFileNew {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
/***Result tab Container Starts ***/

.result_tab_container .col-1 {
	width: 65px;
	font-size: 36px;
	padding: 10px 10px 0px 10px;
}
.result_tab_container .col-1 sub {
	font-size: 16px;
	line-height: 16px;
	margin: 20px 10px 0px -80px;
}
/*** new_claim  Starts ***/
.new_claim_container .forms .col-1 {
	margin: 5px 0px 0px 10px;
}
.new_claim_container .forms .col-2 {
	margin: 2px 0px 2px 10px;
	height: 20px;
}
.new_claim_container .forms {
	margin: 15px 0px 0px 0px;
}
.new_claim_container .forms, select, input[type="text"] {
	width: 300px;
	margin: 6px 0px 0px 0px !important;
	font-size: 11px;
	color: #000000;
}
/*** upload_batch_container  Starts ***/
.upload_batch_container .forms .col-1 {
	margin: 5px 0px 0px 20px !important;
}
.upload_batch_container .forms {
	margin: 15px 0px 0px 0px;
}
.upload_batch_container input[type="text"] {
	width: 363px;
	margin: 5px 0px 0px 20px !important;
	color: #000000;
}
.upload_batch_container .niceform input[type="text"] {
	color: #000000;
	width: 258px;
}
.upload_batch_container .NFFileButton {
	background: url("../images/browse-button.gif") no-repeat scroll 0 0 transparent;
	color: #000000 !important;
	cursor: pointer;
	float: left;
	height: 21px;
	margin: -18px 0 0 295px;
	width: 95px;
   
}
/*** Reports_Callback tab Container Starts ***/
.reports_callback_container {
	width: 85px;
	padding: 10px 0px 0px 0px;
}
.reports_callback_container .level-1 {
	width: 80px;
	margin: 0px 0px 0px 10px;
}
.reports_callback_container .new_reports {
	border-right: solid 1px #ccc;
	margin: 10px 0px 10px 0px;
	padding: 0px 5px 0px 0px;
}
.reports_callback_container .new_reports .col-1 {
	width: 30px;
	font-size: 24px;
	text-align: right;
	margin: 0px 5px 0px 0px;
}
.reports_callback_container .new_reports .col-2, .col-3 {
	width: 42px;
	font-size: 10px;
}
.reports_callback_container .new_reports .col-3 {
	margin: 8px 0px 0px 0px;
}
.reports_callback_container b {
	color: #fff;
	margin: 3px 0px 0px 34px;
}
/*** Alerts_container tab Container  Starts ***/
.alerts_container {
	width: 85px;
	padding: 10px 0px 0px 0px;
}
.alerts_container .col-1 {
	text-align: center;
	padding: 0px 0px 8px 0px;
	width: 240px;
}
/*** Singleclaiminput tab Container Starts ***/
.singleclaim_container .col-1 {
	padding: 5px 0 0 0px;
	margin: 13px 0px 0px 0px;
	text-align: center;
}
.singleclaim_container .col-1 strong {
	font-size: 60px;
	margin: 8px 0px 0px -60px;
}
.singleclaim_container .col-1 b {
	margin: 30px 0px 0px 10px;
	text-align: left;
}
/*** Refinement_container webparts  Starts ***/
.refinement_container {
	width: 190px;
    /*float: none;*/
}
.refinement_container .row {
	width: 180px;
	margin: 14px 0px 0px 0px;
	padding: 0px 0px 10px 5px;
	border-bottom: solid 1px #e8e8e8;
}
.refinement_container h1 {
	padding: 10px 0px 0px 5px;
}
.refinement_container h2 {
	padding: 0px 5px 0px 18px !important;
}
.refinement_container .col-1 {
	width: 37px;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 10px;
}
.refinement_container .col-2 {
	width: 98px;
	margin: 2px 0px 0px 0px;
}
.refinement_container .clear_button {
	width: 92px;
	font-size: 12px;
	text-align: center;
	padding: 3px 0px 3px 0px;
	margin: 9px 2px 8px 0px;
}
.clear_button a {
	color: #333333;
}
.refinement_container .col-3 {
	width: 25px;
	margin: 0px !important;
}
.refinement_container .col-4 {
	width: 15px;
	margin: 3px 0px 0px 0px !important;
}
.refinement_container .col-2 input[type="text"] {
	width: 90px;
	font-weight: bold;
	margin: 0px 0px 0px 0px !important;
	line-height: 14px;
}
.refinement_container input[type="text"] {
	width: 165px;
	display: block;
	margin-top: 10px;
	margin-left: 10px !important;
	margin-bottom: 10px;
}
.refinement_container select {
	width: 168px !important;
}
.refinement_container .up_arrow {
	margin-left: -13px;
}
.refinement_container input[type="checkbox"], input[type="radio"] {
	margin: 4px 5px 2px 5px;
}
.refinement_container i {
	cursor: pointer;
}
/*** Result_container webparts  Starts ***/
.result_container {
	display: table;
	margin: 0px 0px 15px 0px;


}
.result_container h1 {
	padding: 12px 0px 9px 5px !important;
}
.result_container .headers .row-1 {
	margin: 10px 0px 0px 10px !important;
	padding: 0px 0px 20px 0px;
}
.result_container .headers .row-2 {
	padding: 5px 0px 10px 0px;
	margin: 0px 0px 7px 10px !important;
	height: 15px;
}
.result_container .headers img {
	margin: 0px 0px 0px 1px;
}
.result_container .headers .col-1 {
	width: 60px;
	margin: 0px 5px 0px 10px;
}
.result_container .headers .col-2 {
	width: 105px;
}
.result_container .headers .col-3 {
	width: 110px;
}
.result_container .headers .col-4 {
	width: 114px;
}
.result_container .headers .col-5 {
	width: 115px;
}
.result_container .headers .col-6 {
	width: 94px;
}
.result_container .headers .col-7 {
	width: 84px;
}
.result_container i {
	cursor: pointer;
}
/* Action_event dropdown css starts*/
.action_dropdowncontainer {
	position: absolute;
	font-size: 13px;
	border: 4px solid #337db2;
	padding: 0px 0px 15px 0px;
	margin: 0px 10px 0px 0px;
	width: 205px!important;
	height: auto;
	z-index: 10;
	min-height: 50px
}
.action_dropdowncontainer a {
	color: #333333;
}
.actions {
	margin: 16px 20px 0px 745px;
}
.action_border {
	border: 4px solid #337db2;
	border-bottom: 0px;
	width: 64px !important;
	height: 34px !important;
	border-radius: 10px 10px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	z-index: 1;
}
.action_event_strip {
	height: 8px !important;
	float: left;
	width: 64px;
	background-color: #fff;
	margin: -4px 10px 10px 141px !important;
}
.action-arrow {
	height: 15px;
	margin: 0px 0px 0px 0px !important;
}
.downarrowblue {
	height: 33px !important;
	margin: -12px 0px 0px -20px !important;
	float: left !important;
}
/*** webpart page_navigation Starts ***/
.page_navigation {
	margin: 0px 0px 0px 440px;
}
.page_navigation .text {
	margin: 0 5px;
	line-height: 22px;
}
/***claim_container webpart Starts ***/
.claim_container {
	width: 396px;
	cursor: pointer;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
}
.claim_container:hover {
	background-color: #2879b1 !important;
	color: #fff;
}
.claim_container_active {
	background-color: #2879b1 !important;
	color: #fff;
}
.claim_container b, .claim_container_sublevel b {
	font-size: 14px;
}
.claim_container p, .claim_container_sublevel p {
	font-weight: none!important;
	font-size: 14px;
}
.claim_container_fullselection .active {
	background-color: #2879b1;
	color: #fff;
}
.claim_container_fullselection:hover {
	background-color: #2879b1;
	border: solid 1px #2879b1;
	color: #FFF !important;
}
.claim_container_selection {
	color: #000;
}
.claim_container .white_border {
	border-bottom: solid 2px #fff;
	margin-bottom: 10px;
}
.claim_container_sublevel:hover {
	background-color: #2879b1 !important;
	color: #fff;
	cursor: pointer;
}
.claim_container_sublevel {
	width: 366px;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 10px 30px;
}
.claim_container_sublevel .col-1 {
	margin-left: 22px;
}
.claim_container_sublevel .col-2 {
	width: 140px;
	margin-left: 8px;
}
.claim_container_sublevel .col-3 {
	width: 125px;
}
.claim_container .col-1 {
	margin-left: 22px;
}
.claim_container .col-2 {
	width: 160px;
	margin-left: 8px;
}
.claim_container .col-3 {
	width: 125px;
}
.claim_container .col-1 h1 {
	padding: 0 0 0 5px;
}
.person_container {
	width: 783px;
	margin: 30px 0px 0px 0px;
	padding: 0px 0px 0px 8px;
}
.person_container, .address_container p {
	font-size: 13px;
	font-weight: bold;
}
.person_container .col-1 {
	width: 401px;
}
.person_container .row .col-1 {
	width: 120px;
}
.person_container .row .col-2 {
	width: 260px;
}
.person_container select {
	width: 117px;
	margin: 0px 0px 10px 0px !important;
}
.address_container input[type="text"] {
	margin: 0px !important;
}
.person_container input[type="text"] {
	width: 243px;
	margin: 0px 0px 10px 0px !important;
}
.date {
	width: 90px !important;
}
.address_container {
	width: 783px;
	margin: 10px 0px 0px 8px;
}
.address_container .row .col-1 {
	width: 130px;
}
.address_container .row .col-2 {
	width: 130px !important;
	margin: 0px !important;
}
.address_container .row .col-2 select {
	margin: 0px !important;
	width: 77px !important;
}
.person_container .col-2 {
	width: 380px;
}
.upload_page_navigation .saved-button, .cancel-button {
	border: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	background-color: #8cc63f;
	padding: 5px 15px 4px 15px;
}
.cancel-button {
	background-color: #d4145a;
}
.upload_page_navigation {
	width: 806px;
	text-align: center;
	padding: 30px 0px 10px 0px;
}
.upload_page_navigation .col-1 {
	width: 85px !important;
	margin: 0px 0px 0px 10px;
}
.upload_page_navigation .col-2 {
	width: 615px;
}
.upload_page_navigation p {
	margin: 0px 0px 0px 3px;
	line-height: 18px;
}
/*** login_container  Starts ***/
.login_container {
	position: absolute;
	left: 40px; /*JW FIX*/
	width: 1000px;
	padding-left: 235px;
	margin: 322px 0px 24px 0px;
	opacity: 0.8;
	background-color: rgb(250, 251, 253);
}
.login_wrapper {
	background: url(../images/login_bg.jpg) no-repeat 0 0;
	height: 970px;
}
.login_container .col-1 {
	width: 350px;
	padding: 50px 0px 37px 0px;
	margin: 0px 50px 0px 0px;
}
.login_container .col-1 p {
	line-height: 24px;
}
.login_container .col-1 h2 {
	color: #005c9f;
	margin: 0px 0px 14px 0px;
	font-size: 28px;
}
.login_container .col-2 {
	position: absolute;
	z-index: 1;
	right: 150px;
	width: 402px;
	margin: 25px 0px 37px 0px;
	padding: 10px 10px 20px 10px;
	background-color: #fff;
	background-color: rgba(255, 253, 253, 0.5) !important;
}
.login_container .col-3 {
	width: 100px;
	font-size: 14px;
	margin: 27px 10px 10px 20px;
}
.login_container .col-4 {
	width: 250px;
	margin: 20px 0px 10px 20px;
}
.login_container .col-5 {
	width: 80px;
	margin: 20px 0px 0px 40px;
}
.login_container a {
	text-decoration: underline;
	color: #006699;
}
.login_container input[type="text"] {
	width: 243px;
	border: solid 1px #a7a7a7;
	padding: 2px 0px 2px 0px;
}
.login_container input[type="button"] {
	position: absolute; /* IE 8 fix **/
	z-index: 1;
	margin: 0px;
}
/*** plus_container  Starts ***/
.plus_container {
	margin: -10px 0px 10px 10px;
	width: 990px;
	height: 130px;
	background-color: #f2f2f2;
}
.plus_container .row {
	margin: 0px;
	padding: 5px 0px 0px 0px;
}
.plus_container .col-1 {
	width: 150px !important;
	padding: 2px 0px 0px 0px !important;
}
.plus_container p {
	font-size: 14px;
}
.plus_container .col-2 {
	margin: 0px!important;
	width: 600px !important;
	line-height: 22px;
}
/***claimsummary_container webpart Starts ***/
.claimsummary_container .up_arrow {
	margin-left: -9px;
}
.claimsummary_heading {
	width: 428px;
}
.claimsummary_container {
	width: 466px;
	cursor: pointer;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 8px 0px !important;
	border-bottom: solid 1px #ccc;
}
.claimsummary_container:hover, .claimsummary_container_active {
	background-color: #f2f2f2;
}
.claimsummary_container .col-1 {
	margin-left: 22px;
	width: 55px;
}
.claimsummary_container small {
	color: #fff;
	font-size: 12px;
	margin-left: 13px;
	margin-top: 9px;
}
.claimsummary_container .col-2 {
	width: 130px;
	margin-left: 8px;
}
.claimsummary_container .col-3 {
	width: 165px;
}
.claimsummary_container .col-4 {
	width: 125px;
}
.claimsummary_container .col-5 {
	width: 120px;
}
.claimsummary_container .col-1 h1 {
	padding: 0 0 0 5px;
}
.claimsummary_container b {
	font-size: 14px;
}
.claimsummary_container p {
	font-weight: none!important;
	line-height: 23px;
	font-size: 14px;
}
.claimsummary_heading h2 {
	text-transform: capitalize !important;
}
/***review_container webpart Starts ***/
.review_container {
	width: 700px;
	margin: 20px 0px 0px 10px;
	padding: 0px 0px 60px 0px;
}
.review_container b {
	font-size: 13px !important;
}
.review_container .row {
	margin: 6px 0px 8px 20px;
}
.review_container .col-1 {
	width: 200px;
	margin: 4px 0px 0px 0px;
}
.review_container .col-2 {
	width: 475px;
	text-align: left;
}
.review_container select input["text"] {
 width:261px;
 margin: 6px 0px 0px 0px !important;
 font-size: 11px;
 color: #000000;
}
.review_container input[type="checkbox"] {
	width: 12px;
	height: 12px;
	float: left;
	margin: 5px 5px 0px 0px;
}
.review_container .col-2 p {
	margin: 3px 0px 0px 0px;
	font-weight: normal !important;
}
.exit-button, .submit-button {
	border: none;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	background-color: #71b911;
	margin: 8px 5px 0px 0px;
	padding: 4px 15px 4px 15px;
}

.save-button {
    border: none;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	background-color: #71b911;
	margin: 8px 5px 0px 65px;
	padding: 4px 15px 4px 15px;
}

.submit-button {
	cursor: pointer;
	color: #fff;
	margin: 7px 5px 0px 0px;
	padding: 5px 15px 5px 15px;
}
.exit-button {
	background-color: #c72127;
}
.mandatory {
	color: #FF0000;
	font-size: 12px;
	text-decoration: none;
}
/***duplicate_claim_container webpart Starts ***/
.duplicate_claim_container {
	width: 705px;
	margin: 20px 0px 0px 20px;
	padding: 0px 0px 15px 0px;
}
.duplicate_claim_container h2 {
	font-size: 13px !important;
}
.duplicate_claim_container p b {
	font-size: 11px !important;
}
.duplicate_claim_container .row {
	margin: 6px 0px 8px 20px;
}
.duplicate_claim_container .col-1 {
	width: 140px;
}
.duplicate_claim_container .col-2 {
	width: 475px;
	text-align: left;
}
.duplicate_claim_container .col-3 {
	width: 101px;
	margin: 9px 0px 0px 0px;
}
.duplicate_claim_container .col-3 b {
	font-size: 14px !important;
}
.duplicate_claim_container i {
	margin: 6px 0px 0px 0px;
}
/***incident_container webpart Starts ***/
.incident_container {
	width: 730px;
	margin: 20px 0px 0px 10px;
}
.incident_container .col-2 input[name='IncidentDate'], input[name='NotificationDate'], input[name='Location'] 
, input[name='PolicyNumber']{
	font-size: 12px;
	padding: 1px 0px 1px 0px;
	color: #494949;
	margin: 0 !important;
	width: 90px;
}
.incident_container textarea[name='Circumstances'] {
	width: 690px;
	height: 102px;
}
.incident_container .col-2 input[name='time'] {
	width: 40px;
}
.incident_container .col-2 input[name='Location'], input[name='PolicyNumber']{
	width: 161px;
}
/*.additional_information_container input[name='force'], .premium {
	width: 240px !important;
}*/
.incident_container b {
	font-size: 13px !important;
}
.incident_container .row {
	margin: 18px 0px 8px 20px;
}
.incident_container .col-1 {
	width: 200px;
	margin: 4px 0px 0px 0px;
}
.incident_container .col-2 {
	width: 475px;
}
.incident_container .col-3 {
	width: 305px;
	padding: 4px 0px 0px 0px;
}
.incident_container .col-4 {
	width: 370px;
}
.incident_container select {
	color: #000000;
	font-size: 12px;
	padding: 4px 0px 3px 4px;
	height: 24px;
	overflow: scroll;
	margin: 0px 0 0 !important;
	width: 35px;
}
.incident_container input[name='policy'], .personal {
	width: 183px !important;
}
/***additional_information_container webpart Starts ***/
.additional_information_container {
	width: 728px;
	padding: 8px 0px 8px 0px !important;
}
.additional_information_heading {
	width: 720px;
}
.additional_container .col-1 {
	margin-left: 22px;
	width: 55px;
}

.additional_information_container select, input[name='additional'] {
	width: 120px;
}

.additional_information_container .liability {
	width: 170px;
}
/*** insured Vehicle ***/
.insured_vehicle_container {
	width: 730px;
	margin: 21px 0px 0px 10px;
}
.insured_vehicle_container p {
	font-size: 13px;
}
.insured_vehicle_container .col-1 {
	width: 208px;
	margin: 2px 0px 0px 3px;
}
.insured_vehicle_container .col-2 {
	width: 490px;
}
.insured_vehicle_container .col-3 {
	width: 440px;
}
.insured_vehicle_container .col-4 {
	width: 106px;
}
.insured_vehicle_container .row {
	margin: 6px 0px 8px 0px;
}
.insured_vehicle_container input[type="text"] {
	width: 335px;
	font-size: 11px;
}
.insured_vehicle_container select {
	font-size: 12px;
	padding: 3px 0px 3px 4px;
	height: 20px;
	overflow: scroll;
	width: 42px !important;
}
/***policy_holder webpart starts here ***/

.policy_holder_container {
	width: 730px;
	margin: 21px 0px 0px 10px;
}
.policy_holder_container .row {
	margin: 6px 0px 8px 0px;
}
.policy_holder_container .cols-1 {
	width: 354px;
}
.policy_holder_container .cols-2 {
	width: 350px;
}
.policy_holder_container .col-1 {
	width: 140px;
	margin: 7px 0px 0px 0px;
}
.policy_holder_container .col-2 {
	width: 210px;
}
.policy_holder_container .salutation {
	width: 120px;
}
.policy_holder_container p {
	font-size: 13px;
}
.policy_holder_container input[type="text"] {
	width: 179px;
	padding: 2px 0px 2px 0px;
}
.policy_holder_container .card {
	width: 180px;
	padding: 2px 0px 2px 0px;
}

/***policy_holder webpart starts here ***/

.resultsexpanded_container {
	width: 730px;
	margin: 21px 0px 0px 10px;
}
.resultsexpanded_container .row {
	margin: 6px 0px 8px 0px;
}
.resultsexpanded_container .cols-1 {
	width: 410px;
}
.resultsexpanded_container .cols-2 {
	width: 305px;
}
.resultsexpanded_container .col-1 {
	width: 75px;
	padding: 0px 0px 0px 15px;
}
.resultsexpanded_container .col-2 {
	width: 162px;
	margin: 2px 0px 5px 0px;
}
.resultsexpanded_container .col-3 {
	width: 140px;
}
.resultsexpanded_container p {
	font-size: 13px;
}
.resultsinvolvement_container {
	width: 730px;
}
.resultsinvolvement_container .row {
	margin: 11px 0px 0px 0px;
	width: 710px;
}
.resultsinvolvement_container p {
	line-height: 24px;
}
.resultsinvolvement_container .row .col-1 {
	width: 143px !important;
	padding: 0px 0px 0px 10px !important;
	height: auto
}
.resultsinvolvement_container .row .col-2 {
	width: 540px !important;
}
.resultsinvolvement_container .request {
	width: 180px !important;
	margin: 0px 0px 0px 15px !important;
}
.resultsinvolvement_container .request strong {
	font-size: 20px;
	color: #FFF;
	margin: 2px 0px 0px 30px;
}
.resultsinvolvement_container b {
	font-size: 13px;
	line-height: 14px;
	margin: 8px 0px 0px 0px;
}
.resultsinvolvement_container .edit {
	width: 80px !important;
	margin: 10px 0px 0px 45px;
}


.required:after 
{
    content: "*";
    font-weight: bold;
    color: red; 
}

textarea  
{  
	/*font-family: 'Montserrat', sans-serif;*/
    font-family:sans-serif;
    font-size: 12px;
    font-weight:lighter;
}

