﻿@model KeoghsClientSite.Models.CUE.CueSearchEnquiryModel

<head>
    <script>
        $(document).ready(function () {

            $('input:checkbox').removeAttr('checked');
        });
    </script>


    <link href="~/Content/cueInvolvements.css" rel="stylesheet" />
  
</head>

@using (Ajax.BeginForm("CUESearch", "CUE", new AjaxOptions()
{
    UpdateTargetId = "",
    HttpMethod = "Post"
}))
{
@Html.HiddenFor(model=> model.ClaimNumber)
@Html.HiddenFor(model=> model.IncidentDate)
@Html.HiddenFor(model=> model.UploadedDate)
@Html.HiddenFor(model => model.RiskClaim_Id)
<span class="napkeeRelativeComponent napkeeLabel " id="napClaimNumber">Claim Number:  @Html.DisplayFor(model => model.ClaimNumber)</span>
<span class="napkeeRelativeComponent napkeeLabel " id="napIncidentDate">Incident Date:  @Model.IncidentDate.ToShortDateString()</span>
<span class="napkeeRelativeComponent napkeeLabel " id="napUploadedDate">Uploaded Date: @Model.UploadedDate.ToShortDateString()</span>
<div class="napkeeRelativeComponent napkeeHrule" id="napRule"></div>
<div style="height:25px">&nbsp;</div>
    <div id="cueInvolvements">
        @(Html.EditorFor(model => model.CueInvolvements))
        <div id="submitCUE">
            <input class="cue-button-submit" id="CUESubmitButton" type="submit" value="Submit CUE Search" style="font-size:12px;font-weight:normal;" />
        </div>
    </div>
    <div id="UploadHeader" class="aligncenter paddingtop_25 paddingbottom_10" style="margin-top:50px" >
        <h2></h2>
    </div>
    <div id="UploadIcon" class="aligncenter paddingtop_12 paddingbottom_15" >

        <i> </i>

        <img src="~/Images/loadingAnimation.gif" id="rotate" style="display:none">
      
    </div>

    <div id="UploadSuccessIcon" class="aligncenter paddingtop_12 paddingbottom_15" >

        <i> </i>
        <img src="~/Images/CheckMarkIcon.png" id="successIcon" style="display:none">
       
    </div>

    <div id="UploadFooter" class="aligncenter paddingbottom_15 blue" >
        <table style="text-align: center; margin: auto;">
            <tr>
                <td>
                    <p id="FooterText">  </p>
                </td>
                <td id="ButtonCell" style="vertical-align:top;">
                    &nbsp;<input type="button" class="styled-button" value="Continue" id="ContinueButton" style="display: none; margin-top: -2px;" />
                    <input type="button" class="styled-button" value="Show Error" id="ShowErrorButton" style="display: none; margin-top:-2px;" />

                </td>
            </tr>
        </table>
    </div>

    <div id="submitCUEReport" style="display:none">
        <table style="text-align: center; margin: auto;">
            <tr>
                <td>
                    @Html.ActionLink("CUE Report", "CUEReport", "CUE", new { riskClaimId = Model.RiskClaim_Id }, new { @class = "openReportDialog", data_dialog_id = "CUEDialog", data_dialog_title = "CUE Report" })
                    @*<input class="cue-report-submit" id="@("CUEReport" + Model.RiskClaim_Id)" type="submit" value="View CUE Report" style="font-size:12px;font-weight:normal;" />*@    
                 
                    @*<div class="left"> 
                        <a href="#" id="@("CUE" + claim.RiskClaim_Id)" class="View-CUE"><i id="@("Status"+claim.RiskClaim_Id)" class="icon-large level-1Request"><b class="left marginleft_33 white_color"></b></i> 
                        <strong id="@("CUE" + claim.RiskClaim_Id + "Text")" class="marginleft_3">
                        @Html.ActionLink("CUE Search", "Index", "CUE", new { riskClaimId = claim.RiskClaim_Id }, new { @class = "openDialog", data_dialog_id = "CUEDialog", data_dialog_title = "CUE Search" })
                        </strong> 
                        </a>
                        </div>*@
                </td>
            </tr>
        </table>
    </div>
    
    


@*<div style="height:25px">&nbsp;</div>*@
<div id="noneSelected" title="CUE Search" style="display:none">
    <p>No CUE Involvements selected to perform CUE Search!</p>
</div>
    <div id="result" style="display:none"></div>
}