﻿@{
    ViewBag.Title = "LoginNew";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ADA</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryall")

    <script type="text/javascript">
        function getBaseURL() {
            return location.protocol + "//" + location.hostname +
               (location.port && ":" + location.port) + "/";
        }
    </script>

    <style>
        body, html {
            overflow: hidden;
        }
    </style>

</head>

<body>
    <div class="container_18">
        <div class="login_wrapper">
            <div class="span18">
                <div id="WarningMessage" class="LoginWarningMessage">
                    @ViewBag.WarningMessage
                    <noscript>
                        This website requires JavaScript to be enabled in order to function. Please enable JavaScript in your browser
                        before continuing to use this website.
                    </noscript>
                </div>

                <div class="login_container margintop_210 left background_none">
                    <div class="logo left">
                        <h1 class="logo left w655"> @*<a href="index.html">*@<img src="@Url.Content("~/images/client_logo.png")" alt="Advanced data analytics logo" style="cursor:auto;"> @*</a>*@</h1>
                        <h2 class="left"><a href="https://www.keoghs.co.uk" target="_blank">  <img src="@Url.Content("~/images/keoghs_logo.png")" width="134" height="44" alt="keoghs logo"> </a></h2>
                    </div>

                </div>


                <div class="login_container drop-shadow  left">
                    <div class="errorText">
                        <p>
                            Sorry there has been an internal server error.
                        </p>

                    </div>

                    <div class="errorNormalText">
                        Please email the  <a href="mailto:support-ada@keoghs.co.uk?subject=Query relating to a 505 internal server error" target="_blank">ADA Support Team</a> to report this error.  Please click  <a href="#" onclick="document.location.href=getBaseURL();"> here</a> to return to the login page.<br />

                    </div>

                    <div id="ErrorFooter">
                        <h2 class="blue"> © @DateTime.Now.Year Keoghs</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="BrowserCapabilites" style="display:none;">
        @ViewBag.BrowserCapabilites
    </div>
</body>
</html>
