﻿@model KeoghsClientSite.Models.CUE.Results

@{
    Layout = null;
}

<head>

    <script>

        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

    </script>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>CUE Report</title>

    <link href="~/Content/cueReport.css" rel="stylesheet" media="all" />

</head>

<body>
    <div class="fixed">
        <input type="image" onclick="printDiv('printablediv')" src="~/Images/Printer.png" alt="Submit" width="51" height="51">
        @*<input type="button" class="button" onclick="printDiv('printablediv')" />*@
    </div>
    <div id="printablediv" class="Header">

        <div id="cover">

            <div style="float:left">
                <img src="@Url.Content("~/images/client_logo.png")" width="144" height="50" alt="Advanced data analytics logo">
            </div>
            <div style="float:right">
                <img src="@Url.Content("~/images/keoghs_logo.png")" alt="Keoghs logo">
            </div>


            <div class="image">
                <img src="@Url.Content("~/images/login_drop.png")" width="800" alt="">
                <div class="Header1">CUE Results Report</div>
                <br />
                <div class="HeaderText">Claim Number: &nbsp;@Model.ClaimNumber<br />Search Date: &nbsp;@Model.SearchDate</div>
            </div>
        </div>

        @foreach (var item in Model.ListResultInfo)
        {
            @(Html.EditorFor(model => item.Values))
        }

        <div id="cover">
            @* style="page-break-before:always">*@
            <div style="float:left">
                <img src="@Url.Content("~/images/client_logo.png")" width="144" height="50" alt="Advanced data analytics logo">
            </div>
            <div style="padding-top:1000px">
                <div style="float: left">
                    <img src="@Url.Content("~/images/keoghs_logo.png")" alt="Keoghs logo">
                </div>
            </div>
            <div style="padding-top:50px">
                <span class="Title2">2 The Parklands <br />Bolton <br />BL6 4SE</span>
            </div>

            <div style="padding-top:10px">
                <span class="Title2">T: 01204 677000 <br />E: info@keoghs.co.uk <br />W: www.keoghs.co.uk</span>
            </div>
        </div>
    </div>
</body>











