﻿@model KeoghsClientSite.Models.Note.Note

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertNote</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Note</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.NoteDesc)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NoteDesc)
                @Html.ValidationMessageFor(model => model.NoteDesc)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BaseRiskClaim_Id)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BaseRiskClaim_Id)
                @Html.ValidationMessageFor(model => model.BaseRiskClaim_Id)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.RiskClaim_Id)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RiskClaim_Id)
                @Html.ValidationMessageFor(model => model.RiskClaim_Id)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Visibilty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Visibilty)
                @Html.ValidationMessageFor(model => model.Visibilty)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Deleted)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Deleted)
                @Html.ValidationMessageFor(model => model.Deleted)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
