﻿@model KeoghsClientSite.Models.ResultsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@section scripts{
    <script src="~/Scripts/homeandresults.js" type="text/javascript"></script>
}
@*@ViewData["SubmissionSuccessful"]*@
      <div class="clear"></div>
      <div class="row"> <!--row div starts here-->
    
        <div class="span4 border-radius tab_navigation tab_active suffix_4"> <!--span4 div starts here-->
          
            <div class="headings border_bottom_blue left  margintop_5">
                <div class="col-1 w252">
                    <h1 class="blue">RESULTS - @ViewData["SubmissionSuccessful"]</h1>
                </div>
            </div>
            <div class="left"> <i class="icon-x-large ribbion-redflag left"></i> <i class="icon-x-large ribbion-orangeflag left"></i> <i class="icon-x-large ribbion-greenflag left"></i> </div>
            <div class="result_tab_container left">
                <div class="col-1 red border_right_solid">24 <sub class="right">%</sub></div>
                <div class="col-1 orange border_right_solid">28 <sub class="right">%</sub></div>
                <div class="col-1 green border_none">28 <sub class="right">%</sub></div>
          </div>
        </div>
        <!--span4 div ends here-->
    
        <div class="span4 border-radius prefix_4 tab_navigation"> <!--span4 div starts here-->
          
            <div class="row left"> <!--new_claim_container div starts here-->
        
                <div class="headings border_bottom left"> <!--heading div starts here-->
                      <div class="col-1 w252">
                        <h1>REPORTS & CALLBACKS</h1>
                      </div>
                </div>
                <!--heading div ends here-->
        
                <div class="reports_callback_container col-1">
                    <div class="level-1"><i class="icon-large level-1"><b class="left">1</b></i> <strong> Level 1 </strong></div>
                    <div class="new_reports  left">
                        <div class="left">
                                <div class="col-1 green_color">10</div>
                                <div class="col-2">New Reports </div>
                        </div>
                        <div class="left">
                            <div class="col-1 red_color">7</div>
                            <div class="col-3">Pending </div>
                        </div>
                    </div>
                </div>
                <!--new_claim_container  div ends here-->
        
                <div class="reports_callback_container col-1">
                    <div class="level-1"><i class="icon-large level-1"><b class="left">2</b></i> <strong> Level 2 </strong></div>
                    <div class="new_reports  left">
                        <div class="left">
                                <div class="col-1 green_color">7</div>
                                <div class="col-2">New Reports </div>
                        </div>
                        <div class="left">
                            <div class="col-1 red_color">10</div>
                            <div class="col-3">Pending </div>
                        </div>
                    </div>
                </div>
                <!--new_claim_container  div ends here-->
        
                <div class="reports_callback_container col-1"> <!--reports_callback_container  div ends here-->
              
                    <div class="level-1"><i class="icon-large callback"></i> <strong> Callbacks </strong></div>
                    <div class="new_reports border_none left">
                        <div class="left">
                            <div class="col-1 red_color">7</div>
                            <div class="col-3">Pending </div>
                        </div>
                    </div>
                </div>
          </div>
          <!--reports_callback_container  div ends here--> 
          
        </div>
        <!--span4 div ends here-->
    
        <div class="span3 border-radius tab_navigation"> <!--span3 div starts here-->
          
              <div class="row"> <!--row div starts here-->
        
                <div class="headings border_bottom left">
                      <div class="col-1 w183">
                        <h1>DESKTOP SEARCHES</h1>
                      </div>
                </div>
                <div class="alerts_container">
                      <div class="col-1 w183"> &nbsp;</div>
                      <div class="col-1 w183"> <i class="icon-x-large under-construction"></i> </div>
                      <div class="col-1 w190">
                        <h2>UNDER CONSTRUCTION </h2>
                      </div>
                 </div>
              </div>
              <!--row div ends here--> 
          
        </div>
        <!--span3 div ends here-->
    
        <div class="span4  border-radius tab_navigation prefix_4"> <!--span4 div starts here-->
          
            <div class="row"> <!--row div starts here-->
        
                    <div class="headings border_bottom left">
                          <div class="col-1 w252">
                            <h1>STATISTICS</h1>
                          </div>
                    </div>
                    <div class="alerts_container">
                          <div class="col-1 w252"> &nbsp;</div>
                          <div class="col-1 w252"> <i class="icon-x-large under-construction"></i> </div>
                          <div class="col-1 w252">
                            <h2>UNDER CONSTRUCTION </h2>
                          </div>
                    </div>
              </div>
              <!--row div ends here--> 
          
        </div>
        <!--span4 div ends here-->
    
        <div class="span3 border-radius tab_navigation"> <!--span3 div starts here-->
          
            <div class="row"> <!--row div starts here-->
        
                <div class="headings border_bottom left">
                      <div class="col-1 w183">
                        <h1>FINANCIALS</h1>
                      </div>
                </div>
                <div class="alerts_container">
                      <div class="col-1 w183"> &nbsp;</div>
                      <div class="col-1 w183"> <i class="icon-x-large under-construction"></i> </div>
                      <div class="col-1 w190">
                        <h2>UNDER CONSTRUCTION </h2>
                      </div>
                </div>

            </div>
            <!--row div ends here--> 
          
        </div>
        <!--span3 div ends here--> 
    
  </div>
  <!--row div ends here-->

 
 <div class="content_wrapper"> 
   <!--content_wrapper  div starts here-->

        <div class="row"> 
            <!--row div starts here-->
                @using (Html.BeginForm("Filter", "Results", FormMethod.Post, new { id = "ClaimsForm" }))
                {
                    Html.RenderPartial("_ClaimsFilter",Model.claimsListViewModel.claimsFilterViewModel);
       
                    Html.RenderPartial("_ClaimsList",Model.claimsListViewModel);
          
                }
            <!--row div ends here-->
        </div>

    <!--content_wrapper  div ends here--> 
</div>
