﻿@using System.Web.Configuration;
@using System.Configuration;
@model KeoghsClientSite.Models.HomeViewModel
   
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@section scripts{

     @Scripts.Render("~/bundles/jqueryfileupload")

    @Scripts.Render("~/bundles/jscustomhome")

    <script src="~/Scripts/cue.js"></script>

    <script src="~/Scripts/jquery.corner.js"></script>


<script language="javascript">
    $(document).ready(function () {
        var claimNumberVisible = $('#ClaimNumberVisible').val();
        var batchReferenceVisible = $('#BatchReferenceVisible').val();
        var claimNumberReadOnly = $('#ClaimNumberReadOnly').val();
        var batchReferenceReadOnly = $('#BatchReferenceReadOnly').val();
        var uploadedDateRangeVisible = $('#UploadedDateRangeVisible').val();
        var uploadedDateRangeReadOnly = $('#UploadedDateRangeReadOnly').val();
        var riskRatingVisible = $('#RiskRatingVisible').val();
        var riskRatingReadOnly = $('#RiskRatingReadOnly').val();
        var statusVisible = $('#StatusVisible').val();
        var statusReadOnly = $('#StatusReadOnly').val();
        uploadedDateRangeInMonths = $('#UploadedDateRangeInMonths').val();
        
        if (uploadedDateRangeInMonths != '' && uploadedDateRangeInMonths != '0') {

            var fullDate = new Date()
            var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
            if (twoDigitMonth.length == 3) {
                twoDigitMonth = twoDigitMonth.substring(1, 3);
            }

            var currentDate = fullDate.getDate() + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
            var startDate = new Date();
            var startDateMinusMonths = new Date();
            startDate.setMonth(startDate.getMonth() - uploadedDateRangeInMonths);
            startDateMinusMonths = startDate;
            var twoDigitMonthStartDt = ((startDate.getMonth().length + 1) === 1) ? (startDate.getMonth() + 1) : '0' + (startDate.getMonth() + 1);
            if (twoDigitMonthStartDt.length == 3) {
                twoDigitMonthStartDt = twoDigitMonthStartDt.substring(1, 3);
            }
            var strStartDateMinusMonths = startDate.getDate() + "/" + twoDigitMonthStartDt + "/" + startDate.getFullYear();

            if ($("#FilterStartDate").val() == strStartDateMinusMonths && $("#FilterEndDate").val() == currentDate)
            {
                $("#FilterStartDate").val(strStartDateMinusMonths);
                $("#FilterEndDate").val(currentDate);
            }
            
        }

        if (claimNumberVisible != 'true') {
            $('#divFilterClaimNumber').hide();
        }

        if (batchReferenceVisible != 'true') {
            $('#divFilterBatchReference').hide();
        }

        if (uploadedDateRangeVisible != 'true') {
            $('#divFilterUploadedDateRange').hide();
        }

        if (riskRatingVisible != 'true') {
            $('#divFilterRiskRating').hide();
        }

        if (statusVisible != 'true') {
            $('#divFilterStatus').hide();
        }

        if (claimNumberReadOnly == 'true') {
            $('#FilterClaimNumber').prop('disabled', true);
        }

        if (batchReferenceReadOnly == 'true') {
            $('#SelectedBatchId').prop('disabled', true);
        }

        if (uploadedDateRangeReadOnly == 'true') {
           
            $('#FilterStartDate').prop('disabled', true);
            $('#FilterEndDate').prop('disabled', true);
            $('#calStartDate').hide();
            $('#calEndDate').hide();
           
        }

        if (riskRatingReadOnly == 'true') {
            $('#divFilterRiskRating :input').attr('disabled', true);
        }
       
        if (statusReadOnly == 'true') {
            $('#divFilterStatus :input').attr('disabled', true);
        }
    });
</script>

}


@foreach (var item in SiteHelpers.LoggedInUser.TemplateFunctions)
    {
        switch (item.Key)
        {
            case "chkEnabled_7_ClaimNumber":
                <input type="hidden" id="ClaimNumberVisible" value='true' />
                break;
            case "chkReadOnly_7_ClaimNumber":
                <input type="hidden" id="ClaimNumberReadOnly" value='true' />
                break;
            case "chkEnabled_8_BatchReference":
                <input type="hidden" id="BatchReferenceVisible" value='true' />
                break;
            case "chkReadOnly_8_BatchReference":
                <input type="hidden" id="BatchReferenceReadOnly" value='true' />
                break;
            case "chkEnabled_10_UploadedDateRange":
                <input type="hidden" id="UploadedDateRangeVisible" value='true' />
                break;
            case "chkReadOnly_10_UploadedDateRange":
                <input type="hidden" id="UploadedDateRangeReadOnly" value='true' />
                break;
            case "chkEnabled_11_RiskRating":
                <input type="hidden" id="RiskRatingVisible" value='true' />
                break;
            case "chkReadOnly_11_RiskRating":
                <input type="hidden" id="RiskRatingReadOnly" value='true' />
                break;
            case "chkEnabled_18_Status":
                <input type="hidden" id="StatusVisible" value='true' />
                break;
            case "chkReadOnly_18_Status":
                <input type="hidden" id="StatusReadOnly" value='true' />
                break;
            case "txt_10_UploadedDateRange":
                <input type="hidden" id="UploadedDateRangeInMonths" value="@item.Value" />
                break;
            

        }
    }


      <div class="clear"> </div>
      <div class="row"> 

      </div>
    <!--row div ends here-->
    <div class="content_wrapper"> 
    <!--content_wrapper  div starts here-->
        <div class="row"> 
            <!--row div starts here-->
     
                @using (Html.BeginForm("Filter", "Home", FormMethod.Post, new { id = "ClaimsForm" }))
                {
                    Html.RenderPartial("_ClaimsFilter", Model.claimsListViewModel.claimsFilterViewModel);
                    
                    Html.RenderPartial("_ClaimsList", Model.claimsListViewModel);
                }
            <!--row div ends here-->
        </div>
    <!--content_wrapper  div ends here--> 
    </div>

     @{    
            int maxRequestLength=0;
            HttpRuntimeSection section =
            ConfigurationManager.GetSection("system.web/httpRuntime") as HttpRuntimeSection;
            if (section != null) 
            { maxRequestLength = section.MaxRequestLength;        }
          
      }

     
      @Html.Hidden("FileUploadMaxSize", maxRequestLength)

    <div id="UploadDialog" style="text-align:center;display:none;">


         <div>

                    <div id="UploadHeader" class="aligncenter paddingtop_12 paddingbottom_10"> <h2>  </h2>
                       
                    </div>
       
                    <div id="UploadIcon" class="aligncenter paddingtop_12 paddingbottom_30">
                    
                        <i> </i>
                         
                        <img src="~/Images/loading.png" id="rotate">

                    </div>
       
                    <div id="UploadFooter" class="aligncenter paddingbottom_15 blue"> <h2>  </h2>   </div>
                           
             <div id="BatchError" style="display:none;"><h2></h2>

                 
            </div>

             <button id="FileDialogOK" type="button" class="btn btn-primary start styled-button" style="display:none;">
                                <span>OK</span>
                            </button>


            </div>
      
    </div>

