﻿@model KeoghsClientSite.Models.BatchListViewModel
@using KeoghsClientSite.StaticClasses
@using MDA.WCF.WebServices.Messages;


<div class="row" id="BatchLevelReports">
    <!--row div starts here-->

    <div class="span18 white_bg webpart border-radius">
        <!--span18 div starts here-->
        <div class="result_container row">
            <div class="headings blue_bg w1214 border_bottom left">
                <!--heading div starts here-->
                <div class="col-1 w1024">
                    <h1>BATCH LEVEL REPORTS</h1>
                </div>
                @*<div style="float:right;padding-right:20px;padding-top:5px;">
                    @{bool IsAdminEnabled = false;}
                    @foreach (var item in SiteHelpers.LoggedInUser.TemplateFunctions)
                    {
                        if (item.Key == "chkEnabled_25_ADAMAINTENANCE") { 
                                IsAdminEnabled = true;
                                break;
                        }
                    }

                    @if (IsAdminEnabled)
                    {
                        @Html.DropDownListFor(model => model.SelectedClientId, new SelectList(Model.Clients, "Value", "Text"),
                            "--- All Clients ---", new { @class = "FilterDropdowns" })
                    }

                  

                </div>*@
                @Html.HiddenFor(model => model.PagingInfo.ItemsPerPage)
                @Html.HiddenFor(model => model.SortColumn)
                @Html.HiddenFor(model => model.SortAscending)
                @Html.HiddenFor(model => model.PagingInfo.CurrentPage)
                @Html.HiddenFor(model => model.PagingInfo.TotalPages)
                @Html.HiddenFor(model => model.PagingInfo.TotalItems)
            </div>
            <!--heading div ends here-->
            <div class="result_container headers">

                <div class="row-1 left">
                    <!--row div starts here-->
                    <div class="col-1 w232">
                        <h4><a href="javascript:void(0)" class="SortCol" id="CLIENTBATCHREFERENCE" title="Client Batch Reference">Batch Reference <i class="icon-small up-arrow"></i></a> </h4>
                    </div>
                    <div class="col-2 w232">
                        <h4><a href="javascript:void(0)" class="SortCol" id="TOTALNUMBEROFCLAIMS" title="Total Number of Claims"> Total Number of Claims <i class="icon-small up-arrow"></i> </a> </h4>
                    </div>
                    <div class="col-2 w232">
                        <h4> <a href="javascript:void(0)" class="SortCol" id="UPLOADEDBY" title="Uploaded By"> Uploaded By <i class="icon-small up-arrow"></i>  </a>  </h4>
                    </div>
                    @* <div class="col-3 w232">*@

                    <div class="col-3 w183">

                        <h4>  <a href="javascript:void(0)" class="SortCol" id="UPLOADDATETIME" title="Upload Date/Time"> Upload Date/Time <i class="icon-small up-arrow"></i>   </a>  </h4>
                    </div>
                    @*<div class="col-3 w232">*@
                    <div class="col-3">
                        <h4>  <a href="javascript:void(0)" class="SortCol" id="STATUS" title="Batch Status"> Batch Status <i class="icon-small up-arrow"></i>   </a>  </h4>
                    </div>
                    @* <div class="col-7 w232">*@

                    <div class="col-7">
                        <h4> <i class="icon-small up-arrow" style="visibility:hidden;"></i> Actions</h4>
                    </div>
                </div>
                <!--row div ends here-->
                <!-- Dropdown div starts here-->
                <!-- Dropdown div Ends here-->
                @{

                    int RowNum = 0;
                    int MarginTop = 96;
                }
                @foreach (ExWebsiteBatchDetails batch in Model.BatchList)
                {
                    RowNum += 1;
                    <div class="row-2 border_bottom_solid-1 red left">
                        <!--row-2 div starts here-->
                        @*<div class="col-1 w232 paddingleft_24 *@

                        <div class="col-1 w232">
                            <h4 title="@batch.ClientBatchReference">@(batch.ClientBatchReference.Length <= 16 ? batch.ClientBatchReference : batch.ClientBatchReference.Substring(0, 16) + "..")</h4>
                        </div>
                        <div class="col-2 w232">
                            <h4> @batch.TotalNumberOfClaims</h4>
                        </div>
                        <div class="col-2 w232">
                            <h4> @batch.UploadedBy  </h4>
                        </div>
                        <div class="col-3 w183">
                            <h4>@batch.UploadedDate.ToString("dd/MM/yyyy HH:mm:ss")</h4>
                        </div>
                        <div class="col-3">
                            <h4>@batch.BatchStatusAsString</h4>
                        </div>
                        @*  <div class="col-7 paddingright_150"> *@



                        <div class="col-7 paddingleft_24" id="btnActions" >
                            @if (batch.BatchStatusAsString != "Loaded" && batch.BatchStatusAsString != "Rejected" && batch.BatchStatusAsString != "Error" && batch.BatchStatusAsString != "Complete")
                            {
                                <i data-field="action_event-@RowNum" id="actions-@RowNum" class="icon-small action-arrow marginleft_80" disabled> </i>
                            }
                            else
                            {
                                <i data-field="action_event-@RowNum" id="actions-@RowNum" class="icon-small action-arrow marginleft_80"> </i>
                            }

                            <div id="action_event-@RowNum" class="dropdownlist action_event_wide marginleft_811 wide_dropdowncontainer border-radius white_bg w186 right display_none">


                                @* <div id="action_event-@RowNum" class="dropdownlist actions   marginleft_801 action_dropdowncontainer border-radius white_bg w186 right display_none">*@

                                <div class="action_event_strip"></div>
                                @if (batch.BatchStatusAsString != "Rejected")
                                {
                                    <div class="left"><a href="#"> <i class="icon-large viewbatch left"></i> <strong class="alignleft margintop_5 GetBatchReport" style="text-align: left;" id="@batch.BatchId" name="@batch.ClientBatchReference">View Batch Report</strong> </a></div>
                                }
                                <div class="left"><a href="#"> <i class="icon-large viewbatch left"></i> <strong class="alignleft margintop_5 GetBatchProcessingResults" style="text-align:left;" id="@batch.BatchId">View Processing Results</strong> </a></div>
                            </div>
                        </div>

                    </div>
                            <!--row-2 div ends here-->

                }

            </div>

            <div id="PagingLinks" class="page_navigation marginleft_570 left">
                <!--proceedings_navigation div starts here-->
                <div class="left"> <a href="#" class="pageprev" id="prevNavLink" ><i class="icon-small prev_arrow" id="pageprevPointer" ></i></a> </div>


                <div class="text left">
                    <p>
                        @Model.PagingInfo.ItemStart - @Model.PagingInfo.ItemEnd of @Model.PagingInfo.TotalItems 
                    </p>
                </div>

                <div class="left"> <a href="#" class="pagenext" id="nextNavLink"><i class="icon-small next_arrow" id="pagenextPointer"></i></a> </div>
            </div>
            <!--proceedings_navigation div ends here-->
        </div>

    </div>
    <!--span18 div ends here-->
    <!--row div ends here-->
</div>



 @{Html.RenderPartial("_UIDialog");}