﻿@using KeoghsClientSite.StaticClasses

 <div class="clear"></div>
      <div class="row"> <!--row div starts here-->
    
    <div class="span6 border-radius tab_navigation   suffix_6"> <!--span4 div starts here-->
          
          <div class="headings w396 border_bottom left margintop_5">
                <div class="col-1 w252">
                      <h1>SINGLE CLAIM INPUT/h1>
                </div>
          </div>

          <br style="clear:both;"/>

               <div>
                @*  <div class="col-1">&nbsp; </div>
                  <div class="col-1"> <i class="icon-x-large under-construction"></i> </div>
                  <div class="col-1">UNDER CONSTRUCTION</div>*@
                      
                      <table border="0" width="100%">
                          <tr>
                              <td colspan="3">&nbsp;</td>
                          </tr>
                          <tr>
                              <td>&nbsp;</td><td align="center"> <i class="icon-x-large under-construction"></i></td><td>&nbsp;</td>
                          </tr>
                          <tr>
                              <td colspan="3" style="text-align:center;">UNDER CONSTRUCTION</td>
                          </tr>
                      </table>
                </div>

          @*<div class="singleclaim_container">
            <div class="col-1 w396"> <i class="icon-xx-large claiminput"></i> </div>
          </div>*@

    </div>
    <!--span6 div ends here-->
    
    <div class="span6 border-radius tab_navigation @Url.SetActiveUploadMenu("Upload","Index") prefix_6"> <!--span4 div starts here-->
          
        <a href="@Url.Content("~/Upload/Index")">
          <div class="headings w396  border_bottom_blue left  margintop_5">
                <div class="col-1 w252">
                  <h1 class="blue"></h1>
                </div>
          </div>
          <div class="singleclaim_container">
                <div class="col-1 w396"> <i class="icon-xx-large batchupload"></i> </div>
          </div>
            </a>
    </div>
    <!--span6 div ends here-->
    
    <div class="span6 border-radius tab_navigation @Url.SetActiveUploadMenu("Upload","OutstandingClaims") prefix_6"> <!--span4 div starts here-->

        <a href="@Url.Content("~/Upload/OutstandingClaims")">
          <div class="headings w396  border_bottom left  margintop_5">
                <div class="col-1 w252">
                  <h1>OUTSTANDING</h1>
                </div>
          </div>
          
          <div class="singleclaim_container">
                <div class="col-1 w396"> 
                    <i class="icon-xx-large claiminput left marginleft_50"></i> 
                    <strong class="left red"> 0 </strong> <b class="left"> Claims not <br>
                  yet submitted </b> 
                </div>
          </div>
            </a>

   </div>
    <!--span6 div ends here--> 
    
  </div>
      <!--row div ends here-->