﻿@using System.Web.Configuration;
@using System.Configuration;
@model KeoghsClientSite.Models.BatchListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@section scripts{
    
      @Scripts.Render("~/bundles/jqueryfileupload")

     @Scripts.Render("~/bundles/jscustomupload")

    
  
    <script src="~/Scripts/jquery.corner.js"></script>

    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script> 
    
    <link href="~/Content/themes/dynaTree/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet"> 
    
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>


    <script language="javascript">
        $('#ClearButton').corner("5px");
        $('#FileSubmit').corner("5px");
        $('#Browse').corner("5px");
        $(document).ready(function () {
            var uploadFileSectionVisible = $('#UploadFileSectionVisible').val();
            var uploadFileSectionReadOnly = $('#UploadFileSectionReadOnly').val();
            var batchReportsSectionVisible = $('#BatchReportsSectionVisible').val();
            var batchReportsSectionReadOnly = $('#BatchReportsSectionReadOnly').val();
            var singleClaimsVisible = $('#SingleClaimsVisible').val();

            if (singleClaimsVisible != 'true') {
                $('#SingleClaimHeader').css('opacity', '0.5');
                $('#singleClaimAnchor').css('cursor', 'default');
                $('#singleClaimAnchor').click(function (e) {
                    e.preventDefault();
                });

                $('#OutstandingClaimsHeader').css('opacity', '0.5');
                $('#outstandingClaimsAnchor').css('cursor', 'default');
                $('#outstandingClaimsAnchor').click(function (e) {
                    e.preventDefault();
                });
            }
            
            if (uploadFileSectionVisible != 'true' && batchReportsSectionVisible != 'true') {
                $('#UploadHeader').css('opacity', '0.5');
                $('#uploadAnchor').css('cursor', 'default');
                $('#uploadAnchor').click(function (e) {
                        e.preventDefault();
                });
            }

            if (batchReportsSectionVisible != 'true') {
                $('#BatchLevelReports').css('visibility', 'hidden');
            }

            if (batchReportsSectionReadOnly == 'true') {
                //$('#BatchLevelReports :input').attr('disabled', true);
                //$('.action-arrow').mouseover(function () {
                //    $('[id^=actions').css('cursor', 'default');
                //});
            }

            if (uploadFileSectionVisible != 'true') {
                $('#divFileUpload').css('visibility', 'hidden');
                $('#divUploadProgress').css('visibility', 'hidden');
            }

            if (uploadFileSectionReadOnly == 'true') {
                $('#divUploadProgress').css('visibility', 'hidden');
            }

            if (uploadFileSectionReadOnly == 'true') {
                $('#divFileUpload').css('opacity', '0.5');
                $('#divFileUpload').css('filter', 'alpha(opacity = 50)');
                $('#divFileUpload :input').attr('disabled', true);
                $('#btnBrowse').css('opacity', '0.5');
                $('#btnBrowse').css('filter', 'alpha(opacity = 50)');
                $('#btnBrowse').css('cursor', 'default');
                $('#fileupload').css('cursor', 'default');
                $('#ClearButton').css('opacity', '0.5');
                $('#ClearButton').css('filter', 'alpha(opacity = 50)');
                $('#ClearButton').css('cursor', 'default');
                $('#FileSubmit').css('opacity', '0.5');
                $('#FileSubmit').css('filter', 'alpha(opacity = 50)');
                $('#FileSubmit').css('cursor', 'default');
             
              
            }
            

        });
    </script>

    

}

 @{
     if (System.Configuration.ConfigurationManager.AppSettings["ShowSingleClaim"] == "true")
     {
        Html.RenderPartial("_UploadMenuSingleClaim");
     }
     else
     {
         Html.RenderPartial("_UploadMenu");
     }
  }

@foreach (var item in SiteHelpers.LoggedInUser.TemplateFunctions)
{
    switch(item.Key){
        case "chkEnabled_2_BatchUpload":
            <input type="hidden" id="UploadFileSectionVisible" value='true' />
            break;
            case "chkReadOnly_2_BatchUpload":
            <input type="hidden" id="UploadFileSectionReadOnly" value='true' />
            break;
            case "chkEnabled_3_BatchLevelReports":
            <input type="hidden" id="BatchReportsSectionVisible" value='true' />
            break;
            case "chkReadOnly_3_BatchLevelReports":
            <input type="hidden" id="BatchReportsSectionReadOnly" value='true' />
            break;
            case "chkEnabled_4_SingleClaimInput":
            <input type="hidden" id="SingleClaimsVisible" value='true' />
            break;
            

    }
}


   

  <div class="content_wrapper"> 
    <!--content_wrapper  div starts here-->
        <div class="row" > 
            <!--row div starts here-->
            <div class="span6 border-radius white_bg paddingbottom_30 webpart" id="divFileUpload">
                <!--span5 div starts here-->
                <!--new_claim_container div starts here-->
                <div class="headings border_bottom left blue_bg">
                    <div class="col-1 w388 paddingtop_12 paddingbottom_10 paddingleft_10">
                        <h1> UPLOAD BATCH DATA FILE</h1>
                    </div>
                </div>

                <form action="/FileUpload/UploadHandler.ashx" method="POST" enctype="multipart/form-data" id="uploadForm">

                    <div class="upload_batch_container row">

                        <div class="forms left">
                            <div class="col-1 w386 ">
                                <h1> Upload ADA File<br></h1>
                            </div>
                            <div class="col-2 w386">
                                <input type="text" name="filetext" id="filetext" class="fileupload" readonly />
                                
                                <span class="btn btn-success fileinput-button NFFileButton" id="btnBrowse">
                                    <input id="fileupload" type="file" name="files[]" data-url="/FileUpload/UploadHandler.ashx" />
                                </span>
                            </div>

                            <div class="col-1">
                                <br>
                                <h1>Batch Reference</h1>
                            </div>

                            <div class="col-2">
                                <input id="batchref" name="batchref" type="text" class="upload_batch_input" maxlength="50" title="Maximum of 50 characters">
                            </div>
                        </div>

                        <div class="button right">
                            <button id="ClearButton" type="button" class="btn btn-primary start styled-button-clear">
                                <span>Reset</span>
                            </button>

                            <button id="FileSubmit" type="button" class="btn btn-primary start styled-button-submit">
                                <span>Submit</span>
                            </button>


                        </div>

                    </div>
                </form>

                <!--upload_batch_container div ends here-->

            </div>
            <!--span6 div ends here-->
          
            <div style="height:225px;" class="span12 border-radius white_bg  webpart" id="divUploadProgress">

                    <div id="UploadHeader" class="aligncenter paddingtop_12 paddingbottom_10"> <h2>  </h2>
                        @*<p>&nbsp;</p>*@
                    </div>
       
                    <div id="UploadIcon" class="aligncenter paddingtop_12 paddingbottom_15">
                    
                        <i> </i>
                         
                        <img src="~/Images/loading.png" id="rotate" style="display:none;">

                    </div>
       
                    <div id="UploadFooter" class="aligncenter paddingbottom_15 blue" style="margin-top:-5px;">
                    
                        <table style="text-align:center;margin:auto;">

                            <tr>
                                <td>
                                     <h2 id="FooterText">  </h2>  
                                   
                                </td>
                                 <td id="ButtonCell" style="vertical-align:top;">
                                      &nbsp;<input type="button" class="styled-button" value="Continue" id="ContinueButton" style="display:none;margin-top:-2px;" />
                                     
                                         <input type="button" class="styled-button" value="Show Error" id="ShowErrorButton" style="display:none;margin-top:-2px;" />
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>


        </div> <!--row div ends here-->
    
        @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { id = "BatchForm" }))
        {
       
            Html.RenderPartial("_BatchList",Model);
          
            @Html.HiddenFor(model => model.ExpectedFileExtension)
        }

      @{    
            int maxRequestLength=0;
            HttpRuntimeSection section =
            ConfigurationManager.GetSection("system.web/httpRuntime") as HttpRuntimeSection;
            if (section != null) 
            { maxRequestLength = section.MaxRequestLength;        }
          
      }

     
      @Html.Hidden("FileUploadMaxSize", maxRequestLength)

    <!--content_wrapper  div ends here--> 
    </div>

<div id="BatchError" style="display:none;"><h2></h2>

      <button id="BatchErrorDialogOK" type="button" class="btn btn-primary start styled-button">
                                <span>OK</span>
                            </button>
</div>