﻿@using System.Web.Configuration;
@using System.Configuration;
@model KeoghsClientSite.Models.HomeViewModel

@{
    //Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Search";
}

<style type="text/css">
    .highlightWord {
        background-color: #ff2;
    }
</style>

<script>
    $(document).ready(function () {
        $('.pagefirst').click(function () {
            var Currpage = parseInt($('#PagingInfo_CurrentPage').val(), 10);
            if (Currpage != 1) {
                $('#PagingInfo_CurrentPage').val(1);
                $(this).closest('form')[0].submit();
                return true;
            }
            else { return false; }
        });

        $('.pagelast').click(function () {
            var TotalPages = parseInt($('#PagingInfo_TotalPages').val(), 10);
            $('#PagingInfo_CurrentPage').val(TotalPages);
            $(this).closest('form')[0].submit();
            return true;
        });

        $('.pageprev').click(function () {
            // Get current page
            var Currpage = parseInt($('#PagingInfo_CurrentPage').val(), 10);
            if (Currpage != 1) {
                $('#PagingInfo_CurrentPage').val(Currpage - 1);
                $(this).closest('form')[0].submit();
            }
            else { return false; }
        });
        $('.pagenext').click(function () {
            // Get current page
            var Currpage = parseInt($('#PagingInfo_CurrentPage').val(), 10);
            var TotalPages = parseInt($('#PagingInfo_TotalPages').val(), 10);

            if (Currpage != TotalPages) {
                $('#PagingInfo_CurrentPage').val(Currpage + 1);
                $(this).closest('form')[0].submit();
            }
            else { return false; }
        });

        jQuery.fn.highlight = function (str, className) {
            var regex = new RegExp(str, "gi");
            return this.each(function () {
                $(this).contents().filter(function () {
                    return this.nodeType == 3 && regex.test(this.nodeValue);
                }).replaceWith(function () {
                    return (this.nodeValue || "").replace(regex, function (match) {
                        return "<span class=\"" + className + "\">" + match + "</span>";
                    });
                });
            });
        };
    });
</script>


<div class="clear"> </div>
<div class="row">
</div>
<!--row div ends here-->
<div class="content_wrapper">
    <!--content_wrapper  div starts here-->
    <div class="row">
        <!--row div starts here-->
        @using (Html.BeginForm("SearchFilter", "Search", FormMethod.Post, new { id = "SearchForm" }))
        {
            @*@Html.ValidationSummary()*@

            Html.RenderPartial("_SearchFilter", Model.searchClaimsListViewModel.searchFilterViewModel);
            //Html.RenderPartial("_ClaimsFilter", Model.claimsListViewModel.claimsFilterViewModel);

            Html.RenderPartial("_SearchList", Model.searchClaimsListViewModel);

          

        }
        <!--row div ends here-->
    </div>
    <!--content_wrapper  div ends here-->
</div>