﻿@model KeoghsClientSite.Models.Note.Note


<script type="text/javascript">
    
    $(document).ready(function () {
        $('tr:even').addClass('alt-row-class');
    });

    $('.decisionDropDown-control').change(function () {
        var dropdownvalue = $(".decisionDropDown-control").val();
        var textvalue = $(".textarea").val();
        var uploadvalue = $(".upload-control").val();

        if (dropdownvalue == '' && textvalue == '' && uploadvalue == '') {
            $("#approve-btn").prop("disabled", true);
        }
        else {
            $("#approve-btn").prop("disabled", false);
        }        
    });

    $('.textarea').bind("change keyup input", function () {
        var dropdownvalue = $(".decisionDropDown-control").val();
        var textvalue = $(".textarea").val();
        var uploadvalue = $(".upload-control").val();

        if (dropdownvalue == '' && textvalue == '' && uploadvalue == '') {
            $("#approve-btn").prop("disabled", true);
        }
        else {
            $("#approve-btn").prop("disabled", false);
        }
    });

    $('.upload-control').change(function () {
        var dropdownvalue = $(".decisionDropDown-control").val();
        var textvalue = $(".textarea").val();
        var uploadvalue = $(".upload-control").val();
        
        if (dropdownvalue == '' && textvalue == '' && uploadvalue == '') {
            $("#approve-btn").prop("disabled", true);
        }
        else {
            $("#approve-btn").prop("disabled", false);
        }
    });



</script>



<link href="~/Content/notes.css" rel="stylesheet" />
<script src="~/Scripts/homeandresults.js"></script>

<br />
@using (Html.BeginForm("CreateRiskNote", "Note", FormMethod.Post, new { enctype = "multipart/form-data", id = "createRiskNoteForm" }))
{

<input type="hidden" id="rowId" name="rowId" />

@Html.HiddenFor(model => model.Deleted)
@Html.HiddenFor(model => model.NoteId)
for (int i = 0; i < Model.RiskClaim_Id.Count(); i++)
{
    @Html.HiddenFor(model => Model.RiskClaim_Id[i])
}
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedDate)
@Html.HiddenFor(model => model.UserTypeId)
<div class="datagrid">
    <table class="myTable">
        <thead>
            <tr>
                <th style="display: none">Id</th>
                <th style="width: 50px">Date/Time</th>
                <th style="width: 50px">User</th>
                <th>Note</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int counter = 0; }
            @foreach (var note in Model.History)
            {
                
                <tr>
                    <td style="display: none">@note.Id</td>
                    <td style="width: 50px">@note.CreatedDate</td>
                    <td style="width: 50px">@note.CreatedBy</td>
                    <td>                                     
                        @if (@note.DecisionId != null)
                        {
                            if (counter == 0)
                            {
                                <span class="decisionRed"> @note.Decision</span>
                            }
                            else
                            {
                                <span class="decision"> @note.Decision</span>
                            }
                            <br />
                            counter = counter + 1;
                         }
                        @note.NoteDesc
                        @if (@note.UpdatedBy != null)
                        {
                            <br />
                            <span class="updateText"> (Modified by @note.UpdatedBy on @note.UpdatedDate)</span>
                        }
                        @if (@note.OriginalFile != null)
                        {
                            <br />
                            <p style="float:left;margin-right:10px"><b class="intelText">Intel Attachment: </b></p>
                            <i id="@Model.NoteId">@Html.ActionLink(@note.FileName, "OpenRiskNoteFile", "Note", new { rowId = @note.Id }, new { @class = "openRiskNoteFile", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i>
                        }
                    </td>
                    <td style="width: 5px">
                    @if (@note.Visibilty == 2)
                    {
                        <i id="@("Note")" style="float:right" title="Restricted" class="@("icon-small lock left")"></i>
                    } 
                    </td>
                    <td style="width: 5px">
                        @if (@note.OriginalFile != null)
                        {
                            <span class="glyphicon glyphicon-paperclip"></span>
                            <i id="@Model.NoteId">@Html.ActionLink(" ", "OpenRiskNoteFile", "Note", new { rowId = @note.Id }, new { @class = "icon-small paperclip", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i>
                        }
                    </td>
                    @*<td style="width: 5px"><i id="@Model.NoteId" title="Edit" class="@("icon-small edit left")"></i></td>*@
                    <td style="width: 5px"><i id="@Model.NoteId">@Html.ActionLink(" ", "EditRiskNote", "Note", new { rowId = @note.Id }, new { @class = "icon-small edit left", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i></td>
                    <td style="width: 5px"><i id="@Model.NoteId">@Html.ActionLink(" ", "DeleteRiskNote", "Note", new { rowId = @note.Id }, new { @class = "icon-small delete", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i></td>
                    @*<td style="width: 5px"><i id="@Model.NoteId" title="Delete" class="@("icon-large delete")"></i></td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
   
<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
    <!--row div starts here-->
    <div class="col-1">
        <p style="float:left;margin-right:10px;margin-top: 10px;"><b>@Html.LabelFor(model => model.Decision_Id)</b></p>
        @Html.DropDownListFor(model => model.Decision_Id, new SelectList(Model.Decisions, "Value", "Text"), "--- Please select ---", new { @class = "decisionDropDown-control" })
    </div>
    <div class="col-2" style="float:right;">
        <p style="float:left;margin-right:10px;margin-top: 10px;"><b>@Html.LabelFor(model => model.Visibilty_Id)</b></p>
        @Html.DropDownListFor(model => model.Visibilty_Id, new SelectList(Model.Visibilty, "Value", "Text"), new { @class = "visibilityDropDown-control" })
    </div>
</div>
    
<div id="errorContainer" class="alert" style="display: none">
    <div id="errors"></div>
</div>
@Html.TextAreaFor(model => model.NoteDesc, new { @class = "textarea", @cols = "134", @rows = "5" })

<div>
    <p style="float:left;margin-right:10px;margin-top: 10px;"><b>@Html.LabelFor(model => model.DocumentUpload)</b></p>
    @Html.TextBoxFor(m => m.DocumentUpload, new { type = "file", id = "fileInput", @class = "upload-control" })
</div>


<div class="footer">
    <button type="submit" id="approve-btn" disabled="disabled" class="styled-button-submit-note">Save</button>
    <button type="button" class="styled-button-cancel">Cancel</button>
</div>

}

@*<form action="/Note/CreateRiskNote" method="post" enctype="multipart/form-data">
    <div>
        @Html.LabelFor(m => m.DocumentUpload)
        @Html.TextBoxFor(m => m.DocumentUpload, new { type = "file" })
    </div>

    <div class="footer">
        <button type="submit" id="approve-btn" disabled="disabled" class="styled-button-submit-note">Save</button>
        <button type="button" class="styled-button-cancel">Cancel</button>
    </div>
</form>*@




