﻿@model KeoghsClientSite.Models.Note.Note


<script type="text/javascript">

    $('.decisionDropDown-control').change(function () {
        var dropdownvalue = $(".decisionDropDown-control").val();
        var textvalue = $(".textarea").val();
        if (dropdownvalue == '' && textvalue == '') {
            $("#approve-btn").prop("disabled", true);
        }
        else {
            $("#approve-btn").prop("disabled", false);
        }
    });

    $('.textarea').bind("change keyup input", function () {
        var dropdownvalue = $(".decisionDropDown-control").val();
        var textvalue = $(".textarea").val();
        if (dropdownvalue == '' && textvalue == '') {
            $("#approve-btn").prop("disabled", true);
        }
        else {
            $("#approve-btn").prop("disabled", false);
        }
    });

</script>


<link href="~/Content/notes.css" rel="stylesheet" />
<script src="~/Scripts/homeandresults.js"></script>


@using (Html.BeginForm("CreateRiskNote", "Note", FormMethod.Post, new { id = "createRiskNoteForm" }))
{
    @Html.HiddenFor(model => model.Deleted)
    @*@Html.HiddenFor(model => model.History)*@
    @Html.HiddenFor(model => model.NoteId)
    for (int i = 0; i < Model.RiskClaim_Id.Count(); i++)
    {
        @Html.HiddenFor(model => Model.RiskClaim_Id[i])
    }
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.UserTypeId)
    <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
        <!--row div starts here-->
        <div class="col-1">
            <p style="float:left;margin-right:10px;margin-top: 10px;"><b>@Html.LabelFor(model => model.Decision_Id)</b></p>
            @Html.DropDownListFor(model => model.Decision_Id, new SelectList(Model.Decisions, "Value", "Text"), "--- Please select ---", new { @class = "decisionDropDown-control" })
        </div>
        <div class="col-2" style="float:right;">
            <p style="float:left;margin-right:10px;margin-top: 10px;"><b>@Html.LabelFor(model => model.Visibilty_Id)</b></p>
            @Html.DropDownListFor(model => model.Visibilty_Id, new SelectList(Model.Visibilty, "Value", "Text"), new { @class = "visibilityDropDown-control" })
        </div>
    </div>
    <div id="errorContainer" class="alert" style="display: none">
        <div id="errors"></div>
    </div>
    @Html.TextAreaFor(model => model.NoteDesc, new { @class = "textarea", @cols = "134", @rows = "5" })
    <div class="footer">
        <button type="submit" id="approve-btn" disabled="disabled" class="styled-button-submit-note">Save</button>
        <button type="button" class="styled-button-cancel">Cancel</button>
    </div>


}




