﻿@model KeoghsClientSite.Models.ClaimsListViewModel
@using MDA.WCF.WebServices.Messages;
@using KeoghsClientSite.StaticClasses  

@{
    var levelOneReportDelay = ViewData["LevelOneReportDelay"];
}

<style>
    .squaredOne {
      border: 1px solid #808080;
	  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    }
</style>

<script type="text/javascript">

    function toggleChecked(status) {
        $("#checkboxes input").each(function () {

            // Set the checked status of each to match the
            // checked status of the check all checkbox:
            $(this).prop("checked", status);

            if ($("#checkboxes input:checked").length > 1) {
                $('#hidedivlevel1').hide();
                $('#hidedivcue').hide();
                $('#hidedivsinglenote').hide();
                $('#hidedivmultinote').show();
            }
            else {
                $('#hidedivlevel1').show();
                $('#hidedivcue').show();
                $('#hidedivsinglenote').show();
                $('#hidedivmultinote').hide();
            }
        });
    }

    $(document).ready(function () {

        //Set the default value of the global checkbox to true:
        $("#checkall").prop('checked', false);

        // Attach the call to toggleChecked to the
        // click event of the global checkbox:
        $("#checkall").click(function () {
            var status = $("#checkall").prop('checked');
            toggleChecked(status);
            //$('#hidedivlevel1').hide();
            //$('#hidedivcue').hide();
        });
    });

</script>



@{bool IsAdminEnabled = false;}
@{bool IsLevel1Enabled = false;}
@{bool IsCUEEnabled = false;}
@{bool IsNotesEnabled = false;}
@foreach (var item in SiteHelpers.LoggedInUser.TemplateFunctions)
{
    switch (item.Key)
    {
        case "chkEnabled_25_ADAMAINTENANCE":
            IsAdminEnabled = true;
            break;
        case "chkEnabled_23_Level 1":
            IsLevel1Enabled = true;
            break;
        case "chkEnabled_24_CUE":
            IsCUEEnabled = true;
            break;
        case "chkEnabled_24a_Notes":
            IsNotesEnabled = true;
            break;
    }
}

@*@{bool IsAdminEnabled = false;}
@foreach (var item in SiteHelpers.LoggedInUser.TemplateFunctions)
{
    if (item.Key == "chkEnabled_25_ADAMAINTENANCE")
    {
        IsAdminEnabled = true;
        break;
    }
}*@

@*<div>
    <input type="checkbox" id="checkall" /><span>Check All</span>
</div>*@

<div class="span15 white_bg webpart border-radius"> 
    <!--span5 div starts here-->
    <div class="result_container row">
        <div class="headings blue_bg w1010 border_bottom left">
            <!--heading div starts here-->
            <div class="col-1 w985" style="height: 20px;padding:10px">
                <span style="font-size: 14px; font-weight: bold; padding-left:10px; ">RESULTS</span>
                <span style="font-size: 12px; font-weight: bold; padding-left:60px">KEY: </span>
                <span style="padding-left:10px"> <img src="~/Images/High_risk.gif" alt="High Risk Claims" style="vertical-align: -8px" /> </span>
                <span style="font-size: 12px"> High Risk </span>
                <span style="padding-left:30px"> <img src="~/Images/Medium_risk.gif" alt="Medium Risk Claims" style="vertical-align: -8px" /> </span>
                <span style="font-size: 12px"> Medium Risk </span>
                <span style="padding-left:30px"> <img src="~/Images/Low_risk.gif" alt="Low Risk Claims" style="vertical-align: -8px" /> </span>
                <span style="font-size: 12px">  Low Risk </span>
                <span style="padding-left:30px"> <img src="~/Images/Keoghs.png" alt="Keoghs CFS Case" style="vertical-align: -2px" /> </span>
                <span style="font-size: 12px"> Keoghs CFS Case </span>
                <span style="padding-left:30px"> <img src="~/Images/black-error.gif" alt="Claim Error" style="vertical-align: -2px" /> </span>
                <span style="font-size: 12px">  Claim Error </span>
                <span style="padding-left:30px"> <img src="~/Images/HighGrey.png" alt="Previous Claim" style="vertical-align: -2px" /> </span>
                <span style="font-size: 12px">  Previous Version </span>
            </div>
        </div>
        @*Wrap the table element in a div named "checkboxes":*@
        <div id="checkboxes">

            <!--heading div ends here-->
            <div class="result_container headers h674" style="width: 99%">
                <div class="row-1 left" style="width: 99%">
                    <!--row div starts here-->
                    <div class="col-1" style="width:3%">
                        <h4>
                            <input type="checkbox" id="checkall" class="squaredOne" />
                        </h4>
                    </div>
                    <div class="col-1" style="width:6%">
                        <h4>
                            @if (Model.claimsFilterViewModel.SortColumn == "RISKRATING" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="#" class="SortCol" id="RISKRATING" title="Risk Rating">Risk <i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "RISKRATING" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="RISKRATING" title="Claim No.">Risk <i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="RISKRATING" title="Claim No.">Risk<i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>
                    <div class="col-2" style="width:15%">
                        <h4 class="left">
                            @if (Model.claimsFilterViewModel.SortColumn == "CLIENTCLAIMREFNUMBER" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="CLIENTCLAIMREFNUMBER" title="Claim No."> Claim No <i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "CLIENTCLAIMREFNUMBER" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="CLIENTCLAIMREFNUMBER" title="Claim No."> Claim No <i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="CLIENTCLAIMREFNUMBER" title="Claim No."> Claim No <i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>
                    <div class="col-2" style="width:15%">
                        <h4>
                            @if (Model.claimsFilterViewModel.SortColumn == "STATUS" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="STATUS" title="Status">Status <i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "STATUS" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="STATUS" title="Status">Status <i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="STATUS" title="Status">Status <i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>
                    <div class="col-3" style="width:15%">
                        <h4>
                            @if (Model.claimsFilterViewModel.SortColumn == "CLIENTBATCHREFERENCE" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="CLIENTBATCHREFERENCE" title="Client Batch Reference">Batch Reference<i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "CLIENTBATCHREFERENCE" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="CLIENTBATCHREFERENCE" title="Client Batch Reference">Batch Reference<i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="CLIENTBATCHREFERENCE" title="Client Batch Reference">Batch Reference <i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>
                    <div class="col-4" style="width:12%">
                        <h4>
                            @if (Model.claimsFilterViewModel.SortColumn == "INCIDENTDATE" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="INCIDENTDATE" title="Incident Date">Incident Date<i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "INCIDENTDATE" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="INCIDENTDATE" title="Incident Date">Incident Date<i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="INCIDENTDATE" title="Incident Date">Incident Date<i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>

                    <div class="col-6" style="width:10%">
                        <h4>
                            @if (Model.claimsFilterViewModel.SortColumn == "RESERVE" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="RESERVE" title="Reserve">Reserve<i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "RESERVE" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="RESERVE" title="Reserve">Reserve<i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="RESERVE" title="Reserve">Reserve<i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>
                    <div class="col-6" style="width:10%">
                        <h4>
                            @if (Model.claimsFilterViewModel.SortColumn == "PAYMENTSTODATE" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="PAYMENTSTODATE" title="Payment">Payments<i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "PAYMENTSTODATE" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="PAYMENTSTODATE" title="Payment">Payments<i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="PAYMENTSTODATE" title="Payment">Payments<i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>
                    <div class="col-6" style="width:10%">
                        <h4>
                            @if (Model.claimsFilterViewModel.SortColumn == "UPLOADDATETIME" && !Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="UPLOADDATETIME" title="Upload Date/Time">Uploaded <i class="icon-small sortup-arrow"></i></a>
                            }
                            else if (Model.claimsFilterViewModel.SortColumn == "UPLOADDATETIME" && Model.claimsFilterViewModel.SortAscending)
                            {
                                <a href="javascript:void(0)" class="SortCol" id="UPLOADDATETIME" title="Upload Date/Time">Uploaded <i class="icon-small sortdown-arrow"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="SortCol" id="UPLOADDATETIME" title="Upload Date/Time">Uploaded <i class="icon-small up-arrow"></i></a>
                            }
                        </h4>
                    </div>

                </div>

                <!--row div ends here-->
                <!-- Dropdown div starts here-->
                @{

                    int RowNum = 0;

                }
                <!-- Dropdown div Ends here-->
                @foreach (ExRiskClaimDetails claim in Model.Claims)
                {
                    RowNum += 1;
                    var sRatingClass = "";
                    var sRowClass = "";
                    var sStatusClass = "";
                    var sStatusReadTitleTxt = "";
                    var fontWeight = "";




                    if (claim.RiskRatingAsString == "Red")
                    {
                        sRatingClass = "red";
                        sRowClass = "red";
                    }
                    else if (claim.RiskRatingAsString == "Amber")
                    {
                        sRatingClass = "orange";
                        sRowClass = "orange";
                    }
                    else
                    {
                        sRatingClass = "green";
                        sRowClass = "green";
                    }


                    if (claim.ClaimStatus == -8)
                    {
                        sRatingClass = "keoghs";
                        sRowClass = "keoghs";
                    }

                    if (claim.ClaimStatus > -8 && claim.ClaimStatus <= -1)
                    {
                        sRatingClass = "error";
                        sRowClass = "error";
                    }

                    if (!claim.LatestVersion)
                    {
                        //sRatingClass = "notLatest";
                        sRowClass = "notLatest";

                        if (sRatingClass == "red")
                        {
                            sRatingClass = "highgrey";
                        }

                        if (sRatingClass == "orange")
                        {
                            sRatingClass = "mediumgrey";
                        }

                        if (sRatingClass == "green")
                        {
                            sRatingClass = "lowgrey";
                        }

                        if (sRatingClass == "keoghs")
                        {
                            sRatingClass = "keoghsgrey";
                        }

                        if (sRatingClass == "error")
                        {
                            sRatingClass = "errorgrey";
                        }

                    }


                    if (claim.ClaimReadStatus == 1)
                    {
                        fontWeight = "normal";
                    }
                    else
                    {
                        fontWeight = "bold";
                    }

                    <div class="@("row-2 border_bottom_solid-1 " + sRowClass +  " left")" style="width: 99%;font-size:13px; font-weight:@fontWeight" id="@("ClaimRow" + claim.RiskClaim_Id)">


                        <!--row-2 div starts here-->
                        <div class="col-1" style="width: 3%">
                            @Html.CheckBox("checked", false, new { @class = "selectedClaim", value = claim.RiskClaim_Id })
                            @*@Html.CheckBox("riskClaimId", new { value = claim.RiskClaim_Id })*@
                        </div>
                        <div class="col-1" style="width: 6%">
                            @if (claim.MessageList.Count() > 0)
                            {
                                <i class="icon-small add left" id="plus_accordion-@RowNum" onclick="divShowHide('plus_accordion-@RowNum', 'plus_container-@RowNum', 'minus', 'add');"></i>
                                <i class="@("icon-small " + sRatingClass + "-flag left")"></i>
                            }
                            else
                            {
                                <span class="icon-small left"></span>
                                <i class="@("icon-small " + sRatingClass + "-flag")"></i>
                            }

                        </div>
                        <div class="col-2" style="width: 15%">
                            <span title="@claim.ClientClaimRefNumber">@(claim.ClientClaimRefNumber.Length <= 15 ? claim.ClientClaimRefNumber : claim.ClientClaimRefNumber.Substring(0, 15) + "..")</span>
                        </div>
                        <div class="col-2" style="width: 15%">
                            <span id="@("ClaimStatus" + claim.RiskClaim_Id)">
                                @switch (claim.ClaimReadStatus)
                                {
                                    case 0:
                                        sStatusClass = "Unread";
                                        sStatusReadTitleTxt = "Unread Claim";
                                        break;
                                    case 1:
                                        sStatusClass = "Read";
                                        sStatusReadTitleTxt = "Read Claim";
                                        break;
                                    case 2:
                                        sStatusClass = "UnreadIncrease";
                                        sStatusReadTitleTxt = "Unread Claim Increase in Risk Status";
                                        break;
                                    case 3:
                                        sStatusClass = "UnreadDecrease";
                                        sStatusReadTitleTxt = "Unread Claim Decrease in Risk Status";
                                        break;
                                    case 4:
                                        sStatusClass = "Unread";
                                        sStatusReadTitleTxt = "Unread Claim change in reserve amount";

                                        break;
                                }

                                @if (claim.LatestVersion && (sRatingClass == "red" || sRatingClass == "orange" || sRatingClass == "green"))
                                {
                                    var iconId = claim.RiskClaim_Id + "|" + claim.ClaimReadStatus;

                                    if (claim.MessageList.Count() > 0)
                                    {
                                        <i id="@("Status"+claim.RiskClaim_Id)" title="@sStatusReadTitleTxt" class="@("icon-small " + sStatusClass + "-status left UpdateClaimStatus")" name="@iconId"></i>
                                    }
                                    else
                                    {
                                        <span class=" icon-small left"></span>
                                    }
                                    if (IsNotesEnabled)
                                    {
                                        if (claim.NoteAdded == true && claim.DecisionAdded == false)
                                        {
                                            <i id="@claim.BaseRiskClaim_Id">@Html.ActionLink(" ", "Index", "Note", new { claimsSelected = claim.BaseRiskClaim_Id }, new { @class = "icon-small add-note left", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i>
                                            @*<i id="@("Note" + claim.RiskClaim_Id)" title="View Note" class="@("icon-small add-note left")"></i>*@
                                        }
                                        if (claim.DecisionAdded == true && claim.NoteAdded == true)
                                        {
                                            <i id="@claim.BaseRiskClaim_Id">@Html.ActionLink(" ", "Index", "Note", new { claimsSelected = claim.BaseRiskClaim_Id }, new { @class = "icon-small decision left", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i>
                                            @*<i id="@("Note" + claim.RiskClaim_Id)" title="View Note" class="@("icon-small decision left")"></i>*@
                                        }
                                        if (claim.DecisionAdded == true && claim.NoteAdded == false)
                                        {
                                            <i id="@claim.BaseRiskClaim_Id">@Html.ActionLink(" ", "Index", "Note", new { claimsSelected = claim.BaseRiskClaim_Id }, new { @class = "icon-small decision2 left", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i>
                                            @*<i id="@("Note" + claim.RiskClaim_Id)" title="View Note" class="@("icon-small decision2 left")"></i>*@
                                        }
                                        if (claim.IntelAdded == true)
                                        {
                                            <i id="@claim.BaseRiskClaim_Id">@Html.ActionLink(" ", "Index", "Note", new { claimsSelected = claim.BaseRiskClaim_Id }, new { @class = "icon-small paperclip left", data_dialog_id = "NotesDialog", data_dialog_title = "Claim Notes" })</i>
                                        }
                                    }
                                    if (IsLevel1Enabled)
                                    {
                                        if (sRatingClass != "green")
                                        {

                                            switch (claim.LevelOneRequestedStatusAsString)
                                            {
                                                case "Request Level 1":
                                                    <i id="@("Level1Status" + claim.RiskClaim_Id)" title="Unrequested Level 1 Report" class="@("icon-large RequestLevel1-status left")"></i>
                                                    break;
                                                case "Level 1 Pending":
                                                <i id="@("Level1Status" + claim.RiskClaim_Id)" title="Level 1 Report Pending" class="@("icon-large PendingLevel1-status left")"></i>
                                                    break;
                                                case "View Level 1":
                                                <i id="@("Level1Status" + claim.RiskClaim_Id)" title="Level 1 Report Available" class="@("icon-large ViewLevel1-status left")"></i>
                                                    break;

                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <i>&nbsp;</i>
                                }
                            </span>
                        </div>
                        <div class="col-4" style="width: 15%">
                            <span title="@claim.ClientBatchReference">@(claim.ClientBatchReference.Length <= 10 ? claim.ClientBatchReference : claim.ClientBatchReference.Substring(0, 10) + "..")</span>
                        </div>
                        <div class="col-4" style="width: 12%">
                            <span>@claim.IncidentDate.ToShortDateString()</span>
                        </div>

                        <div class="col-6" style="width: 10%">
                            @{var sReserve = "";
                            if (claim.Reserve == null)
                            { sReserve = "£0.00"; }
                            else
                            {
                                sReserve = string.Format("{0:C}", claim.Reserve);
                            }
                            }
                            <span>@sReserve</span>
                            @if (claim.ReserveChanged != null)
                            {
                                if (claim.ReserveChanged == 1) //Increase
                                {
                                    <i id="@("ReserveStatus" + claim.RiskClaim_Id)" title="Reserve Status" class="@("icon-small reserveup left")"></i>
                                }
                                @*else if (claim.ReserveChanged == 2) //Decrease
                                {
                                    <i id="@("ReserveStatus" + claim.RiskClaim_Id)" title="Reserve Status" class="@("icon-small reservedown left")"></i>
                                }*@

                            }
                        </div>
                        <div class="col-6" style="width: 10%">
                            @{var sPaymentsToDate = "";
                            if (claim.PaymentsToDate == null)
                            { sPaymentsToDate = "£0.00"; }
                            else
                            {
                                sPaymentsToDate = string.Format("{0:C}", claim.PaymentsToDate);
                            }
                            }
                            <span>@sPaymentsToDate</span>
                        </div>
                        <div class="col-6" style="width: 10%">
                            <span title="@claim.CreatedDate.ToShortTimeString()">@claim.CreatedDate.ToShortDateString()</span>
                        </div>


                    </div>
                    <div class="plus_container left border_top_solid-3 display_none" id="plus_container-@RowNum" style="width:99%">
                        <div class="row grey_bg">
                            @if (claim.ClaimStatus == 9)
                            {
                                <div class="col-8" style="width: 30%"><h2 style="padding-left: 5px; padding-bottom: 5px"> Involvement</h2></div>
                                <div class="col-9" style="width: 70%"><h2 style="padding-left: 5px">Details</h2> </div>
                            }
                        </div>

                        <div class="row" style="width:100%;padding:5px">
                            <div class="col-9" style="width:100%">
                                <p>
                                    @{
                    switch (claim.ClaimStatus)
                    {
                        case -8:
                            <text>This case is already being handled by Keoghs CFS.</text>
                            break;
                        case -7:
                        <text>An unexpected error occurred whilst trying to load the batch.  Please contact the Keoghs ADA Team for further information.</text>
                            break;
                        case -6:
                        <text>Please refer to the 'Detailed Claim' section of the Batch processing results for further information.</text>
                            break;
                        case -5:
                        <text>Please refer to the 'Detailed Claim' section of the Batch processing results for further information.</text>
                            break;
                        case -4:
                        <text>An unexpected error occurred whilst trying to score this claim.  Please contact the Keoghs ADA Team for further information.</text>
                            break;
                        case -3:
                        <text>An unexpected error occurred whilst calling an external service provider.  Please contact the Keoghs ADA Team for further information.</text>
                            break;
                        case -2:
                        <text>An unexpected error occurred whilst trying to load this claim.  Please contact the Keoghs ADA Team for further information.</text>
                            break;
                        case -1:
                        <text>An unexpected error occurred whilst trying to extract this claim from the Batch.  Please contact the Keoghs ADA Team for further information.</text>
                            break;
                    }
                                    }
                                </p>
                            </div>
                        </div>
                        @foreach (ExEntityScoreMessageList oMessageList in claim.MessageList)
                        {
                            <div class="row" style="width:100%;padding:5px">
                                <div class="col-8" style="width:30%">
                                    <p> @oMessageList.EntityHeader</p>
                                </div>
                                <div class="col-9" style="width:70%">
                                    <p>
                                        @if (oMessageList.Messages != null)
                                        {
                                            foreach (string sMessage in oMessageList.Messages)
                                            {
                                                @sMessage<br />
                                            }
                                        }
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                <!--row-2 div ends here-->
                }

                <!--row-2 div ends here-->
            </div>

            <div id="PagingLinks" class="page_navigation left">
                @*  <div class="PageLinks">*@

                <!--proceedings_navigation div starts here-->
                <div class="left"> <a href="#" class="pagefirst"><i class="icon-small first_arrow"></i></a> </div>
                <div class="left"> <a href="#" class="pageprev"><i class="icon-small prev_arrow"></i></a> </div>
                <div class="text left">

                    <p>
                        @*@Html.PageLinks(Model.claimsFilterViewModel.PagingInfo, x => Url.Action("Index", new { page = x }))*@ 
                        @*<br />*@
                        @Model.claimsFilterViewModel.PagingInfo.ItemStart - @Model.claimsFilterViewModel.PagingInfo.ItemEnd of @Model.claimsFilterViewModel.PagingInfo.TotalItems
                    </p>

                    @*Page @Html.PageLinks(Model.claimsFilterViewModel, x => Url.Action("Index", new { page = x }))*@
                </div>

                <div class="left"> <a href="#" class="pagenext"><i class="icon-small next_arrow"></i></a> </div>
                <div class="left"> <a href="#" class="pagelast"><i class="icon-small last_arrow"></i></a> </div>

                @*  <div class="pager">*@

                @* </div>*@

            </div>
            <!--proceedings_navigation div ends here-->

        </div>
        <!--span5 div ends here-->
    </div>
    
</div>

@*<div id="result"></div>*@


@{Html.RenderPartial("_UIDialog");}

@Html.HiddenFor(model => model.claimsFilterViewModel.PagingInfo)

