﻿@model KeoghsClientSite.Models.EditRiskWord
@{
    ViewBag.Title = "Edit Anomaly";
    Layout = "~/Views/Shared/_LayoutAdminModal.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div class="modal-body">

    @using (Html.BeginForm("EditRiskWord", "Admin", FormMethod.Post, new { id = "editRiskWordForm" }))
    {
        <div class="modal-header">
            <div class="text-muted bootstrap-admin-box-title">Edit Data Anomaly</div>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal-header">
            <div class="text-muted bootstrap-admin-box-title">Edit Data Anomaly</div>
        </div>

        <fieldset>
            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Anomaly</label>
            <div class="col-lg-10">
                <br />
                @Html.TextBoxFor(m => m.LookupWord, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.LookupWord, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        <fieldset>
            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Replacement</label>
            <div class="col-lg-10">
                <br />
                @Html.TextBoxFor(m => m.ReplacementWord, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.ReplacementWord, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        <fieldset>
            <label class="col-lg-2 control-label" for="optionsCheckbox" style="margin-top:27px">Replace whole string?</label>
            <div class="col-lg-10">
                <label class="uniform">
                    <br />
                    @Html.CheckBoxFor(m => m.ReplaceWholeString, new { @class = "uniform_on", @type = "checkbox" })
                </label>
            </div>
        </fieldset>
        <fieldset>
            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Search type</label>
            <div class="col-lg-10">
                <br />
                @Html.TextBoxFor(m => m.SearchType, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.SearchType, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        <hr>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" id="approve-btn" class="btn btn-danger">Save</button>
        </div>
    }
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Successfully saved changes</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>