﻿@using KeoghsClientSite.StaticClasses
<script type="text/javascript">
    $(document).ready(function () {
        var clientCount = $('#ClientCount').val();

        if (clientCount < 10) {
            $('#Clients').gentleSelect({
                title: "Select a Client",
                columns: 1,
                itemWidth: 280
            });
        }
        else {
            $('#Clients').gentleSelect({
                title: "Select a Client",
                columns: 2,
                itemWidth: 280
            });
        }

        $('#Clients').on('change', function (e) {
            $.ajax({
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                url: "/Account/ChangeClient",
                data: JSON.stringify({
                    Id: this.value,
                    returnUrl: $(location).attr('href')
                }),
                success: function (data) {
                    window.location.href = "/Home";
                },
                error: function (data) {
                    $('#CreateError').show();
                }
            });
            return true;
        });

        var uploadButtonEnabled = $('#UploadBtnEnabled').val();
        var resultsBtnEnabled = $('#ResultsBtnEnabled').val();
        var adminBtnEnabled = $('#AdminBtnEnabled').val();
        var searchBtnEnabled = $('#SearchBtnEnabled').val();

        if (resultsBtnEnabled != 'true') {
            $('#resultsButton').removeAttr('href');
            $('#resultsButton').css("color", "lightGrey");
            $('#resultsButton').css("cursor", "default");
        }

        if (uploadButtonEnabled != 'true') {
            $('#uploadButton').removeAttr('href');
            $('#uploadButton').css("color", "lightGrey");
            $('#uploadButton').css("cursor", "default");
        }

        if (adminBtnEnabled != 'true') {
            $('#adminButton').removeAttr('href');
            $('#adminButton').css("color", "lightGrey");
            $('#adminButton').css("cursor", "default");
        }

        if (searchBtnEnabled != 'true') {
            $('#searchButton').removeAttr('href');
            $('#searchButton').css("color", "lightGrey");
            $('#searchButton').css("cursor", "default");
        }
    });
</script>

@{bool IsAdminEnabled = false;
bool IsSearchEnabled = false;}

@functions
    {
    private string NavClass(string controllerName)
    {
        var controller = ViewContext.RouteData.Values["Controller"].ToString();
        //var action = ViewContext.RouteData.Values["Action"].ToString();
        //
        //if (controllerName == controller && action == actionName)
        if (controllerName == controller)
            return "active";
        else
            return String.Empty;
    }
    //
    private string HeaderClass()
    {
        if (ViewContext.RouteData.Values["Controller"].ToString() == "Results")
            return "class=\"left\"";
        else
            return "";
    }

}

<header @HeaderClass()>

    <input type="hidden" id="ClientCount" value="@SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id)" />


    @foreach (var item in SiteHelpers.LoggedInUser.TemplateFunctions)
    {
        switch (item.Key)
        {
            case "chkEnabled_1_UPLOAD":
                <input type="hidden" id="UploadBtnEnabled" value='true' />
                break;
            case "chkEnabled_5_RESULTS":
            <input type="hidden" id="ResultsBtnEnabled" value='true' />
                break;
            case "chkEnabled_25_ADAMAINTENANCE":
                IsAdminEnabled = true;
                <input type="hidden" id="AdminBtnEnabled" value='true' />
                break;
            case "chkEnabled_26_SEARCH":
                IsSearchEnabled = true;
                <input type="hidden" id="SearchBtnEnabled" value='true' />
                break;
        }
    }

    <div class="logo left">
        <!--logo div starts here-->

        <h1 class="left"><img src="@Url.Content("~/images/client_logo.png")" width="144" height="50" alt="Advanced data analytics logo"></h1>

        <!--logo div ends here-->
    </div>

    <div class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Home"?"row":"row white_bg")">
        <!--row div starts here-->
        @switch (SiteHelpers.LoggedInClient.ClientName)
        {
            case "Admiral Pre-Lit Credit Hire":
            case "Admiral Litigated Credit Hire":
                <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/admiral_logo.png" /></span>
                break;
            case "Allianz Litigated Credit Hire":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/AZ_Logo_RGB-2.png" /></span>
                break;
            case "Antilo":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/antilo_company_logo.png" /></span>
                break;
            case "Aviva Pre-Lit Credit Hire":
            case "Aviva Litigated Credit Hire":
            case "Aviva":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/Aviva_logo.png" /></span>
                break;
            case "Co-Op Pre-Lit Credit Hire":
            case "Co-Op Litigated Credit Hire":
            case "Co-Operative Insurance":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/coop.png" /></span>
                break;
            case "Covea Pre-Lit Credit Hire":
            case "Covea Litigated Credit Hire":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/covea_logo.png" /></span>
                break;
            case "DLG":
            case "DLG Litigated Credit Hire":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/Direct Line Group logo.png" /></span>
                break;
            case "eSure Litigated Credit Hire":
            case "eSure":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/esure.png" /></span>
                break;
            case "Hastings Pre-Lit Credit Hire":
            case "Hastings Litigated Credit Hire":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/hastings_logo.png" /></span>
                break;
            case "Keoghs":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/keoghs_logo_header.png" /></span>
                break;
            case "Liberty":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/LibertyLogo.png" /></span>
                break;
            case "LV=":
            case "LV= GIOS":
            case "LV= Claim Centre":
            case "LV= Litigated Credit Hire":
            case "LV= Pre-Lit Credit Hire":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/lv.jpg" /></span>
                break;
            case "NFUM Litigated Credit Hire":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/nfu-mutual.png" /></span>
                break;
            case "Qudos":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/qudos-logo.png" /></span>
                break;
            case "Service Litigated Credit Hire":
            case "Service Pre-Lit Credit Hire":
            case "Service Underwriting Agency":
            <span style="padding-left:60px;  font-size:13px;"><img src="~/Images/servicelogo.png" /></span>
                break;
            default:
            <span style="padding-left:65px; font-size:13px;margin-top:100px">@SiteHelpers.LoggedInClient.ClientName</span>
                break;

        }

        @if (IsAdminEnabled && !IsSearchEnabled)
        {
            <span class=@(SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id) > 1 ?"menu_navigation right":"menu_navigationNoSearch right")>
                <!--menu-navigation div starts here-->
                <ul>
                    @if (SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id) > 1)
                    {
                        <li>
                            <select id='Clients'>
                                <option value="">CLIENT</option>
                                @foreach (var client in SiteHelpers.GetAssignedRiskClientsForUser(SiteHelpers.LoggedInUser.Id))
                                {
                                    if (SiteHelpers.LoggedInUser.RiskClientId == Convert.ToInt32(client.Value))
                                    {
                                        <option selected value="@client.Value">@client.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@client.Value">@client.Text</option>
                                    }

                                }
                                }
                            </select>
                        </li>
                    }


                    <li><a href="@Url.Content("~/Upload")" id="uploadButton" class="@NavClass("Upload")">Upload</a> </li>
                    <li><a href="@Url.Content("~/")" id="resultsButton" class="@NavClass("Home")">Results</a> </li>
                    <li><a href="@Url.Content("~/Admin")" id="adminButton" class="@NavClass("Admin")">Admin</a> </li>

                </ul>
                <div class="welcome right">
                    <small class="blue">Welcome @(SiteHelpers.LoggedInUser != null ? SiteHelpers.LoggedInUser.FirstName : "") </small><br>
                    @Html.ActionLink("LOG OFF", "LogOff", "Account")
                </div>
            </span>
        }


        @if (IsAdminEnabled && IsSearchEnabled)
        {
            <span class=@(SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id) > 1 ? "menu_navigationAll right" : "menu_navigationAllNoClients right")>
                <!--menu-navigation div starts here-->
                <ul>
                    @if (SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id) > 1)
                    {
                        <li>
                            <select id='Clients'>
                                <option value="">CLIENT</option>
                                @foreach (var client in SiteHelpers.GetAssignedRiskClientsForUser(SiteHelpers.LoggedInUser.Id))
                                {
                                    if (SiteHelpers.LoggedInUser.RiskClientId == Convert.ToInt32(client.Value))
                                    {
                                        <option selected value="@client.Value">@client.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@client.Value">@client.Text</option>
                                    }

                                }
                                }
                            </select>
                        </li>
                    }

                    <li><a href="@Url.Content("~/Search")" id="searchButton" class="@NavClass("Search")">Search</a> </li>
                    <li><a href="@Url.Content("~/Upload")" id="uploadButton" class="@NavClass("Upload")">Upload</a> </li>
                    <li><a href="@Url.Content("~/")" id="resultsButton" class="@NavClass("Home")">Results</a> </li>
                    <li><a href="@Url.Content("~/Admin")" id="adminButton" class="@NavClass("Admin")">Admin</a> </li>

                </ul>
                <div class="welcome right">
                    <small class="blue">Welcome @(SiteHelpers.LoggedInUser != null ? SiteHelpers.LoggedInUser.FirstName : "") </small><br>
                    @Html.ActionLink("LOG OFF", "LogOff", "Account")
                </div>
            </span>
        }

        @if (!IsAdminEnabled && !IsSearchEnabled)
        {
            if (SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id) > 1)
            {

                <div class="menu_navigationNoAdminClients right">
                    <!--menu-navigation div starts here-->
                    <ul>
                        <li>
                            <select id='Clients'>
                                <option value="">CLIENT</option>

                                @foreach (var client in SiteHelpers.GetAssignedRiskClientsForUser(SiteHelpers.LoggedInUser.Id))
                                {
                                    if (SiteHelpers.LoggedInUser.RiskClientId == Convert.ToInt32(client.Value))
                                    {
                                        <option selected value="@client.Value">@client.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@client.Value">@client.Text</option>
                                    }

                                }
                            </select>
                        </li>


                        <li><a href="@Url.Content("~/Upload")" id="uploadButton" class="@NavClass("Upload")">Upload</a> </li>
                        <li><a href="@Url.Content("~/")" id="resultsButton" class="@NavClass("Home")">Results</a> </li>

                    </ul>
                    <div class="welcome right">
                        <small class="blue">Welcome @(SiteHelpers.LoggedInUser != null ? SiteHelpers.LoggedInUser.FirstName : "") </small><br>
                        @Html.ActionLink("LOG OFF", "LogOff", "Account")
                    </div>
                </div>
            }
            else
            {
                <div class="menu_navigationNoAdmin right">
                    <!--menu-navigation div starts here-->
                    <ul>

                        <li><a href="@Url.Content("~/Upload")" id="uploadButton" class="@NavClass("Upload")">Upload</a> </li>
                        <li><a href="@Url.Content("~/")" id="resultsButton" class="@NavClass("Home")">Results</a> </li>
                    </ul>
                    <div class="welcome right">
                        <small class="blue">Welcome @(SiteHelpers.LoggedInUser != null ? SiteHelpers.LoggedInUser.FirstName : "") </small><br>
                        @Html.ActionLink("LOG OFF", "LogOff", "Account")
                    </div>
                </div>
            }

        }
        
        @if (!IsAdminEnabled && IsSearchEnabled)
        {
            <span class=@(SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id) > 1 ?"menu_navigationSearch right":"menu_navigationSearchNoAdmin right")>
                <!--menu-navigation div starts here-->
                <ul>
                    @if (SiteHelpers.GetAssignedRiskClientsForUserCount(SiteHelpers.LoggedInUser.Id) > 1)
                    {
                        <li>
                            <select id='Clients'>
                                <option value="">CLIENT</option>
                                @foreach (var client in SiteHelpers.GetAssignedRiskClientsForUser(SiteHelpers.LoggedInUser.Id))
                                {
                                    if (SiteHelpers.LoggedInUser.RiskClientId == Convert.ToInt32(client.Value))
                                    {
                                        <option selected value="@client.Value">@client.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@client.Value">@client.Text</option>
                                    }

                                }
                                }
                            </select>
                        </li>
                    }

                    <li><a href="@Url.Content("~/Search")" id="searchButton" class="@NavClass("Search")">Search</a> </li>
                    <li><a href="@Url.Content("~/Upload")" id="uploadButton" class="@NavClass("Upload")">Upload</a> </li>
                    <li><a href="@Url.Content("~/")" id="resultsButton" class="@NavClass("Home")">Results</a> </li>
                 

                </ul>
                <div class="welcome right">
                    <small class="blue">Welcome @(SiteHelpers.LoggedInUser != null ? SiteHelpers.LoggedInUser.FirstName : "") </small><br>
                    @Html.ActionLink("LOG OFF", "LogOff", "Account")
                </div>
            </span>
        }
    </div>
    <!--row div ends here-->

</header>