﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/bootstrap-admin-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/site.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/modernizr")

   

</head>
<body class="bootstrap-admin-with-small-navbar">

    <!-- main / large navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div style="margin-top:10px">
                        <table>
                            <tr>
                                <td><img src="~/Images/keoghs_logo.png" /></td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td><font size="6">ADA Administration</font></td>
                            </tr>
                        </table>
                    </div>
                    @*<a class="navbar-brand" href="/Admin/">Admin Panel</a>*@
                </div>
                <div class="collapse navbar-collapse main-navbar-collapse">
                    @*<ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>*@
                    <div class="collapse navbar-collapse bootstrap-admin-navbar-sm">
                        <ul class="nav navbar-nav navbar-right ">
                            @*<li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li>
        <a href="#">Reminders <i class="glyphicon glyphicon-bell"></i></a>
    </li>
    <li>
        <a href="#">Settings <i class="glyphicon glyphicon-cog"></i></a>
    </li>*@
                            <li><a href="/Home">Back to Main Site <i class="glyphicon glyphicon-share-alt"></i></a>
                            </li>

                            <li>
                                @Html.ActionLink("Log Off", "LogOff", "Account")
                            </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
        <div class="row">
            <hr>
            <footer role="contentinfo">
                <p>&copy;  @DateTime.Now.Year Keoghs</p>
            </footer>
        </div>
    </div>
  
    @Scripts.Render("~/bundles/jqueryall")
   
    @Scripts.Render("~/bundles/bootstrap")
    

    <link href="~/Content/themes/smoothness/jquery-ui-1.11.2.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.11.2.min.js" type="text/javascript"></script>
   
    <script src="~/Scripts/jquery.password-strength.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.fancytree.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancytree.dnd.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancytree.table.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancytree.edit.js" type="text/javascript"></script>
    @*<script src="//cdn.jsdelivr.net/jquery.ui-contextmenu/1/jquery.ui-contextmenu.min.js"></script>*@
    <script src="~/Scripts/admin.js"></script>
    <script src="~/Scripts/jquery.idletimeout.js"></script>
    <script src="~/Scripts/jquery.idletimer.js"></script>
    @RenderSection("scripts", required: false)

  
    @{Html.RenderPartial("SessionTimeoutAdminDialog");}
</body>
</html>
