﻿@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
    <head>
        <style type="text/css">
            a.ui-dialog-titlebar-close {
                display: none;
            }
        </style>

    <title>ADA</title>
    <meta charset="utf-8">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />*@
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/themes/custom/css")
        @Styles.Render("~/Content/css")
                @Scripts.Render("~/bundles/jqueryall")
        <script type="text/javascript" src="~/Scripts/jquery-gentleSelect.js"></script>
        <link type="text/css" href="~/Content/jquery-gentleSelect.css" rel="stylesheet" />
        @*<link href="~/Content/jquery.dropdown.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.dropdown.js"></script>*@
        <script src="~/Scripts/jquery.idletimeout.js"></script>
        <script src="~/Scripts/jquery.idletimer.js"></script>
        
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/Scripts/PIE.js"></script>
    <![endif]-->

     @RenderSection("scripts", required: false)
        

    </head>

    <body class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Home"?"home_page":"")">


<div class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Home"?"container_18":"container_18 white_bg")"> <!--Container_18 div starts here-->
    
    @{if(HttpContext.Current.User.Identity.IsAuthenticated)
      {
            Html.RenderPartial("_Header");
      }
    }

  

     @RenderBody()


      </div>
<!--Container_18 div ends here-->  
        @{Html.RenderPartial("AjaxTimeoutDialog");}
        @{Html.RenderPartial("AjaxErrorDialog");}
        @{Html.RenderPartial("SessionTimeoutDialog");}
        
       
        <!-- Remember to put your dropdown menus before your ending BODY tag -->
      

      

</body>
</html>
