﻿<!DOCTYPE html>
<html>

<body class="bootstrap-admin-with-small-navbar">

    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/admin.js"></script>

    @Scripts.Render("~/bundles/jqueryall")

    @Scripts.Render("~/bundles/bootstrap")

    
</body>
</html>
