﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ADA</title>
    
    <meta charset="utf-8">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="~/Content/cueInvolvements.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)

</head>

<body>
    @RenderBody()
</body>
</html>
