﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Keoghs Advanced Data Analytics</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    
     <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" type="text/css" />
  @*  <link rel="stylesheet" type="text/css" href="~/Content/themes/redmond/jquery-ui-1.10.3.custom.css" />*@
    @* <link rel="stylesheet" type="text/css" href="~/Content/themes/start/jquery-ui-1.10.3.custom.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/ui.jqgrid.css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jqFancyTransitions.1.8.min.js")
    @Scripts.Render("~/Scripts/grid.locale-en.js")
    @Scripts.Render("~/Scripts/jquery.jqGrid.min.js")

   

   @* <style type="text/css">
        body
        {
            font-size: 60%;
        }
    </style>*@


    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('#slideshowHolder').jqFancyTransitions({ width: 500, height: 300, titleOpacity: 0, delay: 3500 });

            $(function () {
               
                $("#FilterStartDate").datepicker({ dateFormat: 'dd/mm/yy' });
                $("#FilterEndDate").datepicker({ dateFormat: 'dd/mm/yy' });
            });

        });
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        $(function () {
            // $(".DownloadBut").click(function () {
            $(".DownloadBut").live("click", function () {
                $("#dialog").dialog({
                    width: 700,
                    height: 800,
                    open: function (event, ui) {
                        $("#dialog").html('<iframe height=100% width=100%  src="../Reports/IntelligenceReport.pdf" > </iframe>');
                    },
                    close: function (event, ui) {
                        $("#dialog").html('');
                    },
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
            // });

            //  $(function () {
            $(".OrderBut").click(function () {
                $("#reportDialog").dialog({
                    width: 300,
                    height: 300,
                    open: function (event, ui) {
                        //iframe call to go here instead
                        $("#reportDialog").html('Thank you. Your report has been ordered.');
                    },
                    close: function (event, ui) {
                        $("#reportDialog").html('');
                    },
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $(".DownloadADABut").live("click", function () {
                $("#dialog").dialog({
                    width: 700,
                    height: 800,
                    open: function (event, ui) {
                        $("#dialog").html('<iframe height=100% width=100%  src="../Reports/ADAReportLevel1.pdf" > </iframe>');
                    },
                    close: function (event, ui) {
                        $("#dialog").html('');
                    },
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $(".DownloadClaimBut").live("click", function (eventl, obj) {
                $("#claimReportDialog").dialog({
                    width: 700,
                    height: 800,
                    open: function (event, ui) {
                        if ($(eventl.target).attr("reportType") == "Level 1 Complete") {
                            $("#claimReportDialog").html('<iframe  name="ClaimFrame" height=100% width=100%  src="/Reports/ADAReportLevel1.pdf" > </iframe>');
                        }
                            //else if ($(eventl.target).attr("reportType") == "Level 2 O/S") {
                            //    $("#claimReportDialog").html('<iframe  name="ClaimFrame" height=100% width=100%  src="/Reports/ADAReportLevel2.pdf" > </iframe>');
                            //}
                        else {
                            $("#claimReportDialog").html('Sorry No Reports Found.');
                        }
                    },
                    close: function (event, ui) {
                        $("#claimReportDialog").html('');
                    },
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $(".ViewReject").live("click", function (eventl, obj) {
                $("#rejectdialog").dialog({
                    width:500,
                    height: 500,
                   
                    open: function (event, ui) {
                        //  alert((eventl.target).attr("errors"));
                       
                        arr = eventl.target.attributes["errors"].nodeValue.split("|");
                        var reason="";
                        for (var i = 0; i < arr.length; i++) {
                            reason += arr[i] + "<br/>";
                        }
                        $("#rejectdialog").html(reason);
                    },
                    close: function (event,ui){
                        $("#rejectdialog").html('');
                    },
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                

                });
            });

            $(".GetLevel1Report").live("click", function() {
                var claimId = $(this).attr('id');
                

                var url = getBaseURL();
                url += 'Reports/GetReport?Id=' + claimId;
                //alert(url);

                location.href = url;
             
               
                return false;
            });
            

            function getBaseURL() {
                return location.protocol + "//" + location.hostname +
                   (location.port && ":" + location.port) + "/";
            }

            $(".RequestCallback").live("click", function () {
                $("#requestCallback").dialog({
                    width: 500,
                    height: 500,

                    open: function (event, ui) {
                        $("#requestCallback").html('callback form goes here');
                      @* //  $("#requestCallback").html('<iframe id="callbackFrame" height=100% width=100%  src="@{Html.RenderAction("showCallBack", "ClaimsController");   }">');*@
                    },
                    close: function (event, ui) {
                        $("#requestCallback").html('');
                    },
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
    </script>
</head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/KeoghsLogo.jpg" />
                </div>
                <div class="float-left" style="width: 100%;">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <div class="menu-holder">
                        <span>
                            <nav>
                                @if (Session["MyMenu"] == null)
                                {
                                    Session["MyMenu"] = Html.Partial("~/Views/Shared/_MainMenu.cshtml");
                                }
                                @Session["MyMenu"]
                            </nav>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <div id="body">

           @* @RenderSection("featured", required: false)*@
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
                    @*<div align="center" ><img src="~/Images/pcImageb.png"  /></div> *@
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                  <span class="footerText">&copy; @DateTime.Now.Year - Keoghs Advanced Data Analytics</span>
                </div>
                                <div class="float-right">
                    <span class="footerText">Contact us at ADA@Keoghs.co.uk</span>
                </div>

            </div>
        </footer>

      
    </body>
</html>
