﻿<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("Create New User", "Register", "Account")
        @Html.MenuItem("Edit User", "EditUser", "Admin")
        @Html.MenuItem("Assign Users", "AssignUserToClient", "Admin")
        @Html.MenuItem("Unlock User", "Unlock", "Account")
        @Html.MenuItem("Change Password", "ChangePassword", "Admin")
        @Html.MenuItem("Template Admin", "CreateUserTemplate", "Admin")
        @Html.MenuItem("Create New Client", "CreateClient", "Admin")
        @Html.MenuItem("Edit Client", "EditClient", "Admin")
        @Html.MenuItem("Data Anomalies", "ViewRiskWords", "Admin")
        @Html.MenuItem("Default Data", "ViewRiskDefaultData", "Admin")
        @Html.MenuItem("Decision Data", "ViewRiskNoteDecisions", "Admin")
        @Html.MenuItem("Batch Priority", "PrioritiseBatches", "Admin")
      

        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
        <li>
            <a href="#">.</a>
        </li>
       

        

        @*<li>
            <a href="#"><span class="badge pull-right">731</span> Orders</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">812</span> Invoices</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">27</span> Clients</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">1,234</span> Users</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">2,221</span> Messages</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">11</span> Reports</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">83</span> Errors</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">4,231</span> Logs</a>
        </li>*@
    </ul>
</div>

