﻿

@if (Request.IsAuthenticated)
{


    <div class="welcome right">
        @*<small class="blue">Welcome @(KeoghsClientSite.StaticClasses.SiteHelpers.LoggedInUser != null ? KeoghsClientSite.StaticClasses.SiteHelpers.LoggedInUser.FirstName : "") </small><br>*@
        @Html.ActionLink("LOG OFF", "LogOff", "Account")
    </div>

    @*<text>
       Welcome, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
   </text>*@
}  @*else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
