﻿@{ 
    var menus = new[] 
{ 
new { LinkText="Home", ActionName="Index",ControllerName="Home",Roles="LoggedIn,All" }, 
new { LinkText="Upload", ActionName="FileUpload",ControllerName="Home",Roles="LoggedIn" }, 
new { LinkText="Results", ActionName="Index",ControllerName="Results",Roles="LoggedIn" }, 
//new { LinkText="Intelligence Reports", ActionName="ReportDetails",ControllerName="Reports",Roles="LoggedIn" }, 
//new { LinkText="Administration", ActionName="Index",ControllerName="Admin",Roles="LoggedIn" }, 
//new { LinkText="Contact", ActionName="Contact",ControllerName="Home",Roles="LoggedIn,All,AllowAnonymous" }, 
//new { LinkText="About", ActionName="About",ControllerName="Home",Roles="LoggedIn,All" }, 
new { LinkText="Register", ActionName="Register",ControllerName="Account",Roles="LoggedIn,All" }, 
}; 
}

<ul id="strapline">
    <img src="~/Images/non-conventional.gif" />
</ul>

<ul id="menu">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        String[] roles;

        roles = Roles.GetRolesForUser();
        //
        
        var links = from item in menus
                    where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                    .Any(x => roles.Contains(x) || x == "LoggedIn")
                    select item;
        foreach (var link in links)
        { 
        @: <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li> 
}
    }
    else
    {
        var links = from item in menus
                    where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                    .Any(x => new String[] { "All", "Anonymous" }.Contains(x))
                    select item;
        foreach (var link in links)
        { 
        @: <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li> 
    }
    }
</ul>
