﻿@model KeoghsClientSite.Models.SearchClaimsListViewModel
@using MDA.WCF.WebServices.Entities;

<style>
    table#results {
        font-size: 16px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        border-spacing: 0;
        margin-left: 12px;
        margin-top: 10px;
        width: 99%;
    }

    #results td, #results th {
        text-align: left;
        padding: 8px;
    }

    #results tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #results th {
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: rgba(241, 248, 252, 1);
        color: black;
    }

    #results th, td {
        border-bottom: 1px solid #ddd;
    }
</style>

<script>
    $(document).ready(function () {
        var firstNameFilter = '@Model.searchFilterViewModel.FilterFirstName'.toUpperCase();
        var surNameFilter = '@Model.searchFilterViewModel.FilterSurname'.toUpperCase();
        var dobFilter = '@Model.searchFilterViewModel.FilterDob';
        var dobFilterTrim = dobFilter.replace(" 00:00:00", "");
        var addressLineFilter = '@Model.searchFilterViewModel.FilterAddressLine'.toUpperCase();
        var postcodeFilter = '@Model.searchFilterViewModel.FilterPostcode'.toUpperCase();
        var vehicleRegFilter = '@Model.searchFilterViewModel.FilterVehicleRegNumber'.toUpperCase();

        var arrValues = firstNameFilter + "," + surNameFilter + "," + dobFilterTrim + "," + addressLineFilter + "," + postcodeFilter + "," + vehicleRegFilter;
        var arrayOfKeyWords = arrValues.split(',');

        for (var i = 0; i < arrayOfKeyWords.length; i++) {
            if (i == 0 && arrayOfKeyWords[i] != "")
                $('.Firstname').highlight(arrayOfKeyWords[i], "highlightWord");

            if (i == 1 && arrayOfKeyWords[i] != "")
                $('.Surname').highlight(arrayOfKeyWords[i], "highlightWord");

            if (i == 2 && arrayOfKeyWords[i] != "")
                $('.Dob').highlight(arrayOfKeyWords[i], "highlightWord");

            if (i == 3 && arrayOfKeyWords[i] != "")
                $('.Address').highlight(arrayOfKeyWords[i], "highlightWord");

            if (i == 4 && arrayOfKeyWords[i] != "")
                $('.Postcode').highlight(arrayOfKeyWords[i], "highlightWord");

            if (i == 5 && arrayOfKeyWords[i] != "")
                $('.VehicleReg').highlight(arrayOfKeyWords[i], "highlightWord");
        }
    });
</script>


<div class="span15 white_bg webpart border-radius">
    <!--span5 div starts here-->
    <div class="result_container row">
        <div class="headings blue_bg w1010 border_bottom left">
            <!--heading div starts here-->
            <div class="col-1 w985" style="height: 20px;padding:10px">
                <span style="font-size: 14px; font-weight: bold; padding-left:10px; ">RESULTS</span>

                @if (Model.searchFilterViewModel.PagingInfo.TotalItems > 0)
                {
                    <span style="font-size: 10px; font-weight: bold; padding-left:770px"> Total Records: @Model.searchFilterViewModel.PagingInfo.TotalItems </span>
                }
            </div>
        </div>

        <div class="result_container headers h674" style="width: 99%">
            @if (Model.searchFilterViewModel.PagingInfo.TotalItems > 0)
            {
                <table id="results">
                    <thead>
                        <tr>
                            <th style="font-size:12px; width:40%;text-align:left">Matched On</th>
                            <th style="font-size:12px; width:15%;text-align:left">Involvement</th>
                            <th style="font-size:12px; width:15%;text-align:left">Claim</th>
                            <th style="font-size:12px; width:15%;text-align:left">Status<br />Incident Date</th>
                            <th style="font-size:12px; width:15%;text-align:left">Source<br />Reference</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Results != null)
                        {
                            if (Model.Results.Count() > 0)
                            {
                                foreach (ExSearchDetails claim in Model.Results)
                                {

                                    <tr style="font-size:11px">
                                        <td style="width:40%" valign="top">
                                            @if (!string.IsNullOrEmpty(claim.Title))
                                            {
                                                <span>Per:(@claim.Title</span>
                                            }
                                            @if (!string.IsNullOrEmpty(claim.FirstName))
                                            {
                                                if (string.IsNullOrEmpty(claim.Title))
                                                {
                                                    <span class="Firstname">Per:(@claim.FirstName</span>
                                                }
                                                else
                                                {
                                                    <span class="Firstname">@claim.FirstName</span>
                                                }
                                            }
                                            @if (!string.IsNullOrEmpty(claim.MiddleName))
                                            {
                                                <span>@claim.MiddleName</span>
                                            }
                                            @if (!string.IsNullOrEmpty(claim.LastName))
                                            {
                                                if (claim.DateOfBirth == null)
                                                {
                                                    <span class="Surname">@claim.LastName)<br /></span>
                                                }
                                                else
                                                {
                                                    <span class="Surname">@claim.LastName</span>
                                                }
                                            }
                                            @if (claim.DateOfBirth != null)
                                            {
                                                <span class="Dob">@claim.DateOfBirth.Value.ToShortDateString())<br /></span>
                                            }

                                            @if (!string.IsNullOrEmpty(claim.Address))
                                            {
                                                <span class="Address">Add:(@claim.Address</span>
                                            }
                                            @if (!string.IsNullOrEmpty(claim.Postcode))
                                            {
                                                <span class="Postcode">@claim.Postcode)<br /></span>
                                            }

                                            @if (!string.IsNullOrEmpty(claim.VehicleReg))
                                            {

                                                if (string.IsNullOrEmpty(claim.VehicleMake) && string.IsNullOrEmpty(claim.VehicleModel))
                                                {
                                                    <span class="VehicleReg">Veh:(@claim.VehicleReg)</span>
                                                }
                                                else
                                                {
                                                    <span class="VehicleReg">Veh:(@claim.VehicleReg | </span>
                                                }
                                            }
                                            
                                            @if (!string.IsNullOrEmpty(claim.VehicleMake))
                                            {
                                                if (string.IsNullOrEmpty(claim.VehicleModel))
                                                {
                                                   <span>@claim.VehicleMake)</span>
                                                }
                                                else
                                                {
                                                    <span>@claim.VehicleMake | </span>
                                                }
                                            }
                                            @if (!string.IsNullOrEmpty(claim.VehicleModel))
                                            {
                                                <span>@claim.VehicleModel)</span>

                                            }
                                        </td>

                                        <td valign="top" style="width:15%">@Html.Raw(claim.Involvement)</td>
                                        <td valign="top" style="width:15%">@Html.Raw(claim.ClaimType)</td>
                                        <td valign="top" style="width:15%"> @Html.Raw(claim.Status)<br />@Html.Raw(claim.Date.Value.ToShortDateString())</td>
                                        <td valign="top" style="width:15%">@Html.Raw(claim.Source)<br /> @Html.Raw(claim.Reference)</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
                <br />
                <div id="PagingLinks" class="page_navigation left">

                    <!--proceedings_navigation div starts here-->
                    <div class="left"> <a href="#" class="pagefirst"><i class="icon-small first_arrow"></i></a> </div>
                    <div class="left"> <a href="#" class="pageprev"><i class="icon-small prev_arrow"></i></a> </div>
                    <div class="text left">
                        <p>
                            @Model.searchFilterViewModel.PagingInfo.ItemStart - @Model.searchFilterViewModel.PagingInfo.ItemEnd of @Model.searchFilterViewModel.PagingInfo.TotalItems
                        </p>
                    </div>

                    <div class="left"> <a href="#" class="pagenext"><i class="icon-small next_arrow"></i></a> </div>
                    <div class="left"> <a href="#" class="pagelast"><i class="icon-small last_arrow"></i></a> </div>
                </div>
            }
            @if (Model.searchFilterViewModel.PagingInfo.TotalItems == -2)
            {   <br />
                <span style="padding-left:20px;font-size:13px;">Search Returned No Results.</span>
            }
        </div>
    </div>
</div>
@Html.HiddenFor(model => model.searchFilterViewModel.PagingInfo)