﻿@model KeoghsClientSite.Models.SearchFilterViewModel

<script>

    


    $(document).ready(function () {


        checkValidation();

        function checkValidation() {
            //Removes validation from input-fields

            var firstNameVal = $('#FilterFirstName').val();
            var surnameVal = $('#FilterSurname').val();
            var dobVal = $('#FilterDob').val();
            var addressLineVal = $('#FilterAddressLine').val();
            var postcodeVal = $('#FilterPostcode').val();
            var vehicleRegVal = $('#FilterVehicleRegNumber').val();

            if (firstNameVal != '' || surnameVal != '' || dobVal != '' || addressLineVal != '' || postcodeVal != '' || vehicleRegVal != '') {
                $('.input-validation-error').addClass('input-validation-valid');
                $('.input-validation-error').removeClass('input-validation-error');
            }
        }


        $("#FilterDob").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            maxDate: new Date(),
            yearRange: '-100:+0'
        });

        $(".calendarIconStartDate").click(function () {
            $("#FilterDob").datepicker('show');
            return false;
        });

        $("#ClearButton").click(function () {
            location.href = '/Search';
            return false;
        });

        $("#SearchButton").click(function () {
            $('#PagingInfo_CurrentPage').val(1);
            $('#SearchForm').submit();

            
        });

        $('form input, form select').bind('change paste keyup', function () {
            $('form').valid();
        });
    });

    
</script>


<style>
    
/*.input-validation-error {
    background-color: #FFF;
}*/

</style>

<div class="span3 border-radius webpart white_bg refinement_container">

    <div class="headings blue_bg w190 border_bottom left">
        <div class="col-1 w110">
            <h1> SEARCH</h1>
        </div>
    </div>
    <div class="row left" id="divFilterFirstName">
        <p style="margin-left:5px;margin-bottom:5px;">Person</p>
        <div class="up_arrow">
            <h2> @Html.LabelFor(model => model.FilterFirstName)</h2>
        </div>
        <div id="firstnamesubtext">
            @Html.TextBoxFor(model => model.FilterFirstName)
        </div>

        <br />
        <div class="up_arrow">

            <h2> @Html.LabelFor(model => model.FilterSurname)</h2>
        </div>
        <div id="surnamesubtext">
            @Html.TextBoxFor(model => model.FilterSurname)
        </div>

        <br />
        <div class="up_arrow">
            <h2> Date Of Birth </h2>
        </div>
        <div id="divDob">
            <div class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Home"?"left margintop_5 marginleft_5":"left margintop_5")">
                @*<p class="col-1"> </p>*@
                <p class="col-2" style="padding-left:10px">
                    @Html.TextBox("FilterDob", (Model.FilterDob.HasValue ? Model.FilterDob.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox" })
                </p>

                <p class="col-3"> &nbsp; <a href="#" class="calendarIconStartDate"><i class="icon-small calendar left" id="calStartDate"></i></a> </p>
            </div>
        </div>
    </div>

    <div id="divFilterAddress" class="row left">
        <p style="margin-left:5px;margin-bottom:5px;">Address</p>

        <div class="up_arrow">
            <h2> @Html.LabelFor(model => model.FilterAddressLine)</h2>
        </div>
        <div id="addressLine1subtext">
            @Html.TextBoxFor(model => model.FilterAddressLine)
        </div>

        <br />

        <div class="up_arrow">
            <h2> @Html.LabelFor(model => model.FilterPostcode)</h2>
        </div>
        <div id="postCodesubtext">
            @Html.TextBoxFor(model => model.FilterPostcode)
        </div>
    </div>

    <div id="divFilterAddress" class="row left">
        <p style="margin-left:5px;margin-bottom:5px;">Vehicle</p>

        <div class="up_arrow">
            <h2> @Html.LabelFor(model => model.FilterVehicleRegNumber)</h2>
        </div>
        <div id="vehicleRegsubtext">
            @Html.TextBoxFor(model => model.FilterVehicleRegNumber)
        </div>
     </div>



        <div class="button right">

            <button id="ClearButton" type="button" class="btn btn-primary start styled-button-reset">
                <span>Reset</span>
            </button>

            <button id="SearchButton" type="button" class="btn btn-primary start styled-button-search">
                <span>Search</span>
            </button>

            <div>&nbsp;</div>
        </div>
    </div>
@Html.HiddenFor(model => model.PagingInfo.ItemsPerPage)
@Html.HiddenFor(model => model.PagingInfo.CurrentPage)
@Html.HiddenFor(model => model.PagingInfo.TotalPages)