﻿@using KeoghsClientSite.StaticClasses


 <div class="clear"></div>
      <div class="row"> 
          <!--row div starts here-->
    
          <div class="span6 border-radius tab_navigation @Url.SetActiveUploadMenu("SingleClaim","SingleClaimInput") suffix_6" id="SingleClaimHeader">
              <!--span4 div starts here-->

              <a href="@Url.Content("~/SingleClaim/SingleClaimInput")" id="singleClaimAnchor">
                  <div class="headings w396 border_bottom left margintop_5">
                      <div class="col-1 w252">
                          <h1>SINGLE CLAIM</h1>
                      </div>
                  </div>

                  <div class="singleclaim_container">
                      <div class="col-1 w396"> <i class="icon-xx-large claiminput"></i> </div>
                  </div>
              </a>

          </div>
    <!--span6 div ends here-->
    
    <div class="span6 border-radius tab_navigation @Url.SetActiveUploadMenu("Upload","Index") prefix_6" id="UploadHeader"> <!--span4 div starts here-->
          
        <a href="@Url.Content("~/Upload/Index")" id="uploadAnchor">
          <div class="headings w396  border_bottom_blue left  margintop_5">
                <div class="col-1 w252">
                  <h1 class="blue">BATCH UPLOAD</h1>
                </div>
          </div>
          <div class="singleclaim_container">
                <div class="col-1 w396"> <i class="icon-xx-large batchupload"></i> </div>
          </div>
            </a>
    </div>
    <!--span6 div ends here-->
    
    <div class="span6 border-radius tab_navigation @Url.SetActiveUploadMenu("SingleClaim","OutstandingClaims") prefix_6" id="OutstandingClaimsHeader"> <!--span4 div starts here-->

        <a href="@Url.Content("~/SingleClaim/OutstandingClaims")" id="outstandingClaimsAnchor">
          <div class="headings w396  border_bottom left  margintop_5">
                <div class="col-1 w252">
                  <h1>UNSUBMITTED SAVED CLAIMS</h1>
                </div>
          </div>
         
          <div class="singleclaim_container">
                <div class="col-1 w396"> 
                    <i class="icon-xx-large claiminput left marginleft_50"></i> 
                    <strong class="left red"> @ViewData["OutstandingClaimsCount"] </strong> <b class="left"> Claims not <br>
                  yet submitted </b> 
                </div>
          </div>
            </a>

   </div>
    <!--span6 div ends here--> 
    
  </div>
      <!--row div ends here-->