﻿
<div id="session-timeout-dialog" style="display:none;">
   @* <h3>You have been logged out...</h3>*@
    <br />
    <p>You have been logged out of the system due to inactivity. 
    Please @Html.ActionLink("Login","Login","Account",null,htmlAttributes: new { @class = "sessiontimout" }) again.</p>
 </div>