﻿<input type="hidden"  id="timeoutConfig" value="@Session.Timeout"/>



@*<style type="text/css">
    .ui-widget, .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 0.8em;
    }

    .ui-dialog .ui-dialog-buttonpane {
        text-align: center; /* left/center/right */
    }

    .ui-dialog-titlebar-close {
      visibility: hidden;
    }
</style>*@



<div id="dialog" title="Your session is about to expire!">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
        You will be logged off in <span id="dialog-countdown" style="font-weight:bold"></span> seconds.
    </p>

    <p>Do you want to continue your session?</p>
</div>



<script src="~/Scripts/SessionTimeOutDialog.js"></script>