﻿@model KeoghsClientSite.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

      <h2>Change Password</h2>
   <table>

       <tr>
           <td>
                @Html.LabelFor(m => m.OldPassword)
           </td>
            <td>
                 @Html.PasswordFor(m => m.OldPassword)
           </td>
       </tr>
       <tr>
           <td>
                @Html.LabelFor(m => m.NewPassword)
           </td>
            <td>
                 @Html.PasswordFor(m => m.NewPassword)
           </td>
       </tr>

       <tr>
           <td>
                @Html.LabelFor(m => m.ConfirmPassword)
           </td>
            <td>
                 @Html.PasswordFor(m => m.ConfirmPassword)
           </td>
       </tr>
        <tr>
            
            <td colspan="2"><br /><input type="submit" value="Change password" /></td>
        </tr>
    </table>
    
   
}
