﻿@model KeoghsClientSite.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}



<section id="loginForm">
<h2>Please login below using your details.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
  
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
          @*  <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>*@
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
   
}
</section>

<section class="social" id="socialLoginForm">


<div id='slideshowHolder'>
 <img src='~/Images/knowledge.jpg' alt='Knowledge' />
 <img src='~/Images/systems.jpg' alt='Systems' />
 <img src='~/Images/results.jpg' alt='Results' />
</div>



</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
