﻿@model KeoghsClientSite.Models.LoginModel

@{
    ViewBag.Title = "LoginNew";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE HTML>
<html>
    <head>
        <title>ADA</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8">

        <link href="~/Content/base.css" rel="stylesheet" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jqueryall")
        
        <script src="~/Scripts/jquery.corner.js"></script>
        <script src="~/Scripts/login.js"></script>

        <style>
            .requiredStyleLogin{
                font-size:11px;
            }
            .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .buttonStyle {
    background-color: #005c9f;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #808080;
    margin: 10px 13px 0px 0px;
	color: #fff;
    font-family:Montserrat;
	font-size: 13px;
	padding: 1px 24px 1px 24px;
}
         
               
        </style>
    </head>
<body>
<div class="container_18"> <!--Container_18 div starts here-->

     <div class="login_wrapper"> <!--content_wrapper  div starts here-->
    
        <div class="span18"> <!--login_container div starts here-->
          
            <div id="WarningMessage" class="LoginWarningMessage">
                @ViewBag.WarningMessage
                <noscript>
                    This website requires JavaScript to be enabled in order to function. Please enable JavaScript in your browser
                    before continuing to use this website.
                </noscript>
            </div>

            <div class="login_container margintop_210 left background_none">
                <div class="logo left"> <!--logo div starts here-->
              
                     <h1 class="logo left w655"> @*<a href="index.html">*@<img src="@Url.Content("~/images/client_logo.png")"  alt="Advanced data analytics logo" style="cursor:auto;"> @*</a>*@</h1>
                     <h2 class="left"><a href="https://www.keoghs.co.uk" target="_blank">  <img src="@Url.Content("~/images/keoghs_logo.png")" width="134" height="44" alt="keoghs logo"> </a></h2>
                </div>
            <!--logo div ends here--> 
            </div>
 

            <div class="login_container drop-shadow left"> <!--login_container div starts here-->
          
                <div class="col-1"> <!--col-1 div starts here-->
                @*<h2> Advanced Data <br>
                      Analytics</h2>*@
                <p>Advanced Data Analytics (ADA) is the latest fraud prevention tool developed by Keoghs Intelligence Services.  
                   It combines network, pattern and trend analysis to formulate risk profiles of insurance claims and policies in real time, 
                    enabling Insurers, Self-insured’s, Claims Handling Agents and Aggregators to streamline their claims handling processes 
                    and task resources more effectively.
                    <br /><br />
                </p>
                </div>
                <!--col-1 div ends here-->
          
                <div class="col-2 border-radius drop-shadow webpart"> <!--col-1 div starts here-->
        
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new{ autocomplete=HttpContext.Current.IsDebuggingEnabled ? "on":"off"} )) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "")
   
                        <div  class="left">
                              <div class="col-3">  @Html.LabelFor(m => m.UserName)</div>
                              <div class="col-4">
                                 @Html.TextBoxFor(m => m.UserName)
                                 @*@Html.ValidationMessageFor(m => m.UserName, null, new { @class = "requiredStyleLogin" })*@
                              </div>
                        </div>

                        <div  class="left">
                              <div class="col-3"> @Html.LabelFor(m => m.Password)</div>
                              <div class="col-4">
                                @Html.PasswordFor(m => m.Password)
                                  @*<p style="text-align:right;padding-right:5px"><a id="resetPwd" href="#"><u>Reset Password</u></a></p>*@
                                  <p style="text-align:right;padding-right:5px"><u>@Html.ActionLink("Reset Password", "RecoverPassword", "Account", new { @id = "resetPwd", data_dialog_id = "ResetDialog", data_dialog_title = "Reset Password" })</u></p>
                                  @*@Html.ValidationMessageFor(m => m.Password, null, new { @class = "requiredStyleLogin" })*@
                                </div>
                        </div>

                        <div  class="left">
                              @*<div class="col-4 blue"> <a href="#">Reset your password</a> </div>*@
                              <div class="col-4 blue"> <p><input type="checkbox" onchange="document.getElementById('login').disabled = !this.checked; document.getElementById('login').title = ''; " /> I agree to the <a aria-label="Terms" id="toggle"><u>terms of use</u></a></p> </div>
                              <div class="col-5 opacity_bright">
                                    <input type="submit" id="login" class="styled-button" value="Login" title="To login please agree to terms of use" disabled/>
                                    
                              </div>
                           
                        </div>
    
                        <div  class="left">
                            <p hidden><br />The results presented by this service represent processing of data in accordance with Section 29 (3) Data Protection Act 1988 in that it is considered necessary for the detection and prevention of a criminal offence.  The results provided by this Service are only indicators of potential fraudulent claims and as such all claims highlighted will require further investigation in order to validate the potential fraud risk.  We caution against making any presumption of any dishonesty on the part of any persons or companies named and accept no liability in relation to or arising from any such allegation made as a result of reliance upon the current Service.<br />
                                      <br />Do not proceed if you are an unauthorised user.  Attempts to use this Service in an unauthorised manner to alter, destroy or damage data may breach the Computer Misuse Act.
                                      <br />Please be aware that the activity of users of any Keoghs' applications, including this website, can be logged and audited for compliance with our security and usage policies.
                                      <br /><br />This website uses cookies to determine if you are logged in or not. No personal data is retained. By continuing to access this website you are agreeing to our use of cookies in this way.
                                      <br /><br />For further information please contact Keoghs LLP.<br />
                                      <br />Contact details are on our website: <a href="https://www.keoghs.co.uk" target="_blank">www.keoghs.co.uk</a><br />
                                      Alternatively, email the ADA Support Team <a href="mailto:support-ada@keoghs.co.uk?subject=Query relating to the terms of usage" target="_blank">Contact Us</a>
                            </p>
                        </div>
                    }
              

                </div>
                <!--col-2 div ends here--> 
          
                  <div id="LoginFooter">
                      <h2 class="blue"> © @DateTime.Now.Year Keoghs</h2>
                 </div>

            </div> 
        
        </div>
        <!--login_container div starts here-->

     </div>
      <!--content_wrapper  div ends here--> 
      
    </div>

<!--Container_18 div ends here-->
      <div id="BrowserCapabilites" style="display:none;">
           @ViewBag.BrowserCapabilites
          </div>
</body>
</html>

<div id="ui-pwdReset-dialog" style="display:none;overflow-y:hidden;">

        <br />
        <div class="left">
            <div>Please enter your @Html.LabelFor(m => m.UserName) &nbsp;<input type="textbox" id="pwdResetUsername" size="32" /> @*<span style="color:red;display:none;">*</span>*@  </div>
        </div>
   
    <p id="dialog-message-emailRequired" style="text-align:center"></p>
    <div id='ajax-loader' style="float:left; display:none">&nbsp;<img src='~/Images/ajax-loader.gif' /></div>
 
</div>


<div id="ui-pwdResetUserNameError-dialog" style="display:none;">
    <p id="dialog-message-usernameerror" style="text-align:center"></p>
</div>

<div id="ui-pwdResetSuccess-dialog" style="display:none;">
    <br />
    <p id="dialog-message-success" style="text-align:center"></p>
</div>


<div id="ui-pwdResetEmailError-dialog" style="display:none;">
    <br />
     <p id="dialog-message-emailerror" style="text-align:center"></p>
</div>