﻿@model KeoghsClientSite.Models.RecoverPassword
@{
    ViewBag.Title = "Recover Password";
    Layout = null;
}

@*<script src="~/Scripts/homeandresults.js"></script>*@

@*<link href="~/Content/base.css" rel="stylesheet" />*@

<style>

    .styled-button {
        background-color: #005c9f;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #808080;
        margin: 10px 13px 0px 0px;
        color: #fff;
        font-family: Montserrat;
        font-size: 11px;
        padding: 1px 24px 1px 24px;
    }

    .styled-button-cancel {
        border-radius: 3px;
        border: 1px solid #808080;
        margin: 10px 13px 0px 0px;
        font-family: Montserrat;
        font-size: 11px;
        padding: 1px 24px 1px 24px;
    }
</style>



<script src="~/Scripts/login.js"></script>

@*<script type="text/javascript">

    $(document).ready(function () {
        $("#approve-btn").click(function () {
            //$("#ajax-loader").toggle();
            //$('#ajax-loader').css('display', 'block');
            $('#ajax-loader').hide();
            alert('Hi');
        });
    });

</script>*@

<script>
    $(document).ready(function () {
        $("#cancel-btn").click(function () {
            $("#ajax-loader").hide();
        });
        $("#approve-btn").click(function () {
            $("#ajax-loader").show();
        });
    });
</script>

@*<body>

    <p><img src='~/Images/ajax-loader.gif' /></p>

    <button id="hide">Hide</button>
    <button id="show">Show</button>

</body>*@

@using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { id = "recoverPasswordForm" }))
{
<br>
<div>
    <h2> Forgot your password? </h2>
    <p>
        Enter your username below and we'll send you password reset instructions.
        <br /><br />
    </p>
</div>


<div id="ajaxloader" class="alert" style="display: none">
    <div style="color:blue" id="sending"><img src='~/Images/ajax-loader.gif' /> Sending Email</div>
</div>

<div id="errorContainer" class="alert" style="display: none">
    <div style="color:red" id="errors"></div>
</div>

<div id="sucessContainer" class="alert" style="display: none">
    <div style="color:green" id="success">Email Sent</div>
</div>

@Html.ValidationSummary(true, "")

<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
    <div class="col-1">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @id = "userName", @style = "width: 265px;", @type = "email" })
        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "help-inline" })
    </div>
</div>

<div style="float: left;">
    <input type="submit" id="approve-btn" class="styled-button" value="Send me reset instructions" />
    <input type="reset" id="cancel-btn" class="styled-button-cancel" value="Cancel" />
</div>

 <br /><br />

<div style="padding-top:20px">
    <hr>
    <h5 style="font-size:10px"> A note about spam filters </h5>
    <p style="font-size:10px">
        If you don’t receive an email within a few minutes please be sure to check your spam filter. The email will be coming from donotreply@ada.keoghs.co.uk
        <br /><br />
    </p>
</div>

}

