﻿@model KeoghsClientSite.Models.ResetPasswordModel
@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<link href="~/Content/base.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/jquery.password-strength.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var myPlugin = $("[id$='txtPassword']").password_strength();

        $("[id$='btnSubmit']").click(function () {
            return myPlugin.metReq(); //return true or false
        });


    });
</script>

<body>
    <div class="container_18">
        <!--Container_18 div starts here-->

        <div class="login_wrapper">
            <!--content_wrapper  div starts here-->

            <div class="span18">
                <!--login_container div starts here-->

                <div class="login_container margintop_210 left background_none">
                    <div class="logo left">
                        <!--logo div starts here-->

                        <h1 class="logo left w655"><img src="@Url.Content("~/images/client_logo.png")" alt="Advanced data analytics logo" style="cursor:auto;"> </h1>
                        <h2 class="left"><a href="https://www.keoghs.co.uk" target="_blank">  <img src="@Url.Content("~/images/keoghs_logo.png")" width="134" height="64" alt="keoghs logo"> </a></h2>
                    </div>
                    <!--logo div ends here-->
                </div>


                <div class="login_container drop-shadow left" style="height:290px">
                    <!--login_container div starts here-->

                    <div class="col-1">
                        <!--col-1 div starts here-->
                        <h2> Change Password </h2>
                        <p>
                            Please enter a new password to complete the reset process. You will use this new password to sign in to the site from now on.
                            <br /><br />
                        </p>
                    </div>
                    <!--col-1 div ends here-->

                    <div class="col-2 border-radius drop-shadow webpart" style="height:210px">
                        <!--col-1 div starts here-->
                    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                    @Html.HiddenFor(model => model.ReturnToken)
                    @Html.HiddenFor(model => model.UserName)
                    <input type="hidden" name="Username" value=@Model.UserName />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "")


                    <div class="left">
                        <div class="col-3" style="font-size:12px">  @Html.LabelFor(m => m.Password, new { @id = "lblPassword" })</div>
                        <div class="col-4" style="font-size:12px">
                            @Html.PasswordFor(m => m.Password, new { @id = "txtPassword", @type = "password" })
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-inline" })
                        </div>
                    </div>                       
                        
                    <div class="left">
                        <div class="col-3" style="font-size:12px"> @Html.LabelFor(m => m.ConfirmPassword)</div>
                        <div class="col-4" style="font-size:12px">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "help-inline" })
                        </div>
                    </div>

                    <div class="left">
                        @*<div class="col-4 blue"> <a href="#">Reset your password</a> </div>*@
                        <div class="col-4 blue"></div>
                        <div class="col-5 opacity_bright">
                            <input type="submit" id="login" class="styled-button" value="Save"/>

                        </div>

                    </div>

                    }


                    </div>
                    <!--col-2 div ends here-->

                    <div id="LoginFooter">
                        <h2 class="blue"> © @DateTime.Now.Year Keoghs</h2>
                    </div>

                </div>

            </div>
            <!--login_container div starts here-->

        </div>
        <!--content_wrapper  div ends here-->

    </div>
</body>