﻿@model KeoghsClientSite.Models.UnlockModel
@{
    ViewBag.Title = "Unlock Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("Unlock", "Account", FormMethod.Post, new { id = "unlockuserForm" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" id="rowId" name="rowId" />

    <div class="col-md-10">
        @*<div class="row">*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Unlock Users</div>
            </div>
            @if (@Model.Users.Count()>0)
            {
                <div class="bootstrap-admin-panel-content">
                    <div style=" height: 575px; overflow: auto;">

                        <table id="my_table" class="table table-striped table-bordered id=" example">

                            <thead>
                                <tr>
                                    <th class="hide">Id</th>
                                    <th>Username</th>
                                    <th>Forename</th>
                                    <th>Surname</th>
                                    <th>Template</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var user in Model.Users)
                                {
                                    <tr class="odd gradeX" id="myFunction">
                                        <td class="hide">@user.Id</td>
                                        <td>@user.Username</td>
                                        <td>@user.Forename</td>
                                        <td>@user.Surname</td>
                                        <td>@user.Template</td>
                                        <td><button type="submit" class="unlock-user"><img src="~/Images/glyphicons_204_unlock.png" width="12" height="15" /> Unlock</button></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            }
            else
            {
                <div class="bootstrap-admin-panel-content">
                    <div style=" height: 575px; overflow: auto;">
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <h4>Info!</h4>
                            There are currently no user accounts that are in a locked state
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="myModalLabel" class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <p>Account successfully unlocked</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


}


