﻿@model KeoghsClientSite.Models.SingleClaim.InsuredVehicleViewModel
@{ 
    Layout = null; 
} 

<script>
    $(document).ready(function() {
        $('.save-button').click(function() {
            $('#saveButtonId').click();
        });
    });
</script>


@using (Ajax.BeginForm("SubmitInsuredVehicleView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "InsuredVehicleForm" }))
{
    <div class="insured_vehicle_container left">
        @Html.ValidationSummary()


        @*<p><b>@Html.ValidationSummary()</b></p>*@


        @Html.EditorFor(model => model.Vehicle)
        @Html.EditorFor(model => model.VehicleAdditionalInfo)


    </div>
        <div class="headings border_radius_none  upload_page_navigation  w740 left">
            <!--heading div starts here-->
            <div class="col-1 ">
                <a id="InsuredVehiclePrevButton" href="#" class="InsuredVehiclePrevButton">
                    <i class="icon-small prev_arrow left"></i>
                    <p class="left">Previous</p>
                </a>
            </div>
            <div class="col-2 w540"> &nbsp; </div>
            <div class="col-1 margintop_5">
                <a id="InsuredVehicleNextButton" href="#" class="InsuredVehicleNextButton next">
                    <i class="icon-small next_arrow right"></i>
                    <p class="right">Next&nbsp; </p>
                </a>
            </div>
        </div>
        <!--heading div ends here-->
        @Html.HiddenFor(model => model.PreviousPage)
        <input type="button" name="saveButtonId" id="saveButtonId" class="saveButtonId" style="display: none" />
        }

        @{Html.RenderPartial("_NavigationData",Model.NavigationData);}
