﻿
@model KeoghsClientSite.Models.SingleClaim.InsuredDriverViewModel
@{ 
    Layout = null; 
} 

<script>
    $(document).ready(function() {
        $('.save-button').click(function() {
            $('#saveButtonId').click();
        });
    });
</script>

@*<script>
    $(document).ready(function () {
        if ($("#PopulateWithPolicyHolder").val() == "True") {
            $('input', 'form').attr('disabled', true);
            $('select', 'form').attr('disabled', true).attr('readonly', true);
            $('#spinnerNumberOfSupportingInvolvements').attr('disabled', false);

            $("#DateOfBirth").datepicker().datepicker('disable');
            $("#StartOfResidency").datepicker().datepicker('disable');
            $("#EndOfResidency").datepicker().datepicker('disable');
            $(".DatePickerTextBox").datepicker().datepicker('disable');
        } else {
            $('input', 'form').attr('disabled', false);
            $('select', 'form').attr('disabled', false).attr('readonly', false);
            $('#spinnerNumberOfSupportingInvolvements').attr('disabled', false);

            $("#DateOfBirth").datepicker().datepicker('enable');
            $("#StartOfResidency").datepicker().datepicker('enable');
            $("#EndOfResidency").datepicker().datepicker('enable');
            $(".DatePickerTextBox").datepicker().datepicker('enable');
        }
    })
</script>*@


 @using (Ajax.BeginForm("SubmitIncidentView", "SingleClaim",null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    },new { id = "InsuredDriverForm" }))
    {


   <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->
         
         @Html.ValidationSummary()

         @Html.EditorFor(model => model.PersonInformation)
            
          </div>
     
        @Html.EditorFor(model => model.Address);
               
        
        @Html.EditorFor(model => model.AdditionalInfo);
          
        @Html.HiddenFor(model => model.PopulateWithPolicyHolder); 
       
         
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="InsuredDriverPrevButton" href="#" class="InsuredDriverPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a id="InsuredDriverNextButton" href="#" class="InsuredDriverNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
             </div>
        <!--heading div ends here--> 
     <input type="button" name="saveButtonId"  id="saveButtonId"  class="saveButtonId" style="display: none"/>
    }

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}