﻿@model KeoghsClientSite.Models.SingleClaim.NavigationData

<div id="NavigationData">
    <div id="Data">@Model.Data</div>
    <div id="CurrentForm">@Model.CurrentForm</div>
    <div id="Previous">@Model.Previous</div>
    <div id="NextPage">@Model.NextPage</div>
</div>