﻿@model KeoghsClientSite.Models.SingleClaim.PassengerViewModel
@{ 
    Layout = null; 
} 

<script>
    $(document).ready(function() {
        $('.save-button').click(function() {
            $('#saveButtonId').click();
        });
    });
</script>

@using (Ajax.BeginForm("SubmitPassengerView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "PassengerForm" }))
{


   <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->
            
         @Html.ValidationSummary()

         @Html.EditorFor(model => model.PersonInformation)
            
          </div>
     
        @Html.EditorFor(model => model.Address);
               
       
        @Html.EditorFor(model => model.AdditionalInfo);
        @Html.HiddenFor(model => model.NumberPassengers);
        @Html.HiddenFor(model => model.CurrentPassenger);
        @Html.HiddenFor(model => model.PassengerID);
        @Html.HiddenFor(model => model.PreviousPage);
        @Html.HiddenFor(model => model.VehicleID);
        @Html.HiddenFor(model => model.PassengerType);   
         
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="PassengerPrevButton" href="#" class="PassengerPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a id="PassengerNextButton" href="#" class="PassengerNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
             </div>
        <!--heading div ends here--> 
      <input type="button" name="saveButtonId"  id="saveButtonId"  class="saveButtonId" style="display: none"/>
}

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}