﻿@model KeoghsClientSite.Models.SingleClaim.PolicyViewModel
@{ 
    Layout = null; 
} 


<script>
    $(document).ready(function () {
        $('.save-button').click(function () {
            $('#saveButtonId').click();
        });
    });
</Script>


@using (Ajax.BeginForm("GetPolicyHolderPersonalView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    },new { id = "PolicyForm" }))
    {
    
     
  <div class="incident_container left"> 
            <!--review_container div starts here-->

       @Html.ValidationSummary()
     
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p><b>@Html.LabelFor(model => model.PolicyNumber)</b></p>
              </div>
                   <div class="col-2">
                       @Html.TextBoxFor(model => model.PolicyNumber, new { style = "width:360px", @maxlength = "50" })
              </div>
                 </div>
            <!--row div ends here-->
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p> <b>@Html.LabelFor(model => model.PolicyTypes)</b></p>
              </div>
                   <div class="col-2">

                            @Html.DropDownListFor(model => model.SelectedPolicyType, new SelectList(Model.PolicyTypes, "Value", "Text"),
                            "--- Please select ---", new { @class = "FilterDropdowns DropDown120px", id = "SelectedPolicyType" })

              </div>
                 </div>
            <!--row div ends here-->
            <div class="row left"> 
                   <!--row div starts here-->
                   <div class="col-1">
                <p><b>Policy Holder details known</b></p>
              </div>
                   <div class="col-2">

                       @* <p class="left">
                               <input type="radio" name="radio" id="radio" value="radio">
                             </p>
                        <p class="left paddingtop_3">Yes </p>
                        <p class="left marginleft_17">
                               <input type="radio" name="radio" id="radio" value="radio">
                             </p>
                        <p class="left paddingtop_3">No </p>*@

                       <div id="divPolicyHolderDetails">

                            <p class="left">

                                @Html.RadioButtonFor(model => model.PolicyHolderDetailsKnown, true, new { @class = "PolicyHolderDetailsKnown", id = "PolicyHolderDetailsKnownYes" })
                            </p>
                            <p class="left paddingtop_3">Yes</p>
                            <p class="left marginleft_17">

                                @Html.RadioButtonFor(model => model.PolicyHolderDetailsKnown, false, new { @class = "PolicyHolderDetailsKnown", id = "PolicyHolderDetailsKnownNo" })
                            </p>
                            <p class="left paddingtop_3">No</p>
                        

                       </div>
              </div>
                 </div>
            <!--row div ends here--> 
            
          </div>
               <div class="additional_information_container left incident_container  margintop_35"> 
            <!--claimsummary_container div starts here-->
            
            <div class=" additional_information_heading border_bottom_solid-1 left">
                <div class="left">
                    <h2>Additional Information</h2>
                </div>
                @if (Model.PolicyStartDate != null || Model.PolicyEndDate != null || Model.SelectedCoverType != null || Model.PolicyPremium != null || Model.Broker != null)
                {
                    <div class="up_arrow"> <i id="claim_accordion-9" class="icon-small accordion_uparrow right" onclick="divShowHide('claim_accordion-9','claimsummary-9','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
                else
                {
                    <div class="up_arrow"> <i id="claim_accordion-9" class="icon-small accordion_downarrow right" onclick="divShowHide('claim_accordion-9','claimsummary-9','accordion_uparrow','accordion_downarrow');"> </i> </div>
                }
            </div>

            @if (Model.PolicyStartDate != null || Model.PolicyEndDate != null || Model.SelectedCoverType != null || Model.PolicyPremium != null || Model.Broker != null)
            {
                <div id="claimsummary-9" >
                       <div class="row"> 
                    <!--row div starts here-->
                    <div class="col-1">
                           <p><b>@Html.LabelFor(model => model.PolicyStartDate)</b></p>
                         </div>
                    <div class="col-2">
                            @Html.TextBox("PolicyStartDate", (Model.PolicyStartDate.HasValue ? Model.PolicyStartDate.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox", id="PolicyStartDate"})
                           <a href="#" class="calendarIcon"><i class="icon-small calendar"></i></a> </div>
                  </div>
                       <!--row div ends here-->
                   
                       <div class="row"> 
                    <!--row div starts here-->
                    <div class="col-1">
                           <p><b>@Html.LabelFor(model => model.PolicyEndDate)</b></p>
                         </div>
                    <div class="col-2">
                           @Html.TextBox("PolicyEndDate", (Model.PolicyEndDate.HasValue ? Model.PolicyEndDate.Value.ToShortDateString() : string.Empty),new{@class = "DatePickerTextBox", id="PolicyEndDate"})
                          <a href="#" class="calendarIcon"> <i class="icon-small calendar"></i></a> </div>
                  </div>
                       <!--row div ends here-->
                   
                       <div class="row"> 
                    <!--row div starts here-->
                    <div class="col-1">
                           <p><b>@Html.LabelFor(model => model.CoverTypes)</b></p>
                         </div>
                    <div class="col-2">

                        @*   <select name="claimcode" class="premium">
                        <option></option>
                        <option></option>
                      </select>*@
                          @Html.DropDownListFor(model => model.SelectedCoverType, new SelectList(Model.CoverTypes, "Value", "Text"), 
                                "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })

                         </div>
                  </div>
                       <!--row div ends here-->
                   
                       <div class="row"> 
                    <!--row div starts here-->
                    <div class="col-1">
                           <p><b>@Html.LabelFor(model => model.PolicyPremium)</b></p>
                         </div>
                    <div class="col-2">
                       
                         @Html.TextBoxFor(model => model.PolicyPremium,new { @class = "TextBox120px" })
                         </div>
                  </div>
                       <!--row div ends here-->
                   
                       <div class="row"> 
                    <!--row div starts here-->
                    <div class="col-1">
                           <p><b>@Html.LabelFor(model => model.Broker)</b></p>
                         </div>
                    <div class="col-2">
                        @Html.TextBoxFor(model => model.Broker, new { style = "width:360px", @maxlength = "50" })
                         </div>
                  </div>
                       <!--row div ends here--> 
                   
                     </div>
            }
            else
            {
                <div id="claimsummary-9" class="additional_information_container border_none paddingtop_25 left display_none">
                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.PolicyStartDate)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.TextBox("PolicyStartDate", (Model.PolicyStartDate.HasValue ? Model.PolicyStartDate.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox", id = "PolicyStartDate" })
                            <a href="#" class="calendarIcon"><i class="icon-small calendar"></i></a>
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.PolicyEndDate)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.TextBox("PolicyEndDate", (Model.PolicyEndDate.HasValue ? Model.PolicyEndDate.Value.ToShortDateString() : string.Empty), new { @class = "DatePickerTextBox", id = "PolicyEndDate" })
                            <a href="#" class="calendarIcon"> <i class="icon-small calendar"></i></a>
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.CoverTypes)</b></p>
                        </div>
                        <div class="col-2">

                            @*   <select name="claimcode" class="premium">
                                  <option></option>
                                  <option></option>
                                </select>*@
                            @Html.DropDownListFor(model => model.SelectedCoverType, new SelectList(Model.CoverTypes, "Value", "Text"),
                                "--- Please select ---", new { @class = "FilterDropdowns DropDown240px" })

                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.PolicyPremium)</b></p>
                        </div>
                        <div class="col-2">

                            @Html.TextBoxFor(model => model.PolicyPremium, new { @class = "TextBox120px" })
                        </div>
                    </div>
                    <!--row div ends here-->

                    <div class="row">
                        <!--row div starts here-->
                        <div class="col-1">
                            <p><b>@Html.LabelFor(model => model.Broker)</b></p>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.Broker, new { style = "width:360px", @maxlength = "50" })
                        </div>
                    </div>
                    <!--row div ends here-->

                </div>
            }
          
          </div>
               <!--claimsummary_container div ends here--> 
               
            
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="PolicyPrevButton" href="#" class="PolicyPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a href="#" class="PolicyNextButton next" id="PolicyNextButton"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
             </div>
        <!--heading div ends here--> 
 
    <input type="button" name="saveButtonId"  id="saveButtonId"  class="saveButtonId" style="display: none"/>
    
    <div id="NavigationData">
    <div id="Data">@Model.NavigationData.Data</div>
    <div id="CurrentForm">@Model.NavigationData.CurrentForm</div>
    <div id="Previous">@Model.NavigationData.Previous</div>
    </div>
    
    }



@*@{Html.RenderPartial("_NavigationData",Model.NavigationData);}*@