﻿@model KeoghsClientSite.Models.SingleClaim.PolicyHolderPersonalViewModel
@{ 
    Layout = null; 
} 

<style type="text/css">
    div.ui-datepicker{
        font-size:12px;
    }
</style>

<script>
    $(document).ready(function() {
        $('.save-button').click(function () {
            $('#saveButtonId').click();
        });
    });
</Script>

@using (Ajax.BeginForm("GetInsuredVehicleView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "PolicyHolderPersonalForm" }))
{

      <div class="policy_holder_container left"> 
            <!--policy_holder_container div starts here-->

           @Html.ValidationSummary()
            
     @Html.EditorFor(model => model.PersonInformation)
            
          </div>
    

    @Html.EditorFor(model => model.Address);
    @Html.EditorFor(model => model.BankAccount);
 
    @Html.EditorFor(model => model.AdditionalInfo);
                   
            
        <div class="headings border_radius_none  upload_page_navigation  w740 left"> 
               <!--heading div starts here-->
               <div class="col-1 "> <a id="PolicyHolderPrevButton" href="#" class="PolicyHolderPrevButton"><i class="icon-small prev_arrow left"></i>
            <p class="left">Previous</p></a>
          </div>
               <div class="col-2 w540"> &nbsp; </div>
               <div class="col-1 margintop_5"><a id="PolicyHolderNextButton" href="#" class="PolicyHolderNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
       </div>
        <!--heading div ends here--> 
     <input type="button" name="saveButtonId"  id="saveButtonId"  class="saveButtonId" style="display: none"/>
}

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}