﻿@{ 
    Layout = null; 
}

@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer(); 
}

<script type="text/javascript">
    $(document).ready(function() {
        $('.save-button').hide();
        var submitResult = @serializer.Serialize(ViewData["SubmissionSuccessful"]);
        if(submitResult) {
            //$('#ResultsSection').text('Details of your submitted claim can be found in the results section.');
            $('#UploadHeader > h2').text('SINGLE CLAIM SUBMISSION SUCCESSFUL');
            $('#UploadIcon > i').removeClass().addClass('icon-xxx-large uploadsuccess');
            //$('#FooterText').text('Your batch status is: ' + BatchStatusAsString + '.');
        }
        else {
            $('#ResultsSection').html('There has been an error submitting your claim.<br/><br/> Please contact us at support-ada@keoghs.co.uk to report this error stating the claim number.');
            $('#UploadHeader > h2').text('  SINGLE CLAIM SUBMISSION ERROR    ');
            $('#UploadIcon > i').removeClass().addClass('icon-xx-large error');
        }
    });
</script>

@using (Ajax.BeginForm("SubmitResultsView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "ResultsForm" }))
{
   
    <div class="policy_holder_container left">
        <div id="UploadHeader" class="aligncenter paddingtop_12 paddingbottom_10">
            <h2></h2>
        </div>

        <div id="UploadIcon" class="aligncenter paddingtop_12 paddingbottom_15 paddingleft_10">
          <i></i>
        </div>

        <div id="UploadFooter" class="aligncenter paddingbottom_15 blue" style="margin-top: -5px;">
            <table style="text-align: center; margin: auto;">
                <tr>
                    <td><div id="ResultsSection">Details of your submitted claim can be found in the <a href ="../">RESULTS</a> section.</div>
                        <h2 id="FooterText"></h2>
                    </td>
                    <td id="ButtonCell" style="vertical-align: top;">&nbsp;<input type="button" class="styled-button" value="Continue" id="ContinueButton" style="display: none; margin-top: -2px;" />
                        <input type="button" class="styled-button" value="Show Error" id="ShowErrorButton" style="display: none; margin-top: -2px;" />

                    </td>
                </tr>
            </table>
        </div>
    </div>
}