﻿@model KeoghsClientSite.Models.SingleClaim.ReviewAndSubmitViewModel
@{ 
    Layout = null; 
} 


<script>
    $(document).ready(function() {
        //$('.save-button').click(function() {
        //    $('#saveButtonId').click();
        //});
        $('.save-button').hide();
    });
</script>

@using (Ajax.BeginForm("SubmitReviewAndSubmitView", "SingleClaim", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    }, new { id = "ReviewAndSubmitForm" }))
{
         
        <!--heading div ends here-->
        @*<div class="review_container border_bottom_solid-1 left"> 
             @Html.EditorFor(x => x.DataFeeds)
        </div>*@
        <!--review_container div ends here-->
        <div class="review_container row margintop_32 left aligncenter"> 
            <!--row div starts here-->
            <p> <b> Please confirm that all information available has been entered and is correct. </b> </p>
                   <br>
                   <br>
            <b> Confirm submission of the claim information<br>
                 </b>
            <p class="margintop_10">
                <a  href="" class="ReviewAndSubmitNextButton"><input class="submit-button" type="button"  value="SUBMIT" /> </a>
            </p>
            
              <input type="button" name="saveButtonId"  id="saveButtonId"  class="saveButtonId" style="display: none"/>
        </div>
        <!--row div ends here-->
        <div class="headings border_radius_none  upload_page_navigation paddingtop_5  w740 left"> 
            <!--heading div starts here-->
            <div class="col-1 "> <a id="ReviewAndSubmitPrevButton" href="#" class="ReviewAndSubmitPrevButton"><i class="icon-small prev_arrow left"></i>
                   <p class="left">Previous</p></a>
                 </div>
            <div class="col-2 w540"> &nbsp; </div>
            @*<div class="col-1 margintop_5"><a href="#" class="ReviewAndSubmitNextButton"><i class="icon-small next_arrow right"></i>
                   <p class="right">Next&nbsp; </p></a>
                 </div>*@
        
       
        </div>
               <!--heading div ends here--> 
             
    
        @Html.HiddenFor(model => model.PreviousPage)
        @Html.HiddenFor(model => model.NumberOfVehicles)
        @Html.HiddenFor(model => model.CurrentVehicle)
     @Html.HiddenFor(model => model.VehicleID)
    
}

@{Html.RenderPartial("_NavigationData",Model.NavigationData);}