﻿@{ 
    Layout = null; 
} 

@Scripts.Render("~/bundles/jqueryfileupload")

<script type="text/javascript">
    $(document).ready(function () {
        $('.save-button').hide();
        $('#UploadHeader > h2').text('SINGLE CLAIM SUBMISSION IN PROGRESS');
        // Add h2 tag
        $('#UploadIcon').append('<h2>SUBMITTING </h2>');

        //$('#UploadIcon > i').addClass('icon-x-large loading');
        //$('#UploadIcon > img').css("visibility", "visible");
        $('#UploadIcon > i').removeClass();
        $('#UploadIcon > img').css("display", "inline");

        //$('#UploadFooter > h2').text('Please do not navigate away from this page');
        $('#FooterText').text('Please do not navigate away from this page');

        // Animate loading image
      
        var angle = 0;
        interval = setInterval(function () {
            angle += 3;
            $("#rotate").rotate(angle);
        }, 10);
        $(".UploadProgressNextButton").trigger('click');
           
    });
    </Script>

@using (Ajax.BeginForm("SubmitUploadProgressView", "SingleClaim",null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Ajaxtarget",
        OnSuccess = "AjaxSuccessHandler",
        OnFailure = "AjaxFailureHandler"
    },new { id = "UploadProgressForm" }))
{

    <div class="policy_holder_container left"> 
        <!--policy_holder_container div starts here-->
            
        <div id="UploadHeader" class="aligncenter paddingtop_12 paddingbottom_10"> <h2>  </h2>
                    
        </div>
       
        <div id="UploadIcon" class="aligncenter paddingtop_12 paddingbottom_15">
                    
            <i> </i>
                        
            <img src="~/Images/loading.png" id="rotate"  style="display: none;" >

        </div>

        @* <div class="aligncenter paddingtop_12 paddingbottom_30"> <i class="icon-x-large loading"> </i> <h2> LOADING</h2>*@
        <div id="UploadFooter" class="aligncenter paddingbottom_15 blue" style="margin-top: -5px;">
            <table style="text-align: center; margin: auto;">
                <tr>
                    <td>
                        <h2 id="FooterText">  </h2>  
                    </td>
                    <td id="ButtonCell" style="vertical-align:top;">
                        &nbsp;<input type="button" class="styled-button" value="Continue" id="ContinueButton" style="display: none; margin-top: -2px;" />
                        <input type="button" class="styled-button" value="Show Error" id="ShowErrorButton" style="display: none; margin-top:-2px;" />
                  
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    

        
       

     @*  <div class="aligncenter paddingbottom_15"> <h2> Please do not navigate away from this page </h2> </div>*@





       
               <!--heading div starts here-->
              
              
               <div class="col-1 margintop_5" style="display: none"><a href="#" class="UploadProgressNextButton next"><i class="icon-small next_arrow right"></i>
            <p class="right">Next&nbsp; </p> </a>
          </div>
            
    <!--heading div ends here-->

}