﻿@{
    ViewBag.Title = "SingleClaimInput";
}


<style>
    div.ui-datepicker{
        font-size:12px;
    }
    .ui-widget, .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 0.8em;
    }
    .ui-dialog .ui-dialog-buttonpane
    {
        text-align: center; /* left/center/right */
    }

   

</style>



<script type="text/javascript">
    $(document).ready(function () {
        if (window.PIE) {
            $('.ui-dialog, .toast, .error, .border-radius, .border-lastradius, .border-lastradius:hover, .border-bottom-left-radius:hover, .saved-button, .claimsummary_container, .styled-button, .action_border, .save-button, .exit-button, .NFFileButton, .blue_bg, .action-arrow, .welcome, .menu_navigation li a').each(function () {
                PIE.attach(this);
            });
        }
        $('.col-7').each(function () {
            $(this).find('i').click(function () {
                var clickedDivId = $(this).attr('data-field');
                $('.dropdownlist').each(function () {
                    if ($(this).css('display') == 'block')
                        var divVisibleId = $(this).attr('id');

                    if (clickedDivId != divVisibleId) {
                        $(this).css('display', 'none');
                        $('i[data-field*="' + divVisibleId + '"]').removeClass('action_border').removeClass('downarrowblue');
                    }

                });
                if ($('#' + $(this).attr('data-field')).css('display') == 'none') {
                    $('#' + $(this).attr('data-field')).css('display', 'block');
                    $(this).addClass('action_border').addClass('downarrowblue');
                }
                else {
                    $('#' + $(this).attr('data-field')).css('display', 'none');
                    $(this).removeClass('action_border').removeClass('downarrowblue');
                }
            });
        });

    });
    function divShowHide(ListId, divId, ArrowUp, ArrowDown) {
        if ($('#' + divId).css('display') == 'block') {
            $('#' + divId).css('display', 'none');
            $('#' + ListId).addClass(ArrowDown);
            $('#' + ListId).removeClass(ArrowUp);
        }
        else {
            $('#' + divId).css('display', 'block');
            $('#' + ListId).addClass(ArrowUp);
            $('#' + ListId).removeClass(ArrowDown);
        }
        return false;
    }
     </script>

     <script src="~/Scripts/generalajax.js" type="text/javascript"></script>
    <script src="~/Scripts/SingleClaimnav.js" type="text/javascript"></script>
     
     @*<script type="text/javascript">
         //Claim 'c'
         $(document).bind('keypress', function (event) {
             if (event.which === 67 && event.shiftKey) {
                 $('#SelectedClaimTypeID').val('1');
                 $('#ClaimNumber').val('CLM1290');
                 $('#SelectedClaimStatusID').val('1');
             }
         });
         // Incident 'l'
         $(document).bind('keypress', function (event) {
             if (event.which === 73 && event.shiftKey) {
                 $('#IncidentDate').val('10/05/2013');
                 $('#spinnerNumberOfVehicles').val('1');
             }
         });
         // Policy 'p'
         $(document).bind('keypress', function (event) {
             if (event.which === 80 && event.shiftKey) {
                 $('#SelectedPolicyType').val('1');
                 $('input:radio[name=PolicyHolderDetailsKnown]')[1].checked = true;
             }
         });
         // Insured Vehicle 'v'
         $(document).bind('keypress', function (event) {
             if (event.which === 86 && event.shiftKey) {
                 $('#spinnerNumberOfPassengers').val('1');
             }
         });
         // Address 'a'
         $(document).bind('keypress', function (event) {
             if (event.which === 65 && event.shiftKey) {
                 $("#SameAddressAsPolicyHolderNo").prop("checked", true);
             }
         });

         // Insured Driver 'd'
         //$(document).bind('keypress', function (event) {
         //    if (event.which === 100 && event.shiftKey) {
         //        $("#SameAddressAsPolicyHolderNo").prop("checked", true);
         //    }
         //});


         // Populate All '/'
         //$(document).bind('keypress', function (event) {
         //    if (event.which === 13 && event.shiftKey) {
         //        $('#SelectedClaimTypeID').val('1');
         //        $('#ClaimNumber').val('CLM1290');
         //        $('#SelectedClaimStatusID').val('1');
         //        $('#IncidentDate').val('10/05/2013');
         //        $('#spinnerNumberOfVehicles').val('1');
         //        $('#SelectedPolicyType').val('1');
         //        $('input:radio[name=PolicyHolderDetailsKnown]')[1].checked = true;
         //        $('#spinnerNumberOfPassengers').val('1');
         //    }
         //});


</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        // Hide Witness nav section by default
        $('#WitnessDiv').css('display', 'none');
        //
        // Hide third party vehicle div by default
        $('#ThirdPartyVehicleDiv_Vehicle1').css('display', 'none');


        var FormValid = function (form, button, buttonClass) {
            if (!$(form).valid()) {
                $(button).addClass(buttonClass);
            }
            else {
                $(form).submit();
            }
        }; // Display calendar when icon calendar clicked
        $("#Ajaxtarget").on("click", ".calendarIcon", function () {
            $(this).prev().datepicker('show');
            return false;
        });

        $("#Ajaxtarget").on("change", "#SelectedPolicyType", function () {
            var s = document.getElementById("SelectedPolicyType");
            var polType = s.options[s.selectedIndex].value;
            //alert(polType);
            if (polType == 2) {
   
                document.getElementById("PolicyHolderDetailsKnownNo").checked = true;
                //document.getElementById("PolicyHolderDetailsKnownYes").disabled = true;
                //document.getElementById("PolicyHolderDetailsKnownNo").disabled = true;
                              
            }
            else {

                document.getElementById("PolicyHolderDetailsKnownNo").checked = false;
                //document.getElementById("PolicyHolderDetailsKnownYes").disabled = false;
                //document.getElementById("PolicyHolderDetailsKnownNo").disabled = false;

            }


        });

        //$("#Ajaxtarget").on("click", ".PolicyHolderDetailsKnown", function () {
        //    if ($('#divPolicyHolderDetails').hasClass('input-validation-error')) {
        //        $('#divPolicyHolderDetails').removeClass('input-validation-error');
        //    }
        //    //return false;
        //});

        $("#Ajaxtarget").on("click", ".ClaimNextButton", function () {
            /* Respond */
            //alert('Clicked IncidentPrevButton');
            //prevent further clicks
            $(this).removeClass('ClaimNextButton');
            //
            $('#ClaimForm').attr('action', '/SingleClaim/ClaimNextView');
            //$('#ClaimForm').attr('data-ajax-success', 'AjaxSuccessHandler');
            var form = $('#ClaimForm');
            $('#ClaimForm').submit(FormValid(form, $(this), 'ClaimNextButton'));
            // $('#ClaimForm').submit();
            $('.save-button').show();
            return false;
        });


        $("#Ajaxtarget").on("click", "#saveButtonId", function () {
            var form = $('#saveButtonId').get(0).form.id;
            
            switch(form) {
                case 'IncidentForm':
                    $('#' + form).attr('action', '/SingleClaim/IncidentNextView');
                    $('#' + form).submit();
                    break;
                case 'PolicyForm':
                    $('#' + form).attr('action', '/SingleClaim/PolicyNextView');
                    $('#' + form).submit();
                    break;
                case 'PolicyHolderPersonalForm':
                    $('#' + form).attr('action', '/SingleClaim/PolicyHolderPersonalNextView');
                    $('#' + form).submit();
                    break;
                case 'PolicyHolderCommercialForm':
                    $('#' + form).attr('action', '/SingleClaim/PolicyHolderCommercialNextView');
                    $('#' + form).submit();
                    break;
                case 'InsuredVehicleForm':
                    $('#' + form).attr('action', '/SingleClaim/InsuredVehicleNextView');
                    $('#' + form).submit();
                    break;
                case 'InsuredDriverForm':
                    $('#' + form).attr('action', '/SingleClaim/InsuredDriverNextView');
                    $('#' + form).submit();
                    break;
                case 'SupportingInvolvementsForm':
                    $('#' + form).attr('action', '/SingleClaim/SupportingInvolvementsNextView');
                    $('#' + form).submit();
                    break;
                case 'PassengerForm':
                    $('#' + form).attr('action', '/SingleClaim/PassengerNextView');
                    $('#' + form).submit();
                    break;
                case 'ThirdPartyVehicleForm':
                    $('#' + form).attr('action', '/SingleClaim/ThirdPartyVehicleNextView');
                    $('#' + form).submit();
                    break;
                case 'ThirdPartyDriverForm':
                    $('#' + form).attr('action', '/SingleClaim/ThirdPartyDriverNextView');
                    $('#' + form).submit();
                    break;
                case "WitnessForm":
                    $('#' + form).attr('action', '/SingleClaim/WitnessNextView');
                    $('#' + form).submit();
                    break;
                case "ReviewAndSubmitForm":
                    $('#' + form).attr('action', '/SingleClaim/SubmitReviewAndSubmitView');
                    $('#' + form).submit();
                    break;
                    
            }

            if ($('#' + form).valid()) {
                $("#dialog-message").dialog({
                    modal: true,
                    resizable: false,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                            window.location.replace("OutstandingClaims");
                        }
                    },
                    open: function (event, ui) {
                        $(".ui-widget-overlay").css({
                            opacity: 0.9,
                            filter: "Alpha(Opacity=70)",
                            backgroundColor: "white"
                        });
                    },
                });
            }
            
            return false;
        });
        


        $("#Ajaxtarget").on("click", ".IncidentNextButton", function () {
            /* Respond */
            //prevent further clicks
            $(this).removeClass('IncidentNextButton');
            //  $('#IncidentForm').attr('data-ajax-success', 'AjaxSuccessHandler');
            $('#IncidentForm').attr('action', '/SingleClaim/IncidentNextView');
            //var form = $('#IncidentForm');
            //
            if ($('#IncidentForm').valid()) {
                // Show Witness section if witnesses have been selected in picker
                var Witnesses = parseInt($('#spinnerNumberOfWitnesses').val(), 10);
                //
                if (Witnesses > 0) {
                    $('#WitnessDiv').css('display', 'block');
                }
                else {
                    $('#WitnessDiv').css('display', 'none');
                }
                // if only one vehicle hide third party vehicles section
                var Vehicles = parseInt($('#spinnerNumberOfVehicles').val(), 10);
                //

                
                if (Vehicles > 1) {
                    $('#ThirdPartyVehicleDiv_Vehicle1').css('display', 'block');
                }
                else {
                    $('#ThirdPartyVehicleDiv_Vehicle1').css('display', 'none');
                }

            }

            var NumVehicles = parseInt($('#spinnerNumberOfVehicles').val(), 10);
            var existingNumVehicles = $('[id^=ThirdPartyVehicleDiv_Vehicle]').length;

            if (existingNumVehicles > NumVehicles) {
                for (i = existingNumVehicles-1; i >= NumVehicles; i--) {
                    var IDname = 'ThirdPartyVehicleDiv_Vehicle' + i;
                    if (i == 1) {
                        $("#" + IDname).css('display', 'none');
                    }
                    else {
                        $("#" + IDname).remove();
                    }
                }
            }

            //
            $('#IncidentForm').submit(FormValid($('#IncidentForm'), $(this), 'IncidentNextButton'));
            
            // 
            return false;
        });

        $("#Ajaxtarget").on("click", ".IncidentPrevButton", function () {
            //prevent further clicks
            $(this).removeClass('IncidentPrevButton');
            // Add class .ignore to all form elements
            $('#IncidentForm').find(':input,:radio,:checkbox').addClass('ignore');
            // $('#IncidentForm').attr('data-ajax-success', 'AjaxSuccessHandler');
            $('#IncidentForm').attr('action', '/SingleClaim/IncidentPreviousView');
            var form = $('#IncidentForm');
            $('#IncidentForm').submit(FormValid(form, $(this), 'IncidentPrevButton'));
            //$('#IncidentForm').submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".PolicyNextButton", function () {
            /* Respond */
            //prevent further clicks
            $(this).removeClass('PolicyNextButton');
            // Are the Policy Holder details known?
            //if ($('#PolicyHolderDetailsKnownYes').is(':checked')) {
            //    //Personal or Commercial policy holder
            //    if ($('#SelectedPolicyType :selected').text() == 'Personal') {
            //        $('#PolicyForm').attr('action', '/SingleClaim/GetPolicyHolderPersonalView');
            //    }
            //    else {
            //        $('#PolicyForm').attr('action', '/SingleClaim/GetPolicyHolderCommercialView');
            //    }
            //}
            //else {
            //    $('#PolicyForm').attr('action', '/SingleClaim/GetInsuredVehicleViewFromPolicy');
            //}
            $('#PolicyForm').attr('action', '/SingleClaim/PolicyNextView');
            $('#PolicyForm').submit(FormValid($('#PolicyForm'), $(this), 'PolicyNextButton'));
            //determine if errors
            if ($('#PolicyHolderDetailsKnownYes').hasClass('input-validation-error')) {
                $('#divPolicyHolderDetails').addClass('input-validation-error');
            }
            return false;
        });

        $("#Ajaxtarget").on("click", ".PolicyPrevButton", function () {
            /* Respond */
            //prevent further clicks
            $(this).removeClass('PolicyPrevButton');
            // Add class .ignore to all form elements
            $('#PolicyForm').find(':input,:radio,:checkbox').addClass('ignore');
            $('#PolicyForm').attr('action', '/SingleClaim/PolicyPreviousView');
            $('#PolicyForm').submit(FormValid($('#PolicyForm'), $(this), 'PolicyPrevButton'));
            //$('#PolicyForm').submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".PolicyHolderNextButton", function () {
            //prevent further clicks
            $(this).removeClass('PolicyHolderNextButton');

            if ($('#PolicyHolderPersonalForm').length > 0) {
                form = $('#PolicyHolderPersonalForm');
                form.attr('action', '/SingleClaim/PolicyHolderPersonalNextView');
                form.find(':input,:radio,:checkbox').addClass('ignore');
                //turn off validation for same address radios
                form.find('#SameAddressAsPolicyHolderYes').addClass('ignore');
                form.find('#SameAddressAsPolicyHolderNo').addClass('ignore');
            }
            else {
                form = $('#PolicyHolderCommercialForm');
                form.attr('action', '/SingleClaim/PolicyHolderCommercialNextView');
                //turn off validation for same address radios
                form.find('#SameAddressAsPolicyHolderYes').addClass('ignore');
                form.find('#SameAddressAsPolicyHolderNo').addClass('ignore');
            }
            // Check if form valid
            form.submit(FormValid(form, $(this), 'PolicyHolderNextButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".PolicyHolderPrevButton", function () {
            //prevent further clicks
            $(this).removeClass('PolicyHolderPrevButton');

            // alert('Clicked PolicyHolderPrevButton');
            // Add class .ignore to all form elements
            if ($('#PolicyHolderPersonalForm').length > 0) {
                form = $('#PolicyHolderPersonalForm');
                form.attr('action', '/SingleClaim/PolicyHolderPersonalPreviousView');
            }
            else {
                form = $('#PolicyHolderCommercialForm');
                form.attr('action', '/SingleClaim/PolicyHolderCommercialPreviousView');
            }

            form.find(':input,:radio,:checkbox').addClass('ignore');
            //form.attr('action', '/SingleClaim/ReturnPolicyView');
            //$('#PolicyHolderPersonalForm').attr('HttpMethod', 'GET');
            form.submit(FormValid(form, $(this), 'PolicyHolderPrevButton'));
            form.submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".InsuredVehicleNextButton", function () {

            //prevent further clicks
            $(this).removeClass('InsuredVehicleNextButton');
            form = $('#InsuredVehicleForm');

            var NumPassengers = parseInt($('#spinnerNumberOfPassengers').val(), 10);
            var existingNumPassengers = $('[id^=InsuredPassenger_Passenger]').length;

            if (NumPassengers == 0) {
                $("#InsuredPassengerName_Passenger1").empty();
                $("#InsuredPassengerSupportingInvolvements_Passenger1").empty();
            }

            if (NumPassengers > 0) {
                $("#InsuredPassenger_Passenger1").css('display', 'block');
            }

            if (existingNumPassengers > NumPassengers) {
                for (i = existingNumPassengers; i > NumPassengers; i--) {
                    var IDName = 'InsuredPassenger_Passenger' + i;
                   
                    //alert(IDName);
                    if (i == 1) {
                        $("#" + IDName).css('display', 'none');
                    } else {
                        $("#" + IDName).remove();
                    }
                }
            }

            form.attr('action', '/SingleClaim/InsuredVehicleNextView');
            form.submit(FormValid(form, $(this), 'InsuredVehicleNextButton'));
            //form.submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".InsuredVehiclePrevButton", function () {
            //prevent further clicks
            $(this).removeClass('InsuredVehiclePrevButton');
            // Add class .ignore to all form elements
            $('#InsuredVehicleForm').find(':input,:radio,:checkbox').addClass('ignore');
            // var PreviousPage = $('#PreviousPage').val();
            $('#InsuredVehicleForm').attr('action', '/SingleClaim/InsuredVehiclePreviousView');
            $('#InsuredVehicleForm').submit(FormValid($('#InsuredVehicleForm'), $(this), 'InsuredVehiclePrevButton'));
            //$('#InsuredVehicleForm').submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".InsuredDriverNextButton", function () {
            //prevent further clicks
            $(this).removeClass('InsuredDriverNextButton');
            form = $('#InsuredDriverForm');
            //
            var NumSupportingInvolvements = parseInt($('#spinnerNumberOfSupportingInvolvements').val(), 10);
            var existingSupportingInvolvements = $('[class^=IDSupp]').length;

            if (existingSupportingInvolvements > NumSupportingInvolvements) {
                for (i = existingSupportingInvolvements; i > NumSupportingInvolvements; i--) {
                    var classname = 'IDSupp' + i;
                    $("." + classname).remove();
                    
                }
            }
          
            form.attr('action', '/SingleClaim/InsuredDriverNextView');
            form.submit(FormValid(form, $(this), 'InsuredDriverNextButton'));
           
            return false;
        });

        $("#Ajaxtarget").on("click", ".InsuredDriverPrevButton", function () {
            //prevent further clicks
            $(this).removeClass('InsuredDriverPrevButton');
            form = $('#InsuredDriverForm');
            // Add class .ignore to all form elements
            form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/InsuredDriverPreviousView');
            form.submit(FormValid(form, $(this), 'InsuredDriverPrevButton'));
            //form.submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".SupportingInvolvementsNextButton", function () {
            //prevent further clicks
            $(this).removeClass('SupportingInvolvementsNextButton');
            form = $('#SupportingInvolvementsForm');
            // Add class .ignore to all form elements
            //form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/SupportingInvolvementsNextView');
            //form.attr('data-ajax-success', 'AjaxSuccessHandler');
            form.submit(FormValid(form, $(this), 'SupportingInvolvementsNextButton'));
            //form.submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".SupportingInvolvementsPrevButton", function () {
            //prevent further clicks
            $(this).removeClass('SupportingInvolvementsPrevButton');
            form = $('#SupportingInvolvementsForm');
            // Add class .ignore to all form elements
            form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/SupportingInvolvementsPreviousView');
            //form.attr('data-ajax-success', 'AjaxSuccessHandler');
            form.submit(FormValid(form, $(this), 'SupportingInvolvementsPrevButton'));
            //form.submit();
            return false;
        });

        $("#Ajaxtarget").on("click", ".PassengerNextButton", function () {
        
            $(this).removeClass('PassengerNextButton');
            form = $('#PassengerForm');
          
            var currentPassengerId = $('#PassengerID').val();
            var currentVehicleId = $('#VehicleID').val();

            var NumSupportingInvolvements = parseInt($('#spinnerNumberOfSupportingInvolvements').val(), 10);
            var existingInsuredPassengerSuppInv = $('[class^=IPSupp]').length;
            var existingTPPassengerSuppInv = $('[class^=TPPSupp]').length;

            if (existingInsuredPassengerSuppInv > NumSupportingInvolvements) {
                for (i = existingInsuredPassengerSuppInv; i > NumSupportingInvolvements; i--) {
                    $('#InsuredPassengerSupportingInvolvements_Passenger' + currentPassengerId).find('.IPSupp' + i).remove();
                }
            }
            
            if (existingTPPassengerSuppInv > NumSupportingInvolvements) {
                for (i = existingTPPassengerSuppInv; i > NumSupportingInvolvements; i--) {
                    $('#ThirdPartyPassengerSupportingInvolvements_Passenger' + currentPassengerId + '_Vehicle' + currentVehicleId).find('.TPPSupp' + i).remove();
                }
            }

            form.attr('action', '/SingleClaim/PassengerNextView');
            form.submit(FormValid(form, $(this), 'PassengerNextButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".PassengerPrevButton", function () {
            //
            $(this).removeClass('PassengerPrevButton');
            form = $('#PassengerForm');
            // Add class .ignore to all form elements
            form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/PassengerPreviousView');
            form.submit(FormValid(form, $(this), 'PassengerPrevButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".ThirdPartyVehicleNextButton", function () {
            //
            $(this).removeClass('ThirdPartyVehicleNextButton');
            form = $('#ThirdPartyVehicleForm');

            var currentVehicleId = $('#VehicleID').val();
            var NumPassengers = parseInt($('#spinnerNumberOfPassengers').val(), 10);
            var existingNumPassengers = $('[id^=ThirdPartyPassenger_Passenger][id$=_Vehicle' + currentVehicleId + ']').length;

            if (existingNumPassengers > NumPassengers) {
                
                for (i = existingNumPassengers; i > NumPassengers; i--) {
                    var idName = 'ThirdPartyPassenger_Passenger' + i + '_Vehicle' + currentVehicleId;
                    if (i == 1) {
                        $("#" + idName).css('display', 'none');
                    } else {
                        $("#" + idName).remove();
                    }
                }
            }
            

            if (NumPassengers == 0) {
                $("#ThirdPartyPassengerName_Passenger1_Vehicle1").html("");
                $("#ThirdPartyPassengerSupportingInvolvements_Passenger1_Vehicle1").html("");
            }


            if (NumPassengers > 0)
              $("#ThirdPartyPassenger_Passenger1_Vehicle1").css('display', 'block');
            
            form.attr('action', '/SingleClaim/ThirdPartyVehicleNextView');
            form.submit(FormValid(form, $(this), 'ThirdPartyVehicleNextButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".ThirdPartyVehiclePrevButton", function () {
            //
            $(this).removeClass('ThirdPartyVehiclePrevButton');
            form = $('#ThirdPartyVehicleForm');
            // Add class .ignore to all form elements
            form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/ThirdPartyVehiclePreviousView');
            form.submit(FormValid(form, $(this), 'ThirdPartyVehiclePrevButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".ThirdPartyDriverNextButton", function () {
            //
            $(this).removeClass('ThirdPartyDriverNextButton');
            form = $('#ThirdPartyDriverForm');

            var NumSupportingInvolvements = parseInt($('#spinnerNumberOfSupportingInvolvements').val(), 10);

            var existingSupportingInvolvements = $('[class^=TPDSupp]').length;

            if (existingSupportingInvolvements > NumSupportingInvolvements) {
                var NumToRemove = existingSupportingInvolvements - NumSupportingInvolvements;
                for (i = existingSupportingInvolvements; i > NumSupportingInvolvements; i--) {
                    var classname = 'TPDSupp' + i;
                    $("." + classname).remove();
                }
            }

            form.attr('action', '/SingleClaim/ThirdPartyDriverNextView');
            form.submit(FormValid(form, $(this), 'ThirdPartyDriverNextButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".ThirdPartyDriverPrevButton", function () {
            //
            $(this).removeClass('ThirdPartyDriverPrevButton');
            form = $('#ThirdPartyDriverForm');
            // Add class .ignore to all form elements
            form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/ThirdPartyDriverPreviousView');
            form.submit(FormValid(form, $(this), 'ThirdPartyDriverPrevButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".WitnessNextButton", function () {
            //
            $(this).removeClass('WitnessNextButton');
            form = $('#WitnessForm');
            form.attr('action', '/SingleClaim/WitnessNextView');
            form.submit(FormValid(form, $(this), 'WitnessNextButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".WitnessPrevButton", function () {
            //
            $(this).removeClass('WitnessPrevButton');
            form = $('#WitnessForm');
            // Add class .ignore to all form elements
            form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/WitnessPreviousView');
            form.submit(FormValid(form, $(this), 'WitnessPrevButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".ReviewAndSubmitNextButton", function () {
            //
            $(this).removeClass('ReviewAndSubmitNextButton');
            form = $('#ReviewAndSubmitForm');
            form.attr('action', '/SingleClaim/ReviewAndSubmitNextView');
            form.submit(FormValid(form, $(this), 'ReviewAndSubmitNextButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".ReviewAndSubmitPrevButton", function () {
            //
            $(this).removeClass('ReviewAndSubmitPrevButton');
            form = $('#ReviewAndSubmitForm');
            // Add class .ignore to all form elements
            form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/ReviewAndSubmitPreviousView');
            form.submit(FormValid(form, $(this), 'ReviewAndSubmitPrevButton'));
            $('.save-button').show();
            return false;
        });

        $("#Ajaxtarget").on("click", ".UploadProgressNextButton", function () {
            //
            
            $(this).removeClass('UploadProgressNextButton');
            form = $('#UploadProgressForm');
            form.attr('action', '/SingleClaim/UploadProgressNextView');
            form.submit(FormValid(form, $(this), 'UploadProgressNextButton'));
            return false;
        });

        $("#Ajaxtarget").on("click", ".UploadProgressPrevButton", function () {
            //
            $(this).removeClass('UploadProgressPrevButton');
            form = $('#UploadProgressForm');
            // Add class .ignore to all form elements
            //form.find(':input,:radio,:checkbox').addClass('ignore');
            form.attr('action', '/SingleClaim/UploadProgressPreviousView');
            form.submit(FormValid(form, $(this), 'UploadProgressPrevButton'));
            return false;
        });


        $("#Ajaxtarget").on("click", ".ResultsPreviousButton", function () {
            //
            $(this).removeClass('ResultsPreviousButton');
            form = $('#ResultsForm');
            // 
            form.attr('action', '/SingleClaim/ResultsPrevious');
            form.submit(FormValid(form, $(this), 'ResultsPreviousButton'));
            return false;
        });

    });

    $(document).ready(function () {
        $('#NextButton').click(function () {
            $('#ClaimForm').submit();
        });
    });

    function SetUpPickers(Dob, SupportingInvolvements, AddressResidency, BankAccount, PaymentCard, HireVehicle) {
        if (Dob) {
            $("#DateOfBirth").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:',
                minDate: new Date(1900, 1 - 1, 0),
                maxDate: 0
            });
        }

        if (SupportingInvolvements) {
            var spinner1 = $("#spinnerNumberOfSupportingInvolvements").spinner({ min: 0, max: 2 });
        }
        if (AddressResidency) {
            $("#StartOfResidency").datepicker({
                dateFormat: 'dd/mm/yy', changeMonth: true,
                changeYear: true,
                yearRange: '1900:',
                minDate: new Date(1900, 1 - 1, 0), maxDate: 0
            });
            $("#EndOfResidency").datepicker({
                dateFormat: 'dd/mm/yy', changeMonth: true,
                changeYear: true,
                yearRange: '1900:',
                minDate: new Date(1900, 1 - 1, 0), maxDate: 0
            });
        }
        if (BankAccount) {
            $("#BankAccount_DateDetailsTaken").datepicker({
                dateFormat: 'dd/mm/yy', changeMonth: true,
                changeYear: true,
                yearRange: '1900:',
                minDate: new Date(1900, 1 - 1, 0), maxDate: 0
            });
        }
        if (PaymentCard) {
            $("#PaymentCard_DateDetailsTaken").datepicker({
                dateFormat: 'dd/mm/yy', changeMonth: true,
                changeYear: true,
                yearRange: '1900:',
                minDate: new Date(1900, 1 - 1, 0), maxDate: 0
            });
        }
        if (HireVehicle) {
            $("#Vehicle_HireStartDate").datepicker({
                dateFormat: 'dd/mm/yy', changeMonth: true,
                changeYear: true,
                yearRange: '1900:',
                minDate: new Date(1900, 1 - 1, 0), maxDate: 0
            });
            $("#Vehicle_HireEndDate").datepicker({
                dateFormat: 'dd/mm/yy', changeMonth: true,
                changeYear: true,
                yearRange: '1900:',
                minDate: new Date(1900, 1 - 1, 0), maxDate: 0
            });
        }

    }
    function SetUpUnobtrusiveValidator(FormID) {
        $.validator.unobtrusive.parse($("#Ajaxtarget"));
        var settngs = $.data($('form')[0], 'validator').settings;
        settngs.ignore = ".ignore";
        $("form").bind("invalid-form.validate", function (form, validator) {
            //validator.errorMap is an object mapping input names -> error messages
            for (var i in validator.errorMap) {
                if (FormID == "InsuredDriverForm" && i == "Address.SameAddressAsPolicyHolder") {
                    divShowHide('claim_accordion-11', 'address-1', 'accordion_uparrow', 'accordion_downarrow');
                }

                if (FormID == "PassengerForm" && i == "Address.SameAddressAsPolicyHolder") {
                    divShowHide('claim_accordion-11', 'address-1', 'accordion_uparrow', 'accordion_downarrow');
                }

            }
        });
    }

    function AjaxSuccessHandler(data, status, jqXHR) {
        //
        var FormID;
        var pos1;
        var pos2;

        FormID = data.substring(data.indexOf('id='));
        pos1 = FormID.indexOf('"');
        pos2 = FormID.indexOf('"', pos1 + 1);
        FormID = FormID.substring(pos1 + 1, pos2);
        
        

        switch (FormID) {
            case "ClaimForm":
                InitClaimForm(FormID);
                break;
            case "IncidentForm":
                InitIncidentForm(FormID);
                break;
            case "PolicyForm":
                InitPolicyForm(FormID);
                break;
            case "PolicyHolderPersonalForm":
                InitPolicyHolderPersonalForm(FormID);
                break;
            case "PolicyHolderCommercialForm":
                InitPolicyHolderCommercialForm(FormID);
                break;
            case "InsuredVehicleForm":
                InitInsuredVehicleForm(FormID);
                break;
            case "InsuredDriverForm":
                InitInsuredDriverForm(FormID);
                break;
            case "SupportingInvolvementsForm":
                InitSupportingInvolvementsForm(FormID);
                break;
            case "PassengerForm":
                InitPassengerForm(FormID);
                break;
            case "ThirdPartyVehicleForm":
                InitThirdPartyVehicleForm(FormID);
                break;
            case "ThirdPartyDriverForm":
                InitThirdPartyDriverForm(FormID);
                break;
            case "ReviewAndSubmitForm":
                InitReviewAndSubmitForm(FormID);
                break;
            case "WitnessForm":
                InitWitnessForm(FormID);
                break;
            case "UploadProgressForm":
                InitUploadProgressForm(FormID);
                break;
        }
        //
        UpdateNavigation();
        //
        return false;
    }

    function AjaxFailureHandler(request, error) {
        AjaxError(request, error);
    }

    function InitClaimForm(FormID) {
        $('.result_container .headings h1').html('CLAIM');
    }

    function InitIncidentForm(FormID) {
        // Filter datepickers
        SetUpUnobtrusiveValidator(FormID);
        // datepickers
        $("#IncidentDate").datepicker({
            dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '1900:',
            minDate: new Date(1900, 1 - 1, 0), maxDate: 0
        });
        $("#NotificationDate").datepicker({
            dateFormat: 'dd/mm/yy', changeMonth: true,
            changeYear: true,
            yearRange: '1900:',
            minDate: new Date(1900, 1 - 1, 0), maxDate: 0
        });
        //Spinners
        var spinner1 = $("#spinnerNumberOfVehicles").spinner({ min: 1, max: 2 });
        //
        if (spinner1.spinner("value") == 0) {
            spinner1.spinner("value", 2);
        }
        var spinner2 = $("#spinnerNumberOfWitnesses").spinner({ min: 0, max: 2 });
        //Set form header
        $('.result_container .headings h1').html('INCIDENT');
        SetUpPickers(true, false, true, true, true, false);
    }

    function InitPolicyForm(FormID) {
        //Set form header
        $('.result_container .headings h1').html('POLICY');
        SetUpUnobtrusiveValidator(FormID);
        // datepickers
        $("#PolicyStartDate").datepicker({
            dateFormat: 'dd/mm/yy', changeMonth: true,
            changeYear: true,
            yearRange: '1900:',
            minDate: new Date(1900, 1 - 1, 0), maxDate: 0
        });
        $("#PolicyEndDate").datepicker({
            dateFormat: 'dd/mm/yy', changeMonth: true,
            changeYear: true,
            minDate: "-20Y", maxDate: "+10Y"
        });
    }

    function InitPolicyHolderPersonalForm(FormID) {
        //Set form header
        $('.result_container .headings h1').html('POLICY HOLDER');
        SetUpUnobtrusiveValidator(FormID);
       SetUpPickers(true, false, true, true, true, false);
    }

    function InitPolicyHolderCommercialForm(FormID) {
        //Set form header
        $('.result_container .headings h1').html('POLICY HOLDER');
        SetUpUnobtrusiveValidator(FormID);
        // datepickers
        SetUpPickers(false, false, true, true, true, false);
    }

    function InitInsuredVehicleForm(FormID) {
        $('.result_container .headings h1').html('INSURED VEHICLE');
        SetUpUnobtrusiveValidator(FormID);
        //Spinners
        var spinner1 = $("#spinnerNumberOfPassengers").spinner({ min: 0, max: 4 });
    }

    function InitInsuredDriverForm(FormID) {
        $('.result_container .headings h1').html('INSURED DRIVER');
        SetUpUnobtrusiveValidator(FormID);

        if ($("#PopulateWithPolicyHolder").val() == "True") {
            $('input', 'form').attr('disabled', true);
            $('select', 'form').attr('disabled', true).attr('readonly', true);
            $('#spinnerNumberOfSupportingInvolvements').attr('disabled', false);

            $("#DateOfBirth").datepicker().datepicker('disable');
            $("#StartOfResidency").datepicker().datepicker('disable');
            $("#EndOfResidency").datepicker().datepicker('disable');
            $(".DatePickerTextBox").datepicker().datepicker('disable');
        } 

        SetUpPickers(true, true, true, true, true, false);
    }

    function InitSupportingInvolvementsForm(FormID) {
        var NumSupportingInvolvements;
        var CurrSupportingInvolvement;
        NumSupportingInvolvements = $("#NumberSupportingInvolvements").val();
        CurrSupportingInvolvement = $("#CurrentSupportingInvolvement").val();
        $('.result_container .headings h1').html('SUPPLIER ' + CurrSupportingInvolvement + ' OF ' + NumSupportingInvolvements);
        SetUpUnobtrusiveValidator(FormID);
        SetUpPickers(false, false, true, false, false, true);
    }

    function InitPassengerForm(FormID) {
        var NumPassengers;
        var CurrPassenger;
        NumPassengers = $("#NumberPassengers").val();
        CurrPassenger = $("#CurrentPassenger").val();
        $('.result_container .headings h1').html('PASSENGER ' + CurrPassenger + ' OF ' + NumPassengers);
        SetUpUnobtrusiveValidator(FormID);
        SetUpPickers(true, true, true, true, true, false);
    }

    function InitThirdPartyVehicleForm(FormID) {
        var NumVehicles;
        var CurrVehicle;
        NumVehicles = $("#NumberOfVehicles").val();
        CurrVehicle = $("#CurrentVehicle").val();
        $('.result_container .headings h1').html('THIRD PARTY VEHICLE ' + CurrVehicle + ' OF ' + NumVehicles);
        SetUpUnobtrusiveValidator(FormID);
        //Spinners
        var spinner1 = $("#spinnerNumberOfPassengers").spinner({ min: 0, max: 4 });
    }

    function InitThirdPartyDriverForm(FormID) {
        $('.result_container .headings h1').html('THIRD PARTY DRIVER');
        SetUpUnobtrusiveValidator(FormID);
        
        SetUpPickers(true, true, true, true, true, false);
    }

    function InitWitnessForm(FormID) {
        var NumWitnesses;
        var CurrWitness;
        NumWitnesses = $("#NumberOfWitnesses").val();
        CurrWitness = $("#CurrentWitness").val();
        $('.result_container .headings h1').html('WITNESS ' + CurrWitness + ' OF ' + NumWitnesses);
        SetUpUnobtrusiveValidator(FormID);
        SetUpPickers(true, false, true, false, false, false);
    }

    function InitReviewAndSubmitForm(FormID) {
        $('.result_container .headings h1').html('REVIEW AND SUBMIT');
        // SetUpUnobtrusiveValidator(FormID);

    }

    function InitUploadProgressForm(FormID) {
        $('.result_container .headings h1').html('REVIEW AND SUBMISSION');
        // SetUpUnobtrusiveValidator(FormID);
    }

 </script>

@{Html.RenderPartial("_UploadMenuSingleClaim", ViewData["OutstandingClaimsCount"]);}


<div class="content_wrapper">
    <!--content_wrapper  div starts here-->
    <div class="row">
      <!--row div starts here-->
      <div class="span7">
        <!--span6 inner div starts here-->
        <div id="SingleClaimNav" class="span7 border-radius white_bg webpart marginbottom_10">
          <!--span6 div starts here-->
          <div class="headings span7 blue_bg border_bottom left">
            <div class="col-1 marginleft_12 margintop_10 marginbottom_10">
              <h1>CLAIM SUMMARY</h1>
            </div>
          </div>

             


          <div id="ClaimDiv" class="claimsummary_container claimsummary_container_active">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-1" class="icon-small accordion_uparrow left"  
              onclick="divShowHide('claim_accordion-1','claimsummary-1','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2>CLAIM </h2>
              </div>
              <div class="left paddingleft_5"> @*<i class="icon-small summaryedit"> </i>*@ </div>
            </div>
            <div id="claimsummary-1" class="display_block paddingtop_25">

                  <div class="col-1"> <i class="icon-medium-large editclaim"></i> </div>

                  <div class="col-2">
                    <div>
                      <p><b>Type of Claim </b> </p>
                    </div>
                    <div>
                      <p class="DataCol1"></p>
                    </div>
                  </div>

                  <div class="col-3">
                    <div>
                      <p> <b> Claim Number </b> </p>
                    </div>
                    <div>
                      <p class="DataCol2"></p>
                    </div>
                  </div>

            </div>
          </div>
          <!--claimsummary_container div ends here-->


          <div id="IncidentDiv" class="claimsummary_container">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-2" class="icon-small accordion_downarrow left"  
              onclick="divShowHide('claim_accordion-2','claimsummary-2','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2>INCIDENT</h2>
              </div>
              <div class="left paddingleft_5"> @*<a href="@Url.Content("~/SingleClaim/SingleClaimInput?FormToDisplay=EditIncidentView")"><i class="icon-small summaryedit"> </i> </a>*@ </div>
            </div>

            <div id="claimsummary-2" class="display_none paddingtop_25">

              <div class="col-1"> <i class="icon-medium-large incident"></i> </div>

              <div class="col-2">
                <div>
                  <p><b>Date of Incident</b> </p>
                </div>
                <div >
                 
                     <p class="DataCol1"></p>
                </div>
              </div>

              <div class="col-3">
                <div>
                  <p> <b>Location of Incident </b> </p>
                </div>
                <div>
                  @*<p>Church Road,Harwood</p>
                  <p>Bolton BL3 9EV</p>*@
                    <p class="DataCol2"></p>
                </div>
              </div>

            </div>
          </div>
          <!--claimsummary_container div ends here-->


          <div id="PolicyDiv" class="claimsummary_container">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-3" class="icon-small accordion_downarrow left"  
              onclick="divShowHide('claim_accordion-3','claimsummary-3','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2>POLICY </h2>
              </div>
              <div class="left paddingleft_5"> @*<i class="icon-small summaryedit"> </i>*@ </div>
            </div>
            <div id="claimsummary-3" class="display_none paddingtop_25">
              <div class="col-1"> <i class="icon-medium-large policy"></i> </div>
              <div class="col-2">
                <div>
                  <p><b>Policy Number</b> </p>
                </div>
                <div >
                  
                     <p class="DataCol1"></p>
                </div>
              </div>
              <div class="col-3">
                <div>
                  <p> <b>Policy Type </b> </p>
                </div>
                <div>
                 
                     <p class="DataCol2"></p>
                </div>
              </div>
            </div>
          </div>
          <!--claimsummary_container div ends here-->


          <div id="PolicyHolderDiv" class="claimsummary_container">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-4" class="icon-small accordion_downarrow left"  
              onclick="divShowHide('claim_accordion-4','claimsummary-4','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2>POLICY HOLDER </h2>
              </div>
              <div class="left paddingleft_5">@* <i class="icon-small summaryedit"> </i>*@ </div>
            </div>
            <div id="claimsummary-4" class="display_none paddingtop_25">
              <div class="col-1"> <i class="icon-medium-large policy_holder"></i> </div>
              <div class="col-2">
                <div>
                  <p><b>Name</b> </p>
                </div>
                <div >
                
                     <p class="DataCol1"></p>
                </div>
              </div>
            </div>
          </div>
          <!--claimsummary_container div ends here-->
          
          
          <div id="InsuredVehicleDiv" class="claimsummary_container">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-5" class="icon-small accordion_downarrow left"  
              onclick="divShowHide('claim_accordion-5','claimsummary-5','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2>INSURED VEHICLE</h2>
              </div>
              <div class="left paddingleft_5"> @*<i class="icon-small summaryedit"> </i>*@ </div>
            </div>
            <div id="claimsummary-5" class="margintop_32 display_none">
            
              <div id="InsuredVehicle" class="row">

                  <div class="col-1">
                    <!--insured vehicle div start here-->
                    <i class="icon-large vehicleorange"><small class="left">PH</small></i> 

                  </div>
                  <div class="col-2">
                      <p><b>Registration</b> </p>
                    <div>
                      @*<p>AK13 WLC</p>*@
                      <p class="DataCol1"></p>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                  <div class="col-5">
                      <p> <b>Make</b> </p>
                    <div>
                      @*<p>BMW</p>*@
                        <p class="DataCol2"></p>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                  <div class="col-5">
                      <p> <b>Model</b> </p>
                    <div>
                      @*<p>M3</p>*@
                      <p class="DataCol3"></p>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                  <!--insured vehicle div ends here-->
              
              </div>
              
              <div id="InvolvementHeader" class="row display_none">

                  <div class="col-1"><!--insured vehicle div start here-->
                    &nbsp; </div>
                  <div class="col-2">
                      <p><b>Involvement</b> </p>
                  </div>
                  <div class="col-5">
                      <p> <b>Name</b> </p>
                  </div>
                  <div class="col-5">
                      <p> <b>Supplier</b> </p>
                     @* <p><b>Involvements </b></p>*@
                  </div>
                  <!--insured vehicle div ends here-->
              
              </div>   <!--row div ends here-->
              
              
                  <div id="InsuredDriver" class="row display_none">

                  <div class="col-1">
                    <!--insured vehicle div start here-->
                    <i class="icon-medium-large driver"></i> 
                  </div>
                  <div class="col-2 margintop_15">
                    <p>Driver</p>
                  </div>
                  <div id="InsuredDriverName" class="col-5 margintop_15">
                      <p></p>
                  </div>
                  <div id="InsuredDriverSupportingInvolvements" class="col-5 margintop_15">
                  </div>
                  <!--insured vehicle div ends here-->
              
              </div><!--row div ends here-->
              
              
              <div id="InsuredPassenger_Passenger1" class="row display_none"><!--row div starts here-->
                  <div class="col-1">
                    <!--insured vehicle div start here-->
                    <i class="icon-medium-large passenger"></i> 
                  </div>
                  <div class="col-2 margintop_15">
                      <p>Passenger </p>
                  </div>
                  <div id="InsuredPassengerName_Passenger1" class="col-5 margintop_15">
                  </div>
                  <div id="InsuredPassengerSupportingInvolvements_Passenger1" class="col-5 margintop_15">
                  </div>
                  <!--insured vehicle div ends here-->
              </div> <!--row div ends here-->
              
            
            </div> <!--row div ends here-->
            
          </div>  <!--claimsummary_container div ends here-->
          
          
          <div id="ThirdPartyVehicleDiv_Vehicle1" class="claimsummary_container">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-6_Vehicle1" class="icon-small accordion_downarrow left"  
              onclick="divShowHide('claim_accordion-6_Vehicle1','claimsummary-6_Vehicle1','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2>THIRD PARTY VEHICLE 1</h2>
              </div>
              <div class="left paddingleft_5"> @*<i class="icon-small summaryedit"> </i>*@ </div>
            </div>
            <div id="claimsummary-6_Vehicle1" class="margintop_32 display_none">
            
                <div id="ThirdPartyVehicle_Vehicle1" class="row">
                  <div class="col-1"><!--third party vehicle div start here-->
                    <i class="icon-large vehicleblue"><small class="left margintop_12 marginleft_17">TP</small></i> 
                  </div>
                  <div class="col-2">
                        <div>
                            <p><b>Registration</b> </p>
                        </div>
                        <div>
                            <p id="ThirdPartyVehicleReg_Vehicle1"></p><p>&nbsp;</p>
                        </div>
                  </div>
                  <div class="col-5">
                        <div><p> <b>Make</b> </p></div>
                        <div><p id="ThirdPartyVehicleMake_Vehicle1"></p><p>&nbsp;</p></div>
                  </div>
                  <div class="col-5">
                        <div><p> <b>Model</b> </p></div>
                        <div><p id="ThirdPartyVehicleModel_Vehicle1"></p><p>&nbsp;</p></div>
                  </div><!--third party vehicle div ends here-->
               </div>   
              
              
              <div id="ThirdPartyVehicleInvolvementHeader_Vehicle1" class="row display_none">
                  <div class="col-1">   <!--Third Party Vehicle Involvement Header start here-->
                    &nbsp; &nbsp;
                  </div>
                  <div class="col-2">
                          <p><b>Involvement</b> </p>
                  </div>
                  <div class="col-5">
                      <p> <b>Name</b> </p>
                  </div>
                  <div class="col-5">
                      <p> <b>Supplier</b> </p>
                   @*   <p><b>Involvements </b></p>*@
                  </div>
              </div>  <!--Third Party Vehicle Involvement Header div ends here-->
              
              
              <div id="ThirdPartyDriver_Vehicle1" class="row display_none">
                  <div class="col-1">
                    <!--Third Party Driver div start here-->
                    <i class="icon-medium-large driver"></i> 
                  </div>
                  <div class="col-2 margintop_15">
                      <p>Driver </p>
                  </div>
                  <div id="ThirdPartyDriverName_Vehicle1" class="col-5 margintop_15">
                       <p></p>
                  </div>
                  <div id="ThirdPartyDriverSupportingInvolvements_Vehicle1" class="col-5 margintop_15">
                  </div>
                  <!--Third Party Driver div ends here-->
              </div> <!--row div ends here-->
              
              <div id="ThirdPartyPassenger_Passenger1_Vehicle1" class="row display_none">
              
                  <div class="col-1">         <!--insured vehicle div start here-->
                    <i class="icon-medium-large passenger"></i> 
                  </div>
                  <div class="col-2 margintop_15">
                      <p>Passenger </p>
                  </div>
                  <div id="ThirdPartyPassengerName_Passenger1_Vehicle1" class="col-5 margintop_15">
                  </div>
                  <div id="ThirdPartyPassengerSupportingInvolvements_Passenger1_Vehicle1" class="col-5 margintop_15">
                  </div>
           
              </div><!--row div ends here-->
            
            
            </div>
            
            
          </div><!--claimsummary_container div Ends here-->
         
          <div id="WitnessDiv" class="claimsummary_container left border_none border-lastradius  border-bottom-left-radius border-bottom-right-radius">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-7" class="icon-small accordion_downarrow left"  
              onclick="divShowHide('claim_accordion-7','claimsummary-7','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2>WITNESSES</h2>
              </div>
              <div class="left paddingleft_5"> @*<i class="icon-small summaryedit"> </i>*@ </div>
            </div>

            <div id="claimsummary-7" class="display_none paddingtop_25">
              <!--witnesses_container div starts here-->
              <div id="WitnessParentDiv" class="row left">
                <!--row div starts here-->
                <div class="col-1">
                  <!--insured vehicle div start here-->
                  &nbsp; </div>
                <div class="col-2 w183">
                  <p><b>Involvement</b> </p>
                </div>
                <div class="col-3">
                  <p> <b>Name</b> </p>
                </div>

                <div>

                  <div id="Witness1" class="row margintop_12 left">
                    <!--row div starts here-->
                        <div class="col-1 ">
                            <!--insured vehicle div start here-->
                            <i class="icon-medium-large eye"></i> 
                        </div>
                        <div id="WitnessInvolvementType1" class="col-2 w183">
                            <p></p>
                        </div>
                        <div id="WitnessName1" class="col-3">
                            <p></p>
                        </div>
                  </div>
                  <!--row div ends here-->

               

                @*  <div class="row left">
                    <!--row div starts here-->
                        <div class="col-1 ">
                          <!--insured vehicle div start here-->
                          <i class="icon-medium-large eye"></i> 
                        </div>
                        <div class="col-2 w183">
                          <p>Insured Witness </p>
                        </div>
                        <div class="col-3">
                          <p>Tony McCoy </p>
                        </div>
                  </div>*@
                  <!--row div ends here-->

                </div>

              </div>

            </div>
            <!--witnesses_container div ends here-->
          </div>
        </div>

        <!--claimsummary_container div ends here-->
        <div id="ReviewAndSubmitDiv" class="span7 claimsummary_container border-radius white_bg webpart marginbottom_10 border_none">
          <!--span6 div starts here-->
          <div class="border_none">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-7" class="icon-small left"> </i>
              <div class="claimsummary_heading left">
                <h2>REVIEW AND SUBMIT </h2>
              </div>
              <div class="left paddingleft_5">@* <i class="icon-small summaryedit"> </i>*@ </div>
            </div>
          </div>
        </div>
      </div>
      <!--span6 div starts here-->
        <div class="span11 white_bg webpart border-radius">
            <div id="dialog-message" title="Save Claim And Exit" class="ui-helper-hidden">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                    Single claim successfully saved. You will now be redirected to Unsubmitted Saved Claims.
                </p>
               
            </div>
            <!--span12 div starts here-->
            <div class="result_container  row">
                <div class="headings blue_bg border_bottom left w738">
                    <!--heading div starts here-->
                    <div class="col-1 w550">
                        <h1>CLAIM</h1>
                    </div>
            
                    @*<a href="@Url.Content("~/SingleClaim/Save")">*@
                    
                    

                    <div class="col-2">
                        <input class="save-button"  type="button" value="SAVE & EXIT" />
                    </div>@*</a>*@
                    @*<div class="col-3 w70">
              <input class="exit-button" type="button"  value="EXIT" />
            </div>*@
                </div>
                <!--heading div ends here-->
          
                <div id="Ajaxtarget"> 

          
                    @{
                        string Form = ViewBag.FormToDisplay;
                        if(Form==null){
                            Html.RenderAction("GetClaimView");
                        }
                        else{
                            Html.RenderAction(Form);
                         
                        }
                   

                    }

                </div>

            </div>
        </div>
    </div>
    <!--span12 div ends here-->
  </div>
  <!--content_wrapper  div ends here-->

<!-- template for Passenger in Nav bar -->
<div id="InsuredPassengerTemplate" class="display_none">

 <div id="_InsuredPassenger_PassengerX" class="row"><!--row div starts here-->
    <div class="col-1">
    <!--insured vehicle div start here-->
    <i class="icon-medium-large passenger"></i> 
    </div>
    <div class="col-2 margintop_15">
        <p>Passenger </p>
    </div>
    <div id="_InsuredPassengerName_PassengerX" class="col-5 margintop_15">
    </div>
    <div id="_InsuredPassengerSupportingInvolvements_PassengerX" class="col-5 margintop_15">
    </div>
    <!--insured vehicle div ends here-->
</div> <!--row div ends here-->

</div>

 <div id="WitnessTemplate" class="display_none">
        <div id="WitnessX" class="row left">
        <!--row div starts here-->
            <div class="col-1 ">
                <!--insured vehicle div start here-->
                <i class="icon-medium-large eye"></i> 
            </div>
            <div id="WitnessInvolvementTypeX" class="col-2 w183">
                <p></p>
            </div>
            <div id="WitnessNameX" class="col-3">
                <p> </p>
            </div>
        </div>
        <!--row div ends here-->
</div>

<div id="ThirdPartyVehicleTemplate" class="display_none">
          <div id="ThirdPartyVehicleDiv_VehicleX" class="claimsummary_container">
            <!--claimsummary_container div starts here-->
            <div class="up_arrow"> <i id="claim_accordion-6_VehicleX" class="icon-small accordion_downarrow left"  
              onclick="divShowHide('claim_accordion-6_VehicleX','claimsummary-6_VehicleX','accordion_uparrow','accordion_downarrow');"> </i>
              <div class="claimsummary_heading left">
                <h2 class="ThirdPartyVehicleHeading"></h2>
              </div>
              <div class="left paddingleft_5"> @*<i class="icon-small summaryedit"> </i>*@ </div>
            </div>
            <div id="claimsummary-6_VehicleX" class="margintop_32 display_none">
            
                <div id="ThirdPartyVehicle_VehicleX" class="row">
                  <div class="col-1"><!--third party vehicle div start here-->
                    <i class="icon-large vehicleblue"><small class="left margintop_12 marginleft_17">TP</small></i> 
                  </div>
                  <div class="col-2">
                        <div>
                            <p><b>Registration</b> </p>
                        </div>
                        <div>
                            <p id="ThirdPartyVehicleReg_VehicleX"></p><p>&nbsp;</p>
                        </div>
                  </div>
                  <div class="col-5">
                        <div><p> <b>Make</b> </p></div>
                        <div><p id="ThirdPartyVehicleMake_VehicleX"></p><p>&nbsp;</p></div>
                  </div>
                  <div class="col-5">
                        <div><p> <b>Model</b> </p></div>
                        <div><p id="ThirdPartyVehicleModel_VehicleX"></p><p>&nbsp;</p></div>
                  </div><!--third party vehicle div ends here-->
               </div>   
              
              
              <div id="ThirdPartyVehicleInvolvementHeader_VehicleX" class="row display_none">
                  <div class="col-1">   <!--Third Party Vehicle Involvement Header start here-->
                    &nbsp; &nbsp;
                  </div>
                  <div class="col-2">
                          <p><b>Involvement</b> </p>
                  </div>
                  <div class="col-5">
                      <p> <b>Name</b> </p>
                  </div>
                  <div class="col-5">
                      <p> <b>Supplier</b> </p>
                   @*   <p><b>Involvements </b></p>*@
                  </div>
              </div>  <!--Third Party Vehicle Involvement Header div ends here-->
              
              
              <div id="ThirdPartyDriver_VehicleX" class="row display_none">
                  <div class="col-1">
                    <!--Third Party Driver div start here-->
                    <i class="icon-medium-large driver"></i> 
                  </div>
                  <div class="col-2 margintop_15">
                      <p>Driver </p>
                  </div>
                  <div id="ThirdPartyDriverName_VehicleX" class="col-5 margintop_15">
                       <p></p>
                  </div>
                  <div id="ThirdPartyDriverSupportingInvolvements_VehicleX" class="col-5 margintop_15">
                  </div>
                  <!--Third Party Driver div ends here-->
              </div> <!--row div ends here-->
              
              <div id="ThirdPartyPassenger_Passenger1_VehicleX" class="row display_none">
              
                  <div class="col-1">         <!--insured vehicle div start here-->
                    <i class="icon-medium-large passenger"></i> 
                  </div>
                  <div class="col-2 margintop_15">
                      <p>Passenger </p>
                  </div>
                  <div id="ThirdPartyPassengerName_Passenger1_VehicleX" class="col-5 margintop_15">
                  </div>
                  <div id="ThirdPartyPassengerSupportingInvolvements_Passenger1_VehicleX" class="col-5 margintop_15">
                  </div>
           
              </div><!--row div ends here-->
            
            
            </div>
            
            
          </div><!--claimsummary_container div Ends here-->

    </div>