﻿@model KeoghsClientSite.Models.LocalPasswordModel

@using (Html.BeginForm("ChangePassword", "Admin")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    
   <table>
       <tr>
           <td>
              <b>Username:</b>
           </td>
           <td>
               &nbsp;  @Html.DropDownListFor(model => model.UserName, new SelectList(Model.Users, "Text", "Text"), "--- Please select ---", null)
           </td>
       </tr>

       <tr>
           <td colspan="2">&nbsp;</td>
       </tr>

       @*<tr>
           <td>
                @Html.LabelFor(m => m.OldPassword):
           </td>
            <td>
                &nbsp;    @Html.PasswordFor(m => m.OldPassword)
           </td>
       </tr>*@
       <tr>
           <td>
                @Html.LabelFor(m => m.NewPassword):
           </td>
            <td>
                &nbsp;    @Html.PasswordFor(m => m.NewPassword)
           </td>
       </tr>

       <tr>
           <td>
                @Html.LabelFor(m => m.ConfirmPassword):
           </td>
            <td>
                &nbsp; @Html.PasswordFor(m => m.ConfirmPassword)
           </td>
       </tr>
        <tr>
            
            <td colspan="2"><br /><input type="submit" value="Change password" /></td>
        </tr>
    </table>
    
   
}
