﻿@model KeoghsClientSite.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("ChangePassword", "Admin")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <h2>Set Password Form</h2>
   <table>

       <tr>
           <td>
                @Html.LabelFor(m => m.NewPassword)
           </td>
            <td>
                 @Html.PasswordFor(m => m.NewPassword)
           </td>
       </tr>
       <tr>
           <td>
                @Html.LabelFor(m => m.ConfirmPassword)
           </td>
            <td>
                 @Html.PasswordFor(m => m.ConfirmPassword)
           </td>
       </tr>
        <tr>

            <td colspan="2"><input type="submit" value="Set password" /></td>
        </tr>
    </table>
       
        
    
}
