﻿@model KeoghsClientSite.Models.AdminModel
@{
    ViewBag.Title = "Assign User to Client";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="col-md-10">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Assign Users</div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Username</label>
                    <div class="col-lg-10">
                        <br />
                        @Html.DropDownListFor(model => model.UserId, new SelectList(Model.Users, "Value", "Text"), "--- Please select ---", new { @class = "form-control", onchange = "form.submit();" })
                        @Html.ValidationMessageFor(model => model.UserId)
                        <br />
                    </div>
                </div>
               
                <div class="bootstrap-admin-panel-content">
                    @if (@Model.AssignWarningDivIsVisible == true)
                    {
                        <br />
                        <br />
                        <div id="CreateSuccess" class="alert alert-warning">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <strong>Warning</strong> Default client cannot be removed, to change the default client please use the edit user screen
                        </div>
                    }
                    <table class="table">
                        @*<tr><td>@Html.DropDownListFor(model => model.User, new SelectList(Model.Users, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })</td></tr>*@
                        <tr>
                            <td colspan="2">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" id="currentAvailableList" name="currentAvailableList" value='@Model.currentAvailableList' />
                                                <label>Unassigned Clients</label>
                                                @Html.ListBoxFor(m => m.SelectedAvailableItems, new SelectList(Model.AvailableList, "Value", "Text"), new { @style = "width: 338px;height:320px" })                                               
                                            </td>
                                            <td>
                                                <br />
                                                <input type="submit" class="btn btn-default" name="btnSubmit" value="Add >>" style="width:110px" />
                                                <input type="submit" class="btn btn-default" name="btnSubmit" value="<< Remove" style="width:110px" />
                                            </td>
                                            <td>
                                                <input type="hidden" id="currentAssignedList" name="currentAssignedList" value='@Model.currentAssignedList' />
                                                <label>Assigned Clients</label>
                                                @Html.ListBoxFor(m => m.SelectedAssignedItems, new SelectList(Model.AssignedList, "Value", "Text"), new { @style = "width: 338px;height:320px" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        @*<tr><td colspan="2"><input type="submit" class="btn btn-default" value="Save" name="btnSubmit" /></td></tr>*@
                    </table>
                </div>
            </div>
        </div>
    </div>


        }
