﻿@model KeoghsClientSite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")


<div class="col-md-10">
    @*<div class="row">*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">Change Password</div>
        </div>
       
            <div class="bootstrap-admin-panel-content">
                <div style=" height: 575px; overflow: auto;">

                    <p class="message-success">@ViewBag.StatusMessage</p>

                  


                   
                    @if (ViewBag.HasLocalPassword)
                    {
                        <br />
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }


                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
                <br />
            </div>
    </div>
</div>




