﻿@model KeoghsClientSite.Models.CreateRiskNoteDecision
@{
    ViewBag.Title = "Create Default Data";
    Layout = "~/Views/Shared/_LayoutAdminModal.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div id="results" class="modal-body">



    @using (Html.BeginForm("CreateRiskNoteDecision", "Admin", FormMethod.Post, new { id = "createRiskNoteDecisionForm", UpdateTargetId = "results" }))
    {

        <div class="modal-header">
            <div class="text-muted bootstrap-admin-box-title">New Decision</div>
        </div>

        <div id="errorContainer" class="alert alert-danger" style="display: none">
            Validation issues:
            <div id="errors"></div>
        </div>
        <br />
        <fieldset>
            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Decision Text</label>
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Decision, new { @class = "form-control", @type = "text", @style="text-transform:uppercase" })
                @Html.ValidationMessageFor(model => model.Decision, null, new { @class = "help-inline" })
            </div>
        </fieldset>

        <br />
        <fieldset>
            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Client</label>
            <div class="col-lg-10">
                <br />
                @Html.DropDownListFor(model => model.RiskClient_Id, new SelectList(Model.Clients, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RiskClient_Id, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        @*<hr>*@
        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" id="approve-btn" class="btn btn-primary">Save</button>
        </div>

    }
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 id="myModalLabel" class="modal-title">@Model.Decision</h4>
            </div>
            <div class="modal-body">
                <p>Successfully created</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
        $(function () {
            $('#approve-btn').click(function () {
                $('#modal-container').modal('hide');
            });
        });
    </script>*@


@Scripts.Render("~/bundles/vendors")
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
        $('.uniform_on').uniform();
        $('.chzn-select').chosen();
        $('.textarea-wysihtml5').wysihtml5({
            stylesheets: [
                'vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
            ]
        });


    });

    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });


    $(window).load(function () {
        $.validator.unobtrusive.parse($("#createRiskDefaultDataForm"));
    });
</script>
