﻿@model KeoghsClientSite.Models.TemplateFunctionsModel
@{
    ViewBag.Title = "Template Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")
<script src="~/Scripts/jquery-1.11.2.min.js"></script>

<!-- Include Fancytree skin and library -->
<link href="~/Content/ui.fancytree.min.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .ui-menu {
        width: 180px;
        font-size: 63%;
    }

        .ui-menu kbd { /* Keyboard shortcuts for ui-contextmenu titles */
            float: right;
        }
    /* custom alignment (set by 'renderColumns'' event) */
    td.alignRight {
        text-align: right;
    }

    td input[type=input] {
        width: 40px;
    }
</style>

<script type="text/javascript">
    CLIPBOARD = null;
    $(function () {
        var profileId = $('#profileId').val();

        if (profileId == '') {
            $('#rightPanel').css('display', 'none');
        };

        var UploadedDateRangeInDays = $('#UploadedDateRangeDays').val();

        var FunctionValues = $('#FunctionValues').val();

        // Create the tree inside the <div id="tree"> element.
        $("#tree").fancytree({
            icons: false,
            source: $.ajax({
                url: "/Admin/LoadTemplateData",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    profileId: profileId
                }),
            }),

            extensions: ["edit", "table"],

            edit: {
                triggerStart: ["f2", "shift+click", "mac+enter"],
                close: function (event, data) {
                    if (data.save && data.isNew) {
                        // Quick-enter: add new nodes until we hit [enter] on an empty title
                        $("#tree").trigger("nodeCommand", { cmd: "addSibling" });
                    }
                }
            },
            table: {
                indentation: 20,
                nodeColumnIdx: 2,
                checkboxColumnIdx: null
            },

            renderColumns: function (event, data) {

                var node = data.node,
                  //$select = $("<select />"),
                  $tdList = $(node.tr).find(">td");

                // (Index #0 is rendered by fancytree by adding the checkbox)
                //$tdList.eq(1).text(node.getIndexHier()).addClass("alignRight");
                // Index #2 is rendered by fancytree, but we make the title cell
                // span the remaining columns if it is a folder:
                if (node.isFolder()) {
                    $tdList.eq(2)
                      .prop("colspan", 5)
                      .nextAll().remove();
                }

                // Defaults
                if (node.key == "_10_UploadedDateRange") {
                    $tdList.eq(3).html("<input type='input'  name='txt" + node.key + "'  id='txt" + node.key + "' >").css('text-align', 'center');
                    $("#txt_10_UploadedDateRange").keypress(function (e) {
                        if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
                    });
                }

                if (node.key == "_12_High")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_13_Medium")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_14_Low")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_15_KeoghsCFS")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_16_PreviousVersion")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_17_Error")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_19_Unread")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_20_Read")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');

                if (node.key == "_21_UnreadScoreChange")
                    $tdList.eq(3).html("<input type='checkbox'   name='chkDefault" + node.key + "'  id='chkDefault" + node.key + "'    >").css('text-align', 'center');
                //-----------------------------------------------------------------------------------------------------------------------------------------------------

                // Read Only
                if (node.key != "_4_SingleClaimInput" && node.key != "_1_UPLOAD" & node.key != "_5_RESULTS" && node.key != "_6_Refinement" && node.key != "_12_High" && node.key != "_13_Medium" && node.key != "_14_Low" && node.key != "_15_KeoghsCFS" && node.key != "_16_PreviousVersion" && node.key != "_17_Error" && node.key != "_19_Unread" && node.key != "_20_Read" && node.key != "_21_UnreadScoreChange" && node.key != "_25_ADAMAINTENANCE" && node.key != "_22_Actions" && node.key != "_23_Level 1" && node.key != "_24_CUE" && node.key != "_24a_Notes" && node.key !="_26_SEARCH")
                    $tdList.eq(4).html("<input type='checkbox'   name='chkReadOnly" + node.key + "'  id='chkReadOnly" + node.key + "'    >").css('text-align', 'center');
                // -----------------------------------------------------------------------------------------------------------------------------------------------------

                // Enabled
                if (node.key != "_6_Refinement" && node.key != "_12_High" && node.key != "_13_Medium" && node.key != "_14_Low" && node.key != "_15_KeoghsCFS" && node.key != "_16_PreviousVersion" && node.key != "_17_Error" && node.key != "_19_Unread" && node.key != "_20_Read" && node.key != "_21_UnreadScoreChange" && node.key != "_22_Actions")
                    $tdList.eq(5).html("<input type='checkbox'   name='chkEnabled" + node.key + "'  id='chkEnabled" + node.key + "'value='" + node.key + "'>").css('text-align', 'center');
                // ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                var searchReadOnlyId = 'chkReadOnly' + node.key;
                var searchEnabledId = 'chkEnabled' + node.key;
                var searchDefaultId = 'chkDefault' + node.key;
                var searchTxtId = 'txt' + node.key;

                if (FunctionValues.indexOf(searchReadOnlyId) >= 0)
                    document.getElementById(searchReadOnlyId).checked = true;

                if (FunctionValues.indexOf(searchEnabledId) >= 0)
                    document.getElementById(searchEnabledId).checked = true;

                if (FunctionValues.indexOf(searchDefaultId) >= 0)
                    document.getElementById(searchDefaultId).checked = true;

                if (FunctionValues != '') {
                    $.each($.parseJSON(FunctionValues), function (idx, obj) {
                        if (FunctionValues.indexOf(searchTxtId) >= 0) {
                            if (obj.name == searchTxtId) {
                                document.getElementById(searchTxtId).value = obj.value;
                            }

                        }
                    });
                }

            }

        }).on("nodeCommand", function (event, data) {
            // Custom event handler that is triggered by keydown-handler and
            // context menu:
            var refNode, moveMode,
              tree = $(this).fancytree("getTree"),
              node = tree.getActiveNode();

            switch (data.cmd) {
                case "moveUp":
                    refNode = node.getPrevSibling();
                    if (refNode) {
                        node.moveTo(refNode, "before");
                        node.setActive();
                    }
                    break;
                case "moveDown":
                    refNode = node.getNextSibling();
                    if (refNode) {
                        node.moveTo(refNode, "after");
                        node.setActive();
                    }
                    break;
                case "indent":
                    refNode = node.getPrevSibling();
                    if (refNode) {
                        node.moveTo(refNode, "child");
                        refNode.setExpanded();
                        node.setActive();
                    }
                    break;
                case "outdent":
                    if (!node.isTopLevel()) {
                        node.moveTo(node.getParent(), "after");
                        node.setActive();
                    }
                    break;
                case "rename":
                    node.editStart();
                    break;
                case "remove":
                    refNode = node.getNextSibling() || node.getPrevSibling() || node.getParent();
                    node.remove();
                    if (refNode) {
                        refNode.setActive();
                    }
                    break;
                case "addChild":
                    node.editCreateNode("child", "");
                    break;
                case "addSibling":
                    node.editCreateNode("after", "");
                    break;
                case "addNode":
                    var rootNode = $("#tree").fancytree("getRootNode");
                    var childNode = rootNode.addChildren({
                        title: "New Group",
                        //tooltip: "This folder and all child nodes were added programmatically.",
                        folder: true
                    });
                    //var rootNode = $("#tree").fancytree("getRootNode");
                    //rootNode.sortChildren(null, true);
                case "cut":
                    CLIPBOARD = { mode: data.cmd, data: node };
                    break;
                case "copy":
                    CLIPBOARD = {
                        mode: data.cmd,
                        data: node.toDict(function (n) {
                            delete n.key;
                        })
                    };
                    break;
                case "clear":
                    CLIPBOARD = null;
                    break;
                case "paste":
                    if (CLIPBOARD.mode === "cut") {
                        // refNode = node.getPrevSibling();
                        CLIPBOARD.data.moveTo(node, "child");
                        CLIPBOARD.data.setActive();
                    } else if (CLIPBOARD.mode === "copy") {
                        node.addChildren(CLIPBOARD.data).setActive();
                    }
                    break;
                default:
                    alert("Unhandled command: " + data.cmd);
                    return;
            }
        });

        $("#tree").delegate("input[name=readOnly]", "click", function (e) {
            var node = $.ui.fancytree.getNode(e),
            $input = $(e.target);
            e.stopPropagation();  // prevent fancytree activate for this row
            if ($input.is(":checked")) {
                //alert("readOnly " + $input.val());
            }
            //else {
            //    alert("dislike " + $input.val());
            //}
        });
    });
</script>
<input type="hidden" id="profileId" value="@Model.Profile_Id" />

<div class="col-md-10">
    <div class="panel panel-default bootstrap-admin-no-table-panel">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">Create User Template</div>
        </div>
        <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
            @Html.HiddenFor(model => model.FunctionValues)
            <form id="frmTemplate" class="form-horizontal" method="post">
                <fieldset>
                    <legend>Define User Templates</legend>
                    <div class="row-1">
                        <table class="table table-striped">
                            <tbody>
                                <tr style="width:100%">
                                    <td style="width:30%">Select a template from the list below: </td>
                                    <td style="width:22%">&nbsp; </td>
                                    <td style="width:48%"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">Templates</div>
                                </div>
                                <div class="bootstrap-admin-panel-content" style="height: 600px; overflow: auto;">
                                    <table class="table table-striped" id="templateRoleNames">
                                        @foreach (var item in @Model.Roles)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.ActionLink(item.Text, "CreateUserTemplate", "Admin", new { Id = item.Value, TemplateName = item.Text }, null)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                            Create New &nbsp;&nbsp;  <input type="text" id="TemplateName" value="" size="30" /> &nbsp;&nbsp;<input type="button" value="Create" id="btnCreate" />
                        </div>
                        <div class="col-md-6" id="rightPanel">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title"><label-small id="templateHeading">@Model.SelectedProfile</label-small> </div>
                                    <button type="button" style="float: right;" class="edit-TemplateName"><i class="glyphicon glyphicon-pencil glyphicon-white"></i> Rename</button>
                                    <span class="hide" id="templateNameSpan">
                                        <input type="text" size="43" id="templateName" value="@Model.SelectedProfile">
                                        <button type="button" class="save-TemplateName"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                    </span>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <table id="tree" cellpadding="0" cellspacing="0">
                                        <colgroup>
                                            <col width="0px">
                                            <col width="0px">
                                            <col width="520px">
                                            <col width="70px">
                                            <col width="110px">
                                            <col width="90px">
                                        </colgroup>
                                        <thead>
                                            <tr> <th></th> <th></th> <th style="padding-left:10px">Function</th> <th style="text-align:center">Default</th> <th style="text-align:center">Read</th> <th style="text-align:center">Enabled</th> </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                    @*<input type="button" id="treeToDict" value="TreeToDict" />
                                        <textarea cols="50" rows="10" id="debugTxt"> </textarea>*@
                                    <br />
                                    <button type="button" id="saveFunctions" name="@Model.Profile_Id"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                    <button type="button" id="deleteFunctions" name="@Model.Profile_Id"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                                    <button type="button" id="cancelFunctions" name="@Model.Profile_Id"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">@Model.SelectedProfile Template</h4>
            </div>
            <div class="modal-body">
                <p>Successfully saved changes to @Model.SelectedProfile Template</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div id="myModalCreateSuccess" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Template created</h4>
            </div>
            <div class="modal-body">
                <p>Successfully created Template</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div id="myModalFunctionError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">@Model.SelectedProfile Template</h4>
            </div>
            <div class="modal-body">
                <p>Sorry unable to save changes. <br /> <br />You must have either the 'UPLOAD' or 'RESULTS' function enabled.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div id="myModalEditTemplateName" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabelEditTemplateName" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>Successfully renamed template.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete @Model.SelectedProfile Template Parmanently</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure about this ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm">Delete</button>
            </div>
        </div>
    </div>
</div>
<div id="confirmDeleteSuccessful" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">@Model.SelectedProfile Template</h4>
            </div>
            <div class="modal-body">
                <p>Successfully deleted @Model.SelectedProfile Template</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div id="riskRoleHasUsers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">@Model.SelectedProfile Template</h4>
            </div>
            <div class="modal-body">
                <p>Sorry unable to delete @Model.SelectedProfile Template. <br /> <br />Unable to delete a template if users are associated with it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmCancel" role="dialog" aria-labelledby="confirmCancelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cancel changes to @Model.SelectedProfile Template.</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure about this ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-info" id="confirm">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalDuplicateTemplateName" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabelEditTemplateName" class="modal-title">Duplicate Template</h4>
            </div>
            <div class="modal-body">
                <p>Sorry unable to create Template. <br /> <br />A template already exists with the same name.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div id="myModalDuplicateTemplateNameRename" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabelEditTemplateName" class="modal-title">Duplicate Template Name</h4>
            </div>
            <div class="modal-body">
                <p>Sorry unable to rename Template. <br /> <br />A template already exists with the same name.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>