﻿@model KeoghsClientSite.Models.CreateClient
@{
    ViewBag.Title = "Create Client";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("CreateClient", "Admin", FormMethod.Post, new { id = "createclientForm" }))
{
    @Html.AntiForgeryToken()

        <div class="col-md-10">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Create New Client</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Client Details</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Client Name</label>
                                <div class="col-lg-10">
                                    <br />
                                    @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control", @type = "text" })
                                    @Html.ValidationMessageFor(model => model.ClientName, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-2 control-label required" for="select01">Insurer</label>
                                <div class="col-lg-10">
                                    @Html.DropDownListFor(model => model.InsurersClientsId, new SelectList(Model.InsurersClients, "Value", "Text"),"--- Please select ---", new { @id="select01", @class="chzn-select" })
                                    @Html.ValidationMessageFor(model => model.InsurersClientsId, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Status</label>
                                <div class="col-lg-10">
                                    <br />
                                    @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Status, "Value", "Text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StatusId, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:25px">Amber Threshold</label>
                                <div class="col-lg-10">
                                    <br />
                                    @Html.TextBoxFor(model => model.AmberThreshold, new { @Id = "spinnerAmberThreshold" })
                                    @Html.ValidationMessageFor(model => model.AmberThreshold, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:25px">Red Threshold</label>
                                <div class="col-lg-10">
                                    <br />
                                    @Html.TextBoxFor(model => model.RedThreshold, new { @Id = "spinnerRedThreshold" })
                                    @Html.ValidationMessageFor(model => model.RedThreshold, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <fieldset>
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:0px">Accepted File Extensions</label>
                            <div class="form-group">
                                <div class="col-lg-10">
                                    <div class="radio-inline">
                                        @Html.RadioButtonFor(model => model.FileExtensions, "xml", false) XML
                                    </div>
                                    <div class="radio-inline">
                                        @Html.RadioButtonFor(model => model.FileExtensions, "xls", false) XLS
                                    </div>
                                    <div class="radio-inline">
                                        @Html.RadioButtonFor(model => model.FileExtensions, "csv", false) CSV
                                    </div>
                                    <div class="radio-inline">
                                        @Html.RadioButtonFor(model => model.FileExtensions, "txt", false) TXT
                                    </div>
                                    <div class="radio-inline">
                                        @Html.RadioButtonFor(model => model.FileExtensions, "xlsx", false) XLSX
                                    </div>
                                    <div class="radio-inline">
                                        @Html.RadioButtonFor(model => model.FileExtensions, "zip", false) ZIP
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.FileExtensions, null, new { @class = "help-inline" })
                        </fieldset>
                            <div class="form-group">
                                <div class="col-lg-10">
                                    <br />
                                    @*<a href="#myModal" data-toggle="modal" class="btn btn-primary">Modal dialog</a>*@
                                    <button type="submit" class="btn btn-primary" id="SubmitButton">Save changes</button>
                                    @*<input class="btn btn-primary" id="SubmitButton" type="submit" value="Submit" />*@
                                    <button type="reset" onclick="return window.confirm('Do you really want to reset the form?')" class=" btn btn-default">Cancel</button>
                                </div>
                            </div>
                        

                    </form>
                </div>
            </div>
        </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="myModalLabel" class="modal-title">@Model.ClientName</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully created new client @Model.ClientName</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    @section scripts
{
    @Scripts.Render("~/bundles/vendors")
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
            $('.uniform_on').uniform();
            $('.chzn-select').chosen();
            $('.textarea-wysihtml5').wysihtml5({
                stylesheets: [
                    'vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
                ]
            });

            
        });
    </script>
    }

}


            
