﻿@model KeoghsClientSite.Models.CreateRiskWord
@{
    ViewBag.Title = "Create Anomaly";
    Layout = "~/Views/Shared/_LayoutAdminModal.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@*<div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">*@
<div class="modal-body" data-backdrop="static">

    @using (Html.BeginForm("CreateRiskWord", "Admin", FormMethod.Post, new { id = "createRiskWordForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal-header">
            <div class="text-muted bootstrap-admin-box-title">New Data Anomaly</div>
        </div>
        <div id="CreateSuccess" class="alert alert-success" style="display:none">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Success</strong> New Anomaly created.
        </div>
        <div id="CreateError" class="alert alert-error" style="display:none">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Error</strong> An error occurred. Please ensure all mandatory fields are populated.
        </div>
        <fieldset>
            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Anomaly</label>
            <div class="col-lg-10">
                <br />
                @Html.TextBoxFor(m => m.LookupWord, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.LookupWord, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        <fieldset>
            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Replacement</label>
            <div class="col-lg-10">
                <br />
                @Html.TextBoxFor(m => m.ReplacementWord, new { @class = "form-control", @type = "text" })
                @Html.ValidationMessageFor(model => model.ReplacementWord, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        <fieldset>
            <label class="col-lg-2 control-label" for="optionsCheckbox" style="margin-top:30px">Replace whole string?</label>
            <div class="col-lg-10">
                <label class="uniform">
                    <br />
                    @Html.CheckBoxFor(m => m.ReplaceWholeString, new { @class = "uniform_on", @type = "checkbox", @id = "ReplaceWholeStringCheckbox" })
                </label>
            </div>
        </fieldset>
        <fieldset>
            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Search Type</label>
            <div class="col-lg-10">
                <br />
                @Html.DropDownListFor(model => model.SearchTypeValue, new SelectList(Model.SearchType, "Value", "Text"), "--- Please select ---", new { @class = "form-control", id = "SearchTypeValueSelect" })
                @Html.ValidationMessageFor(model => model.SearchTypeValue, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        <fieldset>
            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Client</label>
            <div class="col-lg-10">
                <br />
                @Html.DropDownListFor(model => model.RiskClient_Id, new SelectList(Model.Clients, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RiskClient_Id, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        @*<hr>*@
        <br />
        <fieldset>
            <div class="form-group">
                <label class="col-lg-2 control-label required" for="select01" style="margin-top:10px">Field Name</label>
                <div class="col-lg-10">
                    @Html.ValidationMessageFor(model => model.FieldName, null, new { @class = "help-inline" })
                    @Html.DropDownListFor(model => model.FieldName, new SelectList(Model.Fields, "Value", "Text"), "--- Please select ---", new { @id = "select01", @class = "selectpicker" })
                </div>
            </div>
        </fieldset>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" id="approve-btn" class="btn btn-primary">Save</button>
        </div>

    }
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 id="myModalLabel" class="modal-title">@Model.LookupWord</h4>
            </div>
            <div class="modal-body">
                <p>Successfully created new anomaly</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>*@


@Scripts.Render("~/bundles/vendors")
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
        $('.uniform_on').uniform();
        $('.chzn-select').chosen();
        $('.textarea-wysihtml5').wysihtml5({
            stylesheets: [
                'vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
            ]
        });


    });

    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });

    $('#select01').change(function () {
        fieldType = $('#select01').val();
        if (fieldType == 'Claim IncidentDate' || fieldType == 'Person DateOfBirth') {
            $("#SearchTypeValueSelect").attr('readonly', true);
            $("#ReplaceWholeStringCheckbox").attr("disabled", true);
            $("select option[value*='<']").prop('disabled', true);
            $("select option[value*='>']").prop('disabled', true);
            $("select option[value*='~']").prop('disabled', true);
            document.getElementById("ReplaceWholeStringCheckbox").checked = true;
            $("#SearchTypeValueSelect").val('=');
        }
        else {
            $("#SearchTypeValueSelect").attr('readonly', false);
            $("#ReplaceWholeStringCheckbox").attr("disabled", false);
            $("select option[value*='<']").prop('disabled', false);
            $("select option[value*='>']").prop('disabled', false);
            $("select option[value*='~']").prop('disabled', false);
            //document.getElementById("ReplaceWholeStringCheckbox").checked = false;
        }

    });

    $(document).ready(function () {


        $("select").prop('class', 'selectpicker show-tick form-control');
        $("select").attr('data-live-search', true);


    });

</script>
