﻿@model KeoghsClientSite.Models.CreateRiskDefaultData
@{
    ViewBag.Title = "Create Default Data";
    Layout = "~/Views/Shared/_LayoutAdminModal.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div id="results" class="modal-body">


        
    @using (Html.BeginForm("CreateRiskDefaultData", "Admin", FormMethod.Post, new { id = "createRiskDefaultDataForm", UpdateTargetId = "results" }))
    {

        <div class="modal-header">
            <div class="text-muted bootstrap-admin-box-title">New Default Data</div>
        </div>
        
        <div id="errorContainer" class="alert alert-danger" style="display: none">
            Validation issues:
            <div id="errors"></div>
        </div>


        <div id="LibertyWarning" class="alert alert-warning">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Liberty</strong> The format for Liberty addresses is - Street, Town, County, Postcode
        </div>


        <fieldset>
            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Data</label>
            <div class="col-lg-10">
                <br />
                @Html.DropDownListFor(model => model.RiskConfigurationDescriptionId, new SelectList(Model.Fields, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RiskConfigurationDescriptionId, null, new { @class = "help-inline", id = "RiskConfigurationDescriptionId" })
            </div>
        </fieldset>
        <div id="Address"  style="display:none">
            <hr>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Sub Building</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.SubBuilding, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.SubBuilding, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Name</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.BuildingName, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.BuildingName, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Number</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.BuildingNumber, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.BuildingNumber, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Street</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Street, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Street, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Locality</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Locality, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Locality, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Town</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Town, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Town, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">County</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.County, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.County, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:10px">Postcode</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Postcode, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <hr>
        </div>
        <div id="Person" style="display:none">
            <hr>
            <fieldset>
                <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:10px">First Name</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <fieldset>
                <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:10px">Last Name</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <hr>
        </div>
        <div id="Organisation" style="display:none">
            <hr>
            <fieldset>
                <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:10px">Organisation Name</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.OrganisationName, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(model => model.OrganisationName, null, new { @class = "help-inline" })
                </div>
            </fieldset>
            <hr>
        </div>
        <fieldset>
            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Client</label>
            <div class="col-lg-10">
                <br />
                @Html.DropDownListFor(model => model.RiskClient_Id, new SelectList(Model.Clients, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RiskClient_Id, null, new { @class = "help-inline" })
            </div>
        </fieldset>
        @*<hr>*@
        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" id="approve-btn" class="btn btn-primary">Save</button>
        </div>

        }
    </div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 id="myModalLabel" class="modal-title">@Model.ConfigurationValue</h4>
            </div>
            <div class="modal-body">
                <p>Successfully created</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
        $(function () {
            $('#approve-btn').click(function () {
                $('#modal-container').modal('hide');
            });
        });
    </script>*@


@Scripts.Render("~/bundles/vendors")
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
        $('.uniform_on').uniform();
        $('.chzn-select').chosen();
        $('.textarea-wysihtml5').wysihtml5({
            stylesheets: [
                'vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
            ]
        });


    });

    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });


    $('#RiskConfigurationDescriptionId').change(function () {
        dataType = $('#RiskConfigurationDescriptionId').val();
        if (dataType == 1) {
            $('#Address').show();
            $('#Person').hide();
            $('#Organisation').hide();
            $("#errorContainer").hide();
        }
        else if (dataType == 2) {
            $('#Person').show();
            $('#Address').hide();
            $('#Organisation').hide();
            $("#errorContainer").hide();
        }
        else if (dataType == 3) {
            $('#Organisation').show();
            $('#Person').hide();
            $('#Address').hide();
            $("#errorContainer").hide();
        } else {
            $('#Address').hide();
            $('#Person').hide();
            $("#errorContainer").hide();
        }
    });

    $(window).load(function () {
        $.validator.unobtrusive.parse($("#createRiskDefaultDataForm"));
    });
</script>
