﻿@model KeoghsClientSite.Models.DeleteRiskNoteDecision
@{
    ViewBag.Title = "Delete Decision";
    Layout = "~/Views/Shared/_LayoutAdminModal.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div class="modal-body">

    @using (Html.BeginForm("DeleteRiskNoteDecision", "Admin", FormMethod.Post, new { id = "deleteRiskNoteDecisionForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal-header">
            <div class="text-muted bootstrap-admin-box-title">Delete Decision Data</div>
        </div>
        <div id="CreateSuccess" class="alert alert-success" style="display:none">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Success</strong> Successfully deleted.
        </div>
        <div id="CreateError" class="alert alert-error" style="display:none">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>Error</strong> An error occurred, please ensure all fields are populated.
        </div>
        <br />
        <div class="alert alert-warning" id="Warning">
            <h4>Warning!</h4>
            Are you sure you want to permanently delete this record?
        </div>
        @Html.HiddenFor(m => m.Id)
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="submit" id="approve-btn" class="btn btn-primary">Yes</button>
        </div>

    }
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 id="myModalLabel" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>Successfully deleted</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
