﻿@model KeoghsClientSite.Models.EditClient
@{
    ViewBag.Title = "Edit Client";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("EditClient", "Admin", FormMethod.Post, new { id = "editclientForm" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" id="rowId" name="rowId" />

    <div class="col-md-10">
        @*<div class="row">*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Edit Clients</div>
            </div>

            <div class="bootstrap-admin-panel-content">
                <div style=" height: 575px; overflow: auto;">

                    <table id="my_table" class="table table-striped table-bordered id=" example">

                        <thead>
                            <tr>
                                <th class="hide">Id</th>
                                <th>Client Name</th>
                                <th>Insurer</th>
                                <th>Amber Threshold</th>
                                <th>Red Threshold</th>
                                <th>File Extensions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var client in Model.ClientInfo)
                            {
                                <tr class="odd gradeX" id="myFunction">
                                    <td class="hide">@client.Id</td>
                                    <td>@client.ClientName</td>
                                    <td>@client.InsurerName</td>
                                    <td>@client.AmberThreshold</td>
                                    <td>@client.RedThreshold</td>
                                    <td>@client.ExpectedFileExtension</td>
                                    <td><button type="submit" class="edit-client"><i class="glyphicon glyphicon-pencil glyphicon-white"></i> Edit</button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <br />
            </div>

        </div>
    </div>



}
