﻿@model KeoghsClientSite.Models.EditUserDetails
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("EditUserDetails", "Admin", FormMethod.Post, new { id = "edituserdetailsForm" }))
{
    @Html.AntiForgeryToken()


    <div class="col-md-10">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Edit User</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>@Model.UserName</legend>
                        <div class="form-group" style="display:none">
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:10px">Username</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @type = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">First Name</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @type = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Last Name</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @type = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Contact Number</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control", @type = "text" })
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:16px">Password</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Status</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Status, "Value", "Text"), new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.StatusId, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required" for="focusedInput" style=" margin-top:30px">Template</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">User Type</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.DropDownListFor(model => model.UserTypeId, new SelectList(Model.UserTypes, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserTypeId)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Default Client</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.Clients, "Value", "Text"), "--- Please select ---", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ClientId, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="optionsCheckbox" style="margin-top:27px">Autoload Status</label>
                            <div class="col-lg-10">
                                <label class="uniform">
                                    <br />
                                    @Html.CheckBoxFor(m => m.Autoloader, new { @class = "uniform_on", @type = "checkbox" })
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <br />
                                @*<a href="#myModal" data-toggle="modal" class="btn btn-primary">Modal dialog</a>*@
                                <button type="submit" class="btn btn-primary" id="SubmitButton">Save changes</button>
                                @*<input class="btn btn-primary" id="SubmitButton" type="submit" value="Submit" />*@
                                @*<button type="reset" onclick="return window.confirm('Do you really want to reset the form?')" class=" btn btn-default">Cancel</button>*@
                                <input type="button" class=" btn btn-default" value="Cancel" onclick="if (confirm('Do you really want to reset the form?')) location.href ='@Url.Action("EditUser", "Admin")'" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 id="myModalLabel" class="modal-title">@Model.UserName</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully saved changes to @Model.UserName</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

}
