﻿@model KeoghsClientSite.Models.AdminModel
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { id = "edituserForm" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" id="rowId" name="rowId" />

    <div class="col-md-10">
        @*<div class="row">*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Edit Users</div>
                </div>
                
                <div class="bootstrap-admin-panel-content">
                    <div style=" height: 575px; overflow: auto;">
                      
                        <table id="my_table" class="table table-striped table-bordered id="example">

                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Forename</th>
                                    <th>Surname</th>
                                    <th>Template</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var user in Model.UserInfo)
                                {
                                    <tr class="odd gradeX" id="myFunction"> @*id="@user.UserName"*@


                                        <td>@user.UserName</td>
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@user.RiskRoleName</td>
                                        @*<td><input type="button" class="edit-user" id=@("Username "+user.UserName)></td>*@
                                        <td><button type="submit" class="edit-user"><i class="glyphicon glyphicon-pencil glyphicon-white"></i> Edit</button></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
           
        </div>
        @*<div class="col-md-10">*@






    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="myModalLabel" class="modal-title">@Model.UserName</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully saved changes to @Model.UserName</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


}
