﻿@model KeoghsClientSite.Models.EditClientDetails
@{
    ViewBag.Title = "Edit Client Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("EditClientDetails", "Admin", FormMethod.Post, new { id = "editclientdetailsForm" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-10">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Create New Client</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Client Details</legend>
                        <div class="form-group" style="display:none">
                            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:30px">Id</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @type = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Client Name</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessageFor(model => model.ClientName, null, new { @class = "help-inline" })
                                @Html.HiddenFor(m => m.Id)
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required" for="select01">Insurer</label>
                            <div class="col-lg-10">
                                @Html.DropDownListFor(model => model.InsurersClientsId, new SelectList(Model.InsurersClients, "Value", "Text"), "--- Please select ---", new { @id = "select01", @class = "chzn-select" })
                                @Html.ValidationMessageFor(model => model.InsurersClientsId, null, new { @class = "help-inline" })
                            </div>
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:30px">Status</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.Status, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StatusId, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:25px">Amber Threshold</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(model => model.AmberThreshold, new { @Id = "spinnerAmberThreshold" })
                                @Html.ValidationMessageFor(model => model.AmberThreshold, null, new { @class = "help-inline" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput" style="margin-top:25px">Red Threshold</label>
                            <div class="col-lg-10">
                                <br />
                                @Html.TextBoxFor(model => model.RedThreshold, new { @Id = "spinnerRedThreshold" })
                                @Html.ValidationMessageFor(model => model.RedThreshold, null, new { @class = "help-inline" })
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset>
                        <label class="col-lg-2 control-label required" for="focusedInput" style="margin-top:0px">Accepted File Extensions</label>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <div class="radio-inline">
                                    @Html.CheckBoxFor(model => model.Xml) XML
                                </div>
                                <div class="radio-inline">
                                    @Html.CheckBoxFor(model => model.Xls) XLS
                                </div>
                                <div class="radio-inline">
                                    @Html.CheckBoxFor(model => model.Csv) CSV
                                </div>
                                <div class="radio-inline">
                                    @Html.CheckBoxFor(model => model.Txt) TXT
                                </div>
                                <div class="radio-inline">
                                    @Html.CheckBoxFor(model => model.Xlsx) XLSX
                                </div>
                                <div class="radio-inline">
                                    @Html.CheckBoxFor(model => model.Zip) ZIP
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="optionsCheckbox" style="margin-top:27px">Track Reserve Changes</label>
                            <div class="col-lg-10">
                                <label class="uniform">
                                    <br />
                                    @Html.CheckBoxFor(m => m.RecordReserveChanges, new { @class = "uniform_on", @type = "checkbox" })
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="optionsCheckbox" style="margin-top:27px">Batch Priority</label>
                            <div class="col-lg-10">
                                <label class="uniform">
                                    <br />
                                    @Html.TextBoxFor(model => model.BatchPriority)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary" id="SubmitButton">Save changes</button>
                            <input type="button" class=" btn btn-default" value="Cancel" onclick="if (confirm('Do you really want to reset the form?')) location.href ='@Url.Action("EditClient", "Admin")'" />
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="myModalLabel" class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <p>Successfully updated client</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    @section scripts
{
        @Scripts.Render("~/bundles/vendors")
        <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
            $('.uniform_on').uniform();
            $('.chzn-select').chosen();
            $('.textarea-wysihtml5').wysihtml5({
                stylesheets: [
                    'vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
                ]
            });


        });
        </script>
    }

}



