﻿@model KeoghsClientSite.Models.PriorityClients

@{
    ViewBag.Title = "Prioritise Batches";

}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery.ui.all.css" rel="stylesheet" />

<style>
    #sortable1 {
        list-style-type: none;
        margin: 0;
        padding: 0 0 2.5em;
        margin-right: 10px;
    }

    #BatchTable{
        font-size: 0.8em;
    }

  

    #sortable1 li {
        margin: 0 5px 5px 5px;
        padding: 2px;
        font-size: 0.8em;
        width: 280px;
    }
</style>

<script type="text/javascript">

    function dateTimeReviver(dateValue) {
            var date = new Date(parseInt(dateValue.substr(6)));
            var formatted = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2) + " " + date.getHours() + ":" + date.getMinutes();
     
        return formatted;
    }

    $(function () {
        batchOrder = 0;
        overrideBatchOrder = 0
        $(document).ready(function () {
            // Handler for .ready() called.

            // Get Batch Queue
            $.ajax({
                type: "POST",
                url: "/Admin/GetBatchQueue",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                        var items = '';
                        $.each(data, function (index, item) {
                            if (item.Uploaded != null) {
                                var rows = "<tr id=" + item.BatchId + ">"
                                + "<td style='padding-left:10px'>" + item.Client.substr(0, 15) + "</td>"
                                + "<td style='padding-left:27px'>" + item.BatchRef.substr(0, 15) + "</td>"
                                + "<td style='padding-left:18px'>" + dateTimeReviver(item.Uploaded) + "</td>"
                                + "<td style='padding-left:25px'>" + item.ClaimsReceieved + "</td>"
                                + "</tr>";
                                $('#BatchTable tbody').append(rows);
                            }
                        });
                    
                }
            });

            $("#sortable1").sortable({
                connectWith: ".connectedSortable",
                update: function () {
                    batchOrder = $('#sortable1').sortable('toArray').toString();
                }
            }).disableSelection();

            $('table tbody').sortable({
                helper: fixWidthHelper,
                update: function () {
                    overrideBatchOrder = $('#sortable2').sortable('toArray').toString();
                }
            }).disableSelection();

            function fixWidthHelper(e, ui) {
                ui.children().each(function () {
                    $(this).width($(this).width());
                });
                return ui;
            }


            $('#btnOverrideBatchOrder').button().click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Admin/SaveOverriddenBatchPriority",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        overrideBatchOrder: overrideBatchOrder
                    }),
                    success: function (data) {
                        var retName = data.nameret;
                        if (retName == null) {
                            $('#myModalBatch').modal('show');
                            $('#myModalBatch').on('hidden.bs.modal', function () {
                                window.location.href = '/Admin/PrioritiseBatches';
                            });
                        }
                    },
                    error: function (data) {
                        $('#CreateError').show();
                    }
                });
            });

            $('#btnSaveBatchOrder').button().click(function () {
                // Save new order back to db.
                $.ajax({
                    type: "POST",
                    url: "/Admin/SaveClientBatchPriority",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        batchOrder: batchOrder
                    }),
                    success: function (data) {
                        var retName = data.nameret;
                        if (retName == null) {
                            $('#myModal').modal('show');
                            $('#myModal').on('hidden.bs.modal', function () {
                                window.location.href = '/Admin/PrioritiseBatches';
                            });
                        }
                    },
                    error: function (data) {
                        $('#CreateError').show();
                    }
                });
            });
        });
    });
</script>

@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <div class="panel panel-default bootstrap-admin-no-table-panel">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">Batch Priority</div>
        </div>
        <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
            <form id="frmTemplate" class="form-horizontal" method="post">
                <fieldset>
                    <legend>Define Batch Priority</legend>
                    <div class="row-1">
                        <table class="table table-striped">
                            <tbody>
                                <tr style="width:100%">
                                    <td style="width:51%">Drag the clients to the desired order from the list below: </td>
                                    <td style="width:49%">Drag the batches to the desired order from the list below: </td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">Default Client Batch Priority</div>
                                </div>
                                <div class="bootstrap-admin-panel-content" style="height: 600px; overflow: auto;">
                                    <table class="table table-striped" id="priorityClientBatches">
                                        <ul id="sortable1" class="connectedSortable">
                                            @foreach (var item in Model.ListPriorityClients)
                                            {
                                                <li class="ui-state-default" id='@item.PriorityId'>@item.Client (@item.PriorityId)</li>
                                            }
                                        </ul>
                                    </table>
                                </div>
                            </div>
                            <input type="button" value="Save Client Batch Order" id="btnSaveBatchOrder" />
                        </div>
                        <div class="col-md-6" id="rightPanel">
                        
                            <div class="panel panel-default">
                              
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title"><label-small id="templateHeading">Batches Queued For Processing</label-small> </div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <table id="BatchTable" cellpadding="0" cellspacing="0" class="table table-striped">
                                        <colgroup>
                                            <col width="25%">
                                            <col width="35%">
                                            <col width="35%">
                                            <col width="5%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th style="padding-left:10px">Client</th>
                                                <th style="padding-left:27px">Batch Ref.</th>
                                                <th style="padding-left:18px">Uploaded</th>
                                                <th style="padding-left:22px">Received</th>
                                            </tr>
                                        </thead>
                                        <tbody id ="sortable2"></tbodyid>
                                    </table>

                                    @*<input type="button" id="treeToDict" value="TreeToDict" />
                                        <textarea cols="50" rows="10" id="debugTxt"> </textarea>*@
                                    <br />
                                  
                                    @*<button type="button" id="saveFunctions" name="Model.Profile_Id"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                        <button type="button" id="deleteFunctions" name="Model.Profile_Id"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                                        <button type="button" id="cancelFunctions" name="Model.Profile_Id"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button>*@
                                </div>
                               
                            </div>
                            <input type="button" id="btnOverrideBatchOrder" value="Save Batch Order" /> 
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 id="myModalLabel" class="modal-title">Save Default Client Batch Priority</h4>
            </div>
            <div class="modal-body">
                <p>Successfully saved default client batch priority.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


<div id="myModalBatch" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 id="myModalLabel" class="modal-title">Save Batch Priority</h4>
            </div>
            <div class="modal-body">
                <p>Successfully saved batch priority.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<div id="CreateError" class="alert alert-error" style="display:none">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <strong>Error</strong> An error occurred.
</div>