﻿@model KeoghsClientSite.Models.ViewRiskWords
@{
    ViewBag.Title = "View Risk Words";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_LeftMenu")
<script src="~/Scripts/jquery-1.11.2.min.js"></script>

<script type="text/javascript">

    //default each row to visible
    $('tbody tr').addClass('visible');

    $(function () {
        $('#filter').keyup(function (event) {
            //if esc is pressed or nothing is entered
            if (event.keyCode == 27 || $(this).val() == '') {
                //if esc is pressed we want to clear the value of search box
                $(this).val('');

                //we want each row to be visible because if nothing
                //is entered then all rows are matched.
                $('tbody tr').removeClass('visible').show().addClass('visible');
            }

                //if there is text, lets filter
            else {
                filter('tbody tr', $(this).val());
            }
        })

    });

    //filter results based on query
    function filter(selector, query) {
        query = $.trim(query); //trim white space
        //query = query.replace(/ /gi, '|'); //add OR for regex query

        $(selector).each(function () {
            ($(this).text().search(new RegExp(query, "i")) < 0) ? $(this).hide().removeClass('visible') : $(this).show().addClass('visible');
        });
    }

</script>


@using (Html.BeginForm("ViewRiskWords", "Admin", FormMethod.Post, new { id = "viewriskwordsForm" }))
{

    <input type="hidden" id="rowId" name="rowId" />

    <div class="col-md-10">
        @*<div class="row">*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    Data Anomalies
                    <div class="pull-right"><i class="glyphicon glyphicon-search glyphicon-white"></i>  <input type="text" name="filter" value="" id="filter" /></div>
                </div>
            </div>

            <div class="bootstrap-admin-panel-content">

                <div align="left">
                    <a href="@Url.Action("CreateRiskWord", "Admin")" class="modal-link btn btn-xs">
                        Create New Data Anomaly
                        <span class="glyphicon glyphicon-plus-sign" />
                    </a>
                    @*@Html.ActionLink("Add", "CreateRiskWord", "Admin", new { @class = "modal-link btn btn-xs" })*@
                </div>
                <hr>
                <div style=" height: 575px; overflow: auto;">
                    <table id="my_table" class="table table-striped">

                        <thead>
                            <tr>
                                <th class="hide">Id</th>
                                <th>TableName</th>
                                <th>FieldName</th>
                                <th>LookupWord</th>
                                <th>ReplacementWord</th>
                                <th>ReplaceWholeString</th>
                                <th>Delete</th>
                                @*<th>Edit</th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var word in Model.Words)
                            {
                                <tr class="odd gradeX" id="myFunction">
                                    <td class="hide">@word.Id</td>
                                    <td>@word.TableName</td>
                                    <td>@word.FieldName</td>
                                    <td>@word.LookupWord</td>
                                    <td>@word.ReplacementWord</td>
                                    <td>@word.ReplaceWholeString</td>
                                    <td>@Html.ActionLink(" ", "DeleteRiskWord", new { controller = "Admin", Id = word.Id }, new { @class = "modal-link glyphicon glyphicon-trash" })</td>
                                    @*<td><a href="@Url.Action("DeleteRiskWord", "Admin")" class="btn btn-xs"><span class="modal-link glyphicon glyphicon-trash" /></a></td>*@
                                    @*<@*td><a href="@Url.Action("EditRiskWord", "Admin")" class="btn btn-xs"><span class="modal-link glyphicon glyphicon-pencil" /></a></td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <br />
            </div>

        </div>
    </div>


    <div id="modal-container" class="modal fade"
         tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-content">
        </div>
    </div>

    <script type="text/javascript">
    $(function () {
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            //e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
        $('#modal-container').on('hidden.bs.modal', function () {
            window.location.href = window.location.href;
        })

    });
    </script>


}

